Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2019-08, with the labels that each got.

#878 Switch to using internal uuid implementation instead of uuid library to support es modules
  lib/msal-core/package-lock.json
  lib/msal-core/package.json
  lib/msal-core/src/telemetry/TelemetryEvent.ts
  lib/msal-core/test/telemetry/ApiEvent.spec.ts
  lib/msal-core/test/telemetry/CacheEvent.spec.ts
  lib/msal-core/test/telemetry/DefaultEvent.spec.ts
  lib/msal-core/test/telemetry/HttpEvent.spec.ts
  lib/msal-core/test/telemetry/TelemetryEvent.spec.ts
  lib/msal-core/test/telemetry/TelemetryManager.spec.ts
  lib/msal-core/test/telemetry/UiEvent.spect.ts
Labels: compatibility

#856 Fix angular check for userdata
  lib/msal-angular/src/msal-guard.service.ts
Labels: angular

#933 Unified Cache Sample
  lib/msal-core/samples/UnifiedCacheTestApp/ADAL.html
  lib/msal-core/samples/UnifiedCacheTestApp/MSAL.html
  lib/msal-core/samples/UnifiedCacheTestApp/MSAL_UnifiedCache_SSO.html
  lib/msal-core/samples/UnifiedCacheTestApp/MSAL_UnifiedCache_loginPopup.html
  lib/msal-core/samples/UnifiedCacheTestApp/MSAL_UnifiedCache_loginRedirect.html
  lib/msal-core/samples/UnifiedCacheTestApp/README.md
  lib/msal-core/samples/UnifiedCacheTestApp/index.html
  lib/msal-core/samples/UnifiedCacheTestApp/server.js
  lib/msal-core/samples/UnifiedCacheTestApp/tempMSAL_OLD.html
Labels: samples
