Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2019-07, with the labels that each got.

#813 Fix angular samples
  lib/msal-angular/samples/MSALAngularDemoApp/package.json
  lib/msal-angularjs/samples/MsalAngularjsDemoApp/package.json
  lib/msal-angularjs/samples/MsalAngularjsDemoApp/webpack.config.js
Labels: angular, angularjs, samples

#859 Updated Readme.md with forceRefresh
  README.md
Labels: Documentation Issue

#857 fixing a typo in the existing sample for external API, #821
  lib/msal-core/samples/VanillaJSTestApp/index_externalAPI.html
Labels: Documentation Issue

#805 Split Utils.ts into different files
  lib/msal-core/src/AadAuthority.ts
  lib/msal-core/src/AccessTokenKey.ts
  lib/msal-core/src/Account.ts
  lib/msal-core/src/AuthResponse.ts
  lib/msal-core/src/Authority.ts
  lib/msal-core/src/AuthorityFactory.ts
  lib/msal-core/src/B2cAuthority.ts
  lib/msal-core/src/ClientInfo.ts
  lib/msal-core/src/Configuration.ts
  lib/msal-core/src/IdToken.ts
  lib/msal-core/src/Logger.ts
  lib/msal-core/src/ScopeSet.ts
  lib/msal-core/src/ServerRequestParameters.ts
  lib/msal-core/src/Storage.ts
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/error/ClientAuthError.ts
  lib/msal-core/src/error/ClientConfigurationError.ts
  lib/msal-core/src/index.ts
  lib/msal-core/src/telemetry/HttpEvent.ts
  lib/msal-core/src/telemetry/TelemetryUtils.ts
  lib/msal-core/src/utils/Constants.ts
  lib/msal-core/src/utils/ResponseUtils.ts
  lib/msal-core/src/utils/TokenUtils.ts
  lib/msal-core/src/utils/UrlUtils.ts
  lib/msal-core/src/utils/Utils.ts
  lib/msal-core/test/Account.spec.ts
  lib/msal-core/test/ClientInfo.spec.ts
  lib/msal-core/test/Storage.localStorage.spec.ts
  lib/msal-core/test/Storage.sessionStorage.spec.ts
  lib/msal-core/test/TestConstants.ts
  lib/msal-core/test/UserAgentApplication.spec.ts
  lib/msal-core/test/utils/ResponseUtils.spec.ts
  lib/msal-core/test/utils/UrlUtils.spec.ts
  lib/msal-core/test/utils/Utils.spec.ts
Labels: enhancement
