Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2020-10, with the labels that each got.

#2374 Increment core version constant for 1.4.1
  change/msal-2020-10-02-13-38-26-version-constant-1.4.1.json
  lib/msal-core/src/utils/Constants.ts
Labels: msal@1.x

#2359 Add UUID dependency
  change/@azure-msal-node-2020-09-30-10-14-35-add-uuid-dependency.json
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
Labels: msal-node

#2375 Add build tasks to Github actions
  .github/workflows/build-steps.yml
  .gitignore
  .nycrc
  azure-pipelines.yml
  package.json
  samples/e2eTestUtils/LabClient.ts
  samples/e2eTestUtils/TestUtils.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/test/multiple_resources.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/test/browser.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/b2c/test/browser.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/default/test/browser.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/get_access_token_interactively/test/browser.spec.ts
Labels: samples

#2223 Add telemetry header size limit
  change/@azure-msal-browser-2020-09-10-15-48-23-telemetry-entity.json
  change/@azure-msal-common-2020-09-10-15-48-23-telemetry-entity.json
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-common/src/cache/entities/ServerTelemetryEntity.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryCacheValue.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
Labels: msal-browser, msal-common

#2348 Update cache interface and cache plugin API
  build/npm-build-extensions-steps.yml
  change/@azure-msal-common-2020-09-29-10-21-20-msal-node-update-cache-interface.json
  change/@azure-msal-node-2020-09-29-10-21-20-msal-node-update-cache-interface.json
  change/@azure-msal-node-extensions-2020-09-29-10-21-20-msal-node-update-cache-interface.json
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/lock/CrossPlatformLock.ts
  extensions/msal-node-extensions/src/persistence/PersistenceCachePlugin.ts
  extensions/msal-node-extensions/test/performance-test/LockAndWriteToStorageScript.js
  extensions/msal-node-extensions/test/persistence/PersistenceCachePlugin.spec.ts
  lib/msal-common/package-lock.json
  lib/msal-common/src/cache/interface/ICachePlugin.ts
  lib/msal-common/src/cache/interface/ISerializableTokenCache.ts
  lib/msal-common/src/cache/persistence/TokenCacheContext.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/ClientCredentialClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/OnBehalfOfClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-node/src/cache/ICachePlugin.ts
  lib/msal-node/src/cache/Storage.ts
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/index.ts
  lib/msal-node/test/cache/TokenCache.spec.ts
Labels: extensions, msal-common, msal-node

#2393 Check for Headers class when configuring network client
  change/@azure-msal-browser-2020-10-07-17-32-50-msal-browser-fetch-headers.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/utils/BrowserUtils.spec.ts
Labels: msal-browser

#2343 Add enhanced documentation about responseMode in browser
  change/@azure-msal-browser-2020-09-25-12-57-40-responsemode-docs.json
  lib/msal-browser/FAQ.md
  lib/msal-browser/src/request/PopupRequest.ts
  lib/msal-browser/src/request/RedirectRequest.ts
  lib/msal-browser/src/request/SsoSilentRequest.ts
Labels: msal-browser

#2410 Add "no-console" lint rule
  .eslintrc.json
  change/@azure-msal-angularjs-2020-10-12-12-07-01-fix-2373.json
  change/@azure-msal-browser-2020-10-12-12-07-01-fix-2373.json
  lib/msal-angularjs/.eslintrc.json
  lib/msal-browser/src/crypto/BrowserCrypto.ts
Labels: msal-browser

#2392 Update docs to explain B2C invite flow
  change/@azure-msal-browser-2020-10-07-17-26-45-tnorling-patch-4.json
  change/msal-2020-10-07-17-26-45-tnorling-patch-4.json
  lib/msal-browser/FAQ.md
  lib/msal-browser/docs/working-with-b2c.md
  lib/msal-core/docs/FAQ.md
Labels: msal-browser, msal@1.x

#2377 Update contributing.md with current processes
  change/@azure-msal-browser-2020-10-02-16-35-19-update-contrib-doc.json
  contributing.md
  lib/msal-browser/README.md
  package.json
Labels: msal-browser

#2399 Update msal-node samples
  extensions/samples/msal-node-extensions/index.js
  samples/msal-node-samples/standalone-samples/auth-code/index.js
  samples/msal-node-samples/standalone-samples/on-behalf-of/web-api/index.js
  samples/msal-node-samples/standalone-samples/on-behalf-of/web-app/index.js
  samples/msal-node-samples/standalone-samples/silent-flow/index.js
  samples/msal-node-samples/standalone-samples/silent-flow/package-lock.json
Labels: extensions, samples

#2411 Add CDN doc for msal-core
  change/msal-2020-10-12-16-13-04-core-cdn-docs.json
  lib/msal-core/README.md
  lib/msal-core/cdn-upload.js
  lib/msal-core/docs/cdn.md
Labels: documentation, msal@1.x

#2344 [msal-node] Add Auth Code with PKCE sample for msal-node
  samples/msal-node-samples/standalone-samples/auth-code-pkce/.beachballrc
  samples/msal-node-samples/standalone-samples/auth-code-pkce/index.js
  samples/msal-node-samples/standalone-samples/auth-code-pkce/package-lock.json
  samples/msal-node-samples/standalone-samples/auth-code-pkce/package.json
Labels: msal-node, samples

#2426 Msal node export errors
  change/@azure-msal-node-2020-10-14-14-29-17-msal-node-export-errors.json
  lib/msal-node/src/index.ts
Labels: msal-node

#2431 [msal-node] Export request types
  change/@azure-msal-node-2020-10-14-17-21-30-msal-node-export-request-types.json
  lib/msal-node/src/index.ts
Labels: msal-node

#2432 [msal-common] Remove un-used errors and fix possible build failure in @azure/msal-common@1.6.0
  change/@azure-msal-common-2020-10-14-17-33-37-msal-common-patch-release-1.6.1.json
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/test/error/ClientAuthError.spec.ts
Labels: msal-common

#2389 Support for any OIDC-compliant authority
  change/@azure-msal-browser-2020-10-07-15-38-49-authority-fixes.json
  change/@azure-msal-common-2020-10-07-15-38-49-authority-fixes.json
  change/@azure-msal-node-2020-10-07-15-38-49-authority-fixes.json
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/docs/initialization.md
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/index.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/authority/ProtocolMode.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/url/UrlString.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/authority/AuthorityFactory.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/url/UrlString.spec.ts
  lib/msal-node/docs/configuration.md
  lib/msal-node/docs/initialize-public-client-application.md
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/index.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: msal-browser, msal-common, msal-node

#2417 Add extraQueryParameters to acquireTokenSilent in msal-browser
  change/@azure-msal-browser-2020-10-13-16-54-21-browser-extraQueryParameters-silent.json
  lib/msal-browser/src/request/SilentRequest.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#2439 Use history API to clear hash to remove # sign
  change/@azure-msal-browser-2020-10-16-15-05-51-core-remove-hash-history.json
  change/msal-2020-10-15-15-29-10-core-remove-hash-history.json
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/utils/BrowserUtils.spec.ts
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/utils/WindowUtils.ts
  lib/msal-core/test/UserAgentApplication.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/get_access_token_interactively/test/browser.spec.ts
Labels: msal-browser, msal@1.x, samples

#2438 Export InteractionType from msal-browser
  change/@azure-msal-browser-2020-10-15-15-36-17-export-interactionType.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
Labels: msal-browser

#2356 msal-react #1: account changes
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/error/BrowserConfigurationAuthError.ts
  lib/msal-browser/src/index.ts
  lib/msal-react/package.json
  lib/msal-react/src/MsalAuthentication.tsx
  lib/msal-react/src/MsalContext.tsx
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/src/Templates.tsx
  lib/msal-react/src/index.ts
  lib/msal-react/src/useHandleRedirect.ts
  lib/msal-react/src/useIsAuthenticated.ts
  lib/msal-react/src/utilities.ts
  lib/msal-react/src/withMsal.tsx
  lib/msal-react/stories/hooks.stories.tsx
  package.json
Labels: msal-browser, msal-react

#2394 Add event API to msal-browser
  change/@azure-msal-browser-2020-10-07-18-01-18-browser-add-broadcast.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/event/EventMessage.ts
  lib/msal-browser/src/event/EventType.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#2440 Update FAQ with note about B2C multiple access token workaround
  change/@azure-msal-browser-2020-10-15-17-19-49-tnorling-patch-3.json
  lib/msal-browser/FAQ.md
Labels: documentation, msal-browser

#2376 [msal-core] Fix authority match confusion for cached token lookup
  change/msal-2020-10-07-14-20-34-authority-match.json
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/cache/AuthCache.ts
  lib/msal-core/src/error/ClientAuthError.ts
  lib/msal-core/src/utils/AuthCacheUtils.ts
  lib/msal-core/test/UserAgentApplication.spec.ts
  lib/msal-core/test/error/ClientAuthError.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/default/authConfig.js
Labels: msal@1.x, samples

#2404 Fix unexpected interaction_required error when using redirect flow
  change/@azure-msal-browser-2020-10-09-12-03-06-handleRedirectPromise-fix.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/utils/BrowserUtils.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/ui.js
Labels: msal-browser, samples

#2355 [msal-core] Fix acquireTokenSilent closing pop up window from concurrent acquireTokenPopupCall
  change/msal-2020-10-20-11-32-02-fix-popup-window-close.json
  lib/msal-core/src/UserAgentApplication.ts
Labels: msal@1.x, work-in-progress

#2462 Add removeEventCallback API
  change/@azure-msal-browser-2020-10-20-14-41-15-unsubscribe-event.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#2460 Updated cdn docs for MSAL Browser
  change/@azure-msal-browser-2020-10-20-13-31-54-browser-cdn-docs.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
Labels: msal-browser

#2453 Update FAQ.md
  lib/msal-browser/FAQ.md
Labels: msal-browser

#2459 Msal-browser event API documentation
  change/@azure-msal-browser-2020-10-20-11-43-58-browser-event-doc.json
  lib/msal-browser/docs/events.md
Labels: msal-browser

#2369 msal-react #2: Login handler
  .eslintrc.json
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-react/src/MsalAuthentication.tsx
  lib/msal-react/src/MsalContext.tsx
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/src/Templates.tsx
  lib/msal-react/src/index.ts
  lib/msal-react/src/useHandleRedirect.ts
  lib/msal-react/src/useIsAuthenticated.ts
  lib/msal-react/src/useMsalAuthentication.ts
  lib/msal-react/src/utilities.ts
  lib/msal-react/src/withMsal.tsx
  lib/msal-react/stories/hoc.stories.tsx
  lib/msal-react/stories/hooks.stories.tsx
  lib/msal-react/stories/login.stories.tsx
  lib/msal-react/stories/msalInstance.ts
  lib/msal-react/stories/protected.stories.tsx
  lib/msal-react/stories/templates.stories.tsx
  lib/msal-react/stories/tokens.stories.tsx
  package-lock.json
  package.json
Labels: msal-browser, msal-react

#2407 Change Angular v2 sample to use msal-browser's event API
  samples/msal-angular-v2-samples/angular10-browser-sample/package-lock.json
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/constants.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.broadcast.service.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.guard.config.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.guard.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.interceptor.config.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.interceptor.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.service.ts
Labels: samples

#2470 Reorganize msal-react folder
  lib/msal-react/.prettierignore
  lib/msal-react/README.md
  lib/msal-react/package.json
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/src/README.md
  lib/msal-react/src/Templates.tsx
  lib/msal-react/src/components/AuthenticatedTemplate.tsx
  lib/msal-react/src/components/MsalAuthenticationTemplate.tsx
  lib/msal-react/src/components/UnauthenticatedTemplate.tsx
  lib/msal-react/src/components/withMsal.tsx
  lib/msal-react/src/hooks/useHandleRedirect.ts
  lib/msal-react/src/hooks/useIsAuthenticated.ts
  lib/msal-react/src/hooks/useMsal.ts
  lib/msal-react/src/hooks/useMsalAuthentication.ts
  lib/msal-react/src/index.ts
  lib/msal-react/src/types/AccountIdentifiers.ts
Labels: msal-react

#2468 Remove note about B2C not being supported in msal-browser
  change/@azure-msal-browser-2020-10-21-16-04-50-tnorling-patch-1.json
  lib/msal-browser/README.md
Labels: msal-browser

#2477 Update SRI hashes for msal@1.4.2 and browser@2.4.0
  change/@azure-msal-browser-2020-10-22-10-16-58-browser-core-1021-sri-hashes.json
  change/msal-2020-10-22-10-16-58-browser-core-1021-sri-hashes.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-core/README.md
  lib/msal-core/docs/cdn.md
Labels: msal-browser, msal@1.x

#2415 Storage optimization - CacheManager changes for accessing storage
  change/@azure-msal-browser-2020-10-21-13-05-39-msal-browser-storage-update.json
  change/@azure-msal-common-2020-10-21-13-05-39-msal-browser-storage-update.json
  change/@azure-msal-node-2020-10-21-13-05-39-msal-browser-storage-update.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/PopupHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserStorage.spec.ts
  lib/msal-browser/test/cache/TestStorageManager.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/cache/entities/ServerTelemetryEntity.ts
  lib/msal-common/src/cache/interface/ICacheManager.ts
  lib/msal-common/src/cache/utils/CacheTypes.ts
  lib/msal-common/src/client/OnBehalfOfClient.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/network/ThrottlingUtils.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/MockCache.ts
  lib/msal-common/test/cache/entities/ServerTelemetryEntity.spec.ts
  lib/msal-common/test/cache/entities/ThrottlingEntity.spec.ts
  lib/msal-common/test/cache/entities/cacheConstants.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/OnBehalfOfClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/network/NetworkManager.spec.ts
  lib/msal-common/test/network/ThrottlingUtils.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
  lib/msal-node/package-lock.json
  lib/msal-node/src/cache/Storage.ts
  lib/msal-node/test/cache/Storage.spec.ts
Labels: msal-browser, msal-common, msal-node

#2448 [msal-node] update samples path
  change/@azure-msal-node-2020-10-18-14-05-15-update-samples-path.json
  lib/msal-node/README.md
Labels: msal-node

#2483 [msal-common] Add missing default headers to device code
  change/@azure-msal-common-2020-10-23-08-46-53-set-default-headers.json
  lib/msal-common/src/client/DeviceCodeClient.ts
Labels: msal-common

#2414 [msal-node] Add end-to-end test framework
  .gitignore
  change/@azure-msal-node-2020-10-13-17-19-12-node-e2e-tests.json
  change/vanilla-js-node-test-app-2020-10-14-14-03-30-node-e2e-tests.json
  lib/msal-node/package-lock.json
  lib/msal-node/src/index.ts
  package-lock.json
  package.json
  samples/e2eTestUtils/BrowserCacheTestUtils.ts
  samples/e2eTestUtils/NodeCacheTestUtils.ts
  samples/e2eTestUtils/TestUtils.ts
  samples/msal-node-samples/VanillaJSTestApp/.babelrc
  samples/msal-node-samples/VanillaJSTestApp/.beachballrc
  samples/msal-node-samples/VanillaJSTestApp/app.js
  samples/msal-node-samples/VanillaJSTestApp/app/cachePlugin.js
  samples/msal-node-samples/VanillaJSTestApp/app/msalClientAppConfig.js
  samples/msal-node-samples/VanillaJSTestApp/app/routes/authCode.js
  samples/msal-node-samples/VanillaJSTestApp/app/routes/silent.js
  samples/msal-node-samples/VanillaJSTestApp/app/scenarios/auth-code-aad.json
  samples/msal-node-samples/VanillaJSTestApp/app/scenarios/silent-flow-aad.json
  samples/msal-node-samples/VanillaJSTestApp/app/test/silent-flow-aad/data/testCache.json
  samples/msal-node-samples/VanillaJSTestApp/app/test/silent-flow-aad/silent-flow-aad.spec.ts
  samples/msal-node-samples/VanillaJSTestApp/constants.js
  samples/msal-node-samples/VanillaJSTestApp/index.js
  samples/msal-node-samples/VanillaJSTestApp/package-lock.json
  samples/msal-node-samples/VanillaJSTestApp/package.json
  samples/msal-node-samples/VanillaJSTestApp/sampleUtils.js
  samples/msal-node-samples/VanillaJSTestApp/testRunner.ts
  samples/msal-node-samples/VanillaJSTestApp/tsconfig.base.json
  samples/msal-node-samples/VanillaJSTestApp/tsconfig.json
  samples/msal-node-samples/standalone-samples/auth-code/package-lock.json
  samples/msal-node-samples/standalone-samples/on-behalf-of/web-api/package-lock.json
  samples/msal-node-samples/standalone-samples/on-behalf-of/web-app/package-lock.json
  samples/msal-node-samples/standalone-samples/silent-flow/index.js
  samples/msal-node-samples/standalone-samples/silent-flow/package.json
  samples/msal-node-samples/standalone-samples/silent-flow/views/graph.hbs
  samples/msal-node-samples/standalone-samples/silent-flow/views/layouts/main.hbs
  samples/msal-node-samples/standalone-samples/silent-flow/views/login.hbs
  samples/package-lock.json
Labels: msal-node, samples

#2491 Fix ServerTelemetry maxErrorsToSend bug
  change/@azure-msal-common-2020-10-26-10-27-03-fix-telemetry-bug.json
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
Labels: msal-common

#2485 Add Node E2E Tests to CI/CD Pipeline
  .github/workflows/msal-node-e2e.yml
  change/vanilla-js-node-test-app-2020-10-14-14-03-30-node-e2e-tests.json
  samples/e2eTestUtils/NodeCacheTestUtils.ts
  samples/msal-node-samples/EndToEndTestApp/.babelrc
  samples/msal-node-samples/EndToEndTestApp/.beachballrc
  samples/msal-node-samples/EndToEndTestApp/CHANGELOG.json
  samples/msal-node-samples/EndToEndTestApp/README.md
  samples/msal-node-samples/EndToEndTestApp/app.js
  samples/msal-node-samples/EndToEndTestApp/app/cachePlugin.js
  samples/msal-node-samples/EndToEndTestApp/app/msalClientAppConfig.js
  samples/msal-node-samples/EndToEndTestApp/app/resourceApi.js
  samples/msal-node-samples/EndToEndTestApp/app/routes/authCode.js
  samples/msal-node-samples/EndToEndTestApp/app/routes/clientCredential.js
  samples/msal-node-samples/EndToEndTestApp/app/routes/deviceCode.js
  samples/msal-node-samples/EndToEndTestApp/app/routes/refreshToken.js
  samples/msal-node-samples/EndToEndTestApp/app/routes/silent.js
  samples/msal-node-samples/EndToEndTestApp/app/scenarios/auth-code-aad.json
  samples/msal-node-samples/EndToEndTestApp/app/scenarios/client-credential-aad.json
  samples/msal-node-samples/EndToEndTestApp/app/scenarios/device-code-aad.json
  samples/msal-node-samples/EndToEndTestApp/app/scenarios/refresh-token-aad.json
  samples/msal-node-samples/EndToEndTestApp/app/scenarios/scenario-template.json
  samples/msal-node-samples/EndToEndTestApp/app/scenarios/silent-flow-aad.json
  samples/msal-node-samples/EndToEndTestApp/app/scenarios/silent-flow-b2c-forgot-password.json
  samples/msal-node-samples/EndToEndTestApp/app/scenarios/silent-flow-b2c-sign-up-sign-in.json
  samples/msal-node-samples/EndToEndTestApp/app/test/silent-flow-aad/data/cacheTemplate.json
  samples/msal-node-samples/EndToEndTestApp/app/test/silent-flow-aad/silent-flow-aad.spec.ts
  samples/msal-node-samples/EndToEndTestApp/constants.js
  samples/msal-node-samples/EndToEndTestApp/data/example.cache.json
  samples/msal-node-samples/EndToEndTestApp/index.js
  samples/msal-node-samples/EndToEndTestApp/package-lock.json
  samples/msal-node-samples/EndToEndTestApp/package.json
  samples/msal-node-samples/EndToEndTestApp/sampleUtils.js
  samples/msal-node-samples/EndToEndTestApp/testRunner.ts
  samples/msal-node-samples/EndToEndTestApp/tsconfig.base.json
  samples/msal-node-samples/EndToEndTestApp/tsconfig.json
  samples/msal-node-samples/EndToEndTestApp/views/graph.hbs
  samples/msal-node-samples/EndToEndTestApp/views/layouts/main.hbs
  samples/msal-node-samples/EndToEndTestApp/views/login.hbs
  samples/msal-node-samples/EndToEndTestApp/views/logout.hbs
  samples/msal-node-samples/VanillaJSTestApp/package-lock.json
  samples/msal-node-samples/standalone-samples/auth-code-pkce/package-lock.json
  samples/msal-node-samples/standalone-samples/silent-flow/package-lock.json
Labels: msal-node, samples

#2487 Add script to automate generation and updating of browser SRI hashes
  change/@azure-msal-browser-2020-10-23-16-09-46-browser-cdn-sri-script.json
  lib/msal-browser/README.md
  lib/msal-browser/cdn-sri.js
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
Labels: msal-browser

#2148 B2C Sample + E2E Test 2.0
  samples/e2eTestUtils/BrowserCacheTestUtils.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/b2c/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/b2c/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/b2c/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/b2c/ui.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfigs/aadAuthConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfigs/b2cAuthConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/testUtils.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/testConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/ui.js
Labels: samples

#2511 Node sample update dependencies
  .github/workflows/msal-node-e2e.yml
  samples/msal-node-samples/EndToEndTestApp/package-lock.json
Labels: samples

#2501 Ensure history.replaceState is a function
  change/@azure-msal-browser-2020-10-27-11-19-17-history-replace-state-function.json
  change/msal-2020-10-27-11-19-17-history-replace-state-function.json
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/utils/BrowserUtils.spec.ts
  lib/msal-core/src/utils/WindowUtils.ts
  lib/msal-core/test/utils/WindowUtils.spec.ts
Labels: msal-browser, msal@1.x

#2495 Allow hash to be passed into handleRedirectPromise, reset non-msal after processing
  change/@azure-msal-browser-2020-10-26-18-16-36-handleredirectpromise-hash.json
  lib/msal-browser/docs/initialization.md
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app-routing.module.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.service.ts
Labels: msal-browser, samples

#2481 In-Memory/JS Storage for msal-browser
  README.md
  change/@azure-msal-browser-2020-10-26-17-41-17-custom-storage-v2-rework.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/src/cache/IWindowStorage.ts
  lib/msal-browser/src/cache/MemoryStorage.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/error/BrowserConfigurationAuthError.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/PopupHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TestStorageManager.ts
  lib/msal-browser/test/config/Configuration.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-browser/tsconfig.base.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfigs/memStorageAuthConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserMemStorage.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/authConfig.js
Labels: msal-browser, samples

#2496 [msal-node] Remove "debug"
  change/@azure-msal-node-2020-10-26-20-16-45-remove-debug.json
  lib/msal-node/package.json
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/test/cache/Storage.spec.ts
  lib/msal-node/test/cache/TokenCache.spec.ts
Labels: msal-node

#2513 Msal-browser - Adds getLogger and setLogger
  change/@azure-msal-browser-2020-10-28-17-06-48-msal-browser-set-logger.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#2502 Add SRI script for core
  change/msal-2020-10-27-13-59-12-core-cdn-sri.json
  lib/msal-core/README.md
  lib/msal-core/cdn-sri.js
  lib/msal-core/docs/cdn.md
  lib/msal-core/package-lock.json
  lib/msal-core/package.json
Labels: msal@1.x

#2510 Fix ID token matching logic to ignore non-JSON cache keys
  change/msal-2020-10-28-14-00-31-fix-incorrect-idtoken-lookup.json
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/cache/AuthCache.ts
  lib/msal-core/src/utils/StringUtils.ts
  lib/msal-core/test/UserAgentApplication.spec.ts
Labels: msal@1.x

#2518 Add handleRedirect End Event
  change/@azure-msal-browser-2020-10-29-11-53-19-handle-redirect-event.json
  lib/msal-browser/docs/events.md
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/event/EventType.ts
Labels: msal-browser

#2520 [msal-node] Add getLogger and setLogger
  change/@azure-msal-node-2020-10-29-13-30-16-msal-node-set-logger.json
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/index.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: msal-node

#2523 Restore string to cacheLocation type
  change/@azure-msal-browser-2020-10-29-16-03-05-msal-browser-cache-location-string.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/config/Configuration.ts
  samples/msal-browser-samples/TypescriptTestApp2.0/package-lock.json
Labels: msal-browser, samples
