Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2020-08, with the labels that each got.

#2081 Fix back button behavior
  lib/msal-core/src/utils/WindowUtils.ts
  lib/msal-core/test/utils/WindowUtils.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/e2eTests/testRunner.ts
Labels: msal@1.x, samples

#1917 Telemetry #1: Enable telemetry in common
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryCacheValue.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryRequest.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
Labels: msal-browser, msal-common

#2045 [msal-browser] Add platform-level state object to state string and read interaction type
  experimental/msal-react-native-android-poc/package-lock.json
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/src/utils/BrowserProtocolUtils.ts
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/error/BrowserAuthError.spec.ts
  lib/msal-browser/test/utils/BrowserProtocolUtils.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/response/AuthenticationResult.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/response/ServerAuthorizationCodeResponse.ts
  lib/msal-common/src/response/ServerAuthorizationTokenResponse.ts
  lib/msal-common/src/url/UrlString.ts
  lib/msal-common/src/utils/ProtocolUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/url/UrlString.spec.ts
  lib/msal-common/test/utils/ProtocolUtils.spec.ts
Labels: msal-browser, msal-common

#1918 Telemetry #2: Implement Telemetry in msal-browser
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/index.ts
Labels: msal-browser, msal-common

#2023 [msal node] Adds confidential client
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ClientAssertion.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/src/utils/EncodingUtils.ts
  lib/msal-node/test/client/ClientAssertion.spec.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
  samples/msal-node-samples/auth-code/index.js
Labels: msal-common, node, samples

#2091 [msal-browser] Fix Promises in PCA APIs
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-common/test/client/DeviceCodeClient.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ie11-sample/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ie11-sample/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/navigateToLoginPage/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilent/auth.js
Labels: msal-browser, msal-common, samples

#2092 [msal-common] v1.1.0 Release
  lib/msal-common/README.md
  lib/msal-common/changelog.md
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  lib/msal-common/test/utils/StringConstants.ts
  lib/msal-node/package-lock.json
  package-lock.json
Labels: msal-common, node

#2093 [msal-browser] v2.0.1 release
  lib/msal-browser/changelog.md
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/test/utils/StringConstants.ts
Labels: msal-browser

#2095 [msal-browser] Update CDN urls for 2.0.0 and 2.0.1
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
Labels: msal-browser

#2097 Msal node release 1.0.0-alpha.4
  lib/msal-node/changelog.md
  lib/msal-node/package.json
  samples/msal-node-samples/auth-code/package.json
  samples/msal-node-samples/device-code/package.json
  samples/msal-node-samples/refresh-token/package.json
  samples/msal-node-samples/silent-flow/package.json
Labels: node, samples

#2098 extensions release1.0.0-alpha.1
  extensions/msal-node-extensions/changelog.md
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  samples/msal-node-extensions/package.json
Labels: samples

#2103 Msal-node-extensions release1.0.0-alpha.2
  extensions/msal-node-extensions/changelog.md
  extensions/msal-node-extensions/package.json
  samples/msal-node-extensions/package-lock.json
  samples/msal-node-extensions/package.json
Labels: samples

#2087 Release msal@1.3.4
  lib/msal-core/README.md
  lib/msal-core/changelog.md
  lib/msal-core/package-lock.json
  lib/msal-core/package.json
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/utils/Constants.ts
  lib/msal-core/src/utils/UrlUtils.ts
Labels: msal@1.x

#2113 Add Beachball to Repo #2
  .beachballrc
  .github/workflows/beachball-check.yml
  .github/workflows/npm-publish.yml
  change/@azure-msal-angular-2020-08-07-14-19-04-beachball-config.json
  change/@azure-msal-angularjs-2020-08-06-13-11-59-beachball-config.json
  change/@azure-msal-browser-2020-08-06-13-11-59-beachball-config.json
  change/@azure-msal-common-2020-08-07-14-19-04-beachball-config.json
  change/@azure-msal-node-2020-08-07-14-19-04-beachball-config.json
  change/@azure-msal-node-extensions-2020-08-07-14-26-32-beachball-config.json
  change/@azuread-msal-react-native-android-poc-2020-08-06-13-11-59-beachball-config.json
  change/msal-2020-08-07-14-30-10-beachball-config.json
  change/msal-node-auth-code-2020-08-06-13-11-59-beachball-config.json
  change/msal-node-device-code-2020-08-06-13-11-59-beachball-config.json
  change/msal-node-extensions-sample-2020-08-06-13-11-59-beachball-config.json
  change/msal-node-refresh-token-2020-08-06-13-11-59-beachball-config.json
  change/msal-node-silent-flow-2020-08-06-13-11-59-beachball-config.json
  change/typescript-test-app-2-0-2020-08-06-13-11-59-beachball-config.json
  experimental/msal-electron-proof-of-concept/.beachballrc
  experimental/msal-react-native-android-poc/.beachballrc
  experimental/msal-react-native-android-poc/package.json
  extensions/msal-node-extensions/changelog.md
  lib/msal-angular/changelog.md
  lib/msal-angularjs/.beachballrc
  lib/msal-browser/changelog.md
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-common/changelog.md
  lib/msal-core/changelog.md
  lib/msal-node/changelog.md
  package-lock.json
  package.json
  samples/msal-angular-samples/MSALAngularDemoApp/.beachballrc
  samples/msal-angular-samples/angular6-sample-app/.beachballrc
  samples/msal-angular-samples/angular7-sample-app/.beachballrc
  samples/msal-angular-samples/angular8-sample-app/.beachballrc
  samples/msal-angular-samples/angular9-sample-app/.beachballrc
  samples/msal-angularjs-samples/MsalAngularjsDemoApp/.beachballrc
  samples/msal-browser-samples/BrokerTestApp2.0/.beachballrc
  samples/msal-browser-samples/TypescriptTestApp2.0/.beachballrc
  samples/msal-browser-samples/TypescriptTestApp2.0/package.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/.beachballrc
  samples/msal-core-samples/ModuleSample/.beachballrc
  samples/msal-core-samples/UnifiedCacheTestApp/.beachballrc
  samples/msal-core-samples/VanillaJSTestApp-b2c/Readme.md
  samples/msal-core-samples/VanillaJSTestApp/.beachballrc
  samples/msal-core-samples/react-sample-app/.beachballrc
  samples/msal-electron-sample-app/.beachballrc
  samples/msal-node-extensions/.beachballrc
  samples/msal-node-extensions/package.json
  samples/msal-node-samples/auth-code/.beachballrc
  samples/msal-node-samples/auth-code/package.json
  samples/msal-node-samples/device-code/.beachballrc
  samples/msal-node-samples/device-code/package.json
  samples/msal-node-samples/refresh-token/.beachballrc
  samples/msal-node-samples/refresh-token/package.json
  samples/msal-node-samples/silent-flow/.beachballrc
  samples/msal-node-samples/silent-flow/package.json
  samples/msal-react-native-android-poc-sample/.beachballrc
Labels: angular, msal-browser, msal-common, msal@1.x, node, samples

#2032 Improve angular handleRedirectCallback documentation
  change/@azure-msal-angular-2020-08-11-10-47-44-redirect-docs.json
  lib/msal-angular/README.md
Labels: angular

#2033 Documentation for throttling
  change/@azure-msal-common-2020-08-11-11-02-18-throttle-docs.json
  lib/msal-common/docs/Throttling.md
Labels: msal-common

#2129 [msal-browser] Fix bugs in redirect flow
  .github/workflows/beachball-check.yml
  change/@azure-msal-browser-2020-08-11-13-21-14-fix-handleredirect.json
  change/@azure-msal-common-2020-08-11-13-21-14-fix-handleredirect.json
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/interaction_handler/PopupHandler.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-common/src/url/UrlString.ts
  lib/msal-common/test/url/UrlString.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/e2eTests/testRunner.ts
Labels: msal-browser, msal-common, samples

#2111 Update app registration links in migration guide
  change/@azure-msal-browser-2020-08-11-12-57-41-tnorling-patch-2.json
  lib/msal-browser/docs/v1-migration.md
Labels: documentation, msal-browser

#1775 B2C E2E Tests
  samples/msal-core-samples/VanillaJSTestApp/app/b2c/auth.js
  samples/msal-core-samples/VanillaJSTestApp/app/b2c/authConfig.js
  samples/msal-core-samples/VanillaJSTestApp/app/b2c/index.html
  samples/msal-core-samples/VanillaJSTestApp/app/b2c/test/browser.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/b2c/ui.js
  samples/msal-core-samples/VanillaJSTestApp/app/default/test/browser.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/get_access_token_interactively/test/browser.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/e2eTests/LabClient.ts
Labels: samples

#2106 knownAuthorities enhancements
  change/@azure-msal-common-2020-08-12-10-27-42-optimize-knownAuthorities.json
  lib/msal-common/src/authority/TrustedAuthority.ts
  lib/msal-common/src/url/UrlString.ts
  lib/msal-common/test/authority/TrustedAuthority.spec.ts
  lib/msal-common/test/url/UrlString.spec.ts
Labels: msal-common

#2105 [msal-common] Fix ID Token Claims type
  change/@azure-msal-common-2020-08-11-16-45-31-fix-id-token-claims-type.json
  lib/msal-common/src/account/IdTokenClaims.ts
  lib/msal-common/src/response/AuthenticationResult.ts
Labels: msal-common

#2048 Limit CodeQL Analysis to JavaScript only
  .github/workflows/codeql.yml
Labels: no-pr-activity

#2128 Change /token header type to Record
  change/@azure-msal-browser-2020-08-11-10-20-56-update-headers-type.json
  change/@azure-msal-common-2020-08-11-10-20-56-update-headers-type.json
  change/@azure-msal-node-2020-08-11-10-20-56-update-headers-type.json
  lib/msal-browser/src/network/FetchClient.ts
  lib/msal-browser/src/network/XhrClient.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/network/INetworkModule.ts
  lib/msal-common/src/network/NetworkManager.ts
  lib/msal-common/test/client/BaseClient.spec.ts
  lib/msal-node/test/config/ClientConfiguration.spec.ts
Labels: msal-browser, msal-common, node

#2029 msal-angular Update protectedResources and unprotectedResources logic
  change/@azure-msal-angular-2020-08-10-11-46-52-angular-wildcard-matching.json
  lib/msal-angular/README.md
  lib/msal-angular/docs/0.x-1.x-upgrade-guide.md
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
  lib/msal-angular/src/msal.service.ts
  lib/msal-angular/tests/MSALSpec.ts
Labels: angular, samples

#1668 ADFS 2019 Support
  change/msal-2020-08-12-11-09-30-msal-core-adfs.json
  lib/msal-core/src/Account.ts
  lib/msal-core/src/ClientInfo.ts
  lib/msal-core/src/IdToken.ts
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/authority/Authority.ts
  lib/msal-core/src/authority/AuthorityFactory.ts
  lib/msal-core/src/telemetry/TelemetryUtils.ts
  lib/msal-core/src/utils/Constants.ts
  lib/msal-core/test/Account.spec.ts
  lib/msal-core/test/ClientInfo.spec.ts
  lib/msal-core/test/TestConstants.ts
  lib/msal-core/test/authority/Authority.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/Readme.md
Labels: msal@1.x, samples

#2022 [msal-core] Fix response type configuration by basing it mainly on scopes
  change/msal-2020-08-10-11-48-42-scopes-and-response-types.json
  lib/msal-core/docs/response-types.md
  lib/msal-core/docs/scopes.md
  lib/msal-core/package-lock.json
  lib/msal-core/src/ScopeSet.ts
  lib/msal-core/src/ServerRequestParameters.ts
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/error/ClientConfigurationError.ts
  lib/msal-core/src/utils/Constants.ts
  lib/msal-core/src/utils/RequestUtils.ts
  lib/msal-core/src/utils/UrlUtils.ts
  lib/msal-core/test/ServerRequestParameters.spec.ts
  lib/msal-core/test/UserAgentApplication.spec.ts
  lib/msal-core/test/error/ClientConfigurationError.spec.ts
  lib/msal-core/test/utils/RequestUtils.spec.ts
Labels: msal@1.x

#1791 ADFS Sample + E2E
  samples/msal-core-samples/VanillaJSTestApp/app/adfs/Readme.md
  samples/msal-core-samples/VanillaJSTestApp/app/adfs/auth.js
  samples/msal-core-samples/VanillaJSTestApp/app/adfs/authConfig.js
  samples/msal-core-samples/VanillaJSTestApp/app/adfs/index.html
  samples/msal-core-samples/VanillaJSTestApp/app/adfs/test/browser.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/adfs/ui.js
  samples/msal-core-samples/VanillaJSTestApp/e2eTests/LabClient.ts
Labels: no-pr-activity, samples

#1757 B2C Multiple Policy Support
  change/msal-2020-08-12-14-47-04-b2c-multiple-policies.json
  lib/msal-core/docs/FAQ.md
  lib/msal-core/src/ClientInfo.ts
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/test/Account.spec.ts
  lib/msal-core/test/ClientInfo.spec.ts
  lib/msal-core/test/ServerRequestParameters.spec.ts
Labels: msal@1.x

#2112 [msal-node][msal-common] Adds support for client credential grant
  change/@azure-msal-common-2020-08-14-17-01-57-msal-node-client-credential-grant.json
  change/@azure-msal-node-2020-08-14-17-01-57-msal-node-client-credential-grant.json
  change/msal-node-client-credentials-2020-08-14-17-01-57-msal-node-client-credential-grant.json
  lib/msal-common/src/client/ClientCredentialClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/ClientCredentialRequest.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/utils/TimeUtils.ts
  lib/msal-common/test/client/ClientCredentialClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  samples/msal-node-samples/auth-code/index.js
  samples/msal-node-samples/client-credentials/.beachballrc
  samples/msal-node-samples/client-credentials/index.js
  samples/msal-node-samples/client-credentials/package-lock.json
  samples/msal-node-samples/client-credentials/package.json
Labels: msal-common, node, samples

#2165 Update TokenCache.ts
  change/@azure-msal-node-2020-08-19-13-55-46-msal-node-remove-log-statement.json
  lib/msal-node/src/cache/TokenCache.ts
Labels: node

#2132 [msal-browser] Open popup change with configuration
  change/@azure-msal-browser-2020-08-12-16-02-55-browser-popup-window-change.json
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/interaction_handler/PopupHandler.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/config/Configuration.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
Labels: msal-browser

#2170 Fix Telemetry Cache Hit Bug
  change/@azure-msal-common-2020-08-20-11-36-50-Fix-Telem-CacheHit-bug.json
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
Labels: msal-common

#2125 [msal-core] Fix invalid state issue by removing second layer of URL decoding
  lib/msal-core/src/utils/CryptoUtils.ts
  lib/msal-core/test/utils/UrlUtils.spec.ts
Labels: msal@1.x

#2151 AT Proof-Of-Possession #1: Adding req_cnf to the token request
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/encode/Base64Decode.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-browser/test/network/XhrClient.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/crypto/ICrypto.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/AuthorizationCodeRequest.ts
  lib/msal-common/src/request/AuthorizationUrlRequest.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/account/ClientInfo.spec.ts
  lib/msal-common/test/account/IdToken.spec.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/DeviceCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/utils/ProtocolUtils.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
  lib/msal-node/src/crypto/CryptoProvider.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/graph.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/ui.js
Labels: msal-browser, msal-common, node, samples

#2114 getAccountByHomeId + fill username in B2C scenarios
  change/@azure-msal-browser-2020-08-12-13-16-01-b2c-username.json
  change/@azure-msal-common-2020-08-12-13-16-01-b2c-username.json
  lib/msal-browser/FAQ.md
  lib/msal-browser/docs/login-user.md
  lib/msal-browser/docs/logout.md
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/account/IdTokenClaims.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/graph.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/ui.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ie11-sample/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ie11-sample/graph.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ie11-sample/ui.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/graph.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/navigateToLoginPage/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/navigateToLoginPage/graph.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/navigateToLoginPage/ui.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/graph.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilent/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilent/graph.js
Labels: msal-browser, msal-common, samples

#1997 [msal-browser] B2C docs
  lib/msal-browser/docs/working-with-b2c.md
Labels: documentation, msal-browser, no-pr-activity

#2138 Add claims request support on token endpoint requests
  change/@azure-msal-common-2020-08-20-15-48-02-claims-request-tokenendpt-v2.json
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/src/request/AuthorizationCodeRequest.ts
  lib/msal-common/src/request/AuthorizationUrlRequest.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/request/RefreshTokenRequest.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/request/RequestValidator.ts
  lib/msal-common/src/request/SilentFlowRequest.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/request/RequestValidator.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
Labels: msal-common

#2169 Client Capabilities Support
  change/@azure-msal-browser-2020-08-20-15-49-51-client-capabilities.json
  change/@azure-msal-common-2020-08-20-11-36-50-Fix-Telem-CacheHit-bug.json
  change/@azure-msal-common-2020-08-20-15-49-51-client-capabilities.json
  change/@azure-msal-node-2020-08-20-15-49-51-client-capabilities.json
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/docs/request-response-object.md
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/ClientCredentialClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: msal-browser, msal-common, node

#2158 1.4.0 Release Branch
  change/msal-2020-08-10-11-48-42-scopes-and-response-types.json
  change/msal-2020-08-12-11-09-30-msal-core-adfs.json
  change/msal-2020-08-12-14-47-04-b2c-multiple-policies.json
  lib/msal-core/README.md
  lib/msal-core/docs/FAQ.md
  lib/msal-core/docs/response-types.md
  lib/msal-core/docs/scopes.md
  lib/msal-core/package-lock.json
  lib/msal-core/src/Account.ts
  lib/msal-core/src/ClientInfo.ts
  lib/msal-core/src/IdToken.ts
  lib/msal-core/src/ScopeSet.ts
  lib/msal-core/src/ServerRequestParameters.ts
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/authority/Authority.ts
  lib/msal-core/src/authority/AuthorityFactory.ts
  lib/msal-core/src/error/ClientConfigurationError.ts
  lib/msal-core/src/telemetry/TelemetryUtils.ts
  lib/msal-core/src/utils/Constants.ts
  lib/msal-core/src/utils/CryptoUtils.ts
  lib/msal-core/src/utils/RequestUtils.ts
  lib/msal-core/src/utils/UrlUtils.ts
  lib/msal-core/test/Account.spec.ts
  lib/msal-core/test/ClientInfo.spec.ts
  lib/msal-core/test/ServerRequestParameters.spec.ts
  lib/msal-core/test/TestConstants.ts
  lib/msal-core/test/UserAgentApplication.spec.ts
  lib/msal-core/test/authority/Authority.spec.ts
  lib/msal-core/test/error/ClientConfigurationError.spec.ts
  lib/msal-core/test/utils/RequestUtils.spec.ts
  lib/msal-core/test/utils/UrlUtils.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/Readme.md
  samples/msal-core-samples/VanillaJSTestApp/app/adfs/Readme.md
  samples/msal-core-samples/VanillaJSTestApp/app/adfs/auth.js
  samples/msal-core-samples/VanillaJSTestApp/app/adfs/authConfig.js
  samples/msal-core-samples/VanillaJSTestApp/app/adfs/index.html
  samples/msal-core-samples/VanillaJSTestApp/app/adfs/test/browser.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/adfs/ui.js
  samples/msal-core-samples/VanillaJSTestApp/e2eTests/LabClient.ts
Labels: msal@1.x, samples

#2180 [msal-common] Ignore offline_access in scopes lookup
  change/@azure-msal-common-2020-08-21-16-04-20-scopes-lookup.json
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/e2eTests/testRunner.ts
  samples/msal-core-samples/VanillaJSTestApp/app/adfs/test/browser.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/b2c/test/browser.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/e2eTests/testRunner.ts
Labels: msal-common, samples

#2187 Update CDN for msal-browser and msal
  .npmrc
  change/@azure-msal-browser-2020-08-25-10-36-06-update-cdn-2.1.0.json
  change/msal-2020-08-25-10-36-06-update-cdn-2.1.0.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-core/README.md
Labels: msal-browser, msal@1.x

#2188 Release @azure/msal-angular@1.1.1
  lib/msal-angular/.beachballrc
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
Labels: angular

#2167 Angular 10 browser sample
  change/@azure-msal-browser-2020-08-20-16-17-31-angular-sample-2.0.json
  lib/msal-browser/README.md
  samples/msal-angular-v2-samples/angular10-browser-sample/.beachballrc
  samples/msal-angular-v2-samples/angular10-browser-sample/.browserslistrc
  samples/msal-angular-v2-samples/angular10-browser-sample/.editorconfig
  samples/msal-angular-v2-samples/angular10-browser-sample/.gitignore
  samples/msal-angular-v2-samples/angular10-browser-sample/README.md
  samples/msal-angular-v2-samples/angular10-browser-sample/angular.json
  samples/msal-angular-v2-samples/angular10-browser-sample/e2e/protractor.conf.js
  samples/msal-angular-v2-samples/angular10-browser-sample/e2e/src/app.e2e-spec.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/e2e/src/app.po.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/e2e/tsconfig.json
  samples/msal-angular-v2-samples/angular10-browser-sample/karma.conf.js
  samples/msal-angular-v2-samples/angular10-browser-sample/package-lock.json
  samples/msal-angular-v2-samples/angular10-browser-sample/package.json
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app-routing.module.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.component.css
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.component.html
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.component.spec.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/home/home.component.css
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/home/home.component.html
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/home/home.component.spec.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/home/home.component.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/constants.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/index.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.guard.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.interceptor.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.service.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/profile/profile.component.css
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/profile/profile.component.html
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/profile/profile.component.spec.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/profile/profile.component.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/assets/.gitkeep
  samples/msal-angular-v2-samples/angular10-browser-sample/src/environments/environment.prod.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/environments/environment.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/favicon.ico
  samples/msal-angular-v2-samples/angular10-browser-sample/src/index.html
  samples/msal-angular-v2-samples/angular10-browser-sample/src/main.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/polyfills.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/styles.css
  samples/msal-angular-v2-samples/angular10-browser-sample/src/test.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/tsconfig.app.json
  samples/msal-angular-v2-samples/angular10-browser-sample/tsconfig.base.json
  samples/msal-angular-v2-samples/angular10-browser-sample/tsconfig.json
  samples/msal-angular-v2-samples/angular10-browser-sample/tsconfig.spec.json
  samples/msal-angular-v2-samples/angular10-browser-sample/tslint.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/Readme.md
Labels: msal-browser, samples

#2136 Broker #1: Handshake between child and parent
  CODEOWNERS
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/broker/BrokerClient.ts
  lib/msal-browser/src/broker/BrokerHandshakeRequest.ts
  lib/msal-browser/src/broker/BrokerHandshakeResponse.ts
  lib/msal-browser/src/broker/BrokerManager.ts
  lib/msal-browser/src/broker/BrokerMessage.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
Labels: feature-broker, msal-browser

#2137 Broker #2: Sending auth requests
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/broker/BrokerAuthRequest.ts
  lib/msal-browser/src/broker/BrokerClient.ts
  lib/msal-browser/src/broker/BrokerHandshakeRequest.ts
  lib/msal-browser/src/broker/BrokerHandshakeResponse.ts
  lib/msal-browser/src/broker/BrokerManager.ts
  lib/msal-browser/src/broker/BrokerMessage.ts
  lib/msal-browser/src/broker/BrokerRedirectResponse.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
Labels: feature-broker, msal-browser

#2191 Fix msal-browser tests causing build to fail intermittently
  change/@azure-msal-browser-2020-08-25-16-59-10-fix-unit-tests.json
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#2199 Create subclass for PublicClientApplication.ts in msal-browser
  change/@azure-msal-browser-2020-08-26-20-31-51-abstract-pca-v2.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
Labels: msal-browser

#2189 Separate Cache Lookup and Token Refresh in SilentFlowClient
  change/@azure-msal-common-2020-08-26-13-56-48-separate-acquireCachedToken-refreshToken.json
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
Labels: msal-common

#2205 Update CDN SRI Hash for 2.1.0
  change/@azure-msal-browser-2020-08-27-13-05-15-fix-hash-2.1.0.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
Labels: msal-browser

#2202 Address msal-node tsdx warning
  change/@azure-msal-node-2020-08-28-12-51-59-tsdx-fix.json
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/tsconfig.json
Labels: msal-node

#2192 [msal-browser] Add SsoSilentRequest for ssoSilent
  change/@azure-msal-browser-2020-08-25-17-29-46-sso-silent-request.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/request/SsoSilentRequest.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  samples/msal-browser-samples/TypescriptTestApp2.0/src/AuthModule.ts
  samples/msal-browser-samples/TypescriptTestApp2.0/src/index.ts
  samples/msal-browser-samples/TypescriptTestApp2.0/src/views/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilent/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilent/authConfig.js
Labels: msal-browser, samples

#2186 Fixing sample versions
  change/@azure-msal-angular-2020-08-27-12-13-36-fixing-sample-versions.json
  change/@azure-msal-angularjs-2020-08-27-12-13-36-fixing-sample-versions.json
  change/msal-2020-08-27-12-13-36-fixing-sample-versions.json
  change/msal-node-client-credentials-2020-08-27-12-13-36-fixing-sample-versions.json
  lib/msal-angular/package-lock.json
  lib/msal-angularjs/package-lock.json
  lib/msal-core/package-lock.json
  samples/msal-angularjs-samples/MsalAngularjsDemoApp/package.json
  samples/msal-node-extensions/package.json
  samples/msal-node-samples/auth-code/package.json
  samples/msal-node-samples/client-credentials/package.json
  samples/msal-node-samples/device-code/package.json
  samples/msal-node-samples/refresh-token/package.json
  samples/msal-node-samples/silent-flow/package.json
Labels: angularjs, msal-angular, msal@1.x, samples

#2153 AT Proof-Of-Possession #2: Handle proof-of-possession tokens correctly in responses
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-common/src/account/AuthToken.ts
  lib/msal-common/src/account/DecodedAuthToken.ts
  lib/msal-common/src/account/IdToken.ts
  lib/msal-common/src/account/TokenClaims.ts
  lib/msal-common/src/cache/entities/AccessTokenEntity.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/crypto/ICrypto.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/crypto/SignedHttpRequest.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/AuthorizationCodeRequest.ts
  lib/msal-common/src/request/AuthorizationUrlRequest.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/request/DeviceCodeRequest.ts
  lib/msal-common/src/request/RefreshTokenRequest.ts
  lib/msal-common/src/request/SilentFlowRequest.ts
  lib/msal-common/src/response/AuthenticationResult.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/url/IUri.ts
  lib/msal-common/src/url/UrlString.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/src/utils/StringUtils.ts
  lib/msal-common/test/account/AuthToken.spec.ts
  lib/msal-common/test/account/ClientInfo.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/BaseClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/DeviceCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
  lib/msal-common/test/error/ClientAuthError.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/url/UrlString.spec.ts
  lib/msal-common/test/utils/ProtocolUtils.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
  lib/msal-common/test/utils/StringUtils.spec.ts
  lib/msal-node/src/crypto/CryptoProvider.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/authConfig.js
Labels: msal-browser, msal-common, samples

#2215 Update msal-browser docs
  change/@azure-msal-browser-2020-08-31-11-07-01-docs-updates.json
  lib/msal-browser/FAQ.md
  lib/msal-browser/docs/initialization.md
  lib/msal-browser/docs/v1-migration.md
Labels: msal-browser

#2183 getRedirectResponseHash checks for interaction in progress
  change/@azure-msal-browser-2020-08-31-14-51-23-redirect-check-interaction.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser
