Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2020-11, with the labels that each got.

#2527 Fix parsing of JSON objects in BrowserCacheManager.ts
  change/@azure-msal-browser-2020-10-30-14-51-02-cache-fix-json-parse-v2.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/test/browser.spec.ts
Labels: msal-browser, msal-common, samples

#2505 msal-react useAccount hook
  lib/msal-react/src/MsalContext.tsx
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/src/components/AuthenticatedTemplate.tsx
  lib/msal-react/src/components/MsalAuthenticationTemplate.tsx
  lib/msal-react/src/components/UnauthenticatedTemplate.tsx
  lib/msal-react/src/components/withMsal.tsx
  lib/msal-react/src/hooks/useAccount.ts
  lib/msal-react/src/hooks/useHandleRedirect.ts
  lib/msal-react/src/hooks/useIsAuthenticated.ts
  lib/msal-react/src/hooks/useMsalAuthentication.ts
  lib/msal-react/src/index.ts
  lib/msal-react/src/utils/Constants.ts
  lib/msal-react/src/utils/utilities.ts
  package-lock.json
Labels: msal-browser, msal-react

#2525 msal-react unit tests
  lib/msal-react/jest.config.js
  lib/msal-react/package-lock.json
  lib/msal-react/package.json
  lib/msal-react/test/MsalProvider.spec.tsx
  lib/msal-react/test/TestConstants.ts
  lib/msal-react/test/components/AuthenticatedTemplate.spec.tsx
  lib/msal-react/test/components/MsalAuthenticationTemplate.spec.tsx
  lib/msal-react/test/components/UnauthenticatedTemplate.spec.tsx
  lib/msal-react/test/components/withMsal.spec.tsx
  lib/msal-react/tsconfig.build.json
  lib/msal-react/tsconfig.json
  package-lock.json
Labels: msal-react

#2425 msal-react sample
  lib/msal-react/package-lock.json
  lib/msal-react/src/hooks/useMsalAuthentication.ts
  package-lock.json
  samples/msal-react-samples/default/.beachballrc
  samples/msal-react-samples/default/.gitignore
  samples/msal-react-samples/default/README.md
  samples/msal-react-samples/default/package-lock.json
  samples/msal-react-samples/default/package.json
  samples/msal-react-samples/default/public/favicon.ico
  samples/msal-react-samples/default/public/index.html
  samples/msal-react-samples/default/public/logo192.png
  samples/msal-react-samples/default/public/logo512.png
  samples/msal-react-samples/default/public/manifest.json
  samples/msal-react-samples/default/public/robots.txt
  samples/msal-react-samples/default/src/App.jsx
  samples/msal-react-samples/default/src/authConfig.js
  samples/msal-react-samples/default/src/graph.jsx
  samples/msal-react-samples/default/src/index.js
  samples/msal-react-samples/default/src/styles/App.css
  samples/msal-react-samples/default/src/styles/index.css
  samples/msal-react-samples/default/src/ui.jsx
  samples/msal-react-samples/onPageLoad/.beachballrc
  samples/msal-react-samples/onPageLoad/.gitignore
  samples/msal-react-samples/onPageLoad/README.md
  samples/msal-react-samples/onPageLoad/package-lock.json
  samples/msal-react-samples/onPageLoad/package.json
  samples/msal-react-samples/onPageLoad/public/favicon.ico
  samples/msal-react-samples/onPageLoad/public/index.html
  samples/msal-react-samples/onPageLoad/public/logo192.png
  samples/msal-react-samples/onPageLoad/public/logo512.png
  samples/msal-react-samples/onPageLoad/public/manifest.json
  samples/msal-react-samples/onPageLoad/public/robots.txt
  samples/msal-react-samples/onPageLoad/src/App.jsx
  samples/msal-react-samples/onPageLoad/src/ErrorBoundary.jsx
  samples/msal-react-samples/onPageLoad/src/authConfig.js
  samples/msal-react-samples/onPageLoad/src/graph.jsx
  samples/msal-react-samples/onPageLoad/src/index.js
  samples/msal-react-samples/onPageLoad/src/styles/App.css
  samples/msal-react-samples/onPageLoad/src/styles/index.css
  samples/msal-react-samples/onPageLoad/src/ui.jsx
Labels: msal-react, samples

#2516 [msal-common] Fixing a bug and adding `localAcccountId` in AccountInfo interface
  change/@azure-msal-browser-2020-11-02-17-12-18-local-account-id.json
  change/@azure-msal-common-2020-10-29-03-03-01-local-account-id.json
  change/@azure-msal-node-2020-11-02-17-12-18-local-account-id.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/account/AccountInfo.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/client/OnBehalfOfClient.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/OnBehalfOfClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
  lib/msal-node/src/cache/TokenCache.ts
Labels: msal-browser, msal-common, msal-node

#2406 Build/Test Pipeline Updates
  .github/workflows/build-steps.yml
  .github/workflows/msal-browser-e2e.yml
  .github/workflows/msal-core-e2e.yml
  change/@azure-msal-angular-2020-10-30-15-37-24-e2e-test-build-pipeline.json
  change/@azure-msal-angularjs-2020-10-30-15-37-24-e2e-test-build-pipeline.json
  change/@azure-msal-browser-2020-10-30-15-37-24-e2e-test-build-pipeline.json
  change/@azure-msal-common-2020-10-30-15-37-24-e2e-test-build-pipeline.json
  change/@azure-msal-node-2020-10-30-15-37-24-e2e-test-build-pipeline.json
  change/msal-2020-10-30-15-37-24-e2e-test-build-pipeline.json
  lerna.json
  lib/msal-angular/karma.conf.js
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
  lib/msal-angular/tests/MSALErrorSpec.ts
  lib/msal-angular/tests/TestConstants.ts
  lib/msal-angularjs/package.json
  lib/msal-browser/.nycrc
  lib/msal-browser/package.json
  lib/msal-common/.nycrc
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  lib/msal-core/.nycrc
  lib/msal-core/package-lock.json
  lib/msal-core/package.json
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  package-lock.json
  package.json
Labels: angularjs, msal-angular, msal-angularjs, msal-browser, msal-common, msal-node, msal@1.x

#2204 [msal-node] Username Password flow support for Public Clients
  .github/workflows/msal-node-e2e.yml
  change/@azure-msal-common-2020-10-29-04-34-45-user-password-flow.json
  change/@azure-msal-common-2020-10-30-17-12-07-silent-flow-fix-node.json
  change/@azure-msal-node-2020-10-29-04-34-45-user-password-flow.json
  change/@azure-msal-node-2020-10-30-17-12-07-silent-flow-fix-node.json
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/client/UsernamePasswordClient.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/request/UsernamePasswordRequest.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/client/UsernamePasswordClient.spec.ts
  lib/msal-node/src/cache/Storage.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/utils/Constants.ts
  samples/msal-node-samples/EndToEndTestApp/package-lock.json
  samples/msal-node-samples/EndToEndTestApp/package.json
  samples/msal-node-samples/standalone-samples/username-password/index.js
  samples/msal-node-samples/standalone-samples/username-password/package-lock.json
  samples/msal-node-samples/standalone-samples/username-password/package.json
Labels: msal-common, msal-node, samples

#2559 Mandate localAccount in AccountInfo
  change/@azure-msal-common-2020-11-06-12-29-58-mandate-localAccountId.json
  lib/msal-common/src/account/AccountInfo.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
Labels: msal-common

#2530 Enhance lookup for IdTokens/AppMetadata
  change/@azure-msal-common-2020-11-09-16-20-27-silent-flow-fix-node.json
  change/@azure-msal-node-2020-11-09-16-20-27-silent-flow-fix-node.json
  lib/msal-common/src/cache/entities/AccessTokenEntity.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/cache/entities/AppMetadataEntity.ts
  lib/msal-common/src/cache/entities/IdTokenEntity.ts
  lib/msal-common/src/cache/entities/RefreshTokenEntity.ts
  lib/msal-node/src/cache/Storage.ts
Labels: msal-common, msal-node

#2573 add localAccountId for ADFS use cases
  change/@azure-msal-common-2020-11-09-16-03-49-local-account-id-adfs.json
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/utils/StringConstants.ts
Labels: msal-common

#2550 [msal-node] b2c samples
  samples/msal-node-samples/standalone-samples/b2c-auth-code-pkce/api.js
  samples/msal-node-samples/standalone-samples/b2c-auth-code-pkce/index.js
  samples/msal-node-samples/standalone-samples/b2c-auth-code-pkce/package-lock.json
  samples/msal-node-samples/standalone-samples/b2c-auth-code-pkce/package.json
  samples/msal-node-samples/standalone-samples/b2c-auth-code-pkce/policies.js
  samples/msal-node-samples/standalone-samples/b2c-auth-code-pkce/views/api.hbs
  samples/msal-node-samples/standalone-samples/b2c-auth-code-pkce/views/layouts/main.hbs
  samples/msal-node-samples/standalone-samples/b2c-auth-code-pkce/views/login.hbs
  samples/msal-node-samples/standalone-samples/b2c-auth-code/api.js
  samples/msal-node-samples/standalone-samples/b2c-auth-code/index.js
  samples/msal-node-samples/standalone-samples/b2c-auth-code/package-lock.json
  samples/msal-node-samples/standalone-samples/b2c-auth-code/package.json
  samples/msal-node-samples/standalone-samples/b2c-auth-code/policies.js
  samples/msal-node-samples/standalone-samples/b2c-auth-code/views/api.hbs
  samples/msal-node-samples/standalone-samples/b2c-auth-code/views/layouts/main.hbs
  samples/msal-node-samples/standalone-samples/b2c-auth-code/views/login.hbs
  samples/msal-node-samples/standalone-samples/b2c-silent-flow/api.js
  samples/msal-node-samples/standalone-samples/b2c-silent-flow/data/example.cache.json
  samples/msal-node-samples/standalone-samples/b2c-silent-flow/index.js
  samples/msal-node-samples/standalone-samples/b2c-silent-flow/package-lock.json
  samples/msal-node-samples/standalone-samples/b2c-silent-flow/package.json
  samples/msal-node-samples/standalone-samples/b2c-silent-flow/policies.js
  samples/msal-node-samples/standalone-samples/b2c-silent-flow/views/api.hbs
  samples/msal-node-samples/standalone-samples/b2c-silent-flow/views/layouts/main.hbs
  samples/msal-node-samples/standalone-samples/b2c-silent-flow/views/login.hbs
Labels: msal-node, samples

#2558 Add VS Code extension recomendations
  .github/workflows/build-steps.yml
  .vscode/extensions.json
  .vscode/settings.json
Labels: meta

#2430 Quickstart revision
  samples/msal-node-samples/standalone-samples/README.md
  samples/msal-node-samples/standalone-samples/auth-code/index.js
  samples/msal-node-samples/standalone-samples/auth-code/package-lock.json
  samples/msal-node-samples/standalone-samples/auth-code/readme.md
  samples/msal-node-samples/standalone-samples/client-credentials/package.json
  samples/msal-node-samples/standalone-samples/client-credentials/readme.md
  samples/msal-node-samples/standalone-samples/device-code/readme.md
  samples/msal-node-samples/standalone-samples/on-behalf-of/web-api/package-lock.json
  samples/msal-node-samples/standalone-samples/on-behalf-of/web-api/package.json
  samples/msal-node-samples/standalone-samples/on-behalf-of/web-api/readme.md
  samples/msal-node-samples/standalone-samples/on-behalf-of/web-app/package-lock.json
  samples/msal-node-samples/standalone-samples/on-behalf-of/web-app/readme.md
  samples/msal-node-samples/standalone-samples/refresh-token/readme.md
Labels: samples

#2545 Add navigateFrameWait and change loadFrameTimeout to browser to match core behavior
  change/@azure-msal-browser-2020-11-04-11-03-20-navigateFrameWait-browser.json
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/interaction_handler/PopupHandler.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/test/config/Configuration.spec.ts
  lib/msal-browser/test/error/BrowserAuthError.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
Labels: msal-browser

#2577 Update MSAL Angular peer depedencies for Angular core libraries, pass generic to ModuleWithProviders
  change/@azure-msal-angular-2020-11-10-12-09-45-angular-v1-peer-dep.json
  lib/msal-angular/package.json
  lib/msal-angular/src/msal.module.ts
Labels: msal-angular

#2582 Fix Multiple Matching Tokens Bug
  .github/workflows/msal-core-e2e.yml
  change/msal-2020-11-10-11-43-41-fix-multiple-matching-tokens.json
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/error/ClientAuthError.ts
  lib/msal-core/src/utils/AuthCacheUtils.ts
  lib/msal-core/test/UserAgentApplication.spec.ts
  lib/msal-core/test/error/ClientAuthError.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/default/authConfig.js
  samples/msal-core-samples/VanillaJSTestApp/app/default/test/browser.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/get_access_token_interactively/authConfig.js
  samples/msal-core-samples/VanillaJSTestApp/app/get_access_token_interactively/test/browser.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/e2eTests/LabClient.ts
  samples/msal-core-samples/VanillaJSTestApp/e2eTests/testRunner.ts
Labels: msal@1.x, samples

#2560 Support relative redirectUris
  .github/workflows/msal-browser-e2e.yml
  change/@azure-msal-browser-2020-11-06-16-41-31-relative-redirectUri.json
  change/@azure-msal-common-2020-11-06-16-41-31-relative-redirectUri.json
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-common/src/url/UrlString.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/url/UrlString.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browser.spec.ts
Labels: msal-browser, msal-common, samples

#2586 Update angular10 browser sample
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/IMsalService.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/index.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.service.ts
Labels: samples

#2581 Update react docs links and deps
  change/@azure-msal-react-2020-11-10-09-57-09-msal-react-feature-branch.json
  lib/msal-react/README.md
  lib/msal-react/docs/getting-started.md
  lib/msal-react/package-lock.json
  lib/msal-react/package.json
Labels: msal-react

#2471 [msal-node] SNI auth for confidential client flows
  change/@azure-msal-node-2020-11-09-16-30-14-sni.json
  lib/msal-node/docs/initialize-confidential-client-application.md
  lib/msal-node/docs/sni.md
  lib/msal-node/src/client/ClientAssertion.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ClientAssertion.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
Labels: msal-node

#2584 Enable lint rules for React
  .eslintrc.json
  change/@azure-msal-react-2020-11-11-14-27-32-react-lint-rules.json
  lib/msal-react/package-lock.json
  lib/msal-react/package.json
  lib/msal-react/src/MsalContext.ts
  samples/msal-react-samples/default/package-lock.json
  samples/msal-react-samples/default/package.json
  samples/msal-react-samples/onPageLoad/package-lock.json
  samples/msal-react-samples/onPageLoad/package.json
Labels: msal-react, samples

#2588 Add localAccountId to msal-react AccountIdentifiers
  change/@azure-msal-browser-2020-11-10-16-45-50-msal-react-localAccountId.json
  change/@azure-msal-react-2020-11-10-16-45-50-msal-react-localAccountId.json
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-react/docs/hooks.md
  lib/msal-react/src/components/AuthenticatedTemplate.tsx
  lib/msal-react/src/components/MsalAuthenticationTemplate.tsx
  lib/msal-react/src/components/UnauthenticatedTemplate.tsx
  lib/msal-react/src/hooks/useAccount.ts
  lib/msal-react/src/hooks/useIsAuthenticated.ts
  lib/msal-react/src/types/AccountIdentifiers.ts
  lib/msal-react/test/MsalProvider.spec.tsx
  lib/msal-react/test/components/AuthenticatedTemplate.spec.tsx
  lib/msal-react/test/components/UnauthenticatedTemplate.spec.tsx
Labels: msal-browser, msal-react

#2585 Update msal-node samples and documentation to use getAccountByHomeId and getAccountByLocalId
  .github/workflows/msal-node-e2e.yml
  change/@azure-msal-browser-2020-11-10-16-23-03-update-node-samples.json
  change/@azure-msal-common-2020-11-10-16-23-03-update-node-samples.json
  change/@azure-msal-node-2020-11-10-16-23-03-update-node-samples.json
  lib/msal-browser/docs/accounts.md
  lib/msal-common/docs/Accounts.md
  lib/msal-common/src/account/AccountInfo.ts
  lib/msal-node/docs/accounts.md
  lib/msal-node/package-lock.json
  samples/msal-node-samples/EndToEndTestApp/app/routes/silent.js
  samples/msal-node-samples/EndToEndTestApp/package-lock.json
  samples/msal-node-samples/standalone-samples/b2c-silent-flow/index.js
  samples/msal-node-samples/standalone-samples/b2c-silent-flow/package-lock.json
  samples/msal-node-samples/standalone-samples/silent-flow/index.js
  samples/msal-node-samples/standalone-samples/silent-flow/package-lock.json
Labels: msal-browser, msal-common, msal-node, samples

#2587 Support id_token_hint on logout requests
  change/@azure-msal-browser-2020-11-10-16-13-10-idTokenHint.json
  change/@azure-msal-common-2020-11-10-16-13-10-idTokenHint.json
  lib/msal-browser/docs/logout.md
  lib/msal-common/package-lock.json
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/request/EndSessionRequest.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
Labels: msal-browser, msal-common

#2591 Angular v2 minor fixes
  lib/msal-angular/README.md
  lib/msal-angular/docs/v2-docs/events.md
  lib/msal-angular/src/msal.guard.spec.ts
  lib/msal-angular/src/msal.guard.ts
  lib/msal-angular/src/msal.interceptor.spec.ts
  lib/msal-angular/src/msal.interceptor.ts
  lib/msal-angular/src/msal.service.spec.ts
Labels: msal-angular

#2596 Create Angular 11 sample for msal-angular-v2
  lib/msal-angular/package.json
  samples/msal-angular-v2-samples/angular11-sample-app/.browserslistrc
  samples/msal-angular-v2-samples/angular11-sample-app/.editorconfig
  samples/msal-angular-v2-samples/angular11-sample-app/.gitignore
  samples/msal-angular-v2-samples/angular11-sample-app/README.md
  samples/msal-angular-v2-samples/angular11-sample-app/angular.json
  samples/msal-angular-v2-samples/angular11-sample-app/e2e/protractor.conf.js
  samples/msal-angular-v2-samples/angular11-sample-app/e2e/src/app.e2e-spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/e2e/src/app.po.ts
  samples/msal-angular-v2-samples/angular11-sample-app/e2e/tsconfig.json
  samples/msal-angular-v2-samples/angular11-sample-app/karma.conf.js
  samples/msal-angular-v2-samples/angular11-sample-app/package-lock.json
  samples/msal-angular-v2-samples/angular11-sample-app/package.json
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app-routing.module.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.component.css
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.component.html
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.component.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/home/home.component.css
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/home/home.component.html
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/home/home.component.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/home/home.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/profile/profile.component.css
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/profile/profile.component.html
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/profile/profile.component.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/profile/profile.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/assets/.gitkeep
  samples/msal-angular-v2-samples/angular11-sample-app/src/environments/environment.prod.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/environments/environment.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/favicon.ico
  samples/msal-angular-v2-samples/angular11-sample-app/src/index.html
  samples/msal-angular-v2-samples/angular11-sample-app/src/main.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/polyfills.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/styles.css
  samples/msal-angular-v2-samples/angular11-sample-app/src/test.ts
  samples/msal-angular-v2-samples/angular11-sample-app/tsconfig.app.json
  samples/msal-angular-v2-samples/angular11-sample-app/tsconfig.json
  samples/msal-angular-v2-samples/angular11-sample-app/tsconfig.spec.json
  samples/msal-angular-v2-samples/angular11-sample-app/tslint.json
Labels: msal-angular, samples

#2589 Add lib name & version to Logger
  change/@azure-msal-browser-2020-11-11-12-56-29-logger-name-version.json
  change/@azure-msal-common-2020-11-11-12-56-29-logger-name-version.json
  change/@azure-msal-node-2020-11-11-12-56-29-logger-name-version.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/logger/Logger.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/test/cache/Storage.spec.ts
  lib/msal-node/test/cache/TokenCache.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: msal-browser, msal-common, msal-node

#2592 Add React and Angular to Readmes
  README.md
  change/@azure-msal-browser-2020-11-17-11-57-52-Update-readmes.json
  change/@azure-msal-react-2020-11-17-11-57-52-Update-readmes.json
  docs/diagrams/png/PackageStructure.png
  docs/diagrams/visio/PackageStructure.vsdx
  lib/msal-browser/README.md
  lib/msal-react/README.md
Labels: documentation, msal-browser, msal-react

#2613 Update browser CDN for 2.7.0
  change/@azure-msal-browser-2020-11-17-14-19-59-cdn-links-2.7.0.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
Labels: msal-browser

#2590 Scope beachball to lib folder
  .beachballrc
  samples/msal-browser-samples/TypescriptTestApp2.0/package.json
  samples/msal-node-samples/EndToEndTestApp/package.json
  samples/msal-node-samples/standalone-samples/auth-code-pkce/package.json
  samples/msal-node-samples/standalone-samples/auth-code/package.json
  samples/msal-node-samples/standalone-samples/b2c-auth-code-pkce/package.json
  samples/msal-node-samples/standalone-samples/b2c-auth-code/package.json
  samples/msal-node-samples/standalone-samples/b2c-silent-flow/package.json
  samples/msal-node-samples/standalone-samples/client-credentials/package.json
  samples/msal-node-samples/standalone-samples/device-code/package.json
  samples/msal-node-samples/standalone-samples/on-behalf-of/web-api/package.json
  samples/msal-node-samples/standalone-samples/on-behalf-of/web-app/package.json
  samples/msal-node-samples/standalone-samples/refresh-token/package.json
  samples/msal-node-samples/standalone-samples/silent-flow/package.json
  samples/msal-node-samples/standalone-samples/username-password/package.json
  samples/msal-react-samples/default/package.json
  samples/msal-react-samples/onPageLoad/package.json
Labels: samples

#2629 Remove console.logs from unit tests
  change/@azure-msal-browser-2020-11-20-16-19-36-remove-console-logs-tests.json
  change/@azure-msal-common-2020-11-20-16-19-36-remove-console-logs-tests.json
  lib/msal-browser/test/config/Configuration.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
Labels: msal-browser, msal-common

#2648 Update msal-react installation instructions
  change/@azure-msal-react-2020-11-24-13-26-34-msal-react-installation-instructions.json
  lib/msal-react/README.md
  samples/msal-react-samples/default/README.md
  samples/msal-react-samples/onPageLoad/README.md
Labels: msal-react, samples

#2640 Update msal-react ssoSilent example
  change/@azure-msal-react-2020-11-24-09-32-04-react-ssosilent-example.json
  lib/msal-react/docs/hooks.md
Labels: msal-react

#2646 Fix msal-react SSR warning server/client mismatch
  change/@azure-msal-react-2020-11-24-11-41-00-react-ssr-fix.json
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/src/hooks/useIsAuthenticated.ts
Labels: msal-react

#2602 [msal-common] Enable Strict null checks
  .eslintrc.json
  change/@azure-msal-browser-2020-11-30-10-16-57-strict-null-checks.json
  change/@azure-msal-common-2020-11-30-10-16-57-strict-null-checks.json
  change/@azure-msal-node-2020-11-30-10-16-57-strict-null-checks.json
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-common/package-lock.json
  lib/msal-common/src/account/AuthToken.ts
  lib/msal-common/src/account/ClientInfo.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/cache/entities/CacheRecord.ts
  lib/msal-common/src/cache/entities/CredentialEntity.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/ClientCredentialClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/OnBehalfOfClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/client/UsernamePasswordClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/error/AuthError.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/src/error/InteractionRequiredAuthError.ts
  lib/msal-common/src/error/ServerError.ts
  lib/msal-common/src/logger/Logger.ts
  lib/msal-common/src/network/ThrottlingUtils.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/request/RequestValidator.ts
  lib/msal-common/src/response/AuthenticationResult.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/src/utils/StringUtils.ts
  lib/msal-common/test/account/AuthToken.spec.ts
  lib/msal-common/test/client/BaseClient.spec.ts
  lib/msal-common/test/client/ClientCredentialClient.spec.ts
  lib/msal-common/test/logger/Logger.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/tsconfig.json
  lib/msal-node/package-lock.json
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
Labels: msal-browser, msal-common, msal-node, samples

#2610 Improvements to redirect response handling
  change/@azure-msal-browser-2020-11-24-11-19-10-msal-react-redirect-improvements.json
  change/@azure-msal-common-2020-11-24-11-19-10-msal-react-redirect-improvements.json
  change/@azure-msal-react-2020-11-24-11-19-10-msal-react-redirect-improvements.json
  lib/msal-browser/package-lock.json
  lib/msal-react/package-lock.json
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/src/components/MsalAuthenticationTemplate.tsx
  lib/msal-react/src/hooks/useMsalAuthentication.ts
  lib/msal-react/test/components/MsalAuthenticationTemplate.spec.tsx
  samples/msal-react-samples/onPageLoad/package-lock.json
Labels: msal-browser, msal-common, msal-react, samples

#2637 Update angular10-browser-sample readme
  samples/msal-angular-v2-samples/README.md
  samples/msal-angular-v2-samples/angular10-browser-sample/README.md
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.module.ts
Labels: samples
