Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2020-09, with the labels that each got.

#2154 AT Proof-Of-Possession #3: Browser Implementation of token signing and key storage
  lib/msal-browser/src/cache/DatabaseStorage.ts
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/src/utils/BrowserStringUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserStorage.spec.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/utils/BrowserProtocolUtils.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
Labels: msal-browser

#2068 [msal-node] storage optimization
  change/@azure-msal-angular-2020-08-21-20-58-37-msal-node-storage-optimization.json
  change/@azure-msal-browser-2020-08-21-20-58-37-msal-node-storage-optimization.json
  change/@azure-msal-common-2020-08-21-20-58-37-msal-node-storage-optimization.json
  change/@azure-msal-node-2020-08-21-20-58-37-msal-node-storage-optimization.json
  change/msal-2020-08-21-20-58-37-msal-node-storage-optimization.json
  experimental/msal-electron-proof-of-concept/package-lock.json
  lerna.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/package-lock.json
  lib/msal-common/src/cache/utils/CacheTypes.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-core/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-node/src/cache/Storage.ts
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/cache/serializer/SerializerTypes.ts
  lib/msal-node/test/cache/Storage.spec.ts
  samples/msal-browser-samples/TypescriptTestApp2.0/package-lock.json
  samples/msal-node-samples/auth-code/package-lock.json
Labels: angularjs, msal-angular, msal-browser, msal-common, msal-node, msal@1.x, samples, work-in-progress

#1907 [2.0] msal 2.0 supports throttling
  change/@azure-msal-browser-2020-08-11-12-05-23-msal-throttling.json
  change/@azure-msal-common-2020-08-11-12-05-23-msal-throttling.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/test/cache/BrowserStorage.spec.ts
  lib/msal-common/src/cache/entities/ThrottlingEntity.ts
  lib/msal-common/src/cache/utils/CacheTypes.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/ClientCredentialClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/network/INetworkModule.ts
  lib/msal-common/src/network/NetworkManager.ts
  lib/msal-common/src/network/RequestThumbprint.ts
  lib/msal-common/src/network/ThrottlingUtils.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/src/utils/StringUtils.ts
  lib/msal-common/test/cache/entities/ThrottlingEntity.spec.ts
  lib/msal-common/test/network/NetworkManager.spec.ts
  lib/msal-common/test/network/ThrottlingUtils.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
  lib/msal-common/test/utils/StringUtils.spec.ts
Labels: msal-browser, msal-common

#2209 AT Proof-Of-Possession #4: Renewal of Proof-of-possession tokens
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/request/RefreshTokenRequest.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
Labels: msal-common

#2245 Throw error if more than 1 access token is matched
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/client/ClientCredentialClient.ts
  lib/msal-common/src/client/OnBehalfOfClient.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/client/ClientCredentialClient.spec.ts
  lib/msal-common/test/client/OnBehalfOfClient.spec.ts
Labels: msal-common

#1921 Telemetry #3: Implement Telemetry in msal-node
  change/@azure-msal-common-2020-09-02-13-01-47-msal-node-MSER-Telemetry.json
  change/@azure-msal-node-2020-09-02-13-01-47-msal-node-MSER-Telemetry.json
  lib/msal-common/src/error/AuthError.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/utils/Constants.ts
Labels: msal-common, msal-node

#2252 loginRedirect for Angular v2 Sample
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/home/home.component.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/constants.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.guard.config.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.guard.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.interceptor.config.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.interceptor.ts
Labels: samples

#2264 acquireTokenSilent calls ssoSilent
  change/@azure-msal-browser-2020-09-10-15-56-58-add-loginHint-to-iframed-acquireTokenSilent.json
  change/@azure-msal-common-2020-09-10-15-56-58-add-loginHint-to-iframed-acquireTokenSilent.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/request/AuthorizationUrlRequest.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
Labels: msal-browser, msal-common

#2218 Add B2C logout to FAQ
  change/@azure-msal-browser-2020-08-31-13-02-05-docs-updates.json
  change/msal-2020-08-31-13-02-05-docs-updates.json
  lib/msal-browser/FAQ.md
  lib/msal-core/docs/FAQ.md
Labels: msal-browser, msal@1.x

#2152 Customize E2E Tests
  package-lock.json
  samples/e2eTestUtils/BrowserCacheTestUtils.ts
  samples/e2eTestUtils/Constants.ts
  samples/e2eTestUtils/LabApiQueryParams.ts
  samples/e2eTestUtils/LabClient.ts
  samples/e2eTestUtils/LabConfig.ts
  samples/e2eTestUtils/MsidApp.ts
  samples/e2eTestUtils/MsidLab.ts
  samples/e2eTestUtils/MsidUser.ts
  samples/e2eTestUtils/TestUtils.ts
  samples/e2eTestUtils/testSetup.js
  samples/msal-browser-samples/BrokerTestApp2.0/.beachballrc
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/testConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/ui.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/test/multiple_resources.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/navigateToLoginPage/test/template.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/e2eTests/LabClient.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/e2eTests/TestUtils.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/package-lock.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/package.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/testRunner.ts
  samples/package-lock.json
  samples/package.json
Labels: samples

#2287 Angular v2 sample default fix, add authRequest
  samples/msal-angular-v2-samples/angular10-browser-sample/README.md
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.guard.config.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.guard.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.interceptor.config.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.interceptor.ts
Labels: samples

#2267 Add default scopes to silent requests
  change/@azure-msal-browser-2020-09-10-16-36-03-default-scopes-silent-calls.json
  change/@azure-msal-common-2020-09-10-16-36-03-default-scopes-silent-calls.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/ClientCredentialClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/OnBehalfOfClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
Labels: msal-browser, msal-common

#2288 Expose name field in AccountInfo
  change/@azure-msal-browser-2020-09-14-16-48-24-accountinfo-name.json
  change/@azure-msal-common-2020-09-14-16-48-24-accountinfo-name.json
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/account/AccountInfo.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
Labels: msal-browser, msal-common

#2227 [msal-common] Add blank realm for non AAD scenarios
  change/@azure-msal-common-2020-09-14-13-09-47-realm-nonaad-scenarios.json
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/response/ResponseHandler.ts
Labels: msal-common, msal-node

#2290 Properly support multiple concurrent auth code requests
  change/@azure-msal-browser-2020-09-15-16-27-17-browser-multiple-iframes.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/src/utils/BrowserProtocolUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserStorage.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-browser/test/mochaSetup.js
  lib/msal-browser/test/utils/BrowserProtocolUtils.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilent/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilent/authConfig.js
Labels: msal-browser, samples

#2302 Scopes stored case sensitive and matched case insensitive
  change/@azure-msal-common-2020-09-16-13-36-17-scopes-oidc-and-casing.json
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
  samples/e2eTestUtils/BrowserCacheTestUtils.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/test/multiple_resources.spec.ts
Labels: msal-common, samples

#2304 Update TokenCache removal logic
  change/@azure-msal-node-2020-09-16-17-06-31-msal-node-token-cache-update.json
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/test/cache/TokenCache.spec.ts
  lib/msal-node/test/cache/cache-test-files/cache-unrecognized-entities.json
  lib/msal-node/test/cache/cache-test-files/default-cache.json
Labels: msal-node

#2265 [msal-node-extensions] Update exceptions and logging. Updates locking behavior.
  change/@azure-msal-node-extensions-2020-09-10-15-19-52-msal-extensions-update-error.json
  extensions/msal-node-extensions/.gitignore
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/src/error/PersistenceError.ts
  extensions/msal-node-extensions/src/lock/CrossPlatformLock.ts
  extensions/msal-node-extensions/src/persistence/FilePersistenceWithDataProtection.ts
  extensions/msal-node-extensions/src/persistence/KeychainPersistence.ts
  extensions/msal-node-extensions/src/persistence/LibSecretPersistence.ts
  extensions/msal-node-extensions/src/utils/Constants.ts
  extensions/msal-node-extensions/test/performance-test/CachePerformanceTest.spec.ts
  extensions/msal-node-extensions/test/performance-test/LockAndWriteToStorageScript.js
Labels: extensions, msal-common

#2306 Angular v2 sample events
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/constants.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/index.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.broadcast.service.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.guard.config.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.guard.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.interceptor.config.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.interceptor.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.service.ts
Labels: samples

#2201 FOCI feature and AppMetadata support in cache
  change/@azure-msal-common-2020-09-21-10-44-34-appmetadata-foci.json
  change/@azure-msal-node-2020-09-21-10-44-34-appmetadata-foci.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/cache/entities/AppMetadataEntity.ts
  lib/msal-common/src/cache/entities/CacheRecord.ts
  lib/msal-common/src/cache/utils/CacheTypes.ts
  lib/msal-common/src/client/ClientCredentialClient.ts
  lib/msal-common/src/client/OnBehalfOfClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/cacheStore.json
  lib/msal-common/test/cache/entities/AppMetadataEntity.spec.ts
  lib/msal-common/test/cache/entities/cacheConstants.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
  lib/msal-node/test/cache/cacheConstants.ts
Labels: msal-common, msal-node, work-in-progress

#2332 Rename TokenCache.cacheHasChanged to TokenCache.hasChanged
  change/@azure-msal-node-2020-09-22-13-40-22-msal-node-token-cache.json
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/test/cache/TokenCache.spec.ts
Labels: msal-node

#2335 Network Interface is exported for custom http calls in AzureSDK
  change/@azure-msal-common-2020-09-23-11-49-08-public-network-interface.json
  change/@azure-msal-node-2020-09-23-11-49-08-public-network-interface.json
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/interface/ICacheManager.ts
  lib/msal-node/src/index.ts
Labels: msal-common, msal-node

#2073 Add SSR support to msal-browser
  change/@azure-msal-browser-2020-09-22-15-39-25-msal-browser-ssr-support.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserStorage.spec.ts
  lib/msal-browser/test/error/BrowserAuthError.spec.ts
Labels: msal-browser, msal-react

#2326 [msal-extensions] Change sample location. Add documentation and diagrams.
  extensions/docs/diagrams/png/msal-node-extensions-persistence-cache-plugin.png
  extensions/docs/diagrams/png/msal-node-extensions-persistence.png
  extensions/docs/diagrams/visio/msal-node-extensions-persistence-cache-plugin.vsdx
  extensions/docs/diagrams/visio/msal-node-extensions-persistence.vsdm
  extensions/docs/msal-node-extensions.md
  extensions/samples/msal-node-extensions/.beachballrc
  extensions/samples/msal-node-extensions/CHANGELOG.json
  extensions/samples/msal-node-extensions/index.js
  extensions/samples/msal-node-extensions/package-lock.json
  extensions/samples/msal-node-extensions/package.json
  samples/msal-node-extensions/index.js
Labels: extensions, samples

#2222 Broker #4: Brokered Silent Requests
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/broker/BrokerAuthRequest.ts
  lib/msal-browser/src/broker/BrokerAuthResponse.ts
  lib/msal-browser/src/broker/BrokerAuthResult.ts
  lib/msal-browser/src/broker/BrokerClientApplication.ts
  lib/msal-browser/src/broker/BrokerHandshakeResponse.ts
  lib/msal-browser/src/broker/BrokerMessage.ts
  lib/msal-browser/src/broker/EmbeddedClientApplication.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/broker/BrokerAuthorizationCodeClient.ts
  lib/msal-common/src/client/broker/BrokerRefreshTokenClient.ts
  lib/msal-common/src/index.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
Labels: feature-broker, msal-browser, msal-common

#2072 Merge previous PR changes and add token story
  experimental/msal-react/.prettierignore
  experimental/msal-react/.storybook/main.js
  experimental/msal-react/package-lock.json
  experimental/msal-react/package.json
  experimental/msal-react/src/MsalAuthentication.tsx
  experimental/msal-react/src/MsalContext.tsx
  experimental/msal-react/src/MsalProvider.tsx
  experimental/msal-react/src/README.md
  experimental/msal-react/src/Templates.tsx
  experimental/msal-react/src/index.ts
  experimental/msal-react/src/index.tsx
  experimental/msal-react/src/useHandleRedirect.ts
  experimental/msal-react/src/useIsAuthenticated.ts
  experimental/msal-react/src/utilities.ts
  experimental/msal-react/src/withMsal.tsx
  experimental/msal-react/stories/hoc.stories.tsx
  experimental/msal-react/stories/hooks.stories.tsx
  experimental/msal-react/stories/login.stories.tsx
  experimental/msal-react/stories/msalInstance.ts
  experimental/msal-react/stories/protected.stories.tsx
  experimental/msal-react/stories/templates.stories.tsx
  experimental/msal-react/stories/tokens.stories.tsx
Labels: msal-react, work-in-progress

#2206 [msal-core] Fix cached ID Token retrieval for acquireTokenSilent
  change/msal-2020-09-10-13-11-57-idtoken-cache-lookup.json
  lib/msal-core/src/ScopeSet.ts
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/authority/AuthorityFactory.ts
  lib/msal-core/src/cache/AuthCache.ts
  lib/msal-core/src/utils/ResponseUtils.ts
  lib/msal-core/src/utils/TokenUtils.ts
  lib/msal-core/test/TestConstants.ts
  lib/msal-core/test/UserAgentApplication.spec.ts
  lib/msal-core/test/authority/Authority.spec.ts
  lib/msal-core/test/authority/AuthorityFactory.spec.ts
  lib/msal-core/test/authority/TrustedAuthority.spec.ts
  lib/msal-core/test/utils/RequestUtils.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/default/authConfig.js
Labels: msal@1.x, samples

#2349 1.4.1 Release branch
  change/msal-2020-09-10-13-11-57-idtoken-cache-lookup.json
  lib/msal-core/src/ScopeSet.ts
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/authority/AuthorityFactory.ts
  lib/msal-core/src/cache/AuthCache.ts
  lib/msal-core/src/utils/ResponseUtils.ts
  lib/msal-core/src/utils/TokenUtils.ts
  lib/msal-core/test/TestConstants.ts
  lib/msal-core/test/UserAgentApplication.spec.ts
  lib/msal-core/test/authority/Authority.spec.ts
  lib/msal-core/test/authority/AuthorityFactory.spec.ts
  lib/msal-core/test/authority/TrustedAuthority.spec.ts
  lib/msal-core/test/utils/RequestUtils.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/default/authConfig.js
Labels: msal@1.x, samples

#2336 Update changelog versions for msal-node and extensions
  change/@azure-msal-common-2020-09-16-13-36-17-scopes-oidc-and-casing.json
  change/@azure-msal-common-2020-09-21-10-44-34-appmetadata-foci.json
  change/@azure-msal-common-2020-09-23-11-49-08-public-network-interface.json
  change/@azure-msal-common-2020-09-24-14-45-33-msal-node-alpha-7-release.json
  change/@azure-msal-node-2020-09-16-17-06-31-msal-node-token-cache-update.json
  change/@azure-msal-node-2020-09-21-10-44-34-appmetadata-foci.json
  change/@azure-msal-node-2020-09-22-13-40-22-msal-node-token-cache.json
  change/@azure-msal-node-2020-09-23-11-49-08-public-network-interface.json
  change/@azure-msal-node-2020-09-24-14-45-33-msal-node-alpha-7-release.json
  change/@azure-msal-node-extensions-2020-09-10-15-19-52-msal-extensions-update-error.json
  change/@azure-msal-node-extensions-2020-09-24-14-45-33-msal-node-alpha-7-release.json
  change/msal-node-client-credentials-2020-09-24-14-45-33-msal-node-alpha-7-release.json
  change/msal-node-on-behal-of-web-api-2020-09-24-14-45-33-msal-node-alpha-7-release.json
  change/msal-node-on-behal-of-web-app-2020-09-24-14-45-33-msal-node-alpha-7-release.json
  experimental/msal-react-native-android-poc/CHANGELOG.json
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/changelog.md
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/samples/msal-node-extensions/CHANGELOG.json
  extensions/samples/msal-node-extensions/package.json
  lib/msal-common/CHANGELOG.json
  lib/msal-common/changelog.md
  lib/msal-common/package.json
  lib/msal-node/CHANGELOG.json
  lib/msal-node/changelog.md
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  samples/msal-node-samples/auth-code/CHANGELOG.json
  samples/msal-node-samples/auth-code/package.json
  samples/msal-node-samples/client-credentials/package.json
  samples/msal-node-samples/device-code/CHANGELOG.json
  samples/msal-node-samples/device-code/package.json
  samples/msal-node-samples/on-behal-of/web-api/package.json
  samples/msal-node-samples/on-behal-of/web-app/package.json
  samples/msal-node-samples/refresh-token/CHANGELOG.json
  samples/msal-node-samples/refresh-token/package.json
  samples/msal-node-samples/silent-flow/CHANGELOG.json
  samples/msal-node-samples/silent-flow/package.json
Labels: extensions, msal-common, msal-node, samples

#2342 Msal node alpha 8 release
  change/@azure-msal-browser-2020-09-28-16-03-44-msal-node-alpha-8-release.json
  change/@azure-msal-common-2020-09-28-16-03-44-msal-node-alpha-8-release.json
  change/@azure-msal-node-2020-09-28-16-03-44-msal-node-alpha-8-release.json
  change/@azure-msal-node-extensions-2020-09-28-16-03-44-msal-node-alpha-8-release.json
  change/msal-node-client-credentials-2020-09-28-16-03-44-msal-node-alpha-8-release.json
  change/msal-node-on-behal-of-web-api-2020-09-28-16-03-44-msal-node-alpha-8-release.json
  change/msal-node-on-behal-of-web-app-2020-09-28-16-03-44-msal-node-alpha-8-release.json
  extensions/samples/msal-node-extensions/package.json
  lib/msal-browser/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  package-lock.json
  package.json
  samples/msal-node-samples/auth-code/package.json
  samples/msal-node-samples/client-credentials/package.json
  samples/msal-node-samples/device-code/package.json
  samples/msal-node-samples/on-behal-of/web-api/package.json
  samples/msal-node-samples/on-behal-of/web-app/package.json
  samples/msal-node-samples/refresh-token/package.json
  samples/msal-node-samples/silent-flow/package.json
Labels: extensions, msal-browser, msal-common, msal-node, samples

#2300 Broker #5: Move initialization out of the constructor
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/broker/BrokerClientApplication.ts
  lib/msal-browser/src/broker/EmbeddedClientApplication.ts
  samples/msal-browser-samples/BrokerTestApp2.0/app/brokerApp/auth.js
  samples/msal-browser-samples/BrokerTestApp2.0/app/brokerApp/authConfig.js
  samples/msal-browser-samples/BrokerTestApp2.0/app/brokerApp/index.html
  samples/msal-browser-samples/BrokerTestApp2.0/app/brokerApp/ui.js
  samples/msal-browser-samples/BrokerTestApp2.0/app/brokeredApp/auth.js
  samples/msal-browser-samples/BrokerTestApp2.0/app/brokeredApp/index.html
  samples/msal-browser-samples/BrokerTestApp2.0/app/brokeredApp/ui.js
Labels: msal-browser, msal-common, samples
