Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2020-06, with the labels that each got.

#1714 Extend acquireTokenPopup and acquireTokenInteractive instrumentation
  lib/msal-core/src/UserAgentApplication.ts
Labels: msal@1.x

#1617 [msal-common] ADFS 2019 support
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/test/client/PublicClientApplication.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/docs/ADFS.md
  lib/msal-common/src/authority/AdfsAuthority.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SPAClient.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/authority/AuthorityFactory.spec.ts
  lib/msal-common/test/client/DeviceCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
  samples/msal-node-auth-code/index.js
Labels: msal-browser, msal-common, samples

#1686 Remove url from timeout error message, move to errorPii logger
  lib/msal-core/src/Logger.ts
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/error/ClientAuthError.ts
  lib/msal-core/src/utils/WindowUtils.ts
  lib/msal-core/test/error/ClientAuthError.spec.ts
  lib/msal-core/test/utils/WindowUtils.spec.ts
  samples/react-sample-app/src/AuthProvider.js
  samples/react-sample-app/src/auth-utils.js
Labels: msal@1.x, samples

#1691 Add onRedirectNavigate callback to stop navigatation and get redirect url
  lib/msal-core/src/AuthenticationParameters.ts
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/test/UserAgentApplication.spec.ts
Labels: msal@1.x

#1655 [msal-node] Cache Lookup - 2: Save, lookup and delete entities
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-common/src/cache/ICacheStorage.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/response/AuthenticationResult.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/unifiedCache/UnifiedCacheManager.ts
  lib/msal-common/src/unifiedCache/entities/AccessTokenEntity.ts
  lib/msal-common/src/unifiedCache/entities/AccountEntity.ts
  lib/msal-common/src/unifiedCache/entities/CacheRecord.ts
  lib/msal-common/src/unifiedCache/entities/Credential.ts
  lib/msal-common/src/unifiedCache/entities/IdTokenEntity.ts
  lib/msal-common/src/unifiedCache/entities/RefreshTokenEntity.ts
  lib/msal-common/src/unifiedCache/interface/ICacheManager.ts
  lib/msal-common/src/unifiedCache/serialize/EntitySerializer.ts
  lib/msal-common/src/unifiedCache/serialize/Serializer.ts
  lib/msal-common/src/unifiedCache/utils/CacheHelper.ts
  lib/msal-common/src/unifiedCache/utils/CacheTypes.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/unifiedCache/UnifiedCacheManager.spec.ts
  lib/msal-node/src/cache/Storage.ts
Labels: msal-browser, msal-common, node

#1624 [msal-node] Cache Lookup - 1: Logical keys for cache entities
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-common/src/cache/ICacheStorage.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/response/AuthenticationResult.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/unifiedCache/UnifiedCacheManager.ts
  lib/msal-common/src/unifiedCache/entities/AccessTokenEntity.ts
  lib/msal-common/src/unifiedCache/entities/AccountEntity.ts
  lib/msal-common/src/unifiedCache/entities/CacheRecord.ts
  lib/msal-common/src/unifiedCache/entities/Credential.ts
  lib/msal-common/src/unifiedCache/entities/IdTokenEntity.ts
  lib/msal-common/src/unifiedCache/entities/RefreshTokenEntity.ts
  lib/msal-common/src/unifiedCache/interface/ICacheManager.ts
  lib/msal-common/src/unifiedCache/serialize/EntitySerializer.ts
  lib/msal-common/src/unifiedCache/serialize/Serializer.ts
  lib/msal-common/src/unifiedCache/utils/CacheHelper.ts
  lib/msal-common/src/unifiedCache/utils/CacheTypes.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/unifiedCache/UnifiedCacheManager.spec.ts
  lib/msal-common/test/unifiedCache/entities/AccessTokenEntity.spec.ts
  lib/msal-common/test/unifiedCache/entities/AccountEntity.spec.ts
  lib/msal-common/test/unifiedCache/entities/IdTokenEntity.spec.ts
  lib/msal-common/test/unifiedCache/entities/RefreshTokenEntity.spec.ts
  lib/msal-common/test/unifiedCache/entities/cacheConstants.ts
  lib/msal-node/src/cache/Storage.ts
Labels: msal-browser, msal-common, node

#1746 Ensure decoding query parameters doesnt remove plus signs twice
  lib/msal-core/src/utils/CryptoUtils.ts
  lib/msal-core/test/utils/CryptoUtils.spec.ts
Labels: msal@1.x

#1758 Fix processing and redirection of acquireTokenRedirect
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/test/UserAgentApplication.spec.ts
  samples/VanillaJSTestApp/app/get_access_token_interactively/auth.js
  samples/VanillaJSTestApp/app/get_access_token_interactively/authConfig.js
  samples/VanillaJSTestApp/app/get_access_token_interactively/graph.js
  samples/VanillaJSTestApp/app/get_access_token_interactively/index.html
  samples/VanillaJSTestApp/app/get_access_token_interactively/test/browser.spec.ts
  samples/VanillaJSTestApp/app/get_access_token_interactively/ui.js
  samples/VanillaJSTestApp/e2eTests/testRunner.ts
Labels: msal@1.x, ready-for-review, samples

#1600 Add scope trimming for msal-core
  lib/msal-core/src/ScopeSet.ts
  lib/msal-core/src/ServerRequestParameters.ts
  lib/msal-core/test/ScopeSet.spec.ts
  lib/msal-core/test/UserAgentApplication.spec.ts
Labels: msal@1.x

#1752 Extend acquireTokenHelper instrumentation
  lib/msal-core/src/UserAgentApplication.ts
Labels: msal@1.x

#1767 Extend login and logout instrumentation
  build/sdl-tasks.yml
  lib/msal-core/src/UserAgentApplication.ts
Labels: msal@1.x

#1582 Use instance discovery for trusted hosts and combine authority classes
  lib/msal-angularjs/package-lock.json
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/XHRClient.ts
  lib/msal-core/src/authority/AadAuthority.ts
  lib/msal-core/src/authority/Authority.ts
  lib/msal-core/src/authority/AuthorityFactory.ts
  lib/msal-core/src/authority/B2cAuthority.ts
  lib/msal-core/src/authority/TrustedAuthority.ts
  lib/msal-core/src/error/ClientConfigurationError.ts
  lib/msal-core/src/telemetry/TelemetryUtils.ts
  lib/msal-core/src/utils/Constants.ts
  lib/msal-core/test/Storage.localStorage.spec.ts
  lib/msal-core/test/TestConstants.ts
  lib/msal-core/test/UserAgentApplication.spec.ts
  lib/msal-core/test/authority/AadAuthority.spec.ts
  lib/msal-core/test/authority/Authority.spec.ts
  lib/msal-core/test/authority/AuthorityFactory.spec.ts
  lib/msal-core/test/authority/B2cAuthority.spec.ts
  lib/msal-core/test/authority/TrustedAuthority.spec.ts
  lib/msal-core/test/telemetry/ApiEvent.spec.ts
  lib/msal-core/test/telemetry/HttpEvent.spec.ts
  lib/msal-core/test/telemetry/TelemetryUtils.spec.ts
  lib/msal-core/test/utils/UrlUtils.spec.ts
  lib/msal-node/package-lock.json
  samples/angular6-sample-app/package-lock.json
  samples/angular7-sample-app/package-lock.json
  samples/angular8-sample-app/package-lock.json
  samples/angular9-sample-app/package-lock.json
  samples/react-sample-app/package-lock.json
Labels: angularjs, msal@1.x, node, ready-for-review, samples

#1751 Update CacheManager. Update auth code sample.
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/unifiedCache/utils/CacheTypes.ts
  lib/msal-common/test/utils/StringConstants.ts
  lib/msal-node/package-lock.json
  lib/msal-node/src/cache/CacheManager.ts
  lib/msal-node/src/cache/ICachePlugin.ts
  lib/msal-node/src/config/Configuration.ts
  samples/msal-node-auth-code/index.js
Labels: msal-common, node, samples

#1770 [msal-common family][#3] Utilize ScopeSet across the library
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/cache/UnifiedCacheManager.ts
  lib/msal-common/src/cache/interface/ICacheStorage.ts
  lib/msal-common/src/cache/utils/CacheHelper.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SPAClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/AuthorizationCodeRequest.ts
  lib/msal-common/src/request/AuthorizationUrlRequest.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/request/DeviceCodeRequest.ts
  lib/msal-common/src/request/RefreshTokenRequest.ts
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-common/src/request/SilentFlowRequest.ts
  lib/msal-common/src/response/AuthenticationResult.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/cache/UnifiedCacheManager.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/DeviceCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SPAClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/request/ScopeSet.spec.ts
  lib/msal-common/test/server/RequestParameterBuilder.spec.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  samples/VanillaJSTestApp2.0/app/default/auth.js
Labels: msal-browser, msal-common, node, samples

#1771 [msal-common][msal-node][#4] Update UnifiedCacheManager.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccessTokenEntity.ts
  lib/msal-common/src/cache/entities/CacheRecord.ts
  lib/msal-common/src/cache/entities/CredentialEntity.ts
  lib/msal-common/src/cache/entities/IdTokenEntity.ts
  lib/msal-common/src/cache/entities/RefreshTokenEntity.ts
  lib/msal-common/src/cache/interface/ICacheManager.ts
  lib/msal-common/src/cache/interface/ICacheStorage.ts
  lib/msal-common/src/cache/serialize/Deserializer.ts
  lib/msal-common/src/cache/utils/CacheHelper.ts
  lib/msal-common/src/cache/utils/CacheTypes.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SPAClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/cache/UnifiedCacheManager.spec.ts
  lib/msal-common/test/cache/cache.json
  lib/msal-common/test/cache/interface/CacheManager.spec.ts
  lib/msal-common/test/cache/mockStorage.ts
  lib/msal-common/test/cache/serialize/JsonKeys.spec.ts
  lib/msal-common/test/cache/serialize/Serializer.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/SPAClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/tsconfig.json
  lib/msal-node/src/cache/CacheContext.ts
  lib/msal-node/src/cache/Storage.ts
  lib/msal-node/src/cache/serializer/Deserializer.ts
  lib/msal-node/src/cache/serializer/EntitySerializer.ts
  lib/msal-node/src/cache/serializer/JsonKeys.ts
  lib/msal-node/src/cache/serializer/Serializer.ts
  lib/msal-node/src/cache/serializer/SerializerTypes.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/test/cache/cacheConstants.ts
  lib/msal-node/test/cache/serializer/Account.json
  lib/msal-node/test/cache/serializer/Deserializer.spec.ts
  lib/msal-node/test/cache/serializer/JsonKeys.spec.ts
  lib/msal-node/test/cache/serializer/Serializer.spec.ts
  lib/msal-node/test/cache/serializer/cache.json
Labels: msal-browser, msal-common, node

#1801 Node cache interface
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-node/src/cache/CacheContext.ts
  lib/msal-node/src/cache/ICachePlugin.ts
  lib/msal-node/src/cache/Storage.ts
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/index.ts
  lib/msal-node/test/config/ClientConfiguration.spec.ts
  samples/msal-node-auth-code/index.js
Labels: msal-common, node, samples

#1805 Changing datatype for JsonCache type
  lib/msal-common/src/cache/utils/CacheHelper.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/cache/interface/CacheManager.spec.ts
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/cache/serializer/Deserializer.ts
  lib/msal-node/src/cache/serializer/EntitySerializer.ts
  lib/msal-node/src/cache/serializer/JsonKeys.ts
  lib/msal-node/src/cache/serializer/Serializer.ts
  lib/msal-node/src/cache/serializer/SerializerTypes.ts
  lib/msal-node/test/cache/serializer/Deserializer.spec.ts
  lib/msal-node/test/cache/serializer/JsonKeys.spec.ts
  lib/msal-node/test/cache/serializer/Serializer.spec.ts
  lib/msal-node/test/cache/serializer/cache.json
Labels: msal-common, node

#1790 [msal-browser][msal-common] Make library state an object and add timestamp (Updated)
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/src/encode/Base64Encode.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserStorage.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/SPAClient.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/utils/ProtocolUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SPAClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/utils/ProtocolUtils.spec.ts
Labels: msal-browser, msal-common

#1777 Extend response and token processing instrumentation
  lib/msal-core/src/UserAgentApplication.ts
Labels: msal@1.x

#1793 msal-browser uses AuthCodeClient and SilentFlowClient
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/src/error/BrowserConfigurationAuthError.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/PopupHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/account/IdToken.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SPAClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/RefreshTokenRequest.ts
  lib/msal-common/src/request/SilentFlowRequest.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/cache/interface/CacheManager.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/BaseClient.spec.ts
  lib/msal-common/test/client/DeviceCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SPAClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/server/RequestParameterBuilder.spec.ts
  lib/msal-node/src/client/ClientApplication.ts
  samples/VanillaJSTestApp2.0/app/default/auth.js
Labels: msal-browser, msal-common, node, samples

#1802 Adding a logout request object
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/EndSessionRequest.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
Labels: msal-browser, msal-common

#1818 msal-common beta.3 release
  lib/msal-browser/README.md
  lib/msal-browser/changelog.md
  lib/msal-browser/docs/acquire-token.md
  lib/msal-browser/docs/initialization.md
  lib/msal-browser/docs/login-user.md
  lib/msal-browser/docs/logout.md
  lib/msal-browser/docs/request-response-object.md
  lib/msal-browser/docs/token-lifetimes.md
  lib/msal-browser/package.json
  lib/msal-common/README.md
  lib/msal-common/changelog.md
  lib/msal-common/docs/ADFS.md
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  lib/msal-node/package.json
  samples/VanillaJSTestApp2.0/app/multipleResources/auth.js
  samples/VanillaJSTestApp2.0/app/multipleResources/authConfig.js
  samples/VanillaJSTestApp2.0/app/multipleResources/graph.js
  samples/VanillaJSTestApp2.0/app/multipleResources/index.html
  samples/VanillaJSTestApp2.0/app/multipleResources/test/multiple_resources.spec.ts
  samples/VanillaJSTestApp2.0/app/multipleResources/ui.js
Labels: msal-browser, msal-common, node, samples

#1819 msal-browser beta.3 release
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/src/index.ts
  lib/msal-browser/test/utils/StringConstants.ts
  samples/VanillaJSTestApp2.0/app/default/auth.js
Labels: msal-browser, samples

#1813 Update merge logic and fix file formatting
  lib/msal-node/src/cache/TokenCache.ts
Labels: node

#1826 Fix import in Configuration.ts
  lib/msal-node/src/config/Configuration.ts
Labels: node

#1821 Update Migration Docs
  lib/msal-browser/docs/request-response-object.md
  lib/msal-browser/docs/v1-migration.md
Labels: msal-browser

#1811 Instance Discovery 2.x
  lib/msal-browser/README.md
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/docs/performance.md
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/authority/AadAuthority.ts
  lib/msal-common/src/authority/AdfsAuthority.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/authority/AuthorityType.ts
  lib/msal-common/src/authority/B2cAuthority.ts
  lib/msal-common/src/authority/CloudDiscoveryMetadata.ts
  lib/msal-common/src/authority/CloudInstanceDiscoveryResponse.ts
  lib/msal-common/src/authority/OpenIdConfigResponse.ts
  lib/msal-common/src/authority/TenantDiscoveryResponse.ts
  lib/msal-common/src/authority/TrustedAuthority.ts
  lib/msal-common/src/authority/TrustedHostListType.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/authority/AadAuthority.spec.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/authority/AuthorityFactory.spec.ts
  lib/msal-common/test/authority/B2cAuthority.spec.ts
  lib/msal-common/test/authority/TrustedAuthority.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/BaseClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/DeviceCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: msal-browser, msal-common, node

#1827 [msal-node][msal-common][msal-browser] Console logs to instrumentation
  lib/msal-browser/docs/acquire-token.md
  lib/msal-browser/docs/token-lifetimes.md
  lib/msal-browser/docs/v1-migration.md
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/test/cache/BrowserStorage.spec.ts
  lib/msal-browser/test/error/BrowserAuthError.spec.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/cache/entities/CredentialEntity.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/request/RequestValidator.ts
  lib/msal-common/test/cache/entities/AccessTokenEntity.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/cache/entities/IdTokenEntity.spec.ts
  lib/msal-common/test/cache/entities/RefreshTokenEntity.spec.ts
  lib/msal-common/test/cache/entities/cacheConstants.ts
  lib/msal-common/test/cache/interface/CacheManager.spec.ts
  lib/msal-common/test/error/ClientAuthError.spec.ts
  lib/msal-node/src/cache/Storage.ts
Labels: msal-browser, msal-common, node

#1841 [msal-browser] Beta.3 Samples Update
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  samples/VanillaJSTestApp2.0/app/default/auth.js
  samples/VanillaJSTestApp2.0/app/default/authConfig.js
  samples/VanillaJSTestApp2.0/app/default/graph.js
  samples/VanillaJSTestApp2.0/app/default/ui.js
  samples/VanillaJSTestApp2.0/app/multipleResources/auth.js
  samples/VanillaJSTestApp2.0/app/multipleResources/authConfig.js
  samples/VanillaJSTestApp2.0/app/multipleResources/graph.js
  samples/VanillaJSTestApp2.0/app/multipleResources/ui.js
  samples/VanillaJSTestApp2.0/app/onPageLoad/auth.js
  samples/VanillaJSTestApp2.0/app/onPageLoad/authConfig.js
  samples/VanillaJSTestApp2.0/app/onPageLoad/graph.js
  samples/VanillaJSTestApp2.0/app/onPageLoad/ui.js
  samples/VanillaJSTestApp2.0/app/ssoSilent/auth.js
  samples/VanillaJSTestApp2.0/app/ssoSilent/authConfig.js
  samples/VanillaJSTestApp2.0/app/ssoSilent/graph.js
  samples/VanillaJSTestApp2.0/app/ssoSilent/ui.js
  samples/VanillaJSTestApp2.0/e2eTests/testRunner.ts
Labels: msal-browser, samples

#1836 Add custom authority lookup
  lib/msal-core/src/authority/Authority.ts
  lib/msal-core/src/authority/TrustedAuthority.ts
  lib/msal-core/src/utils/Constants.ts
  lib/msal-core/test/authority/TrustedAuthority.spec.ts
Labels: msal@1.x

#1852 [msal-browser] Fix encoding issues
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserStorage.spec.ts
  lib/msal-common/src/authority/TrustedAuthority.ts
  lib/msal-common/src/utils/StringUtils.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/utils/StringConstants.ts
Labels: msal-browser, msal-common

#1854 [msal-common] Fix issue where extraScopesToConsent was not appending scopes correctly
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-common/test/request/ScopeSet.spec.ts
Labels: msal-common

#1856 Cache cleanup v2
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-common/src/url/UrlString.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilent/authConfig.js
Labels: msal-browser, msal-common, samples

#1860 [msal-common] Fix expiration calculation for AuthenticationResult object
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/interface/ICacheManager.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
Labels: msal-browser, msal-common

#1849 [msal-extensions] Extensions #6
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/lock/CrossPlatformLock.ts
  extensions/msal-node-extensions/src/persistence/KeychainPersistence.ts
  extensions/msal-node-extensions/src/persistence/LibSecretPersistence.ts
  extensions/msal-node-extensions/src/persistence/PersistenceCachePlugin.ts
  extensions/msal-node-extensions/test/dpapi-addon/Dpapi.spec.ts
  extensions/msal-node-extensions/test/lock/CrossPlatformLock.spec.ts
  extensions/msal-node-extensions/test/performance-test/CachePerformanceTest.spec.ts
  extensions/msal-node-extensions/test/performance-test/LockAndWriteToStorageScript.js
  extensions/msal-node-extensions/test/persistence/FilePersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/FilePersistenceWithDataProtection.spec.ts
  extensions/msal-node-extensions/test/persistence/KeychainPersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/LibSecretPersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/PersistenceCachePlugin.spec.ts
  extensions/msal-node-extensions/test/util/FileSystemUtils.ts
  samples/msal-node-extensions/package-lock.json
  samples/msal-node-extensions/package.json
Labels: samples

#1835 [msal-extensions] Extensions #5
  extensions/msal-node-extensions/.gitignore
  extensions/msal-node-extensions/README.md
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/error/PersistenceError.ts
  extensions/msal-node-extensions/src/lock/CrossPlatformLock.ts
  extensions/msal-node-extensions/src/persistence/FilePersistence.ts
  extensions/msal-node-extensions/src/persistence/FilePersistenceWithDataProtection.ts
  extensions/msal-node-extensions/src/persistence/IPersistence.ts
  extensions/msal-node-extensions/src/persistence/KeychainPersistence.ts
  extensions/msal-node-extensions/src/persistence/LibSecretPersistence.ts
  extensions/msal-node-extensions/src/persistence/PersistenceCachePlugin.ts
  extensions/msal-node-extensions/test/dpapi-addon/Dpapi.spec.ts
  extensions/msal-node-extensions/test/lock/CrossPlatformLock.spec.ts
  extensions/msal-node-extensions/test/performance-test/CachePerformanceTest.spec.ts
  extensions/msal-node-extensions/test/performance-test/LockAndWriteToStorageScript.js
  extensions/msal-node-extensions/test/persistence/FilePersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/FilePersistenceWithDataProtection.spec.ts
  extensions/msal-node-extensions/test/persistence/KeychainPersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/LibSecretPersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/PersistenceCachePlugin.spec.ts
  extensions/msal-node-extensions/test/util/FileSystemUtils.ts
  samples/msal-node-extensions/package-lock.json
  samples/msal-node-extensions/package.json
Labels: samples

#1833 [msal-extensions] Extensions #4
  extensions/msal-node-extensions/.gitignore
  extensions/msal-node-extensions/README.md
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/error/PersistenceError.ts
  extensions/msal-node-extensions/src/lock/CrossPlatformLock.ts
  extensions/msal-node-extensions/src/persistence/FilePersistence.ts
  extensions/msal-node-extensions/src/persistence/FilePersistenceWithDataProtection.ts
  extensions/msal-node-extensions/src/persistence/IPersistence.ts
  extensions/msal-node-extensions/src/persistence/KeychainPersistence.ts
  extensions/msal-node-extensions/src/persistence/LibSecretPersistence.ts
  extensions/msal-node-extensions/src/persistence/PersistenceCachePlugin.ts
  extensions/msal-node-extensions/test/dpapi-addon/Dpapi.spec.ts
  extensions/msal-node-extensions/test/lock/CrossPlatformLock.spec.ts
  extensions/msal-node-extensions/test/performance-test/CachePerformanceTest.spec.ts
  extensions/msal-node-extensions/test/performance-test/LockAndWriteToStorageScript.js
  extensions/msal-node-extensions/test/persistence/FilePersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/FilePersistenceWithDataProtection.spec.ts
  extensions/msal-node-extensions/test/persistence/KeychainPersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/LibSecretPersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/PersistenceCachePlugin.spec.ts
  extensions/msal-node-extensions/test/util/FileSystemUtils.ts
  samples/msal-node-extensions/index.js
  samples/msal-node-extensions/package-lock.json
  samples/msal-node-extensions/package.json
Labels: samples

#1832 [msal-extensions] Extensions #3
  extensions/msal-node-extensions/.gitignore
  extensions/msal-node-extensions/README.md
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/error/PersistenceError.ts
  extensions/msal-node-extensions/src/lock/CrossPlatformLock.ts
  extensions/msal-node-extensions/src/persistence/DataProtectionScope.ts
  extensions/msal-node-extensions/src/persistence/FilePersistence.ts
  extensions/msal-node-extensions/src/persistence/FilePersistenceWithDataProtection.ts
  extensions/msal-node-extensions/src/persistence/IPersistence.ts
  extensions/msal-node-extensions/src/persistence/KeychainPersistence.ts
  extensions/msal-node-extensions/src/persistence/LibSecretPersistence.ts
  extensions/msal-node-extensions/src/persistence/PersistenceCachePlugin.ts
  extensions/msal-node-extensions/test/dpapi-addon/Dpapi.spec.ts
  extensions/msal-node-extensions/test/lock/CrossPlatformLock.spec.ts
  extensions/msal-node-extensions/test/performance-test/CachePerformanceTest.spec.ts
  extensions/msal-node-extensions/test/performance-test/LockAndWriteToStorageScript.js
  extensions/msal-node-extensions/test/persistence/FilePersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/FilePersistenceWithDataProtection.spec.ts
  extensions/msal-node-extensions/test/persistence/KeychainPersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/LibSecretPersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/PersistenceCachePlugin.spec.ts
  extensions/msal-node-extensions/test/util/FileSystemUtils.ts
  samples/msal-node-extensions/index.js
  samples/msal-node-extensions/package-lock.json
  samples/msal-node-extensions/package.json
Labels: samples

#1831 [msal-extensions] Extensions #2
  extensions/msal-node-extensions/.gitignore
  extensions/msal-node-extensions/README.md
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/error/PersistenceError.ts
  extensions/msal-node-extensions/src/index.ts
  extensions/msal-node-extensions/src/lock/CrossPlatformLock.ts
  extensions/msal-node-extensions/src/lock/CrossPlatformLockOptions.ts
  extensions/msal-node-extensions/src/persistence/DataProtectionScope.ts
  extensions/msal-node-extensions/src/persistence/FilePersistence.ts
  extensions/msal-node-extensions/src/persistence/FilePersistenceWithDataProtection.ts
  extensions/msal-node-extensions/src/persistence/IPersistence.ts
  extensions/msal-node-extensions/src/persistence/KeychainPersistence.ts
  extensions/msal-node-extensions/src/persistence/LibSecretPersistence.ts
  extensions/msal-node-extensions/src/persistence/PersistenceCachePlugin.ts
  extensions/msal-node-extensions/src/utils/Constants.ts
  extensions/msal-node-extensions/test/dpapi-addon/Dpapi.spec.ts
  extensions/msal-node-extensions/test/lock/CrossPlatformLock.spec.ts
  extensions/msal-node-extensions/test/performance-test/CachePerformanceTest.spec.ts
  extensions/msal-node-extensions/test/performance-test/LockAndWriteToStorageScript.js
  extensions/msal-node-extensions/test/persistence/FilePersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/FilePersistenceWithDataProtection.spec.ts
  extensions/msal-node-extensions/test/persistence/KeychainPersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/LibSecretPersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/PersistenceCachePlugin.spec.ts
  extensions/msal-node-extensions/test/util/FileSystemUtils.ts
  samples/msal-node-extensions/index.js
  samples/msal-node-extensions/package-lock.json
  samples/msal-node-extensions/package.json
Labels: samples
