Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2021-08, with the labels that each got.

#3871 Move acquireToken code into 'InteractionClients'
  change/@azure-msal-browser-30eb62a8-70f1-4fc5-b9d1-12fd3447960e.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentCacheClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentRefreshClient.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  samples/e2eTestUtils/TestUtils.ts
  samples/msal-react-samples/react-router-sample/test/profileRawContext.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileWithMsal.spec.ts
Labels: msal-browser, samples

#3500 Remove token binding key from key store when removing access token with auth scheme
  change/@azure-msal-browser-46da6915-41bc-425f-99e9-526271f583ee.json
  change/@azure-msal-common-7f106e66-8f0f-4bfe-887f-3199473210de.json
  change/@azure-msal-node-dd66a214-eef6-48b8-b2cd-bf05ccbdda1c.json
  lib/msal-browser/docs/access-token-proof-of-possession.md
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/DatabaseStorage.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TestStorageManager.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/interface/ICacheManager.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/crypto/ICrypto.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/account/AuthToken.spec.ts
  lib/msal-common/test/account/ClientInfo.spec.ts
  lib/msal-common/test/authority/AuthorityFactory.spec.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/MockCache.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
  lib/msal-common/test/error/ClientAuthError.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/utils/ProtocolUtils.spec.ts
  lib/msal-node/src/cache/NodeStorage.ts
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/crypto/CryptoProvider.ts
  lib/msal-node/test/utils/TestConstants.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/authConfig.js
  samples/package.json
Labels: documentation, msal-browser, msal-common, msal-node, samples

#3910 Fix AccessToken_With_AuthScheme implementation
  change/@azure-msal-browser-52e7c2a2-f316-463e-a74d-bdd0d0fcb112.json
  change/@azure-msal-common-824b659f-b559-4b6a-bf40-aa8064709bfa.json
  change/@azure-msal-node-387567d9-d62e-4380-bf2e-b7a4187e9d01.json
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccessTokenEntity.ts
  lib/msal-common/src/cache/entities/CredentialEntity.ts
  lib/msal-common/src/cache/utils/CacheTypes.ts
  lib/msal-common/src/response/ServerAuthorizationTokenResponse.ts
  lib/msal-common/test/cache/entities/AccessTokenEntity.spec.ts
  lib/msal-common/test/cache/entities/cacheConstants.ts
  lib/msal-common/test/client/ClientCredentialClient.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
  lib/msal-node/test/cache/cache-test-files/default-cache.json
  lib/msal-node/test/cache/serializer/cache.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/authConfig.js
Labels: msal-browser, msal-common, msal-node, samples

#3934 Add self-service sign-up entry to msal-angular and msal-react FAQs
  change/@azure-msal-angular-2021-08-05-12-45-29-prompt-create-docs.json
  change/@azure-msal-browser-2021-08-05-12-45-29-prompt-create-docs.json
  change/@azure-msal-react-2021-08-05-12-45-29-prompt-create-docs.json
  lib/msal-angular/docs/FAQ.md
  lib/msal-browser/FAQ.md
  lib/msal-react/FAQ.md
Labels: documentation, msal-angular, msal-browser, msal-react

#3754 Update IE11 docs for MSAL Angular v2
  lib/msal-angular/docs/v2-docs/ie-support.md
Labels: documentation, msal-angular

#3895 Add API to sideload tokens to msal-browser
  change/@azure-msal-browser-73c25575-41f1-4ab0-97f8-ba2087353c12.json
  change/@azure-msal-common-5ba8884a-90e2-445c-9ddf-156cb37a0b70.json
  lib/msal-browser/docs/testing.md
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/cache/ITokenCache.ts
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/test/app/IPublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/error/BrowserAuthError.spec.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/response/ExternalTokenResponse.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/OnBehalfOfClient.spec.ts
Labels: documentation, msal-browser, msal-common

#3911 Msal-react sample updates
  samples/msal-react-samples/b2c-sample/src/pages/Protected.jsx
  samples/msal-react-samples/b2c-sample/src/ui-components/SignInSignOutButton.jsx
  samples/msal-react-samples/gatsby-sample/src/components/SignInButton.jsx
  samples/msal-react-samples/gatsby-sample/src/components/SignInSignOutButton.jsx
  samples/msal-react-samples/gatsby-sample/src/pages/profile.js
  samples/msal-react-samples/nextjs-sample/pages/profile.js
  samples/msal-react-samples/nextjs-sample/src/ui.jsx
  samples/msal-react-samples/react-router-sample/src/pages/Profile.jsx
  samples/msal-react-samples/react-router-sample/src/pages/ProfileRawContext.jsx
  samples/msal-react-samples/react-router-sample/src/pages/ProfileWithMsal.jsx
  samples/msal-react-samples/react-router-sample/src/ui-components/SignInButton.jsx
  samples/msal-react-samples/react-router-sample/src/ui-components/SignInSignOutButton.jsx
  samples/msal-react-samples/typescript-sample/src/pages/Profile.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/SignInButton.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/SignInSignOutButton.tsx
Labels: samples

#3874 Restore dependencies from cache in CI
  .github/workflows/beachball-check.yml
  .github/workflows/build-test-pr.yml
  .github/workflows/build-test-push-to-dev.yml
  .github/workflows/msal-angular-e2e.yml
  .github/workflows/msal-browser-e2e.yml
  .github/workflows/msal-core-e2e.yml
  .github/workflows/msal-node-e2e.yml
  .github/workflows/msal-react-e2e.yml
  samples/.npmrc
  samples/msal-node-samples/auth-code/package.json
  samples/msal-node-samples/device-code/package.json
  samples/msal-node-samples/silent-flow/package.json
  samples/package-lock.json
Labels: samples

#3930 Add correlationId to errors thrown
  change/@azure-msal-browser-3739629e-ebc0-4427-9f15-b8f8ceb2ae8c.json
  change/@azure-msal-common-f813b3f0-2639-4bd8-a703-b25e088bb26a.json
  change/@azure-msal-node-a7988313-07b0-478c-ac04-0992d2f94333.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentRefreshClient.spec.ts
  lib/msal-common/package-lock.json
  lib/msal-common/src/error/AuthError.ts
  lib/msal-common/test/error/AuthError.spec.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
Labels: msal-node, msal-browser, msal-common

#3941 Update docs
  README.md
  lib/msal-browser/docs/acquire-token.md
  lib/msal-browser/docs/logout.md
Labels: documentation, msal-browser

#3947 Add correlationId to AuthenticationResult
  change/@azure-msal-browser-7788dd86-9af5-4992-a2d3-623b1f85ce50.json
  change/@azure-msal-common-92ce7e4b-46d1-4ef0-8aa4-d0d53de3a076.json
  change/@azure-msal-node-7788dd86-9af5-4992-a2d3-623b1f85ce50.json
  change/@azure-msal-react-e6bb454d-9a76-42d1-962f-deafc3973b11.json
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentCacheClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentRefreshClient.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-common/src/response/AuthenticationResult.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-react/test/TestConstants.ts
Labels: msal-browser, msal-common, msal-react

#3945 Upn bug fix
  change/@azure-msal-angular-14bbb758-dea8-404b-910d-055929b43305.json
  change/@azure-msal-browser-9e850e9e-4ee3-4888-a5e9-6d74c343b951.json
  change/@azure-msal-node-17cdda47-8449-4f50-9ccc-3b4774f4f112.json
  change/@azure-msal-react-d37209df-555b-45b6-9ce5-bd7ab85e02db.json
  change/msal-29eb88d4-38cf-40d3-8593-e49fa606445f.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-core/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: msal-angular, msal@1.x, msal-node, msal-browser, msal-react

#3948 Fix clearing active account on logout
  change/@azure-msal-browser-44c7d65e-f046-4c43-ac6d-7448561e4219.json
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
Labels: msal-browser

#3977 Add license + missing details to msal-angular
  change/@azure-msal-angular-3347a981-aa7b-47cc-aa18-24042eadecc1.json
  lib/msal-angular/package.json
Labels: msal-angular

#3909 Add state to logout url
  change/@azure-msal-common-e77b173d-7e21-4295-82f2-5dcc3edf653f.json
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/request/CommonEndSessionRequest.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
Labels: msal-common

#3992 Remove dead link
  lib/msal-angular/README.md
Labels: documentation, msal-angular

#3988 Update xmldom in ADAL Node
  maintenance/adal-node/lib/mex.js
  maintenance/adal-node/lib/wstrust-response.js
  maintenance/adal-node/lib/xmlutil.js
  maintenance/adal-node/package-lock.json
  maintenance/adal-node/package.json
  maintenance/adal-node/test/wstrust-request.ts
Labels: adal-node

#3996 Address security and linting for passport-azure-ad
  maintenance/passport-azure-ad/.eslintrc
  maintenance/passport-azure-ad/lib/aadutils.js
  maintenance/passport-azure-ad/lib/bearerstrategy.js
  maintenance/passport-azure-ad/lib/constants.js
  maintenance/passport-azure-ad/lib/cookieContentHandler.js
  maintenance/passport-azure-ad/lib/errors/badrequesterror.js
  maintenance/passport-azure-ad/lib/errors/internaloautherror.js
  maintenance/passport-azure-ad/lib/errors/internalopeniderror.js
  maintenance/passport-azure-ad/lib/index.js
  maintenance/passport-azure-ad/lib/jsonWebToken.js
  maintenance/passport-azure-ad/lib/jwe.js
  maintenance/passport-azure-ad/lib/logging.js
  maintenance/passport-azure-ad/lib/metadata.js
  maintenance/passport-azure-ad/lib/oidcstrategy.js
  maintenance/passport-azure-ad/lib/pem.js
  maintenance/passport-azure-ad/lib/sessionContentHandler.js
  maintenance/passport-azure-ad/lib/validator.js
  maintenance/passport-azure-ad/package-lock.json
  maintenance/passport-azure-ad/package.json
Labels: passport-azure-ad, adal-node

#4007 Add retry to E2E tests
  samples/msal-angular-v2-samples/angular10-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular10-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular10-sample-app/tsconfig.e2e.json
  samples/msal-angular-v2-samples/angular10-sample-app/tsconfig.json
  samples/msal-angular-v2-samples/angular11-sample-app/test/detail.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/lazy.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/tsconfig.json
  samples/msal-angular-v2-samples/angular12-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular12-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular12-sample-app/tsconfig.json
  samples/msal-angular-v2-samples/angular9-v2-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/tsconfig.json
  samples/msal-node-samples/auth-code/test/auth-code-aad.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-adfs.spec.ts
  samples/msal-node-samples/device-code/test/device-code-aad.spec.ts
  samples/msal-node-samples/device-code/test/device-code-adfs.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-aad.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-adfs.spec.ts
  samples/msal-react-samples/gatsby-sample/test/home.spec.ts
  samples/msal-react-samples/gatsby-sample/test/profile.spec.ts
  samples/msal-react-samples/nextjs-sample/test/home.spec.ts
  samples/msal-react-samples/nextjs-sample/test/profile.spec.ts
  samples/msal-react-samples/react-router-sample/test/home.spec.ts
  samples/msal-react-samples/react-router-sample/test/profile.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileRawContext.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileWithMsal.spec.ts
  samples/msal-react-samples/typescript-sample/test/home.spec.ts
  samples/msal-react-samples/typescript-sample/test/profile.spec.ts
Labels: samples

#3982 Fix front channel logout
  change/@azure-msal-browser-c74600e2-6a2d-4fc4-b7d7-c2e63731419a.json
  change/@azure-msal-common-3f6577bb-a98b-48b2-88bb-28e4bb4bdd9b.json
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
Labels: msal-browser, msal-common

#3899 Fix Logger constructor
  change/@azure-msal-common-f102236c-ad38-44ce-a1e4-a7294b88efde.json
  lib/msal-common/src/logger/Logger.ts
  lib/msal-common/test/logger/Logger.spec.ts
Labels: msal-common

#3974 [Docs] Clarify post logout redirect and refresh tokens
  lib/msal-browser/FAQ.md
  lib/msal-browser/docs/logout.md
Labels: documentation, msal-browser
