Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2021-06, with the labels that each got.

#3720 Fix node tests
  samples/msal-node-samples/auth-code/test/auth-code-aad.spec.ts
  samples/msal-node-samples/testUtils.ts
Labels: samples

#3677 Fix accounts type in msal-react context
  change/@azure-msal-react-1bc5aec4-de29-498e-85a7-f3b59e993b90.json
  lib/msal-react/docs/hooks.md
  lib/msal-react/src/MsalContext.ts
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/tsconfig.json
Labels: documentation, msal-react

#3716 Add docs and samples for front-channel logout
  lib/msal-browser/docs/logout.md
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app-routing.module.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/logout/logout.component.css
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/logout/logout.component.html
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/logout/logout.component.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/logout/logout.component.ts
  samples/msal-react-samples/react-router-sample/src/App.js
  samples/msal-react-samples/react-router-sample/src/pages/Logout.jsx
Labels: documentation, msal-browser, samples

#3719 Upgrade Jest to v27
  .github/workflows/msal-browser-e2e.yml
  .github/workflows/msal-node-e2e.yml
  change/@azure-msal-angular-76165103-c41f-4d57-9442-966c72f5d2c6.json
  change/@azure-msal-browser-4334ccc6-2cc5-4e6d-a946-437ff18e01e6.json
  change/@azure-msal-common-02a12ccb-336c-4855-917e-9fbd836caa9d.json
  change/@azure-msal-node-64a9dd8c-95be-4dfb-83d9-7377882dbf78.json
  change/@azure-msal-react-5ec0d83b-157d-47d5-afd8-5d1f76be4ea4.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/jest.config.js
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  lib/msal-common/test/client/DeviceCodeClient.spec.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
  lib/msal-react/package.json
  samples/e2eTestUtils/TestUtils.ts
  samples/msal-angular-v2-samples/.npmrc
  samples/msal-angular-v2-samples/angular10-sample-app/package.json
  samples/msal-angular-v2-samples/angular11-b2c-sample/package.json
  samples/msal-angular-v2-samples/angular11-sample-app/package.json
  samples/msal-angular-v2-samples/angular12-sample-app/package.json
  samples/msal-angular-v2-samples/angular9-v2-sample-app/package.json
  samples/msal-angular-v2-samples/package.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/testConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/package.json
  samples/msal-node-samples/auth-code/package.json
  samples/msal-node-samples/auth-code/test/auth-code-aad.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-adfs.spec.ts
  samples/msal-node-samples/device-code/package.json
  samples/msal-node-samples/device-code/test/device-code-aad.spec.ts
  samples/msal-node-samples/device-code/test/device-code-adfs.spec.ts
  samples/msal-node-samples/package.json
  samples/msal-node-samples/silent-flow/test/silent-flow-aad.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-adfs.spec.ts
  samples/msal-node-samples/testUtils.ts
  samples/msal-react-samples/gatsby-sample/package.json
  samples/msal-react-samples/nextjs-sample/package.json
  samples/msal-react-samples/package.json
  samples/msal-react-samples/react-router-sample/package.json
  samples/msal-react-samples/typescript-sample/package.json
  samples/package.json
Labels: msal-angular, msal-browser, msal-common, msal-node, msal-react, samples

#3601 Add correlationId to log messages
  change/@azure-msal-browser-880cb569-a167-4f4b-b9f9-af06ce9e6647.json
  change/@azure-msal-common-2e4e232c-d40c-4699-b5da-d6d9ef29d612.json
  change/@azure-msal-node-32dcbec6-7af0-4d7c-8c5a-5395dfbf32c5.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/PopupHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/logger/Logger.ts
  lib/msal-common/test/logger/Logger.spec.ts
  lib/msal-node/src/cache/NodeStorage.ts
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
Labels: msal-browser, msal-common, msal-node

#3736 adding sample links
  lib/msal-angular/README.md
  lib/msal-angular/docs/FAQ.md
  lib/msal-browser/FAQ.md
  lib/msal-browser/README.md
  lib/msal-node/README.md
  lib/msal-node/docs/faq.md
  lib/msal-react/FAQ.md
  lib/msal-react/README.md
Labels: documentation, msal-angular, msal-browser, msal-node, msal-react

#3739 Update redirect guidance in msal-react
  lib/msal-react/FAQ.md
Labels: documentation, msal-react

#3735 Expand msal-angular B2C sample README
  samples/msal-angular-v2-samples/angular11-b2c-sample/README.md
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app-routing.module.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/failed/failed.component.css
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/failed/failed.component.html
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/failed/failed.component.spec.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/failed/failed.component.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/home/home.component.html
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/home/home.component.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/test/test.spec.ts
Labels: b2c, documentation, samples

#3729 MsalInterceptor relative url fix
  change/@azure-msal-angular-91da29ed-dc20-4570-8892-43105230c608.json
  lib/msal-angular/src/msal.interceptor.config.ts
  lib/msal-angular/src/msal.interceptor.spec.ts
  lib/msal-angular/src/msal.interceptor.ts
Labels: msal-angular

#3664 Add window check to msal-guard
  change/@azure-msal-angular-12ecef03-91cf-4fc1-8b11-cde34c2ed8e3.json
  lib/msal-angular/docs/v2-docs/angular-universal.md
  lib/msal-angular/src/msal.guard.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/profile/profile.component.ts
Labels: documentation, msal-angular, samples

#3775 update certificate & SNI docs
  lib/msal-node/docs/certificate-credentials.md
  lib/msal-node/docs/key-vault-managed-identity.md
  lib/msal-node/docs/sni.md
  samples/msal-node-samples/auth-code-key-vault/index.js
  samples/msal-node-samples/auth-code-key-vault/package.json
  samples/msal-node-samples/auth-code-with-certs/index.js
Labels: documentation, msal-node, samples

#3678 [msal-node]: Update the client capabilities type in configuration
  change/@azure-msal-node-0da99662-cd62-4e20-8344-cf905bb5dc23.json
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/test/config/ClientConfiguration.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
  samples/msal-node-samples/device-code/test/device-code-adfs.spec.ts
Labels: msal-node, samples

#3757 Don't use normalized url in Angular custom nav client
  change/@azure-msal-angular-e7434b36-e43d-4b31-bf57-f8b075fae09c.json
  lib/msal-angular/src/msal.navigation.client.spec.ts
  lib/msal-angular/src/msal.navigation.client.ts
Labels: msal-angular

#3731 [msal-node]: Modify on-behalf-of client token filter
  change/@azure-msal-common-23d8d974-2351-4a1d-b44a-8dc361d0a0c8.json
  lib/msal-common/src/client/OnBehalfOfClient.ts
Labels: msal-common

#3770 Move event code into EventHandler class
  change/@azure-msal-angular-ceb730fd-20a8-4d47-96ba-1610fe016f4b.json
  change/@azure-msal-browser-2ba2953d-faaa-4c86-ae6e-c078026d82c7.json
  lib/msal-angular/src/msal.broadcast.service.spec.ts
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/event/EventHandler.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/event/EventHandler.spec.ts
Labels: msal-angular, msal-browser

#3785 Add extensions to beachball
  .beachballrc
  extensions/docs/msal-node-extensions.md
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/changelog.md
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/persistence/PersistenceCachePlugin.ts
  extensions/samples/msal-node-extensions/package.json
Labels: documentation, extensions

#3788 Update accounts FAQ
  lib/msal-browser/FAQ.md
  lib/msal-browser/docs/accounts.md
Labels: documentation, msal-browser

#3783 Add monitor_window_timeout error to the error doc
  change/@azure-msal-browser-d167d84e-f2d8-4c5a-972e-b19fbec6427b.json
  lib/msal-browser/docs/errors.md
  lib/msal-browser/src/error/BrowserAuthError.ts
Labels: documentation, msal-browser

#3786 Discard tokens acquired after current time
  change/@azure-msal-common-a410d7ad-36b1-4d1c-9c44-b02dfa1012d7.json
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/utils/TimeUtils.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/utils/TimeUtils.spec.ts
Labels: msal-common

#3814 Fix double query string for logout
  change/@azure-msal-common-118d673d-d0d8-4e24-bc0e-9033e4b16b69.json
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
Labels: msal-common

#3755 Persist active account
  change/@azure-msal-angular-8e7484b0-bc9b-4de5-9ba7-d4f732bb2fd2.json
  change/@azure-msal-browser-8cc95449-37c9-4ba3-854e-bb6408f15e71.json
  change/@azure-msal-common-35ceb610-cd9e-4aca-b133-5a3303c612ed.json
  lib/msal-angular/docs/FAQ.md
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-common/src/utils/Constants.ts
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular10-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular10-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/detail.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/lazy.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular12-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular12-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/test/home.spec.ts
  samples/msal-react-samples/nextjs-sample/test/home.spec.ts
  samples/msal-react-samples/nextjs-sample/test/profile.spec.ts
  samples/msal-react-samples/react-router-sample/test/home.spec.ts
  samples/msal-react-samples/react-router-sample/test/profile.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileRawContext.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileWithMsal.spec.ts
  samples/msal-react-samples/typescript-sample/test/home.spec.ts
  samples/msal-react-samples/typescript-sample/test/profile.spec.ts
Labels: documentation, msal-angular, msal-browser, msal-common, samples

#3773 Add support for prompt=create
  change/@azure-msal-browser-bf0e766c-c6d5-4ff6-a66d-d53d481f580c.json
  change/@azure-msal-common-1e46607b-b77c-4acf-bcfa-7b69e8445136.json
  change/@azure-msal-node-e93b60f1-3b0f-4d5d-8e11-f68e45041dfb.json
  lib/msal-browser/FAQ.md
  lib/msal-browser/src/request/PopupRequest.ts
  lib/msal-browser/src/request/RedirectRequest.ts
  lib/msal-browser/src/request/SsoSilentRequest.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/src/request/CommonAuthorizationUrlRequest.ts
  lib/msal-common/src/request/RequestValidator.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/request/RequestValidator.spec.ts
  lib/msal-node/docs/faq.md
  lib/msal-node/src/request/AuthorizationUrlRequest.ts
Labels: documentation, msal-browser, msal-common, msal-node
