Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2021-09, with the labels that each got.

#4003 Add msal-node token caching guidance
  lib/msal-node/docs/caching.md
Labels: documentation, msal-node

#3973 Add PoP params to acquireTokenSilent request thumbprint
  change/@azure-msal-browser-c2bc29b6-9ca0-4b5f-9c69-f2d38a4e774a.json
  change/@azure-msal-common-a34dac25-dd01-4015-ba3a-2c1de01fce53.json
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/ClientCredentialClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/OnBehalfOfClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/UsernamePasswordClient.ts
  lib/msal-common/src/network/RequestThumbprint.ts
  lib/msal-common/src/network/ThrottlingUtils.ts
  lib/msal-common/test/network/ThrottlingUtils.spec.ts
Labels: msal-browser, msal-common

#3821 Update docs and sample with guidance for managing multiple accounts
  lib/msal-angular/docs/FAQ.md
  lib/msal-browser/FAQ.md
  lib/msal-browser/docs/accounts.md
  samples/msal-react-samples/react-router-sample/src/index.js
  samples/msal-react-samples/react-router-sample/src/pages/Logout.jsx
  samples/msal-react-samples/react-router-sample/src/ui-components/AccountPicker.jsx
  samples/msal-react-samples/react-router-sample/src/ui-components/SignOutButton.jsx
  samples/msal-react-samples/react-router-sample/src/ui-components/WelcomeName.jsx
Labels: documentation, msal-angular, samples, msal-browser

#4013 Fix react/angular inProgress state management
  change/@azure-msal-angular-92172a47-0cd4-4b72-a77c-57301fa668fe.json
  change/@azure-msal-browser-7e07be32-1bd0-4c14-8db1-7eb8190b9cfc.json
  change/@azure-msal-react-37172a5d-32b9-42c6-be0a-39f4e128a23f.json
  lib/msal-angular/src/msal.broadcast.service.spec.ts
  lib/msal-angular/src/msal.broadcast.service.ts
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/event/EventMessage.ts
  lib/msal-browser/test/event/EventMessage.spec.ts
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/test/MsalProvider.spec.tsx
  lib/msal-react/test/components/MsalAuthenticationTemplate.spec.tsx
  samples/msal-react-samples/react-router-sample/src/pages/ProfileRawContext.jsx
  samples/msal-react-samples/react-router-sample/src/pages/ProfileWithMsal.jsx
Labels: msal-angular, samples, msal-browser, msal-react

#4027 Populate msal v2 loginHint from cached msal v1 id token
  change/@azure-msal-browser-8f6a38ac-ffe9-4d7d-af8e-873ea9411e80.json
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
Labels: msal-browser

#4015 Update in-progress temporary cache in v2
  change/@azure-msal-browser-8286c9ff-f9da-4c4a-87dd-0c12e97fa844.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/interaction_handler/PopupHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/utils/PopupUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
Labels: msal-browser

#4014 Update in-progress temporary cache in v1
  change/msal-6ef9d7f2-3710-4928-9bbb-9137d057422f.json
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/cache/AuthCache.ts
  lib/msal-core/src/utils/Constants.ts
  lib/msal-core/test/UserAgentApplication.spec.ts
Labels: msal@1.x

#4035 Remove User Voice from ReadMe
  README.md
Labels: documentation

#3058 Add SignedHttpRequest class
  change/@azure-msal-browser-6604e4f7-71f3-4eb0-bf47-e104ef168b9c.json
  change/@azure-msal-common-91a2e3d4-75f8-4970-b869-2a7f68ae4f86.json
  lib/msal-browser/docs/signed-http-request.md
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/crypto/SignedHttpRequest.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/test/crypto/SignedHttpRequest.spec.ts
  lib/msal-common/src/account/TokenClaims.ts
  lib/msal-common/src/crypto/ICrypto.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/index.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
Labels: documentation, msal-browser, msal-common

#3900 revise node samples pt. 2
  samples/msal-node-samples/auth-code-pkce/.beachballrc
  samples/msal-node-samples/auth-code-pkce/README.md
  samples/msal-node-samples/auth-code-pkce/index.js
  samples/msal-node-samples/auth-code-pkce/package.json
  samples/msal-node-samples/b2c-auth-code-pkce/README.md
  samples/msal-node-samples/b2c-auth-code-pkce/index.js
  samples/msal-node-samples/b2c-auth-code-pkce/package.json
  samples/msal-node-samples/b2c-auth-code/README.md
  samples/msal-node-samples/b2c-auth-code/index.js
  samples/msal-node-samples/b2c-auth-code/package.json
  samples/msal-node-samples/b2c-silent-flow/README.md
  samples/msal-node-samples/b2c-silent-flow/index.js
  samples/msal-node-samples/b2c-silent-flow/package.json
Labels: documentation, samples

#4048 Bump msal-common to v5 for Node extensions
  change/@azure-msal-node-extensions-cf492d34-0f74-4029-a699-3508bd26d9c6.json
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
Labels: extensions

#4049 Move helper functions to BaseInteractionClient
  change/@azure-msal-browser-6b3118fa-4a40-4074-b6e6-b6105beaf751.json
  change/@azure-msal-browser-8d31f6e8-6bea-49fa-858f-a2ab0c94b0ec.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
Labels: msal-browser

#4076 Bump passport-azure-ad to 4.3.1
  maintenance/passport-azure-ad/CHANGELOG.md
  maintenance/passport-azure-ad/package-lock.json
  maintenance/passport-azure-ad/package.json
Labels: documentation, passport-azure-ad

#4016 WAM extension messaging
  lib/msal-browser/src/broker/wam/WamExtensionRequest.ts
  lib/msal-browser/src/broker/wam/WamMessageHandler.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/error/WamAuthError.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
Labels: msal-browser, feature-wam-broker

#4082 Remove React/Angular beta tags from Browser README
  lib/msal-browser/README.md
Labels: documentation, msal-browser

#4079 add partition key suggestions
  lib/msal-node/docs/caching.md
Labels: documentation, msal-node

#4078 add more sample links
  samples/msal-node-samples/README.md
Labels: documentation, samples

#4085 Add MSAL Browser plugin sample links to README
  lib/msal-browser/README.md
Labels: documentation, msal-browser

#4034 [msal-node-extensions]: Add electron webpack sample
  change/@azure-msal-angular-9ad45f54-0380-40ba-ab9e-2dd4165ff095.json
  change/@azure-msal-browser-b826cb55-92b9-4d28-a1df-7c21444407cc.json
  change/@azure-msal-common-1ea9f7e5-95e2-4a9a-999d-f0cf0da70413.json
  change/@azure-msal-node-53c1ee23-e281-4469-8157-de3a7da7f77c.json
  change/@azure-msal-node-extensions-33dbfcdb-65d5-4562-8fe8-ed9e4e25f6e9.json
  change/@azure-msal-react-a190dea9-c53d-495e-bec0-e6b732784d54.json
  change/electron-msal-node-extensions-6fa1acbd-8856-43ed-a552-1a92016d5e1f.json
  change/msal-625d5fc0-4dfb-4d90-8e8f-0e6cd31e5162.json
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/dpapi-addon/Dpapi.ts
  extensions/samples/electron-webpack/.eslintrc
  extensions/samples/electron-webpack/.gitignore
  extensions/samples/electron-webpack/LICENSE.md
  extensions/samples/electron-webpack/README.md
  extensions/samples/electron-webpack/cache.json
  extensions/samples/electron-webpack/index.html
  extensions/samples/electron-webpack/package-lock.json
  extensions/samples/electron-webpack/package.json
  extensions/samples/electron-webpack/src/main.ts
  extensions/samples/electron-webpack/src/renderer.ts
  extensions/samples/electron-webpack/tsconfig.json
  extensions/samples/electron-webpack/webpack.config.js
  extensions/samples/msal-node-extensions/index.js
  lib/msal-angular/package-lock.json
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-core/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: documentation, msal-angular, msal@1.x, msal-node, msal-browser, msal-common, msal-react, extensions

#4077 Add a note for proxy support in adal-node
  maintenance/adal-node/README.md
Labels: documentation, adal-node

#4089 Make no_tokens_found error InteractionRequired
  change/@azure-msal-common-a8ee1834-fc7e-4ee9-8a0a-73964262ce5e.json
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/error/InteractionRequiredAuthError.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/error/ClientAuthError.spec.ts
  lib/msal-common/test/error/InteractionRequiredAuthError.spec.ts
Labels: msal-common

#4055 Add WamInteractionClient
  lib/msal-browser/src/broker/wam/WamExtensionRequest.ts
  lib/msal-browser/src/broker/wam/WamMessageHandler.ts
  lib/msal-browser/src/broker/wam/WamRequest.ts
  lib/msal-browser/src/broker/wam/WamResponse.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/error/WamAuthError.ts
  lib/msal-browser/src/interaction_client/WamInteractionClient.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-common/src/account/AccountInfo.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
Labels: msal-browser, msal-common, feature-wam-broker

#4112 Fix issues with beachball
  .beachballrc
  change/@azure-msal-node-extensions-33dbfcdb-65d5-4562-8fe8-ed9e4e25f6e9.json
  change/electron-msal-node-extensions-6fa1acbd-8856-43ed-a552-1a92016d5e1f.json
  extensions/msal-node-extensions/CHANGELOG.md
  extensions/msal-node-extensions/README.md
  lerna.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/README.md
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/README.md
  lib/msal-common/CHANGELOG.md
  lib/msal-common/README.md
  lib/msal-core/CHANGELOG.md
  lib/msal-node/CHANGELOG.md
  lib/msal-node/README.md
  lib/msal-react/README.md
  package-lock.json
  package.json
Labels: documentation, msal-angular, msal@1.x, msal-node, msal-browser, msal-common, msal-react, extensions

#4118 Fix node extensions beachball bump
  change/@azure-msal-angular-21727384-afef-4632-b791-fc7ccb8406ba.json
  change/@azure-msal-browser-66228f71-938f-4236-b100-1efc13a71386.json
  change/@azure-msal-node-49a54e51-6f76-4091-a9ee-71918de2f248.json
  change/@azure-msal-node-extensions-eec3de90-af9b-4bcc-b3e5-d9af82025a79.json
  change/@azure-msal-react-b2f4225a-da79-4b88-a10d-cc0a2c8bdc66.json
  change/msal-cbeac37d-4179-45a1-8a3c-668e52a40e08.json
  extensions/msal-node-extensions/package.json
  lib/msal-angular/package.json
  lib/msal-browser/package.json
  lib/msal-core/package.json
  lib/msal-node/package.json
  lib/msal-react/package.json
Labels: msal-angular, msal@1.x, msal-node, msal-browser, msal-react, extensions
