Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2021-12, with the labels that each got.

#4302 Fix React inProgress startup bug
  change/@azure-msal-react-c93b2a90-5aee-462b-a101-6eadcceacfa6.json
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/test/MsalProvider.spec.tsx
  lib/msal-react/test/components/UnauthenticatedTemplate.spec.tsx
Labels: msal-react

#4261 [Deps]: Fix JSON schema vulnerability
  change/@azure-msal-angular-427bf460-988a-4563-afc2-f983da536e09.json
  change/@azure-msal-browser-16791ff4-9cc2-473d-a87d-d81b367f5d32.json
  change/@azure-msal-node-a918cfca-15f8-4afd-bd70-bd389406c605.json
  change/@azure-msal-node-extensions-47f586b4-a2a6-4282-aea1-d79528bcd30b.json
  extensions/msal-node-extensions/package-lock.json
  lib/msal-angular/package-lock.json
  lib/msal-node/package-lock.json
  maintenance/msal-angularjs/package-lock.json
  maintenance/passport-azure-ad/package-lock.json
Labels: msal-angular, msal-node, extensions, angularjs, passport-azure-ad, adal-node

#4304 Releases package-lock and CDN updates
  extensions/msal-node-extensions/package-lock.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-core/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: documentation, msal-angular, msal@1.x, msal-node, msal-browser, msal-common, msal-react, extensions, release

#4315 Fix Angular E2E tests
  samples/msal-angular-v2-samples/angular10-sample-app/package.json
  samples/msal-angular-v2-samples/angular11-b2c-sample/package.json
  samples/msal-angular-v2-samples/angular11-sample-app/package.json
  samples/msal-angular-v2-samples/angular12-sample-app/package.json
  samples/msal-angular-v2-samples/angular9-v2-sample-app/package.json
Labels: samples

#4316 Update Puppeteer to v12
  samples/package-lock.json
  samples/package.json
Labels: samples

#4318 Gracefully handle tokenType set as bearer for ADFS
  change/@azure-msal-common-1473b2d9-cc7f-4732-84b7-42c7d5444621.json
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccessTokenEntity.ts
  lib/msal-common/src/cache/entities/CredentialEntity.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/entities/AccessTokenEntity.spec.ts
  lib/msal-common/test/cache/entities/cacheConstants.ts
Labels: msal-common

#4342 Address passport-azure-ad security vulnerability regarding json-schema
  maintenance/passport-azure-ad/package-lock.json
Labels: passport-azure-ad, adal-node
