Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2021-10, with the labels that each got.

#4101 [msal-node]: Transform auth-code-pkce sample to typescript
  samples/msal-node-samples/README.md
  samples/msal-node-samples/auth-code-pkce/README.md
  samples/msal-node-samples/auth-code-pkce/package.json
  samples/msal-node-samples/auth-code-pkce/src/index.ts
  samples/msal-node-samples/auth-code-pkce/src/types/index.ts
  samples/msal-node-samples/auth-code-pkce/tsconfig.json
  samples/msal-node-samples/auth-code-pkce/tslint.json
Labels: documentation, samples

#4080 Bump axios version to 0.21.4
  change/@azure-msal-node-d4594940-3123-40bc-8a87-aee71d816340.json
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
Labels: msal-node

#3975 [msal-node]: Increase code coverage
  change/@azure-msal-node-c16d2e3c-17b9-40a8-99c1-900562a81702.json
  lib/msal-node/src/network/HttpClient.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
Labels: msal-node

#3981 Emit event when account is added or removed in a different tab
  change/@azure-msal-angular-df8d011c-ca64-4909-9f35-287a6609342c.json
  change/@azure-msal-browser-912602fe-ca9d-4dd3-87fc-ee7520700315.json
  change/@azure-msal-react-0754f087-066d-47fc-8e57-76f1aaf523f5.json
  lib/msal-angular/docs/v2-docs/events.md
  lib/msal-browser/docs/events.md
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/event/EventHandler.ts
  lib/msal-browser/src/event/EventMessage.ts
  lib/msal-browser/src/event/EventType.ts
  lib/msal-browser/test/event/EventHandler.spec.ts
  lib/msal-react/docs/events.md
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/test/MsalProvider.spec.tsx
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/app.component.ts
  samples/msal-react-samples/b2c-sample/src/App.js
  samples/msal-react-samples/b2c-sample/src/ui-components/WelcomeName.jsx
  samples/msal-react-samples/gatsby-sample/src/components/Layout.jsx
  samples/msal-react-samples/gatsby-sample/src/components/WelcomeName.jsx
  samples/msal-react-samples/nextjs-sample/pages/_app.js
  samples/msal-react-samples/nextjs-sample/src/ui.jsx
  samples/msal-react-samples/react-router-sample/src/App.js
  samples/msal-react-samples/react-router-sample/src/authConfig.js
  samples/msal-react-samples/react-router-sample/src/index.js
  samples/msal-react-samples/react-router-sample/src/ui-components/WelcomeName.jsx
  samples/msal-react-samples/react-router-sample/test/home.spec.ts
  samples/msal-react-samples/react-router-sample/test/profile.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileRawContext.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileWithMsal.spec.ts
  samples/msal-react-samples/typescript-sample/src/App.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/WelcomeName.tsx
Labels: documentation, msal-angular, samples, msal-browser, msal-react

#4124 Export library versions
  change/@azure-msal-angular-13c49f0e-c3f7-4252-9c26-d74f36f28929.json
  change/@azure-msal-browser-d10dc113-25f8-49a3-b185-6a995d4ac0a5.json
  change/@azure-msal-common-57bd5105-0dd2-4815-92e9-9d55e4dd86bf.json
  change/@azure-msal-node-7de5e9b8-e22a-4484-9f76-4035442cac87.json
  change/@azure-msal-react-cfc1c770-35a9-4cf1-88f4-5c91762cf7a8.json
  change/msal-176fcc6d-11e6-49e0-a923-7521e3c0c0b0.json
  lib/msal-angular/src/public-api.ts
  lib/msal-browser/src/index.ts
  lib/msal-common/src/index.ts
  lib/msal-core/src/index.ts
  lib/msal-node/src/index.ts
  lib/msal-react/src/index.ts
Labels: msal-angular, msal@1.x, msal-node, msal-browser, msal-common, msal-react

#4123 Remove user hint requirement on ssoSilent API
  change/@azure-msal-angular-696d0cf4-bd65-4b35-b426-786857e97f89.json
  change/@azure-msal-browser-b1bbc41b-8045-4fe7-8f7c-3e0eff7d177d.json
  change/@azure-msal-react-bf95a9c8-65e5-4362-9e2f-7da9ed29069d.json
  lib/msal-angular/docs/v2-docs/ssosilent.md
  lib/msal-browser/docs/iframe-usage.md
  lib/msal-browser/docs/login-user.md
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/test/error/BrowserAuthError.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-react/docs/hooks.md
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilentNoHint/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilentNoHint/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilentNoHint/graph.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilentNoHint/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilentNoHint/ui.js
Labels: documentation, msal-angular, samples, msal-browser, msal-react

#4127 CDN release docs updates
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-core/README.md
  lib/msal-core/docs/cdn.md
Labels: documentation, msal@1.x, msal-browser

#4119 Wam broker sample
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/wamBroker/README.md
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/wamBroker/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/wamBroker/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/wamBroker/graph.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/wamBroker/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/wamBroker/ui.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/cert.pem
  samples/msal-browser-samples/VanillaJSTestApp2.0/key.pem
  samples/msal-browser-samples/VanillaJSTestApp2.0/server.js
Labels: documentation, samples, feature-wam-broker

#4165 Update axios in samples
  extensions/samples/electron-webpack/.npmrc
  extensions/samples/electron-webpack/package-lock.json
  extensions/samples/msal-node-extensions/.npmrc
  extensions/samples/msal-node-extensions/package-lock.json
  samples/package-lock.json
  samples/package.json
Labels: samples, extensions

#4066 [msal-node]: Add E2E regional authority test
  samples/e2eTestUtils/Constants.ts
  samples/e2eTestUtils/LabApiQueryParams.ts
  samples/e2eTestUtils/LabClient.ts
  samples/e2eTestUtils/MsidApp.ts
  samples/e2eTestUtils/TestUtils.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/package.json
  samples/msal-node-samples/client-credentials/.beachballrc
  samples/msal-node-samples/client-credentials/config/AAD.json
  samples/msal-node-samples/client-credentials/index.js
  samples/msal-node-samples/client-credentials/jest.config.js
  samples/msal-node-samples/client-credentials/package.json
  samples/msal-node-samples/client-credentials/test/client-credentials-aad.spec.ts
Labels: samples

#4052 [msal-browser] Add support for different key types in IndexedDB storage
  change/@azure-msal-browser-b8da8826-00fd-454d-bf25-e92d112713ca.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/src/cache/DatabaseStorage.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/cache/DatabaseStorage.spec.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/crypto/SignedHttpRequest.spec.ts
Labels: msal-browser, feature-pop
