Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2021-07, with the labels that each got.

#3662 [msal-node]: Add regional authorities telemetry
  change/@azure-msal-angular-93820d74-8077-45d4-b5fe-abbc1173a1b1.json
  change/@azure-msal-browser-e02e76bb-e3be-4942-92fb-db7f87c51270.json
  change/@azure-msal-common-3150477f-929f-4013-8176-77b1a63f8912.json
  change/@azure-msal-node-extensions-775467ab-ea19-4849-9a64-291a495d4226.json
  change/@azure-msal-node-f63abd0d-4eab-4485-ba86-ca75799c6065.json
  change/@azure-msal-react-c60f303b-d77c-45c3-80f1-0012a472df94.json
  lib/msal-angular/package-lock.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/RegionDiscovery.ts
  lib/msal-common/src/authority/RegionDiscoveryMetadata.ts
  lib/msal-common/src/client/ClientCredentialClient.ts
  lib/msal-common/src/client/OnBehalfOfClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
  lib/msal-node/docs/regional-authorities.md
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/config/ClientConfiguration.spec.ts
Labels: documentation, msal-angular, msal-common, msal-node

#3837 Msal-Browser supports parallel silent requests
  change/@azure-msal-browser-adabc718-b19b-4b98-a5b7-887465c75857.json
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#3728 Update logging and known issues doc
  lib/msal-angular/docs/v2-docs/known-issues.md
  lib/msal-angular/docs/v2-docs/logging.md
Labels: documentation, msal-angular

#3838 ROPC added for confidential clients
  change/@azure-msal-common-dc2c24bd-f38c-4580-ba04-b44ee8ac5b9f.json
  change/@azure-msal-node-c1284212-4af4-45ff-829d-e7c277947e88.json
  lib/msal-common/src/client/UsernamePasswordClient.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/IConfidentialClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
  samples/msal-node-samples/username-password-cca/.npmrc
  samples/msal-node-samples/username-password-cca/index.js
  samples/msal-node-samples/username-password-cca/package.json
Labels: msal-common, msal-node, samples

#3804 adding iframe usage guidance
  lib/msal-browser/FAQ.md
  lib/msal-browser/docs/iframe-usage.md
  lib/msal-browser/docs/working-with-b2c.md
Labels: documentation, msal-browser

#3867 Fix edge case causing acquireTokenSilent to hang in v1
  change/msal-0d7e07a9-7fe1-468c-8e34-3954a85747cb.json
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/test/UserAgentApplication.spec.ts
Labels: msal@1.x

#3868 Remove hash.js and elliptic dependenices for passport-azure-ad
  maintenance/passport-azure-ad/lib/jwe.js
  maintenance/passport-azure-ad/package-lock.json
  maintenance/passport-azure-ad/package.json
  maintenance/passport-azure-ad/test/Chai-passport_test/jwe_test.js
Labels: adal-node, passport-azure-ad

#3885 Add FAQ item for app provisioning via Powershell
  lib/msal-browser/FAQ.md
  lib/msal-node/docs/faq.md
Labels: documentation, msal-browser, msal-node

#3859 [msal-node-extensions] Add persistence creator
  change/@azure-msal-node-extensions-0bdf3389-5c5a-4ab3-8520-ff2adb9fb815.json
  extensions/msal-node-extensions/src/error/PersistenceError.ts
  extensions/msal-node-extensions/src/index.ts
  extensions/msal-node-extensions/src/persistence/IPersistenceConfiguration.ts
  extensions/msal-node-extensions/src/persistence/PersistenceCreator.ts
  extensions/msal-node-extensions/src/utils/Constants.ts
  extensions/msal-node-extensions/src/utils/Environment.ts
  extensions/msal-node-extensions/test/persistence/PersistenceCreator.spec.ts
  extensions/samples/msal-node-extensions/cache.json
  extensions/samples/msal-node-extensions/index.js
  extensions/samples/msal-node-extensions/package-lock.json
  extensions/samples/msal-node-extensions/package.json
Labels: extensions

#3825 Expose isInPopup utility function
  change/@azure-msal-browser-16435193-cb85-4c29-a965-1ff4de326985.json
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/utils/BrowserUtils.spec.ts
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/app-routing.module.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app-routing.module.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app-routing.module.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/app-routing.module.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/src/app/app-routing.module.ts
Labels: msal-browser, samples

#3889 [msal-node-extensions]: Improve general documentation
  extensions/docs/faq.md
  extensions/msal-node-extensions/README.md
Labels: documentation, extensions

#3903 State encoding issue
  change/@azure-msal-common-d60ed061-ba0c-4c72-b399-fde910373f3f.json
  lib/msal-common/src/utils/ProtocolUtils.ts
  lib/msal-common/src/utils/StringUtils.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/utils/ProtocolUtils.spec.ts
  lib/msal-common/test/utils/StringUtils.spec.ts
Labels: msal-common
