Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2021-01, with the labels that each got.

#2687 Change the PkceGenerator code challenge encoding
  change/@azure-msal-node-2020-12-07-14-49-26-fix-pkce-code-challenge-error.json
  lib/msal-node/src/crypto/PkceGenerator.ts
  samples/msal-node-samples/standalone-samples/auth-code-pkce/index.js
  samples/msal-node-samples/standalone-samples/auth-code-pkce/package.json
Labels: msal-node, samples

#2823 Update imports for Angular v2 B2C sample
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app.component.ts
Labels: samples

#2771 msal-browser testing sample using msal-node to obtain tokens
  change/@azure-msal-node-2020-12-16-16-25-06-test-msal-browser-example.json
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/index.ts
  samples/msal-browser-samples/TestingSample/.babelrc
  samples/msal-browser-samples/TestingSample/.beachballrc
  samples/msal-browser-samples/TestingSample/Readme.md
  samples/msal-browser-samples/TestingSample/app/auth.js
  samples/msal-browser-samples/TestingSample/app/authConfig.js
  samples/msal-browser-samples/TestingSample/app/graph.js
  samples/msal-browser-samples/TestingSample/app/index.html
  samples/msal-browser-samples/TestingSample/app/ui.js
  samples/msal-browser-samples/TestingSample/jest-puppeteer.config.js
  samples/msal-browser-samples/TestingSample/jest.config.js
  samples/msal-browser-samples/TestingSample/package.json
  samples/msal-browser-samples/TestingSample/server.js
  samples/msal-browser-samples/TestingSample/test/browser-test.spec.ts
  samples/msal-browser-samples/TestingSample/tsconfig.base.json
  samples/msal-browser-samples/TestingSample/tsconfig.json
Labels: msal-node, samples

#2814 Add msal-react Gatsby sample
  change/@azure-msal-react-ac47adfe-e946-4ee3-be9a-ae20082f0754.json
  lib/msal-react/README.md
  samples/msal-react-samples/gatsby-sample/.gitignore
  samples/msal-react-samples/gatsby-sample/LICENSE
  samples/msal-react-samples/gatsby-sample/README.md
  samples/msal-react-samples/gatsby-sample/gatsby-config.js
  samples/msal-react-samples/gatsby-sample/package-lock.json
  samples/msal-react-samples/gatsby-sample/package.json
  samples/msal-react-samples/gatsby-sample/src/authConfig.js
  samples/msal-react-samples/gatsby-sample/src/components/ErrorComponent.jsx
  samples/msal-react-samples/gatsby-sample/src/components/Layout.jsx
  samples/msal-react-samples/gatsby-sample/src/components/Loading.jsx
  samples/msal-react-samples/gatsby-sample/src/components/NavBar.jsx
  samples/msal-react-samples/gatsby-sample/src/components/ProfileData.jsx
  samples/msal-react-samples/gatsby-sample/src/components/SignInButton.jsx
  samples/msal-react-samples/gatsby-sample/src/components/SignInSignOutButton.jsx
  samples/msal-react-samples/gatsby-sample/src/components/SignOutButton.jsx
  samples/msal-react-samples/gatsby-sample/src/components/WelcomeName.jsx
  samples/msal-react-samples/gatsby-sample/src/pages/404.js
  samples/msal-react-samples/gatsby-sample/src/pages/index.js
  samples/msal-react-samples/gatsby-sample/src/pages/profile.js
  samples/msal-react-samples/gatsby-sample/src/styles/theme.js
  samples/msal-react-samples/gatsby-sample/src/styles/useStyles.js
  samples/msal-react-samples/gatsby-sample/src/utils/MsGraphApiCall.js
  samples/msal-react-samples/gatsby-sample/static/favicon.ico
  samples/msal-react-samples/nextjs-sample/README.md
  samples/msal-react-samples/typescript-sample/README.md
Labels: msal-react, samples

#2831 Fix Browser E2E tests
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/testUtils.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/testConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/instanceAware/test/template.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/test/multiple_resources.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/test/browser.spec.ts
Labels: samples

#2825 [msal-node]: Bump up the axios package
  change/@azure-msal-angular-2021-01-05-16-31-39-bump-axios-package.json
  change/@azure-msal-node-2021-01-05-16-31-39-bump-axios-package.json
  lib/msal-angular/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
Labels: msal-angular, msal-node

#2829 [msal-angular] Make scopes optional for msal-guard config
  change/@azure-msal-angular-9cb13310-e058-4726-95c6-d0f213107d3a.json
  lib/msal-angular/src/msal.guard.config.ts
  lib/msal-angular/src/msal.guard.ts
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/src/app/app.component.ts
Labels: msal-angular, samples

#2784 [msal-angular] Interceptor, guard, and samples to use active account
  change/@azure-msal-angular-53b2846c-3833-4295-81b1-91984e30177a.json
  lib/msal-angular/docs/v2-docs/1.x-2.x-upgrade-guide.md
  lib/msal-angular/src/msal.guard.ts
  lib/msal-angular/src/msal.interceptor.spec.ts
  lib/msal-angular/src/msal.interceptor.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/home/home.component.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.guard.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.interceptor.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.service.ts
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/home/home.component.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/home/home.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/README.md
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/home/home.component.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/src/app/home/home.component.ts
Labels: msal-angular, samples

#2792 Enable strict compiler option in msal-browser
  change/@azure-msal-browser-0e1341a0-d3ce-4987-b651-7a52610f774e.json
  change/@azure-msal-common-1c7724af-c058-4193-97e4-6c59abe17625.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/src/cache/DatabaseStorage.ts
  lib/msal-browser/src/cache/IWindowStorage.ts
  lib/msal-browser/src/cache/MemoryStorage.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/PopupHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/src/network/FetchClient.ts
  lib/msal-browser/src/network/XhrClient.ts
  lib/msal-browser/src/request/AuthorizationUrlRequest.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/src/utils/BrowserProtocolUtils.ts
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/error/BrowserAuthError.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-browser/test/utils/BrowserProtocolUtils.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-browser/tsconfig.base.json
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/crypto/ICrypto.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/network/INetworkModule.ts
  lib/msal-common/src/response/ResponseHandler.ts
Labels: msal-browser, msal-common

#2830 [msal-node] Fix silentLogin and logout in Electron sample
  samples/msal-node-samples/standalone-samples/ElectronTestApp/README.md
  samples/msal-node-samples/standalone-samples/ElectronTestApp/src/AuthProvider.ts
Labels: msal-node, samples

#2803 [msal-angular] Guard supports angular routes for login failure
  change/@azure-msal-angular-4617b0d3-97c7-4caf-8514-c3c2122af8cc.json
  lib/msal-angular/docs/v2-docs/1.x-2.x-upgrade-guide.md
  lib/msal-angular/docs/v2-docs/configuration.md
  lib/msal-angular/src/constants.ts
  lib/msal-angular/src/msal.guard.config.ts
  lib/msal-angular/src/msal.guard.spec.ts
  lib/msal-angular/src/msal.guard.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app-routing.module.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/failed/failed.component.html
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/failed/failed.component.ts
Labels: msal-angular, samples

#2790 Fix bugs in Broker flow
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/broker/client/BrokerClientApplication.ts
  lib/msal-browser/src/broker/msg/resp/BrokerAuthResponse.ts
  lib/msal-browser/src/broker/msg/resp/BrokerHandshakeResponse.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/error/BrokerAuthError.ts
  lib/msal-common/src/client/broker/BrokerAuthorizationCodeClient.ts
  lib/msal-common/src/client/broker/BrokerRefreshTokenClient.ts
  lib/msal-common/src/response/ResponseHandler.ts
  samples/msal-browser-samples/BrokerTestApp2.0/app/brokerApp/auth.js
  samples/msal-browser-samples/BrokerTestApp2.0/app/brokeredWidget/script.js
Labels: feature-broker, msal-browser, msal-common, samples

#2842 Fix handling of multiple popup windows
  change/@azure-msal-browser-e44356f1-207e-49fc-ab3f-861c249f73e9.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/interaction_handler/PopupHandler.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  samples/e2eTestUtils/LabClient.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/package-lock.json
  samples/package-lock.json
Labels: msal-browser, samples

#2806 Add caching for broker responses in memory, lookup by origin and thumbprint
  lib/msal-browser/.babelrc
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/broker/client/BrokerClientApplication.ts
  lib/msal-browser/src/broker/client/EmbeddedClientApplication.ts
  lib/msal-browser/src/broker/msg/req/BrokerAuthRequest.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/error/BrokerAuthError.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/client/broker/BrokerAuthorizationCodeClient.ts
  lib/msal-common/src/client/broker/BrokerRefreshTokenClient.ts
  lib/msal-common/src/response/BrokerAuthenticationResult.ts
  lib/msal-common/src/response/ResponseHandler.ts
  samples/msal-browser-samples/BrokerTestApp2.0/app/brokeredWidget/script.js
Labels: feature-broker, msal-browser, msal-common, samples

#2808 Broker Zero-Nesting Sample and Code Changes
  lib/msal-browser/src/broker/client/BrokerClientApplication.ts
  lib/msal-browser/src/broker/client/EmbeddedClientApplication.ts
  lib/msal-browser/src/broker/msg/resp/BrokerHandshakeResponse.ts
  samples/msal-browser-samples/BrokerZeroNestingTestApp/.beachballrc
  samples/msal-browser-samples/BrokerZeroNestingTestApp/brokerApp/auth.js
  samples/msal-browser-samples/BrokerZeroNestingTestApp/brokerApp/authConfig.js
  samples/msal-browser-samples/BrokerZeroNestingTestApp/brokerApp/index.html
  samples/msal-browser-samples/BrokerZeroNestingTestApp/brokerApp/ui.js
  samples/msal-browser-samples/BrokerZeroNestingTestApp/brokerApp/widget/graph.js
  samples/msal-browser-samples/BrokerZeroNestingTestApp/brokerApp/widget/script.js
  samples/msal-browser-samples/BrokerZeroNestingTestApp/package-lock.json
  samples/msal-browser-samples/BrokerZeroNestingTestApp/package.json
  samples/msal-browser-samples/BrokerZeroNestingTestApp/server.js
Labels: feature-broker, msal-browser, samples

#2807 Experimental API for PublicClientApplication
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/ExperimentalClientApplication.ts
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/broker/msg/resp/BrokerAuthResponse.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/request/SilentRequest.ts
  lib/msal-common/src/client/broker/BrokerAuthorizationCodeClient.ts
  lib/msal-common/src/client/broker/BrokerRefreshTokenClient.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/utils/StringUtils.spec.ts
  samples/msal-browser-samples/BrokerTestApp2.0/app/brokerApp/auth.js
  samples/msal-browser-samples/BrokerTestApp2.0/app/brokerApp/authConfig.js
  samples/msal-browser-samples/BrokerTestApp2.0/app/brokeredWidget/index.html
  samples/msal-browser-samples/BrokerTestApp2.0/app/brokeredWidget/script.js
Labels: feature-broker, msal-angular, msal-browser, msal-common, msal-node, msal-react, samples

#2881 Add missing license files
  LICENSE
  change/@azure-msal-browser-36e83ab7-73c5-4de1-ad69-f9eb57202fd3.json
  change/@azure-msal-common-7f026b7d-dc53-4a51-8888-852693ae638c.json
  change/@azure-msal-react-280697c4-1775-4599-a99a-879f20704268.json
  experimental/msal-react-native-android-poc/LICENSE
  lib/msal-browser/LICENSE
  lib/msal-common/LICENSE
  lib/msal-react/LICENSE
Labels: msal-browser, msal-common, msal-react

#2866 Extend relative uri support to redirectStartPage
  change/@azure-msal-browser-2ca47cd6-90a9-4988-b2c3-d0fbeacecdad.json
  lib/msal-browser/src/app/ClientApplication.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browser.spec.ts
Labels: msal-browser, samples

#2879 [msal-angular] Update configuration.md with platformBrowserDynamic
  change/@azure-msal-angular-425d4dc5-5336-4bad-a3fe-f50a0137217e.json
  lib/msal-angular/docs/v2-docs/configuration.md
Labels: msal-angular

#2865 Fix initial state values in react hooks
  change/@azure-msal-react-bd81c4ec-0359-4caf-ac48-3b6cc98fc388.json
  lib/msal-react/src/hooks/useAccount.ts
  lib/msal-react/src/hooks/useIsAuthenticated.ts
  lib/msal-react/src/index.ts
  lib/msal-react/test/components/MsalAuthenticationTemplate.spec.tsx
  samples/msal-react-samples/react-router-sample/src/pages/Home.jsx
  samples/msal-react-samples/react-router-sample/src/ui-components/NavBar.jsx
Labels: msal-react, samples

#2903 [msal-angular] Update library imports samples
  samples/msal-angular-v2-samples/angular10-browser-sample/.gitignore
  samples/msal-angular-v2-samples/angular10-browser-sample/.npmrc
  samples/msal-angular-v2-samples/angular10-browser-sample/package-lock.json
  samples/msal-angular-v2-samples/angular10-sample-app/.gitignore
  samples/msal-angular-v2-samples/angular10-sample-app/.npmrc
  samples/msal-angular-v2-samples/angular10-sample-app/package-lock.json
  samples/msal-angular-v2-samples/angular10-sample-app/package.json
  samples/msal-angular-v2-samples/angular11-b2c-sample/.gitignore
  samples/msal-angular-v2-samples/angular11-b2c-sample/.npmrc
  samples/msal-angular-v2-samples/angular11-b2c-sample/package-lock.json
  samples/msal-angular-v2-samples/angular11-b2c-sample/package.json
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/profile/profile.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/.gitignore
  samples/msal-angular-v2-samples/angular11-sample-app/.npmrc
  samples/msal-angular-v2-samples/angular11-sample-app/package-lock.json
  samples/msal-angular-v2-samples/angular11-sample-app/package.json
  samples/msal-angular-v2-samples/angular9-v2-sample-app/.gitignore
  samples/msal-angular-v2-samples/angular9-v2-sample-app/.npmrc
  samples/msal-angular-v2-samples/angular9-v2-sample-app/package-lock.json
  samples/msal-angular-v2-samples/angular9-v2-sample-app/package.json
Labels: samples

#2928 Add FAQ entry for specifying B2C policy
  .github/labeler.yml
  .github/workflows/label.yml
  change/@azure-msal-browser-0ac66dea-7af5-4d2e-9268-e56532ac8e91.json
  lib/msal-browser/FAQ.md
Labels: documentation, msal-browser

#2623 [msal-node] Add interfaces for public APIs
  change/@azure-msal-node-2020-11-19-11-11-51-pca-interface-node.json
  lib/msal-node/src/cache/ITokenCache.ts
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/IConfidentialClientApplication.ts
  lib/msal-node/src/client/IPublicClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/index.ts
Labels: msal-node

#2930 Add project references
  change/@azure-msal-angular-36dc2d57-1705-4dc6-a46a-2530e448bdb4.json
  change/@azure-msal-browser-96f93d30-f6e3-4fea-8bee-719be15c4b5b.json
  change/@azure-msal-common-7306bed6-37ad-4880-9097-6f784d3ca71e.json
  change/@azure-msal-node-aa354572-596c-4671-9c6a-4a502ef55791.json
  change/@azure-msal-react-129f65bf-c2fe-4080-8b1e-590a1f64be5f.json
  lib/msal-angular/tsconfig.json
  lib/msal-browser/tsconfig.base.json
  lib/msal-browser/tsconfig.json
  lib/msal-common/tsconfig.base.json
  lib/msal-common/tsconfig.json
  lib/msal-node/tsconfig.json
  lib/msal-react/tsconfig.json
Labels: msal-angular, msal-browser, msal-common, msal-node, msal-react

#2935 Fix temp cache cleanup when using localStorage
  change/@azure-msal-browser-68164171-9fe4-48ad-a670-53fd594999f9.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/localStorage.spec.ts
Labels: msal-browser, samples

#2936 Invoke interaction if MSAL Interceptor returns null access token
  change/@azure-msal-angular-f0faf086-e53d-459c-bf10-c0a51c839224.json
  lib/msal-angular/src/msal.interceptor.spec.ts
  lib/msal-angular/src/msal.interceptor.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app.module.ts
Labels: msal-angular, samples

#2902 Link browser docs in react hooks doc
  change/@azure-msal-react-d05d5efd-d60b-4542-9d77-865ba19919d6.json
  lib/msal-react/docs/hooks.md
Labels: documentation, msal-react

#2931 Enable strict in TypeScript sample
  samples/msal-browser-samples/TypescriptTestApp2.0/src/AuthModule.ts
  samples/msal-browser-samples/TypescriptTestApp2.0/src/UIManager.ts
  samples/msal-browser-samples/TypescriptTestApp2.0/tsconfig.json
Labels: samples

#2948 [msal-angular] Update guard with version detection for canLoad
  change/@azure-msal-angular-0de29d0d-210a-4af4-81b3-bf865c46e95d.json
  lib/msal-angular/src/msal.guard.ts
Labels: msal-angular

#2952 Fix token timestamp calculation
  change/@azure-msal-browser-f7b1c71b-0366-4bc9-aa4f-9492938f86f3.json
  change/@azure-msal-common-829fcf98-7972-4ad6-8af1-77a8ca467b59.json
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/utils/BrowserProtocolUtils.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/ClientCredentialClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/OnBehalfOfClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/UsernamePasswordClient.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/utils/ProtocolUtils.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/utils/ProtocolUtils.spec.ts
Labels: msal-browser, msal-common
