Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2021-05, with the labels that each got.

#3557 Remove Null Access Token Error to enable responses without access tokens
  change/@azure-msal-common-1fb3e3ef-1b48-47f0-a752-576d0e2a5c1d.json
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/response/AuthenticationResult.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
Labels: msal-common

#3546 Update MsalInterceptor to accept HTTP methods in protectedResourceMap
  change/@azure-msal-angular-734366c8-a4e7-4dc1-8c7d-134669f418dd.json
  lib/msal-angular/README.md
  lib/msal-angular/docs/FAQ.md
  lib/msal-angular/docs/v2-docs/configuration.md
  lib/msal-angular/docs/v2-docs/initialization.md
  lib/msal-angular/docs/v2-docs/msal-interceptor.md
  lib/msal-angular/docs/v2-docs/v1-v2-upgrade-guide.md
  lib/msal-angular/src/msal.interceptor.config.ts
  lib/msal-angular/src/msal.interceptor.spec.ts
  lib/msal-angular/src/msal.interceptor.ts
  lib/msal-angular/src/public-api.ts
Labels: documentation, msal-angular

#3560 add guidance for pfx to pem conversion
  change/@azure-msal-node-eddce1b6-c91e-4ca9-a7aa-15e787c799a1.json
  lib/msal-node/docs/key-vault-managed-identity.md
Labels: documentation, msal-node

#3584 Update msal-angular tooling
  change/@azure-msal-angular-992ad63b-69f6-4b0c-bb40-521f49bc79c6.json
  lib/msal-angular/angular.json
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
  lib/msal-angular/src/msal.interceptor.spec.ts
  lib/msal-angular/tsconfig.base.json
  lib/msal-angular/tsconfig.json
  lib/msal-angular/tsconfig.lib.json
  lib/msal-angular/tsconfig.lib.prod.json
  lib/msal-angular/tsconfig.spec.json
Labels: msal-angular

#3568 [docs] updates and replacements
  change/@azure-msal-angular-47480aba-b7a3-4bfe-96db-76f1f2442042.json
  change/@azure-msal-browser-80134efc-db19-4a1b-b716-026eaba493a0.json
  change/@azure-msal-node-5987b7f0-61f6-4bab-8b36-78db729cf536.json
  lib/msal-angular/README.md
  lib/msal-browser/docs/access-token-proof-of-possession.md
  lib/msal-node/docs/migration.md
  samples/msal-angular-v2-samples/README.md
Labels: documentation, msal-angular, msal-browser, msal-node, samples

#3573 Add incompatibility with Azure App Proxy to browser FAQ
  change/@azure-msal-browser-1e0efd9d-937b-4998-bb17-afa705ae0abf.json
  lib/msal-browser/FAQ.md
Labels: documentation, msal-browser

#3587 [msal-core] Fix ID Token in browser history bug
  change/msal-b6e7aefd-5099-4083-97af-3773efddae35.json
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/utils/WindowUtils.ts
  lib/msal-core/test/utils/WindowUtils.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/b2c/test/browser.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/default/graphConfig.js
  samples/msal-core-samples/VanillaJSTestApp/app/default/test/browser.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/app/get_access_token_interactively/test/browser.spec.ts
Labels: msal@1.x, samples

#3588 Add Gatsby e2e tests
  .github/workflows/msal-react-e2e.yml
  samples/msal-react-samples/gatsby-sample/README.md
  samples/msal-react-samples/gatsby-sample/jest.config.js
  samples/msal-react-samples/gatsby-sample/package.json
  samples/msal-react-samples/gatsby-sample/src/authConfig.js
  samples/msal-react-samples/gatsby-sample/test/home.spec.ts
  samples/msal-react-samples/gatsby-sample/test/profile.spec.ts
Labels: documentation, samples

#3563 Preserve ES modules and enable treeshaking
  change/@azure-msal-browser-1a4f1842-8035-4df0-9d0d-a332379764ec.json
  change/@azure-msal-common-0251555e-319b-441f-9119-70259473701c.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/rollup.config.js
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  lib/msal-common/rollup.config.js
Labels: msal-browser, msal-common

#3618 [msal-core] Update handlebars from 4.7.6 to 4.7.7
  lib/msal-core/package-lock.json
  lib/msal-core/package.json
Labels: msal@1.x

#3589 Adjust msal-browser log messages
  change/@azure-msal-browser-8e9351a8-a19a-4cbe-9b08-3ec69595fb7a.json
  change/@azure-msal-common-3d336a94-36dc-41b5-a5b6-6264199d0d9f.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-common/src/logger/Logger.ts
Labels: msal-browser, msal-common

#3579 Add check for empty object string in claims request parameter
  change/@azure-msal-common-a43952ea-7a61-47e1-99b3-430e5268741d.json
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/ClientCredentialClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/client/UsernamePasswordClient.ts
  lib/msal-common/src/utils/StringUtils.ts
  lib/msal-common/test/account/AuthToken.spec.ts
  lib/msal-common/test/account/ClientInfo.spec.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/authority/AuthorityFactory.spec.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/cache/entities/AuthorityMetadataEntity.spec.ts
  lib/msal-common/test/cache/entities/ServerTelemetryEntity.spec.ts
  lib/msal-common/test/cache/entities/ThrottlingEntity.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/BaseClient.spec.ts
  lib/msal-common/test/client/ClientCredentialClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/DeviceCodeClient.spec.ts
  lib/msal-common/test/client/OnBehalfOfClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/client/UsernamePasswordClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
  lib/msal-common/test/error/ClientConfigurationError.spec.ts
  lib/msal-common/test/network/NetworkManager.spec.ts
  lib/msal-common/test/network/ThrottlingUtils.spec.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
  lib/msal-common/test/request/RequestValidator.spec.ts
  lib/msal-common/test/request/ScopeSet.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
  lib/msal-common/test/test_kit/TestErrors.ts
  lib/msal-common/test/url/UrlString.spec.ts
  lib/msal-common/test/utils/ProtocolUtils.spec.ts
  lib/msal-common/test/utils/StringUtils.spec.ts
Labels: msal-common

#3068 [msal-node]: Add regional authorities
  change/@azure-msal-common-3a77bce6-2018-43cb-a144-b5c97075c636.json
  change/@azure-msal-node-be90a5f8-54bd-4cee-b510-3d0509de536f.json
  lib/msal-common/package-lock.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityOptions.ts
  lib/msal-common/src/authority/AzureRegion.ts
  lib/msal-common/src/authority/AzureRegionConfiguration.ts
  lib/msal-common/src/authority/RegionDiscovery.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/network/INetworkModule.ts
  lib/msal-common/src/request/CommonClientCredentialRequest.ts
  lib/msal-common/src/response/IMDSBadResponse.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-node/docs/regional-authorities.md
  lib/msal-node/package-lock.json
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/network/HttpClient.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  samples/msal-node-samples/client-credentials/index.js
  samples/msal-node-samples/client-credentials/package.json
Labels: documentation, msal-common, msal-node, samples

#3609 Fix hash removal from URL and browser history after interactive request
  change/@azure-msal-angular-31c5cd50-1761-4a5f-9b9d-3c43fd2b822e.json
  change/@azure-msal-browser-9343b33e-75b7-41df-8ad1-d3ea7134bfe3.json
  lib/msal-angular/src/msal.navigation.client.ts
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/interaction_handler/PopupHandler.ts
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/utils/BrowserUtils.spec.ts
Labels: msal-angular, msal-browser

#3625 Enable no-param-reassign lint rule
  .eslintrc.json
  change/@azure-msal-angular-1a107288-b7ee-4ffa-857e-1997fff45ecf.json
  change/@azure-msal-browser-fdde6973-1c23-4c77-9f54-02d19eb7fcf4.json
  change/@azure-msal-common-4a2588ba-6b01-4b74-8a33-32676c95a47d.json
  change/@azure-msal-node-6c95b8d7-5466-42ad-abd2-14e7e998c038.json
  change/@azure-msal-react-88106e01-7b92-4964-bea3-065cb6e410c5.json
  change/msal-9c8c711f-70ef-4522-b988-7c9f2305c3f0.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-common/src/network/ThrottlingUtils.ts
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-common/src/url/UrlString.ts
  lib/msal-common/test/url/UrlString.spec.ts
  lib/msal-core/src/ServerRequestParameters.ts
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/utils/ResponseUtils.ts
  lib/msal-core/src/utils/TimeUtils.ts
  lib/msal-core/src/utils/UrlUtils.ts
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: msal-angular, msal-browser, msal-common, msal-node, msal-react, msal@1.x

#3586 Update configurations doc and FAQ
  change/@azure-msal-angular-cfb1abb1-aaa6-4b91-b562-2de940b55e5e.json
  lib/msal-angular/README.md
  lib/msal-angular/docs/FAQ.md
  lib/msal-angular/docs/v2-docs/configuration.md
  lib/msal-angular/docs/v2-docs/initialization.md
  lib/msal-angular/docs/v2-docs/known-issues.md
  lib/msal-angular/docs/v2-docs/msal-guard.md
  lib/msal-angular/docs/v2-docs/performance.md
  lib/msal-angular/docs/v2-docs/v1-v2-upgrade-guide.md
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app.component.ts
Labels: documentation, msal-angular, samples

#3635 Move MSAL Angular v2 and MSAL React to GA
  change/@azure-msal-angular-b1aa9341-cdd0-43f6-9629-9850a763ef5f.json
  change/@azure-msal-react-10c94ff6-6f9e-453d-b09f-09e1041c3570.json
  lib/msal-angular/README.md
  lib/msal-angular/package.json
  lib/msal-react/README.md
  lib/msal-react/package.json
  roadmap.md
Labels: documentation, msal-angular, msal-react

#3654 Migrate msal-common tests to Jest
  change/@azure-msal-common-84845d56-56d3-493d-88fc-d86ef0876b99.json
  lib/msal-common/.babelrc
  lib/msal-common/.mocharc.json
  lib/msal-common/.nycrc
  lib/msal-common/jest.config.js
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-common/test/account/AuthToken.spec.ts
  lib/msal-common/test/account/ClientInfo.spec.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/authority/AuthorityFactory.spec.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/entities/AccessTokenEntity.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/cache/entities/AppMetadataEntity.spec.ts
  lib/msal-common/test/cache/entities/AuthorityMetadataEntity.spec.ts
  lib/msal-common/test/cache/entities/IdTokenEntity.spec.ts
  lib/msal-common/test/cache/entities/RefreshTokenEntity.spec.ts
  lib/msal-common/test/cache/entities/ServerTelemetryEntity.spec.ts
  lib/msal-common/test/cache/entities/ThrottlingEntity.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/BaseClient.spec.ts
  lib/msal-common/test/client/ClientCredentialClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/DeviceCodeClient.spec.ts
  lib/msal-common/test/client/OnBehalfOfClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/client/UsernamePasswordClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
  lib/msal-common/test/error/AuthError.spec.ts
  lib/msal-common/test/error/ClientAuthError.spec.ts
  lib/msal-common/test/error/ClientConfigurationError.spec.ts
  lib/msal-common/test/error/InteractionRequiredAuthError.spec.ts
  lib/msal-common/test/error/ServerError.spec.ts
  lib/msal-common/test/logger/Logger.spec.ts
  lib/msal-common/test/mochaSetup.js
  lib/msal-common/test/network/NetworkManager.spec.ts
  lib/msal-common/test/network/ThrottlingUtils.spec.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
  lib/msal-common/test/request/RequestValidator.spec.ts
  lib/msal-common/test/request/ScopeSet.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
  lib/msal-common/test/url/UrlString.spec.ts
  lib/msal-common/test/utils/ProtocolUtils.spec.ts
  lib/msal-common/test/utils/StringUtils.spec.ts
  lib/msal-common/test/utils/TimeUtils.spec.ts
  lib/msal-common/tsconfig.json
Labels: msal-common

#3651 [msal-node] Fix log level propagation to msal-common
  change/@azure-msal-node-93f8af6f-cfda-4d84-8af6-86620f007e92.json
  lib/msal-node/src/client/ClientApplication.ts
Labels: msal-node

#3657 Migrate browser tests to Jest
  change/@azure-msal-browser-a22b4f98-888b-48cb-b805-e2f3654175d5.json
  change/@azure-msal-common-f03c504e-b30b-496f-92df-53a9815f05d5.json
  lib/msal-browser/.babelrc
  lib/msal-browser/.mocharc.json
  lib/msal-browser/.nycrc
  lib/msal-browser/jest.config.js
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/src/error/BrowserConfigurationAuthError.ts
  lib/msal-browser/test/app/IPublicClientApplication.spec.ts
  lib/msal-browser/test/app/PCANonBrowser.spec.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TestStorageManager.ts
  lib/msal-browser/test/config/Configuration.spec.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/crypto/GuidGenerator.spec.ts
  lib/msal-browser/test/crypto/PkceGenerator.spec.ts
  lib/msal-browser/test/encode/Base64Decode.spec.ts
  lib/msal-browser/test/encode/Base64Encode.spec.ts
  lib/msal-browser/test/error/BrowserAuthError.spec.ts
  lib/msal-browser/test/error/BrowserConfigurationAuthError.spec.ts
  lib/msal-browser/test/event/EventMessage.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-browser/test/mochaSetup.js
  lib/msal-browser/test/navigation/NavigationClient.spec.ts
  lib/msal-browser/test/network/FetchClient.spec.ts
  lib/msal-browser/test/network/XhrClient.spec.ts
  lib/msal-browser/test/utils/BrowserProtocolUtils.spec.ts
  lib/msal-browser/test/utils/BrowserUtils.spec.ts
  lib/msal-browser/test/utils/MathUtils.spec.ts
  lib/msal-browser/test/utils/PopupUtils.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-browser/tsconfig.json
  lib/msal-common/src/index.ts
Labels: msal-browser, msal-common

#3655 Upgrade dependencies
  change/@azure-msal-angular-3945e3f1-4f14-4d0b-8f61-9f2684ee8fc1.json
  change/@azure-msal-browser-d94b1bad-0f02-4889-b9bc-ddd9914ac5a2.json
  change/@azure-msal-common-1fa817af-a469-4eac-a6a9-4ae66d99286a.json
  change/@azure-msal-node-0ceae97c-ffc9-49be-889f-ccb8782f9a53.json
  change/@azure-msal-react-8e293be3-5718-4ed3-a3c2-769361407323.json
  change/msal-1b37cd50-1162-4dd0-8561-14719077f51d.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-core/package-lock.json
  lib/msal-core/package.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: msal-angular, msal-browser, msal-common, msal-node, msal-react, msal@1.x

#3659 Update msal-angular dev samples to use GA version
  samples/msal-angular-v2-samples/angular10-sample-app/package.json
  samples/msal-angular-v2-samples/angular11-b2c-sample/package.json
  samples/msal-angular-v2-samples/angular11-sample-app/package.json
  samples/msal-angular-v2-samples/angular12-sample-app/package.json
  samples/msal-angular-v2-samples/angular9-v2-sample-app/package.json
Labels: samples

#3663 Update React Typescript Sample
  change/@azure-msal-browser-08b03db4-e6ac-4116-8f82-aa75ba98b386.json
  lib/msal-browser/src/app/IPublicClientApplication.ts
  samples/msal-react-samples/b2c-sample/README.md
  samples/msal-react-samples/gatsby-sample/README.md
  samples/msal-react-samples/react-router-sample/README.md
  samples/msal-react-samples/typescript-sample/README.md
  samples/msal-react-samples/typescript-sample/package.json
  samples/msal-react-samples/typescript-sample/src/App.tsx
  samples/msal-react-samples/typescript-sample/src/authConfig.ts
  samples/msal-react-samples/typescript-sample/src/index.tsx
  samples/msal-react-samples/typescript-sample/src/pages/Home.tsx
  samples/msal-react-samples/typescript-sample/src/pages/Profile.tsx
  samples/msal-react-samples/typescript-sample/src/styles/App.css
  samples/msal-react-samples/typescript-sample/src/styles/index.css
  samples/msal-react-samples/typescript-sample/src/styles/theme.ts
  samples/msal-react-samples/typescript-sample/src/styles/useStyles.ts
  samples/msal-react-samples/typescript-sample/src/ui-components/ErrorComponent.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/Loading.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/NavBar.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/PageLayout.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/ProfileData.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/SignInButton.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/SignInSignOutButton.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/SignOutButton.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/WelcomeName.tsx
  samples/msal-react-samples/typescript-sample/src/ui.tsx
  samples/msal-react-samples/typescript-sample/src/utils/MsGraphApiCall.ts
  samples/msal-react-samples/typescript-sample/src/utils/NavigationClient.ts
  samples/msal-react-samples/typescript-sample/tsconfig.json
Labels: documentation, msal-browser, samples

#3670 Update code coverage badges in Readmes
  .github/workflows/beachball-check.yml
  lib/msal-angular/README.md
  lib/msal-browser/README.md
  lib/msal-common/README.md
  lib/msal-core/README.md
  lib/msal-node/README.md
  lib/msal-react/README.md
Labels: documentation, msal-angular, msal-browser, msal-common, msal-node, msal-react, msal@1.x

#3675 Update React dev samples to use GA version
  samples/msal-react-samples/b2c-sample/package.json
  samples/msal-react-samples/gatsby-sample/package.json
  samples/msal-react-samples/nextjs-sample/package.json
  samples/msal-react-samples/react-router-sample/package.json
Labels: samples

#3679 Update performance.md to clarify what is not supported for B2C
  lib/msal-browser/docs/performance.md
Labels: documentation, msal-browser

#3685 React TypeScript E2E Tests
  .github/workflows/msal-react-e2e.yml
  samples/e2eTestUtils/BrowserCacheTestUtils.ts
  samples/e2eTestUtils/LabClient.ts
  samples/e2eTestUtils/TestUtils.ts
  samples/msal-react-samples/typescript-sample/.env
  samples/msal-react-samples/typescript-sample/jest.config.js
  samples/msal-react-samples/typescript-sample/package.json
  samples/msal-react-samples/typescript-sample/test/home.spec.ts
  samples/msal-react-samples/typescript-sample/test/profile.spec.ts
  samples/msal-react-samples/typescript-sample/tsconfig.json
Labels: samples

#3690 Update msal-angular docs
  lib/msal-angular/docs/v2-docs/configuration.md
  lib/msal-angular/docs/v2-docs/initialization.md
Labels: documentation, msal-angular
