Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2021-02, with the labels that each got.

#2949 Fix unable to change B2C policy
  change/@azure-msal-browser-24ea16cf-a8de-4bff-9fed-9ebf9be06d5e.json
  change/@azure-msal-common-6c2c0d3b-4cf4-4861-84f4-f5a9925928a7.json
  change/@azure-msal-node-38f9176f-3ed7-4cc6-b361-146ff73f6ed4.json
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/cache/entities/AuthorityMetadataEntity.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/cache/entities/AuthorityMetadataEntity.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
  lib/msal-node/test/cache/Storage.spec.ts
Labels: msal-browser, msal-common, msal-node

#2926 Typedoc Updates
  .github/workflows/typedoc.yml
  .gitignore
  change/@azure-msal-angular-f6645170-f5f0-4db2-bd55-00325d34f5c2.json
  change/@azure-msal-browser-b4295e51-4b48-4a80-b5c2-d2315530909b.json
  change/@azure-msal-common-57725b8c-b53b-45d5-be5c-31c46e4f4034.json
  change/@azure-msal-node-d297495c-2fb7-4bc8-a41a-294c2d5616bf.json
  change/@azure-msal-react-545df6b8-1be5-4dfb-ba96-7e6ee60d00b6.json
  change/msal-3ba39378-0abb-4906-8ad6-6002762d6849.json
  lib/msal-angular/README.md
  lib/msal-angular/src/public-api.ts
  lib/msal-browser/README.md
  lib/msal-browser/docs/request-response-object.md
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/request/AuthorizationUrlRequest.ts
  lib/msal-common/README.md
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  lib/msal-common/src/index.ts
  lib/msal-core/README.md
  lib/msal-core/package-lock.json
  lib/msal-core/package.json
  lib/msal-core/src/index.ts
  lib/msal-node/README.md
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  lib/msal-node/src/index.ts
  lib/msal-react/.gitignore
  lib/msal-react/README.md
  lib/msal-react/package-lock.json
  lib/msal-react/package.json
  lib/msal-react/src/components/withMsal.tsx
  lib/msal-react/src/hooks/useAccount.ts
  lib/msal-react/src/hooks/useIsAuthenticated.ts
  lib/msal-react/src/hooks/useMsal.ts
  lib/msal-react/src/hooks/useMsalAuthentication.ts
  lib/msal-react/src/index.ts
  package-lock.json
  package.json
  tsconfig.json
  typedoc.json
Labels: documentation, msal-angular, msal-browser, msal-common, msal-node, msal-react, msal@1.x

#2845 Send wrapper SKU and version on telemetry headers
  change/@azure-msal-angular-88b61c31-3cd5-44f1-974e-4eb53b2bd6b0.json
  change/@azure-msal-browser-1a2f284f-29ec-4a1d-85a5-aba56df6eb0d.json
  change/@azure-msal-common-824a5e33-1319-4bef-887c-848bc6ab0aea.json
  change/@azure-msal-react-507d5e53-05cd-4326-9e48-b1de80e70b3e.json
  lib/msal-angular/src/constants.ts
  lib/msal-angular/src/msal.service.ts
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryRequest.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
  lib/msal-react/src/MsalProvider.tsx
Labels: msal-angular, msal-browser, msal-common, msal-react

#2956 Add notice to msal-core Readme to direct new users to msal-browser
  change/msal-354364bf-41cd-46dc-ad76-2b4a634ae24c.json
  lib/msal-core/README.md
Labels: documentation, msal@1.x

#2885 [msal-angular] Redirect component and sample updates
  change/@azure-msal-angular-638de083-14fc-4855-8cff-be4774bdf5fe.json
  change/@azure-msal-browser-10d8afcf-48fc-4a95-a51b-d29e2f22b6e9.json
  change/@azure-msal-react-80913023-091b-4b89-bd85-a4b1619c7da7.json
  lib/msal-angular/README.md
  lib/msal-angular/docs/v2-docs/1.x-2.x-upgrade-guide.md
  lib/msal-angular/docs/v2-docs/configuration.md
  lib/msal-angular/docs/v2-docs/events.md
  lib/msal-angular/docs/v2-docs/known-issues.md
  lib/msal-angular/docs/v2-docs/redirects.md
  lib/msal-angular/src/msal.broadcast.service.ts
  lib/msal-angular/src/msal.redirect.component.ts
  lib/msal-angular/src/public-api.ts
  lib/msal-browser/src/event/EventMessage.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/event/EventMessage.spec.ts
  lib/msal-react/src/MsalContext.ts
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/src/components/MsalAuthenticationTemplate.tsx
  lib/msal-react/src/hooks/useAccount.ts
  lib/msal-react/src/hooks/useIsAuthenticated.ts
  lib/msal-react/src/hooks/useMsalAuthentication.ts
  lib/msal-react/src/index.ts
  lib/msal-react/src/utils/Constants.ts
  lib/msal-react/test/MsalProvider.spec.tsx
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/app.component.html
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/home/home.component.ts
  samples/msal-angular-v2-samples/angular10-sample-app/src/index.html
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app.component.html
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/b2c-config.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/home/home.component.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/profile/profile.component.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/index.html
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.component.html
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/home/home.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/index.html
  samples/msal-angular-v2-samples/angular9-v2-sample-app/src/app/app.component.html
  samples/msal-angular-v2-samples/angular9-v2-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/src/app/app.module.ts
Labels: documentation, msal-angular, msal-browser, msal-react, samples

#2963 Fix stub errors not throwing properly
  change/@azure-msal-browser-04c92788-a1e3-4dac-ba88-85c8f9be715d.json
  lib/msal-browser/docs/errors.md
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/error/BrowserConfigurationAuthError.ts
  lib/msal-browser/test/app/IPublicClientApplication.spec.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: documentation, msal-browser

#2955 Updates to MSAL Browser chromium extension sample
  samples/msal-browser-samples/ChromiumExtensionSample/README.md
  samples/msal-browser-samples/ChromiumExtensionSample/auth.js
  samples/msal-browser-samples/ChromiumExtensionSample/manifest.json
Labels: documentation, samples

#2789 Allow applications to disable postLogoutRedirectUri in MSAL Browser
  change/@azure-msal-browser-1ebcd183-1b87-40b5-8756-87dcae107034.json
  change/@azure-msal-common-720b8a3e-318e-4e14-be1c-9d6be0a687bb.json
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/request/EndSessionRequest.ts
Labels: documentation, msal-browser, msal-common

#2863 [msal-angular][msal-browser] Typedocs and Instrumentation
  change/@azure-msal-angular-f99e033b-afd0-45f3-bd57-5aab6a7f614b.json
  change/@azure-msal-browser-e5884f37-1ae3-4065-a8d5-47a30aef99e1.json
  lib/msal-angular/src/msal.guard.ts
  lib/msal-angular/src/msal.interceptor.ts
  lib/msal-angular/src/msal.service.ts
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  samples/msal-angular-v2-samples/angular10-browser-sample/package.json
  samples/msal-angular-v2-samples/angular10-sample-app/package.json
  samples/msal-angular-v2-samples/angular11-b2c-sample/package.json
  samples/msal-angular-v2-samples/angular11-sample-app/package.json
  samples/msal-angular-v2-samples/angular9-v2-sample-app/package.json
Labels: msal-angular, msal-browser, samples

#2965 msal-react FAQ and class component doc
  change/@azure-msal-react-147cd373-df6a-4668-a3b4-3f183a5cb08a.json
  lib/msal-react/FAQ.md
  lib/msal-react/README.md
  lib/msal-react/docs/class-components.md
  lib/msal-react/docs/getting-started.md
Labels: documentation, msal-react

#2971 msal-angular update documentation: add ssoSilent and remove cors-api
  change/@azure-msal-angular-116b7d3f-06cb-4f5b-b76c-a789bcbfeb1c.json
  lib/msal-angular/docs/v2-docs/cors-api.md
  lib/msal-angular/docs/v2-docs/ssosilent.md
Labels: documentation, msal-angular

#2959 Set the validateStatus locally than globally for `axios`
  change/@azure-msal-node-2021-01-30-21-38-37-axios-validate-status.json
  lib/msal-node/src/network/HttpClient.ts
Labels: msal-node

#2976 React Events doc
  change/@azure-msal-react-799c65b2-c763-4e4e-b46c-4bc4ba8e0f47.json
  lib/msal-react/FAQ.md
  lib/msal-react/README.md
  lib/msal-react/docs/events.md
Labels: documentation, msal-react

#2993 Fix version.json import errors
  change/@azure-msal-angular-d2230a77-9499-41a5-8f72-a91f8f125ef0.json
  change/@azure-msal-browser-f56f43c9-17fb-4847-9c0e-ab34b09f6dde.json
  change/@azure-msal-common-b4781104-6a9c-445c-9840-e1acb4a0f7e3.json
  change/@azure-msal-node-ce5f590c-5c89-4c15-becc-757909d75851.json
  change/@azure-msal-react-75d324c2-0c40-4974-bb1b-872d8acfdfff.json
  change/msal-f85abd3a-b9e0-4377-ab61-eb64cfb8ddf1.json
  lib/msal-angular/src/msal.service.ts
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-angular/src/version.json
  lib/msal-angular/tsconfig.base.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-browser/src/version.json
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/tsconfig.build.json
  lib/msal-browser/tsconfig.json
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/packageMetadata.ts
  lib/msal-common/src/version.json
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/tsconfig.build.json
  lib/msal-common/tsconfig.json
  lib/msal-core/src/Logger.ts
  lib/msal-core/src/ServerRequestParameters.ts
  lib/msal-core/src/packageMetadata.ts
  lib/msal-core/src/telemetry/TelemetryManager.ts
  lib/msal-core/src/version.json
  lib/msal-core/tsconfig.base.json
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/packageMetadata.ts
  lib/msal-node/src/version.json
  lib/msal-node/tsconfig.build.json
  lib/msal-node/tsconfig.json
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/src/packageMetadata.ts
  lib/msal-react/src/version.json
  lib/msal-react/tsconfig.build.json
  lib/msal-react/tsconfig.json
  release-scripts/updateVersion.js
Labels: msal-angular, msal-browser, msal-common, msal-node, msal-react, msal@1.x

#2995 Add missing network types to browser exports
  change/@azure-msal-browser-65c349c3-be52-4bdd-a9ca-feaddfde428f.json
  lib/msal-browser/src/index.ts
Labels: msal-browser

#2996 Check InteractionStatus in Authenticated/UnauthenticatedTemplates
  change/@azure-msal-react-d64cc79b-cd35-4852-8ac6-5e38d2d24f4d.json
  lib/msal-react/src/components/AuthenticatedTemplate.tsx
  lib/msal-react/src/components/UnauthenticatedTemplate.tsx
  lib/msal-react/test/components/AuthenticatedTemplate.spec.tsx
  lib/msal-react/test/components/UnauthenticatedTemplate.spec.tsx
Labels: msal-react

#2969 Ignore OIDC scopes in cache logic
  change/@azure-msal-browser-4ac1e072-38dc-4c02-92ee-a660bfeb244c.json
  change/@azure-msal-common-133de286-2573-4caf-a5da-c45fe6195807.json
  change/@azure-msal-node-6b6f89f8-6cf5-490b-b082-eb7f7f3a7e39.json
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
  lib/msal-common/test/request/ScopeSet.spec.ts
  lib/msal-node/src/client/ClientApplication.ts
Labels: msal-browser, msal-common, msal-node

#2967 React b2c sample
  samples/msal-react-samples/b2c-sample/.env
  samples/msal-react-samples/b2c-sample/.gitignore
  samples/msal-react-samples/b2c-sample/.npmrc
  samples/msal-react-samples/b2c-sample/README.md
  samples/msal-react-samples/b2c-sample/package.json
  samples/msal-react-samples/b2c-sample/public/favicon.ico
  samples/msal-react-samples/b2c-sample/public/index.html
  samples/msal-react-samples/b2c-sample/public/logo192.png
  samples/msal-react-samples/b2c-sample/public/logo512.png
  samples/msal-react-samples/b2c-sample/public/manifest.json
  samples/msal-react-samples/b2c-sample/public/robots.txt
  samples/msal-react-samples/b2c-sample/src/App.js
  samples/msal-react-samples/b2c-sample/src/authConfig.js
  samples/msal-react-samples/b2c-sample/src/index.js
  samples/msal-react-samples/b2c-sample/src/pages/Home.jsx
  samples/msal-react-samples/b2c-sample/src/pages/Protected.jsx
  samples/msal-react-samples/b2c-sample/src/styles/theme.js
  samples/msal-react-samples/b2c-sample/src/styles/useStyles.js
  samples/msal-react-samples/b2c-sample/src/ui-components/ErrorComponent.jsx
  samples/msal-react-samples/b2c-sample/src/ui-components/Loading.jsx
  samples/msal-react-samples/b2c-sample/src/ui-components/NavBar.jsx
  samples/msal-react-samples/b2c-sample/src/ui-components/PageLayout.jsx
  samples/msal-react-samples/b2c-sample/src/ui-components/ProtectedData.jsx
  samples/msal-react-samples/b2c-sample/src/ui-components/SignInButton.jsx
  samples/msal-react-samples/b2c-sample/src/ui-components/SignInSignOutButton.jsx
  samples/msal-react-samples/b2c-sample/src/ui-components/SignOutButton.jsx
  samples/msal-react-samples/b2c-sample/src/ui-components/WelcomeName.jsx
Labels: documentation, samples

#2961 Check useAccount() for undefined accounts[0] value
  lib/msal-react/docs/getting-started.md
Labels: documentation, msal-react

#2973 [msal-react] add class component example to router sample
  change/@azure-msal-react-7340de85-b849-400e-ae50-e032315bdbbf.json
  lib/msal-react/docs/class-components.md
  samples/msal-react-samples/react-router-sample/README.md
  samples/msal-react-samples/react-router-sample/src/App.js
  samples/msal-react-samples/react-router-sample/src/pages/Home.jsx
  samples/msal-react-samples/react-router-sample/src/pages/ProfileRawContext.jsx
  samples/msal-react-samples/react-router-sample/src/pages/ProfileWithMsal.jsx
Labels: documentation, msal-react, samples

#3013 Ensure scrollbars are enabled for browser popups
  change/@azure-msal-browser-ad675bda-ab43-4b3d-935d-1688d2913cca.json
  lib/msal-browser/src/interaction_handler/PopupHandler.ts
Labels: accessibility, msal-browser

#3012 Await loginRedirect in MSAL Guard to prevent race conditions
  change/@azure-msal-angular-449f8e13-b11b-4dfc-92b3-e3e1542431ea.json
  lib/msal-angular/karma.conf.js
  lib/msal-angular/src/msal.guard.spec.ts
  lib/msal-angular/src/msal.guard.ts
Labels: msal-angular

#3037 Fix links in msal-node configuration docs
  lib/msal-node/docs/configuration.md
Labels: documentation, msal-node

#3031 [msal-common] Device Code Timeout documentation and sample update
  change/@azure-msal-common-164c2c31-d950-4d43-9601-a63101917787.json
  lib/msal-common/src/request/CommonDeviceCodeRequest.ts
  samples/msal-node-samples/standalone-samples/device-code/index.js
Labels: msal-common, samples

#2636 [msal-node] adding READMEs to msal-node b2c samples
  samples/msal-node-samples/standalone-samples/b2c-auth-code-pkce/README.md
  samples/msal-node-samples/standalone-samples/b2c-auth-code/README.md
  samples/msal-node-samples/standalone-samples/b2c-silent-flow/README.md
Labels: b2c, documentation, samples

#3038 Update MSAL Node Docs with the latest feedback
  change/@azure-msal-node-2021-02-17-14-21-20-update-docs-links.json
  lib/msal-node/README.md
  lib/msal-node/docs/configuration.md
  lib/msal-node/docs/faq.md
  lib/msal-node/docs/initialize-confidential-client-application.md
  lib/msal-node/docs/initialize-public-client-application.md
Labels: documentation, msal-node

#2998 update node version support in package.json
  change/@azure-msal-node-2021-02-08-20-06-52-add-node-version-support.json
  lib/msal-node/README.md
  lib/msal-node/package.json
Labels: documentation, msal-node

#3000 [do-not-merge] update msal-node landing page & samples page
  README.md
  change/@azure-msal-node-e8baaf0c-90b5-4f1f-bbad-45aa14688a91.json
  lib/msal-node/README.md
  samples/msal-node-samples/standalone-samples/README.md
Labels: documentation, msal-node, samples

#3001 [msal-browser] Add option to use Secure Cookies to cache configuration
  change/@azure-msal-browser-7275155b-ce0d-4d70-a97e-720acc2e9f91.json
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/test/config/Configuration.spec.ts
Labels: documentation, enhancement, msal-browser

#3030 React Sample IE11 Compatibility
  samples/msal-react-samples/react-router-sample/README.md
  samples/msal-react-samples/react-router-sample/package.json
  samples/msal-react-samples/react-router-sample/src/authConfig.js
  samples/msal-react-samples/react-router-sample/src/index.js
Labels: documentation, samples

#3064 Separate telemetry for ssoSilent and ATS Iframe renewal
  change/@azure-msal-browser-93ce4f68-3786-44f7-a44b-11bed72e0018.json
  lib/msal-browser/src/app/ClientApplication.ts
Labels: msal-browser

#2977 Add msal-angular FAQ to docs and active account to sample
  change/@azure-msal-angular-9ee847b1-b1b7-45f7-a01f-11f7c30cf043.json
  lib/msal-angular/README.md
  lib/msal-angular/docs/FAQ.md
  lib/msal-angular/docs/v2-docs/1.x-2.x-upgrade-guide.md
  lib/msal-angular/docs/v2-docs/public-apis.md
  samples/msal-angular-v2-samples/README.md
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/home/home.component.ts
Labels: documentation, msal-angular, samples

#3074 Update msal-angular preinstall script to force npm-force-resolutions version
  change/@azure-msal-angular-7c84ff5a-7773-4dde-a551-3665adb6e468.json
  lib/msal-angular/package.json
Labels: msal-angular

#3051 Update angular docs and samples re. incremental vs. upfront consent
  change/@azure-msal-angular-d1bf17b7-717e-47aa-b03d-d80e870c7d25.json
  lib/msal-angular/docs/v2-docs/configuration.md
  samples/msal-angular-v2-samples/README.md
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.module.ts
Labels: documentation, msal-angular, samples

#3065 Fix OIDC Scopes Caching Issue
  change/@azure-msal-common-ba830074-164e-4e0f-8188-9d5d3f44c276.json
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
Labels: msal-common

#3049 Add MsalAuthenticationTemplate to Getting Started doc
  change/@azure-msal-react-015bed9c-a117-474a-b812-01a3fe535b17.json
  lib/msal-react/docs/getting-started.md
Labels: documentation, msal-react

#3002 Msal-react docs updates
  change/@azure-msal-react-28355c0a-78fd-4ee2-9e2a-2bec4804aa4c.json
  lib/msal-react/FAQ.md
  lib/msal-react/docs/getting-started.md
  samples/msal-react-samples/react-router-sample/src/index.js
  samples/msal-react-samples/react-router-sample/src/pages/Profile.jsx
  samples/msal-react-samples/react-router-sample/src/utils/MsGraphApiCall.js
Labels: documentation, msal-react, samples

#3072 Memoize handleRedirectPromise
  change/@azure-msal-browser-38f0f734-e4bf-4dd5-9c4e-ef1379f478d6.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
Labels: msal-browser

#3055 Add ADAL to MSAL doc for node.js
  change/@azure-msal-node-d20baaab-d8d6-4714-a892-ae240213cb77.json
  lib/msal-node/docs/faq.md
  lib/msal-node/docs/migration.md
Labels: documentation, msal-node

#2985 Provide a way for developers to override the navigation methods used
  change/@azure-msal-browser-58ddbcda-5d34-4249-acbd-c5e52b1d8144.json
  change/@azure-msal-react-eaed0b7f-bbb9-4ea1-97bf-f4a9041c0c78.json
  lib/msal-browser/docs/navigation.md
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/navigation/INavigationClient.ts
  lib/msal-browser/src/navigation/NavigationClient.ts
  lib/msal-browser/src/navigation/NavigationOptions.ts
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/navigation/NavigationClient.spec.ts
  lib/msal-browser/test/utils/BrowserUtils.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-react/README.md
  lib/msal-react/docs/performance.md
  samples/msal-react-samples/gatsby-sample/.eslintrc.js
  samples/msal-react-samples/gatsby-sample/README.md
  samples/msal-react-samples/gatsby-sample/gatsby-browser.js
  samples/msal-react-samples/gatsby-sample/gatsby-ssr.js
  samples/msal-react-samples/gatsby-sample/src/components/Layout.jsx
  samples/msal-react-samples/gatsby-sample/src/pages/index.js
  samples/msal-react-samples/gatsby-sample/src/pages/profile.js
  samples/msal-react-samples/gatsby-sample/src/utils/NavigationClient.js
  samples/msal-react-samples/gatsby-sample/src/wrap-with-provider.js
  samples/msal-react-samples/nextjs-sample/README.md
  samples/msal-react-samples/nextjs-sample/pages/_app.js
  samples/msal-react-samples/nextjs-sample/pages/profile.js
  samples/msal-react-samples/nextjs-sample/src/NavigationClient.js
  samples/msal-react-samples/react-router-sample/README.md
  samples/msal-react-samples/react-router-sample/src/App.js
  samples/msal-react-samples/react-router-sample/src/authConfig.js
  samples/msal-react-samples/react-router-sample/src/index.js
  samples/msal-react-samples/react-router-sample/src/pages/Profile.jsx
  samples/msal-react-samples/react-router-sample/src/pages/ProfileRawContext.jsx
  samples/msal-react-samples/react-router-sample/src/pages/ProfileWithMsal.jsx
  samples/msal-react-samples/react-router-sample/src/utils/NavigationClient.js
Labels: documentation, msal-browser, msal-react, samples
