Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2021-04, with the labels that each got.

#3377 Update roadmap.md
  roadmap.md
Labels: documentation

#3229 [msal-node] Fix the device code cancellation
  change/@azure-msal-node-bcbc5428-ab7a-42d6-951a-012c3b81c2bd.json
  lib/msal-node/src/client/PublicClientApplication.ts
Labels: msal-node

#3343 Update keytar version to the latest and add caret versioning!
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
Labels: extensions

#3376 [msal-node] fix broken sample links
  change/@azure-msal-node-31de5c6d-6912-47d8-b4ed-ec53162d7ca8.json
  lib/msal-node/README.md
  samples/msal-node-samples/README.md
Labels: documentation, msal-node, samples

#3281 fix(Msal-Angular): Dynamic interceptor authority
  change/@azure-msal-angular-53581057-d7c0-4069-aff5-50da404b5054.json
  change/@azure-msal-browser-e705610b-c9b7-4df5-81ae-3258ac2120f2.json
  change/@azure-msal-react-e13ddb85-aa35-48db-b531-60e6d7581e45.json
  change/msal-9205a856-506c-4134-aa93-b0a6dc0e0a32.json
  lib/msal-angular/docs/multi-tenant.md
  lib/msal-angular/docs/v2-docs/configuration.md
  lib/msal-angular/src/msal.guard.config.ts
  lib/msal-angular/src/msal.guard.spec.ts
  lib/msal-angular/src/msal.guard.ts
  lib/msal-angular/src/msal.interceptor.config.ts
  lib/msal-angular/src/msal.interceptor.spec.ts
  lib/msal-angular/src/msal.interceptor.ts
  lib/msal-angular/src/msal.redirect.component.spec.ts
  lib/msal-angular/src/msal.service.spec.ts
  lib/msal-angular/src/public-api.ts
  lib/msal-browser/docs/events.md
Labels: msal-angular

#3290 Add node version support in FAQ
  change/@azure-msal-node-bbd8357c-ade9-460c-b465-b5ef2fa6c3b0.json
  lib/msal-node/docs/faq.md
Labels: documentation, msal-node

#3005 Refresh in feature
  change/@azure-msal-browser-515f322b-65ae-46f5-b43e-c3e2478e9fff.json
  change/@azure-msal-common-d2c86f4a-63ae-4357-ac3f-93eb90dd40c8.json
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-common/src/cache/entities/AccessTokenEntity.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/response/ServerAuthorizationTokenResponse.ts
  lib/msal-common/src/utils/TimeUtils.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
Labels: msal-browser, msal-common

#3421 Update docs to clarify RT lifetime
  change/@azure-msal-browser-37bc3bd2-2a8d-42ff-8b42-82a2ac1ab5f0.json
  lib/msal-browser/docs/token-lifetimes.md
Labels: documentation, msal-browser

#3359 Update Angular E2E workflow to use local builds
  .github/workflows/msal-angular-e2e.yml
  samples/msal-angular-v2-samples/angular10-sample-app/angular.json
  samples/msal-angular-v2-samples/angular10-sample-app/package.json
  samples/msal-angular-v2-samples/angular11-b2c-sample/angular.json
  samples/msal-angular-v2-samples/angular11-b2c-sample/package.json
  samples/msal-angular-v2-samples/angular11-sample-app/angular.json
  samples/msal-angular-v2-samples/angular11-sample-app/package.json
  samples/msal-angular-v2-samples/angular9-v2-sample-app/angular.json
  samples/msal-angular-v2-samples/angular9-v2-sample-app/package.json
Labels: samples

#3374 Msal-React React-Router E2E Tests
  samples/e2eTestUtils/TestUtils.ts
  samples/e2eTestUtils/jest-puppeteer-utils/jest-preset.js
  samples/msal-react-samples/react-router-sample/src/authConfig.js
  samples/msal-react-samples/react-router-sample/src/pages/Profile.jsx
  samples/msal-react-samples/react-router-sample/src/pages/ProfileRawContext.jsx
  samples/msal-react-samples/react-router-sample/src/pages/ProfileWithMsal.jsx
  samples/msal-react-samples/react-router-sample/test/home.spec.ts
  samples/msal-react-samples/react-router-sample/test/profile.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileRawContext.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileWithMsal.spec.ts
  samples/msal-react-samples/react-router-sample/test/test.spec.ts
Labels: samples

#3320 Make resourceRequestMethod and resourceRequestUri optional parameters for Access Token PoP
  change/@azure-msal-browser-8f0feac0-1a0e-415d-bd2e-d6b8e45a4eee.json
  change/@azure-msal-common-7b4fc307-7a4d-40c4-9076-345d5f2c0dad.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/crypto/ICrypto.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/request/CommonAuthorizationCodeRequest.ts
  lib/msal-common/src/request/CommonAuthorizationUrlRequest.ts
  lib/msal-common/src/request/CommonRefreshTokenRequest.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
Labels: msal-browser, msal-common

#3435 [docs] property name correction
  change/@azure-msal-browser-05098bc0-039a-435d-a309-1455a230b4ea.json
  lib/msal-browser/docs/logout.md
Labels: documentation, msal-browser

#3436 [docs] code snippet correction
  change/@azure-msal-browser-8181de5f-3c0b-4911-8eb6-80d9f16e438a.json
  lib/msal-browser/docs/accounts.md
Labels: documentation, msal-browser

#3426 Add support for AccessToken_With_AuthScheme cache type
  change/@azure-msal-browser-3679e861-ac01-4d3e-99e3-b574c538719b.json
  change/@azure-msal-common-8662fd5a-910d-4b49-89bc-c177feeb734f.json
  change/@azure-msal-node-79563e20-bca4-4419-96a6-6244e70ddeba.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccessTokenEntity.ts
  lib/msal-common/src/cache/entities/CredentialEntity.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/MockCache.ts
  lib/msal-common/test/client/ClientCredentialClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/OnBehalfOfClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/utils/StringConstants.ts
  lib/msal-node/src/client/ClientApplication.ts
  samples/e2eTestUtils/BrowserCacheTestUtils.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/testConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/graph.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/ui.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/package-lock.json
Labels: msal-browser, msal-common, msal-node, samples

#3128 [msal-node] samples and docs for using certificates, key vault, managed id
  change/@azure-msal-node-d7b5b06b-b625-4f19-a0f9-6036bb87f3a8.json
  lib/msal-node/CHANGELOG.json
  lib/msal-node/docs/certificate-credentials.md
  lib/msal-node/docs/key-vault-managed-identity.md
  samples/msal-node-samples/auth-code-key-vault/README.md
  samples/msal-node-samples/auth-code-key-vault/certs/example.crt
  samples/msal-node-samples/auth-code-key-vault/certs/example.key
  samples/msal-node-samples/auth-code-key-vault/index.js
  samples/msal-node-samples/auth-code-key-vault/package-lock.json
  samples/msal-node-samples/auth-code-key-vault/package.json
  samples/msal-node-samples/auth-code-with-certs/README.md
  samples/msal-node-samples/auth-code-with-certs/certs/example.crt
  samples/msal-node-samples/auth-code-with-certs/certs/example.key
  samples/msal-node-samples/auth-code-with-certs/index.js
  samples/msal-node-samples/auth-code-with-certs/package-lock.json
  samples/msal-node-samples/auth-code-with-certs/package.json
Labels: documentation, msal-node, samples

#3469 Encode control characters in cookies set by MSAL.js v1
  change/msal-ba6e8b60-d254-4653-ae66-605a883bebac.json
  lib/msal-core/src/cache/BrowserStorage.ts
  lib/msal-core/test/Storage.localStorage.spec.ts
  lib/msal-core/test/Storage.sessionStorage.spec.ts
Labels: msal@1.x

#3419 Msal-Angular E2E Tests
  samples/e2eTestUtils/LabClient.ts
  samples/e2eTestUtils/TestUtils.ts
  samples/msal-angular-v2-samples/angular11-sample-app/package.json
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.component.html
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/detail/detail.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/home/home.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/profile/profile.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/detail.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/lazy.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/test.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/tsconfig.json
  samples/package-lock.json
  samples/package.json
Labels: samples

#3425 Msal-Angular E2E Tests #2
  samples/e2eTestUtils/BrowserCacheTestUtils.ts
  samples/msal-angular-v2-samples/angular10-sample-app/package.json
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/app.component.html
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/home/home.component.ts
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/profile/profile.component.ts
  samples/msal-angular-v2-samples/angular10-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular10-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular10-sample-app/test/test.spec.ts
  samples/msal-angular-v2-samples/angular10-sample-app/tsconfig.base.json
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/package.json
  samples/msal-angular-v2-samples/angular9-v2-sample-app/src/app/app.component.html
  samples/msal-angular-v2-samples/angular9-v2-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/src/app/home/home.component.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/src/app/profile/profile.component.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/test/test.spec.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/tsconfig.json
Labels: samples

#3471 Add .browserslistrc and update docs around browser support
  .browserslistrc
  build/postinstall.js
  change/@azure-msal-angular-2e12d930-c34b-4d2d-aa4c-39dd3b8bd911.json
  change/@azure-msal-browser-33fd34e0-87ff-4c9a-bd8b-d0448fdc3879.json
  change/@azure-msal-common-24da2d35-5703-44f7-b53b-e058f8f7bfcf.json
  change/@azure-msal-node-ab2eb101-155f-4639-8692-1a46315cc992.json
  change/@azure-msal-react-1a039856-c01a-48ea-9c6e-cdf92ce3d40e.json
  change/msal-2a7f03ed-2068-4a29-ac78-e8da746418b2.json
  lerna.json
  lib/msal-angular/docs/FAQ.md
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
  lib/msal-browser/FAQ.md
  lib/msal-browser/docs/internet-explorer.md
  lib/msal-browser/package-lock.json
  lib/msal-common/.browserslistrc
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  lib/msal-core/package-lock.json
  lib/msal-node/.browserslistrc
  lib/msal-node/package-lock.json
  lib/msal-react/FAQ.md
  lib/msal-react/package-lock.json
  package-lock.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ie11-sample/README.md
  samples/msal-browser-samples/VanillaJSTestApp2.0/package.json
  samples/msal-core-samples/VanillaJSTestApp/app/ie11-sample/authConfig.js
  samples/msal-core-samples/VanillaJSTestApp/app/ie11-sample/graphConfig.js
  samples/msal-core-samples/VanillaJSTestApp/package.json
Labels: documentation, msal-angular, msal-browser, msal-common, msal-node, msal-react, msal@1.x, samples

#3474 Fix "ts" parameter type in the SignedHttpRequest type definition
  change/@azure-msal-common-ca17c7ab-8adb-4ba2-8f04-d4136b1bb5de.json
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/crypto/SignedHttpRequest.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
Labels: msal-common

#3268 Add ADAL.js code
  .github/labeler.yml
  CODEOWNERS
  README.md
  maintenance/adal-angular/.gitignore
  maintenance/adal-angular/.jshintrc
  maintenance/adal-angular/.travis.yml
  maintenance/adal-angular/Gruntfile.js
  maintenance/adal-angular/LICENSE.txt
  maintenance/adal-angular/README.md
  maintenance/adal-angular/RELEASES.md
  maintenance/adal-angular/bower.json
  maintenance/adal-angular/changelog.txt
  maintenance/adal-angular/contributing.md
  maintenance/adal-angular/karma.conf.js
  maintenance/adal-angular/lib/adal-angular.js
  maintenance/adal-angular/lib/adal.js
  maintenance/adal-angular/package-lock.json
  maintenance/adal-angular/package.json
  maintenance/adal-angular/tests/angularModuleSpec.js
  maintenance/adal-angular/tests/browser.manual.runner.html
  maintenance/adal-angular/tests/stateApp.js
  maintenance/adal-angular/tests/testApp.js
  maintenance/adal-angular/tests/unit/spec/AdalSpec.js
Labels: adal.js, documentation

#3251 Run npm audit for PRs
  .github/workflows/npm-audit.yml
  change/@azure-msal-angular-7868210a-4834-4b2d-90dd-f53874f979a2.json
  change/@azure-msal-browser-7bf06e78-e8f8-4df5-be49-ebc3e1e59449.json
  change/@azure-msal-node-35e31f26-abc5-4f13-8a0c-f525a8ec513a.json
  change/@azure-msal-react-8b41f0e1-0f1c-4885-84e4-c036e993c238.json
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
  lib/msal-browser/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: msal-angular, msal-browser, msal-node, msal-react

#3432 Move msal-angularjs to maintenance folder
  .github/labeler.yml
  .github/workflows/npm-audit.yml
  CODEOWNERS
  README.md
  maintenance/msal-angularjs/.beachballrc
  maintenance/msal-angularjs/.eslintrc.json
  maintenance/msal-angularjs/.gitignore
  maintenance/msal-angularjs/.npmignore
  maintenance/msal-angularjs/0.9.0
  maintenance/msal-angularjs/CHANGELOG.json
  maintenance/msal-angularjs/LICENSE
  maintenance/msal-angularjs/README.md
  maintenance/msal-angularjs/changelog.md
  maintenance/msal-angularjs/dist/msal-angular.js
  maintenance/msal-angularjs/dist/msal-angular.min.js
  maintenance/msal-angularjs/karma.conf.js
  maintenance/msal-angularjs/lib/msal-angular.js
  maintenance/msal-angularjs/package-lock.json
  maintenance/msal-angularjs/package.json
  maintenance/msal-angularjs/tests/angularModuleSpec.js
  maintenance/msal-angularjs/tests/endToEndTests/config.js
  maintenance/msal-angularjs/tests/endToEndTests/constants.js
  maintenance/msal-angularjs/tests/endToEndTests/e2eTestsSpec.js
  maintenance/msal-angularjs/tests/endToEndTests/helpers.js
  maintenance/msal-angularjs/tests/endToEndTests/keyVault.js
  maintenance/msal-angularjs/tests/endToEndTests/localStorage.js
  maintenance/msal-angularjs/tests/endToEndTests/logging.js
  maintenance/msal-angularjs/tests/endToEndTests/package.json
  maintenance/msal-angularjs/tests/endToEndTests/pages.js
  maintenance/msal-angularjs/tests/endToEndTests/protractor.conf.androidNexus5.js
  maintenance/msal-angularjs/tests/endToEndTests/protractor.conf.chrome.js
  maintenance/msal-angularjs/tests/endToEndTests/protractor.conf.edge.js
  maintenance/msal-angularjs/tests/endToEndTests/protractor.conf.firefox.js
  maintenance/msal-angularjs/tests/endToEndTests/protractor.conf.ie.js
  maintenance/msal-angularjs/tests/endToEndTests/protractor.conf.safari.js
  maintenance/msal-angularjs/tests/endToEndTests/protractorTestWrapper.js
  maintenance/msal-angularjs/tests/endToEndTests/signInModule.js
  maintenance/msal-angularjs/tests/endToEndTests/testRunner.js
  maintenance/msal-angularjs/tests/sample/.deployment
  maintenance/msal-angularjs/tests/sample/App/Content/app.css
  maintenance/msal-angularjs/tests/sample/App/Images/no_photo.png
  maintenance/msal-angularjs/tests/sample/App/Scripts/calendarCtrl.js
  maintenance/msal-angularjs/tests/sample/App/Scripts/homeCtrl.js
  maintenance/msal-angularjs/tests/sample/App/Scripts/todoListCtrl.js
  maintenance/msal-angularjs/tests/sample/App/Scripts/todoListSvc.js
  maintenance/msal-angularjs/tests/sample/App/Views/Calendar.html
  maintenance/msal-angularjs/tests/sample/App/Views/Home.html
  maintenance/msal-angularjs/tests/sample/App/Views/TodoList.html
  maintenance/msal-angularjs/tests/sample/README.md
  maintenance/msal-angularjs/tests/sample/app.js
  maintenance/msal-angularjs/tests/sample/bundle.js
  maintenance/msal-angularjs/tests/sample/deploy.cmd
  maintenance/msal-angularjs/tests/sample/index.html
  maintenance/msal-angularjs/tests/sample/package.json
  maintenance/msal-angularjs/tests/sample/webpack.config.js
  maintenance/msal-angularjs/tests/testApp.js
  maintenance/msal-angularjs/webpack.config.js
  package.json
Labels: adal-node, angularjs, documentation

#3412 Update roadmap for Q4FY21
  roadmap.md
Labels: documentation

#3458 resource-and-scopes doc correction
  change/@azure-msal-browser-0636e519-d5f4-4f3a-afa4-d22562ac1265.json
  lib/msal-browser/docs/resources-and-scopes.md
Labels: documentation, msal-browser

#3501 Update and fix eslint rules
  .eslintrc.json
  change/@azure-msal-angular-32c89e96-3fba-46d1-a50b-fbdad6fc6981.json
  change/@azure-msal-browser-4c326fd6-5048-409b-aa76-bbf3b3742dca.json
  change/@azure-msal-common-b9071fb8-cd31-4cd3-920f-39d4f0c642ab.json
  change/@azure-msal-node-c387ea64-6018-4f20-9457-f9d2fedbff1d.json
  change/msal-dcfb09aa-4b30-4d90-931c-c4ba7dfdaf18.json
  lib/msal-angular/src/msal.interceptor.ts
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/src/cache/DatabaseStorage.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-common/src/cache/entities/AuthorityMetadataEntity.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-core/src/AuthenticationParameters.ts
  lib/msal-core/src/ClientInfo.ts
  lib/msal-core/src/IdToken.ts
  lib/msal-core/src/Logger.ts
  lib/msal-core/src/ScopeSet.ts
  lib/msal-core/src/ServerRequestParameters.ts
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/XHRClient.ts
  lib/msal-core/src/authority/Authority.ts
  lib/msal-core/src/authority/AuthorityFactory.ts
  lib/msal-core/src/authority/TrustedAuthority.ts
  lib/msal-core/src/cache/AuthCache.ts
  lib/msal-core/src/cache/BrowserStorage.ts
  lib/msal-core/src/error/AuthError.ts
  lib/msal-core/src/error/ClientConfigurationError.ts
  lib/msal-core/src/telemetry/ApiEvent.ts
  lib/msal-core/src/telemetry/HttpEvent.ts
  lib/msal-core/src/telemetry/TelemetryEvent.ts
  lib/msal-core/src/telemetry/TelemetryManager.ts
  lib/msal-core/src/telemetry/TelemetryUtils.ts
  lib/msal-core/src/utils/CryptoUtils.ts
  lib/msal-core/src/utils/RequestUtils.ts
  lib/msal-core/src/utils/TokenUtils.ts
  lib/msal-core/src/utils/UrlUtils.ts
  lib/msal-core/src/utils/WindowUtils.ts
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/client/ClientAssertion.ts
  lib/msal-node/src/crypto/GuidGenerator.ts
  package.json
Labels: msal-angular, msal-browser, msal-common, msal-node, msal@1.x

#3478 Add separate authentication window to Electron Sample Application
  samples/msal-node-samples/ElectronTestApp/README.md
  samples/msal-node-samples/ElectronTestApp/index.html
  samples/msal-node-samples/ElectronTestApp/package-lock.json
  samples/msal-node-samples/ElectronTestApp/package.json
  samples/msal-node-samples/ElectronTestApp/src/AuthProvider.ts
  samples/msal-node-samples/ElectronTestApp/src/Constants.ts
  samples/msal-node-samples/ElectronTestApp/src/Main.ts
  samples/msal-node-samples/ElectronTestApp/src/config/ADFS.json
  samples/msal-node-samples/ElectronTestApp/src/config/customConfig.json
Labels: documentation, samples

#3506 Prevent MSAL Guard from navigating app to url with code hash
  change/@azure-msal-angular-b0172103-6866-4f25-9d89-4084d829edd3.json
  lib/msal-angular/docs/v2-docs/known-issues.md
  lib/msal-angular/src/msal.guard.spec.ts
  lib/msal-angular/src/msal.guard.ts
Labels: documentation, msal-angular

#3252 Fixing electron sample app dependencies
  samples/msal-node-samples/ElectronTestApp/package-lock.json
Labels: samples

#3509 Look for temp cache items in local storage as fallback
  change/@azure-msal-browser-332c1b46-7af3-4c8e-a6d8-d34fc6f729fa.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
Labels: msal-browser

#2994 Fix typing for expiresOn field
  change/@azure-msal-common-f03abef3-46c5-4af7-87f5-0400870c8004.json
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/response/AuthenticationResult.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
Labels: msal-common, work-in-progress

#3499 Remove B2C empty access token workaround
  change/@azure-msal-browser-c4954852-5365-4234-bd2f-74bd57bbc04a.json
  lib/msal-browser/FAQ.md
  lib/msal-browser/docs/working-with-b2c.md
Labels: documentation, msal-browser

#3510 Add Angular 12 sample
  .github/workflows/msal-angular-e2e.yml
  change/@azure-msal-angular-7ef39063-3753-4c3c-ad4e-7b1f171c132d.json
  change/@azure-msal-browser-ef5003d6-f7ad-4903-8489-56bc77c063ec.json
  change/@azure-msal-common-2eb714ce-181b-4d2e-a44d-caff14200ebc.json
  change/@azure-msal-node-f85684d4-7d47-4817-9192-97837cdbffbf.json
  change/@azure-msal-react-c1248d79-9a08-4bb0-98af-8d2c66de49d1.json
  lib/msal-angular/README.md
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
  samples/msal-angular-v2-samples/README.md
  samples/msal-angular-v2-samples/angular12-sample-app/.browserslistrc
  samples/msal-angular-v2-samples/angular12-sample-app/.editorconfig
  samples/msal-angular-v2-samples/angular12-sample-app/.gitignore
  samples/msal-angular-v2-samples/angular12-sample-app/README.md
  samples/msal-angular-v2-samples/angular12-sample-app/angular.json
  samples/msal-angular-v2-samples/angular12-sample-app/jest.config.js
  samples/msal-angular-v2-samples/angular12-sample-app/karma.conf.js
  samples/msal-angular-v2-samples/angular12-sample-app/package.json
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/app-routing.module.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/app.component.css
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/app.component.html
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/app.component.spec.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/failed/failed.component.css
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/failed/failed.component.html
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/failed/failed.component.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/home/home.component.css
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/home/home.component.html
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/home/home.component.spec.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/home/home.component.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/profile/profile.component.css
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/profile/profile.component.html
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/profile/profile.component.spec.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/profile/profile.component.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/assets/.gitkeep
  samples/msal-angular-v2-samples/angular12-sample-app/src/environments/environment.prod.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/environments/environment.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/favicon.ico
  samples/msal-angular-v2-samples/angular12-sample-app/src/index.html
  samples/msal-angular-v2-samples/angular12-sample-app/src/main.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/polyfills.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/styles.css
  samples/msal-angular-v2-samples/angular12-sample-app/src/test.ts
  samples/msal-angular-v2-samples/angular12-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular12-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular12-sample-app/tsconfig.app.json
  samples/msal-angular-v2-samples/angular12-sample-app/tsconfig.json
  samples/msal-angular-v2-samples/angular12-sample-app/tsconfig.spec.json
  samples/msal-angular-v2-samples/angular12-sample-app/tslint.json
Labels: documentation, msal-angular, msal-browser, msal-common, msal-node, msal-react, samples

#3527 Fix extra state update in useAccount hook
  change/@azure-msal-browser-01fa781d-bd7a-40e4-8a1e-7c3c705addf8.json
  change/@azure-msal-common-88005524-bd18-4dee-abb9-75503c9dda89.json
  change/@azure-msal-react-50c95e2c-a31a-4c7c-ad29-a080b497a574.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-common/src/account/TokenClaims.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-react/src/hooks/useAccount.ts
  samples/msal-react-samples/b2c-sample/src/App.js
  samples/msal-react-samples/b2c-sample/src/pages/Protected.jsx
Labels: msal-browser, msal-common, msal-react, samples

#3536 Fix npm audit warnings for node extensions
  .github/workflows/npm-audit.yml
  extensions/msal-node-extensions/package-lock.json
Labels: extensions

#3235 Express MVC web app using MSAL Node
  samples/msal-node-samples/ExpressTestApp/README.md
  samples/msal-node-samples/ExpressTestApp/TestApp/App/app.js
  samples/msal-node-samples/ExpressTestApp/TestApp/App/controllers/mainController.js
  samples/msal-node-samples/ExpressTestApp/TestApp/App/public/404.html
  samples/msal-node-samples/ExpressTestApp/TestApp/App/public/style.css
  samples/msal-node-samples/ExpressTestApp/TestApp/App/routes/router.js
  samples/msal-node-samples/ExpressTestApp/TestApp/App/utils/cachePlugin.js
  samples/msal-node-samples/ExpressTestApp/TestApp/App/utils/fetchManager.js
  samples/msal-node-samples/ExpressTestApp/TestApp/App/views/home.ejs
  samples/msal-node-samples/ExpressTestApp/TestApp/App/views/id.ejs
  samples/msal-node-samples/ExpressTestApp/TestApp/App/views/includes/footer.ejs
  samples/msal-node-samples/ExpressTestApp/TestApp/App/views/includes/navbar.ejs
  samples/msal-node-samples/ExpressTestApp/TestApp/App/views/profile.ejs
  samples/msal-node-samples/ExpressTestApp/TestApp/App/views/tenant.ejs
  samples/msal-node-samples/ExpressTestApp/TestApp/README.md
  samples/msal-node-samples/ExpressTestApp/TestApp/appSettings.json
  samples/msal-node-samples/ExpressTestApp/TestApp/package-lock.json
  samples/msal-node-samples/ExpressTestApp/TestApp/package.json
  samples/msal-node-samples/ExpressTestApp/package-lock.json
  samples/msal-node-samples/ExpressTestApp/package.json
  samples/msal-node-samples/ExpressTestApp/src/AuthProvider.ts
  samples/msal-node-samples/ExpressTestApp/src/ConfigurationUtils.ts
  samples/msal-node-samples/ExpressTestApp/src/Constants.ts
  samples/msal-node-samples/ExpressTestApp/src/Errors.ts
  samples/msal-node-samples/ExpressTestApp/src/TokenValidator.ts
  samples/msal-node-samples/ExpressTestApp/src/Types.ts
  samples/msal-node-samples/ExpressTestApp/tsconfig.json
  samples/msal-node-samples/ExpressTestApp/tslint.json
Labels: documentation, samples

#3369 Fix node e2e tests
  samples/msal-node-samples/auth-code/index.js
  samples/msal-node-samples/auth-code/test/auth-code-aad.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-adfs.spec.ts
  samples/msal-node-samples/device-code/jest.config.js
  samples/msal-node-samples/device-code/test/device-code-aad.spec.ts
  samples/msal-node-samples/device-code/test/device-code-adfs.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-aad.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-adfs.spec.ts
Labels: samples

#3545 Use msrCrypto for browsers unit tests
  change/@azure-msal-browser-31cc3fa5-eeb5-4dae-99d2-1464b0c39116.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/test/mochaSetup.js
  lib/msal-browser/test/polyfills/msrcrypto.min.js
Labels: msal-browser

#3550 Add Node 16 to msal-node supported versions
  .github/workflows/msal-node-e2e.yml
  change/@azure-msal-node-59735457-48da-4c62-9168-72c503bed54b.json
  lib/msal-node/README.md
  lib/msal-node/package.json
Labels: documentation, msal-node

#3551 Add known issues for IE
  change/@azure-msal-browser-4d68a33d-8a16-4448-857b-3b8f1f879765.json
  lib/msal-browser/docs/internet-explorer.md
Labels: documentation, msal-browser

#3552 Prevent UnauthenticatedTemplate from rendering when handleRedirectPromise is in progress
  change/@azure-msal-react-ba499dcd-7a30-4bcc-a96f-2d4c127ba56c.json
  lib/msal-react/package.json
  lib/msal-react/src/components/UnauthenticatedTemplate.tsx
  lib/msal-react/test/components/UnauthenticatedTemplate.spec.tsx
Labels: msal-react

#3544 Express.js example update
  samples/msal-node-samples/ExpressTestApp/README.md
  samples/msal-node-samples/ExpressTestApp/TestApp/App/data/cache.json
  samples/msal-node-samples/ExpressTestApp/TestApp/appSettings.json
Labels: msal-node, samples

#3300 Make msal-browser and msal-common package preservedModules and mark sideEffects: false to enable tree-shaking for consumer
  change/@azure-msal-browser-1a4f1842-8035-4df0-9d0d-a332379764ec.json
  change/@azure-msal-common-0251555e-319b-441f-9119-70259473701c.json
  lib/msal-browser/package.json
  lib/msal-browser/rollup.config.js
  lib/msal-common/package.json
  lib/msal-common/rollup.config.js
Labels: msal-browser, msal-common

#3558 Properly handle MSAL guard on redirect uri for hash and path routing
  change/@azure-msal-angular-85214804-df42-45d1-8491-8485605eef32.json
  lib/msal-angular/.gitignore
  lib/msal-angular/src/msal.guard.spec.ts
  lib/msal-angular/src/msal.guard.ts
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.component.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/app.component.ts
Labels: msal-angular, samples
