Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2021-11, with the labels that each got.

#4183 Add support for in-memory storage of token binding keys
  change/@azure-msal-browser-1df962f8-9411-4921-bcbc-f9c53263c057.json
  change/@azure-msal-browser-9ea0604a-5593-4329-9c03-d2b46ec62dc4.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/cache/AsyncMemoryStorage.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/src/cache/DatabaseStorage.ts
  lib/msal-browser/src/cache/IAsyncMemoryStorage.ts
  lib/msal-browser/src/cache/IWindowStorage.ts
  lib/msal-browser/src/cache/MemoryStorage.ts
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/crypto/SignedHttpRequest.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/AsyncMemoryStorage.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/DatabaseStorage.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/crypto/GuidGenerator.spec.ts
  lib/msal-browser/test/crypto/PkceGenerator.spec.ts
  lib/msal-browser/test/crypto/SignedHttpRequest.spec.ts
  lib/msal-browser/test/error/BrowserAuthError.spec.ts
  lib/msal-browser/test/event/EventHandler.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-browser/test/utils/BrowserProtocolUtils.spec.ts
  lib/msal-browser/test/utils/PopupUtils.spec.ts
Labels: msal-browser, feature-pop

#4190 Ensure code is in fragment for Angular guard
  change/@azure-msal-angular-4f2173cf-8948-46f4-8f5e-bc6711bccf40.json
  lib/msal-angular/docs/v2-docs/msal-guard.md
  lib/msal-angular/src/msal.guard.spec.ts
  lib/msal-angular/src/msal.guard.ts
Labels: documentation, msal-angular

#4199 Add logger messages for cache misses
  change/@azure-msal-common-570c6596-9a99-4972-ab02-9d57da3fa644.json
  lib/msal-common/src/client/SilentFlowClient.ts
Labels: msal-common

#3999 Add support for parsing and including a server-generated nonce in SHRs
  change/@azure-msal-browser-98b76327-9090-40b3-902b-00ebab40dabd.json
  change/@azure-msal-common-06f87c3e-a3b2-4bf7-9ff8-81bae723e98e.json
  lib/msal-browser/docs/access-token-proof-of-possession.md
  lib/msal-browser/docs/shr-server-nonce.md
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/request/RedirectRequest.ts
  lib/msal-common/package-lock.json
  lib/msal-common/src/crypto/ICrypto.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/AuthenticationHeaderParser.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
  lib/msal-common/test/request/AuthenticationHeaderParser.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
Labels: documentation, msal-browser, msal-common

#4237 Update package-lock for msal-node-extensions
  extensions/msal-node-extensions/package-lock.json
Labels: extensions

#4235 Fix circular dependencies in AuthenticationHeaderParser and AsyncMemoryStorage
  change/@azure-msal-browser-91cafee3-de82-436e-968a-0f392b472d2a.json
  change/@azure-msal-common-321562eb-8edb-4fe3-a459-6ac85aef2086.json
  lib/msal-browser/src/cache/AsyncMemoryStorage.ts
  lib/msal-common/src/request/AuthenticationHeaderParser.ts
Labels: msal-browser, msal-common

#4243 Update msal-node OBO sample README to include redirect URI config step
  samples/msal-node-samples/on-behalf-of/README.md
Labels: documentation, samples

#4249 Fix angular guard /code check to ensure proper length
  change/@azure-msal-angular-fd5201e5-00e5-4051-948d-676a4eab1783.json
  lib/msal-angular/src/msal.guard.spec.ts
  lib/msal-angular/src/msal.guard.ts
Labels: msal-angular

#4188 Add Vue 3 Sample
  lib/msal-browser/README.md
  samples/msal-browser-samples/vue3-sample-app/.npmrc
  samples/msal-browser-samples/vue3-sample-app/README.md
  samples/msal-browser-samples/vue3-sample-app/index.html
  samples/msal-browser-samples/vue3-sample-app/package.json
  samples/msal-browser-samples/vue3-sample-app/public/favicon.ico
  samples/msal-browser-samples/vue3-sample-app/src/App.vue
  samples/msal-browser-samples/vue3-sample-app/src/assets/logo.png
  samples/msal-browser-samples/vue3-sample-app/src/authConfig.ts
  samples/msal-browser-samples/vue3-sample-app/src/components/NavBar.vue
  samples/msal-browser-samples/vue3-sample-app/src/components/SignInButton.vue
  samples/msal-browser-samples/vue3-sample-app/src/components/SignOutButton.vue
  samples/msal-browser-samples/vue3-sample-app/src/components/WelcomeName.vue
  samples/msal-browser-samples/vue3-sample-app/src/composition-api/useIsAuthenticated.ts
  samples/msal-browser-samples/vue3-sample-app/src/composition-api/useMsal.ts
  samples/msal-browser-samples/vue3-sample-app/src/composition-api/useMsalAuthentication.ts
  samples/msal-browser-samples/vue3-sample-app/src/env.d.ts
  samples/msal-browser-samples/vue3-sample-app/src/main.ts
  samples/msal-browser-samples/vue3-sample-app/src/plugins/msalPlugin.ts
  samples/msal-browser-samples/vue3-sample-app/src/router/Guard.ts
  samples/msal-browser-samples/vue3-sample-app/src/router/NavigationClient.ts
  samples/msal-browser-samples/vue3-sample-app/src/router/router.ts
  samples/msal-browser-samples/vue3-sample-app/src/utils/MsGraphApiCall.ts
  samples/msal-browser-samples/vue3-sample-app/src/views/Failed.vue
  samples/msal-browser-samples/vue3-sample-app/src/views/Home.vue
  samples/msal-browser-samples/vue3-sample-app/src/views/Profile.vue
  samples/msal-browser-samples/vue3-sample-app/src/views/ProfileNoGuard.vue
  samples/msal-browser-samples/vue3-sample-app/tsconfig.json
  samples/msal-browser-samples/vue3-sample-app/vite.config.ts
Labels: documentation, samples, msal-browser

#4234 Use https to install node-extensions bindings
  change/@azure-msal-node-extensions-18c5ee8e-9897-436a-a759-6bce647f66d7.json
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
Labels: extensions

#3978 Add hybrid spa flow support
  change/@azure-msal-browser-820da0ba-4399-4a41-aab8-a678a52634a2.json
  change/@azure-msal-common-48176d19-32ec-4c1d-873f-2aa27b366d40.json
  change/@azure-msal-node-0a3f73e1-e268-411c-aaf9-188daf296bb6.json
  lib/msal-browser/README.md
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/event/EventType.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_client/HybridSpaAuthorizationCodeClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentAuthCodeClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/request/AuthorizationCodeRequest.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentAuthCodeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/request/CommonAuthorizationCodeRequest.ts
  lib/msal-common/src/response/AuthenticationResult.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/response/ServerAuthorizationTokenResponse.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-node/README.md
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  lib/msal-node/src/client/ClientAssertion.ts
  samples/msal-browser-samples/HybridSample/.gitignore
  samples/msal-browser-samples/HybridSample/.npmrc
  samples/msal-browser-samples/HybridSample/README.md
  samples/msal-browser-samples/HybridSample/app.js
  samples/msal-browser-samples/HybridSample/bin/www
  samples/msal-browser-samples/HybridSample/package.json
  samples/msal-browser-samples/HybridSample/public/stylesheets/style.css
  samples/msal-browser-samples/HybridSample/routes/auth.js
  samples/msal-browser-samples/HybridSample/routes/index.js
  samples/msal-browser-samples/HybridSample/routes/msal.js
  samples/msal-browser-samples/HybridSample/routes/users.js
  samples/msal-browser-samples/HybridSample/views/client-redirect.hbs
  samples/msal-browser-samples/HybridSample/views/error.hbs
  samples/msal-browser-samples/HybridSample/views/implicit-redirect.hbs
  samples/msal-browser-samples/HybridSample/views/index.hbs
  samples/msal-browser-samples/HybridSample/views/layout.hbs
  samples/msal-browser-samples/HybridSample/views/logout.hbs
Labels: documentation, samples, msal-node, msal-browser, msal-common

#4244 Publish workflow updates
  .github/workflows/beachball-bump.yml
  .github/workflows/npm-publish.yml
  .github/workflows/publish-packages.yml
  .github/workflows/publish-template.yml
  change/@azure-msal-angular-127f182a-94a8-44c6-ac7d-6eecbb09a2b0.json
  change/@azure-msal-browser-8c537570-24f7-4c89-9eaf-5e36657d68b7.json
  change/@azure-msal-common-1feddd5d-68c5-446c-a02f-453e3888a3a0.json
  change/@azure-msal-node-d4b06b5d-d946-4eb1-b5e5-b3211654f083.json
  change/@azure-msal-node-extensions-b2078b72-730b-4d67-8eb2-5800e0adaac9.json
  change/@azure-msal-react-1614be34-afcf-4ff9-9010-bd4de5c7cdb6.json
  change/msal-d09b5460-f464-4e7e-9e0b-f3f618944806.json
  extensions/msal-node-extensions/package.json
  lib/msal-angular/package.json
  lib/msal-browser/package.json
  lib/msal-core/README.md
  lib/msal-core/cdn-sri.js
  lib/msal-core/docs/cdn-usage.md
  lib/msal-node/package.json
  lib/msal-react/package.json
  release-scripts/checkPackageAvailability.js
  release-scripts/getReleaseDate.js
Labels: documentation, msal-angular, msal@1.x, msal-node, msal-browser, msal-react, extensions
