Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2022-10, with the labels that each got.

#5175 Node error masking : report underlying AAD error
  change/@azure-msal-common-ce351b78-515d-41e1-a614-9593bd8b2a3f.json
  change/@azure-msal-node-b1f6afd4-c1f6-408a-82a9-6d9e8a063035.json
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/error/InteractionRequiredAuthError.ts
  lib/msal-common/src/network/NetworkManager.ts
  lib/msal-node/src/network/HttpClient.ts
  lib/msal-node/test/network/HttpClient.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
Labels: msal-node, msal-common

#5250 Include Refresh Token size in perf telemetry data
  change/@azure-msal-browser-883260a8-b8e9-4d81-a005-d5eb07364fbe.json
  change/@azure-msal-common-9efd25c1-1265-4cd1-93cf-4a7abd8e4466.json
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
Labels: msal-common

#5240 Add remark to help decide between cache locations
  lib/msal-browser/docs/caching.md
Labels: documentation, msal-browser

#5272 October Post Release
  extensions/msal-node-extensions/package-lock.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#5275 Update angular v2 doc references
  lib/msal-angular/docs/v1-docs/v0-v1-upgrade-guide.md
  lib/msal-angular/docs/v2-docs/public-apis.md
Labels: documentation, msal-angular

#5276 Make popup poll interval configurable
  change/@azure-msal-browser-d8b66f6f-0c1a-488c-b774-bdbd6b7736cf.json
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/SilentAuthCodeClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
Labels: documentation, msal-browser

#5279 Include Angular 13 and 14 as supported versions in FAQ
  lib/msal-angular/docs/FAQ.md
Labels: documentation, msal-angular

#5280 Migrate node-extensions from nan to node api
  .github/workflows/build-test-pr.yml
  change/@azure-msal-node-extensions-b3808573-fce7-4a66-a10d-3220112bf8e0.json
  extensions/msal-node-extensions/binding.gyp
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/Dpapi.ts
  extensions/msal-node-extensions/src/dpapi-addon/dpapi_addon.h
  extensions/msal-node-extensions/src/dpapi-addon/dpapi_not_supported.cpp
  extensions/msal-node-extensions/src/dpapi-addon/dpapi_win.cpp
  extensions/msal-node-extensions/src/dpapi-addon/main.cpp
  extensions/msal-node-extensions/src/persistence/FilePersistenceWithDataProtection.ts
  extensions/msal-node-extensions/test/dpapi-addon/Dpapi.spec.ts
  extensions/msal-node-extensions/test/persistence/FilePersistenceWithDataProtection.spec.ts
  extensions/msal-node-extensions/test/persistence/LibSecretPersistence.spec.ts
  extensions/msal-node-extensions/tsconfig.build.json
  extensions/msal-node-extensions/tsconfig.json
Labels: extensions

#5233 Extend msal-browser TokenCache loadExternalTokens to load refresh tokens
  change/@azure-msal-browser-321fc9fc-e44c-4168-8b90-7b77291857d1.json
  change/@azure-msal-common-4922da53-5379-4871-ab08-329b7ada9d93.json
  lib/msal-browser/src/cache/ITokenCache.ts
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/response/ExternalTokenResponse.ts
Labels: msal-browser, msal-common

#5293 Post Release October 2022 - Additional Release
  extensions/msal-node-extensions/package-lock.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#5247 Add claims doc to msal-common
  lib/msal-browser/docs/configuration.md
  lib/msal-common/docs/claims-challenge.md
  lib/msal-common/docs/client-capability.md
  lib/msal-node/docs/configuration.md
Labels: documentation, msal-node, msal-browser, msal-common

#5224 Add static fields to telemetry
  change/@azure-msal-browser-a05b5b68-30bd-4263-b348-aae2c264559a.json
  change/@azure-msal-common-11ce7749-06d1-4acd-a010-7810ea134d24.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/telemetry/performance/IPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
Labels: msal-browser, msal-common

#5323 Updated MSAL-Node Documentation
  lib/msal-node/docs/faq.md
Labels: documentation, msal-node

#5328 MSAL-Node: Custom INetworkModule Sample & Network Tracing via Fiddler Everywhere
  lib/msal-node/docs/configuration.md
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/HttpClient.ts
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/README.md
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/app.ts
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/package-lock.json
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/package.json
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/tsconfig.json
Labels: documentation, samples, msal-node

#5322 Fix broken sample links
  lib/msal-angular/README.md
  lib/msal-browser/README.md
  lib/msal-node/docs/faq.md
  samples/msal-angular-v2-samples/README.md
Labels: documentation, msal-angular, samples, msal-node, msal-browser

#5329 Update Vue sample
  samples/msal-browser-samples/vue3-sample-app/README.md
  samples/msal-browser-samples/vue3-sample-app/package.json
  samples/msal-browser-samples/vue3-sample-app/src/authConfig.ts
  samples/msal-browser-samples/vue3-sample-app/src/utils/UserInfo.ts
  samples/msal-browser-samples/vue3-sample-app/src/views/Profile.vue
  samples/msal-browser-samples/vue3-sample-app/src/views/ProfileNoGuard.vue
  samples/msal-browser-samples/vue3-sample-app/tsconfig.json
  samples/msal-browser-samples/vue3-sample-app/vite.config.ts
Labels: documentation, samples
