Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2022-03, with the labels that each got.

#4563 Don't reassign request object properties
  change/@azure-msal-browser-7cbf844d-07a3-4eba-bcbc-2204a5809fbe.json
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#4546 Add sample for React 18
  change/@azure-msal-react-5f758fc7-cd1d-47b0-841c-59864640d3ce.json
  lib/msal-react/FAQ.md
  lib/msal-react/package.json
  samples/msal-react-samples/react-18-sample/.gitignore
  samples/msal-react-samples/react-18-sample/.npmrc
  samples/msal-react-samples/react-18-sample/README.md
  samples/msal-react-samples/react-18-sample/package.json
  samples/msal-react-samples/react-18-sample/public/favicon.ico
  samples/msal-react-samples/react-18-sample/public/index.html
  samples/msal-react-samples/react-18-sample/public/logo192.png
  samples/msal-react-samples/react-18-sample/public/logo512.png
  samples/msal-react-samples/react-18-sample/public/manifest.json
  samples/msal-react-samples/react-18-sample/public/robots.txt
  samples/msal-react-samples/react-18-sample/src/App.js
  samples/msal-react-samples/react-18-sample/src/authConfig.js
  samples/msal-react-samples/react-18-sample/src/index.js
  samples/msal-react-samples/react-18-sample/src/pages/Home.jsx
  samples/msal-react-samples/react-18-sample/src/pages/Logout.jsx
  samples/msal-react-samples/react-18-sample/src/pages/Profile.jsx
  samples/msal-react-samples/react-18-sample/src/pages/ProfileRawContext.jsx
  samples/msal-react-samples/react-18-sample/src/pages/ProfileUseMsalAuthenticationHook.jsx
  samples/msal-react-samples/react-18-sample/src/pages/ProfileWithMsal.jsx
  samples/msal-react-samples/react-18-sample/src/styles/theme.js
  samples/msal-react-samples/react-18-sample/src/styles/useStyles.js
  samples/msal-react-samples/react-18-sample/src/ui-components/AccountPicker.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/ErrorComponent.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/Loading.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/NavBar.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/PageLayout.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/ProfileData.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/SignInButton.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/SignInSignOutButton.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/SignOutButton.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/WelcomeName.jsx
  samples/msal-react-samples/react-18-sample/src/utils/MsGraphApiCall.js
  samples/msal-react-samples/react-18-sample/src/utils/NavigationClient.js
Labels: documentation, samples, msal-react

#4368 Basic token validation implementation
  .github/labeler.yml
  .github/workflows/build-test-pr.yml
  .github/workflows/build-test-push-to-dev.yml
  CODEOWNERS
  change/@azure-node-token-validation-7f710590-0a83-448e-9a03-d398955429f8.json
  lib/node-token-validation/.babelrc
  lib/node-token-validation/.gitignore
  lib/node-token-validation/.huskyrc
  lib/node-token-validation/.npmignore
  lib/node-token-validation/CHANGELOG.md
  lib/node-token-validation/LICENSE
  lib/node-token-validation/README.md
  lib/node-token-validation/jest.config.js
  lib/node-token-validation/package-lock.json
  lib/node-token-validation/package.json
  lib/node-token-validation/rollup.config.js
  lib/node-token-validation/src/api/TokenValidator.ts
  lib/node-token-validation/src/config/Configuration.ts
  lib/node-token-validation/src/config/OpenIdConfigProvider.ts
  lib/node-token-validation/src/config/TokenValidationParameters.ts
  lib/node-token-validation/src/crypto/CryptoProvider.ts
  lib/node-token-validation/src/error/ValidationConfigurationError.ts
  lib/node-token-validation/src/error/ValidationError.ts
  lib/node-token-validation/src/index.ts
  lib/node-token-validation/src/network/HttpClient.ts
  lib/node-token-validation/src/packageMetadata.ts
  lib/node-token-validation/src/response/OpenIdConfigResponse.ts
  lib/node-token-validation/src/response/TokenValidationResponse.ts
  lib/node-token-validation/src/utils/Constants.ts
  lib/node-token-validation/src/utils/NetworkUtils.ts
  lib/node-token-validation/test/api/TokenValidator.spec.ts
  lib/node-token-validation/test/config/Configuration.spec.ts
  lib/node-token-validation/test/config/OpenIdConfigProvider.spec.ts
  lib/node-token-validation/test/config/TokenValidationParameters.spec.ts
  lib/node-token-validation/test/error/ValidationConfigurationError.spec.ts
  lib/node-token-validation/test/error/ValidationError.spec.ts
  lib/node-token-validation/test/network/HttpClient.spec.ts
  lib/node-token-validation/test/utils/TestConstants.ts
  lib/node-token-validation/tsconfig.build.json
  lib/node-token-validation/tsconfig.json
  package.json
  samples/node-token-validation-samples/basic-sample/.beachballrc
  samples/node-token-validation-samples/basic-sample/.npmrc
  samples/node-token-validation-samples/basic-sample/README.md
  samples/node-token-validation-samples/basic-sample/index.js
  samples/node-token-validation-samples/basic-sample/package.json
Labels: documentation, samples, node-token-validation

#4513 Fix broken back/forward cache behavior
  change/@azure-msal-browser-56c74863-6cbf-443b-9e2f-2c30e887310a.json
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
Labels: msal-browser

#4533 [msal-node] Fix support for claims-based token caching
  change/@azure-msal-node-3f524a86-b5c2-440a-a714-4a246b800936.json
  lib/msal-node/src/cache/serializer/Deserializer.ts
  lib/msal-node/src/cache/serializer/Serializer.ts
  lib/msal-node/src/cache/serializer/SerializerTypes.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/crypto/CryptoProvider.ts
  lib/msal-node/src/crypto/HashUtils.ts
  lib/msal-node/src/crypto/PkceGenerator.ts
  lib/msal-node/test/utils/TestConstants.ts
Labels: msal-node

#4081 Persist authority in in-memory cache
  change/@azure-msal-node-b12936ed-da98-48ac-9b2c-58a23b9e4cb4.json
  lib/msal-node/docs/caching.md
  lib/msal-node/src/cache/NodeStorage.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/IConfidentialClientApplication.ts
  lib/msal-node/src/client/IPublicClientApplication.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-aad.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-adfs.spec.ts
Labels: documentation, samples, msal-node

#4621 [msal-node-extensions]: Resolve the minimist audit error
  change/@azure-msal-node-extensions-3debfe85-8fd8-4bfa-8886-b4bc3e975011.json
  extensions/msal-node-extensions/package-lock.json
Labels: extensions

#4617 [msal-browser] Fix persistent key store deletion on logout
  change/@azure-msal-browser-6b150027-dba7-407a-a266-afa6dc7fe44f.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/src/cache/AsyncMemoryStorage.ts
  lib/msal-browser/src/cache/DatabaseStorage.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/test/cache/AsyncMemoryStorage.spec.ts
Labels: msal-browser
