Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2022-12, with the labels that each got.

#5420 Post release november oneoff
  .github/workflows/msal-node-e2e.yml
  extensions/msal-node-extensions/package-lock.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
  lib/node-token-validation/package-lock.json
  package-lock.json
  package.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions, node-token-validation

#5430 Fixed Authority Logs Typo
  change/@azure-msal-common-053b4c5b-c11f-4f09-b665-e4bf38740e9c.json
  lib/msal-common/src/authority/Authority.ts
Labels: msal-common

#5431 Add mobile popup question to msal-browser FAQ
  lib/msal-browser/FAQ.md
Labels: documentation, msal-browser

#5408 Update React dev dependency to 18
  change/@azure-msal-react-bdd1c37c-6102-425a-aa95-b185d0716765.json
  lib/msal-react/package-lock.json
  lib/msal-react/package.json
  lib/msal-react/test/MsalProvider.spec.tsx
  lib/msal-react/test/components/MsalAuthenticationTemplate.spec.tsx
Labels: msal-react

#5448 Cloud Instance Discovery Improvement
  change/@azure-msal-common-9e2f8311-2ae7-495d-b493-b48461ee7a28.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/CloudInstanceDiscoveryErrorResponse.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/authority/Authority.spec.ts
Labels: msal-common

#5384 Updated Custom INetworkModule Sample
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/.npmrc
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/HttpClient.ts
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/README.md
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/app.ts
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/package-lock.json
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/package.json
Labels: documentation, samples

#5465 December 2022 post-release updates
  extensions/msal-node-extensions/package-lock.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#5400 Update Next.js sample
  change/@azure-msal-react-bdd1c37c-6102-425a-aa95-b185d0716765.json
  lib/msal-react/package-lock.json
  lib/msal-react/package.json
  samples/msal-react-samples/nextjs-sample/README.md
  samples/msal-react-samples/nextjs-sample/package.json
  samples/msal-react-samples/nextjs-sample/pages/_app.js
  samples/msal-react-samples/nextjs-sample/pages/_document.js
  samples/msal-react-samples/nextjs-sample/pages/index.js
  samples/msal-react-samples/nextjs-sample/pages/profile.js
  samples/msal-react-samples/nextjs-sample/src/styles/createEmotionCache.js
  samples/msal-react-samples/nextjs-sample/src/styles/theme.js
  samples/msal-react-samples/nextjs-sample/src/ui-components/AccountPicker.jsx
  samples/msal-react-samples/nextjs-sample/src/ui-components/ErrorComponent.jsx
  samples/msal-react-samples/nextjs-sample/src/ui-components/Link.js
  samples/msal-react-samples/nextjs-sample/src/ui-components/Loading.jsx
  samples/msal-react-samples/nextjs-sample/src/ui-components/NavBar.jsx
  samples/msal-react-samples/nextjs-sample/src/ui-components/PageLayout.jsx
  samples/msal-react-samples/nextjs-sample/src/ui-components/ProfileData.jsx
  samples/msal-react-samples/nextjs-sample/src/ui-components/SignInButton.jsx
  samples/msal-react-samples/nextjs-sample/src/ui-components/SignInSignOutButton.jsx
  samples/msal-react-samples/nextjs-sample/src/ui-components/SignOutButton.jsx
  samples/msal-react-samples/nextjs-sample/src/ui-components/WelcomeName.jsx
  samples/msal-react-samples/nextjs-sample/src/ui.jsx
  samples/msal-react-samples/nextjs-sample/src/utils/MsGraphApiCall.js
  samples/msal-react-samples/nextjs-sample/src/utils/NavigationClient.js
Labels: documentation, samples, msal-react

#5478 Fix: Typo in acquire-token.md docs
  lib/msal-browser/docs/acquire-token.md
Labels: documentation, msal-browser

#5355 Fix logger undefined
  change/@azure-msal-browser-9319ce1c-d308-48c7-86c9-b30c0ea87b8a.json
  change/@azure-msal-common-c3d02c81-9c04-4ea1-aa60-48aa4b4a14f5.json
  change/@azure-msal-node-14183ec2-c4c8-48b1-9398-aa4b7928f629.json
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/logger/Logger.ts
  lib/msal-common/test/logger/Logger.spec.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: msal-node, msal-browser, msal-common

#5378 Update acquireToken docs with best practices
  lib/msal-browser/docs/acquire-token.md
  lib/msal-browser/docs/errors.md
  lib/msal-browser/docs/events.md
  lib/msal-browser/docs/token-lifetimes.md
Labels: documentation, msal-browser

#5211 Include http version in performance telemetry data in msal-browser
  change/@azure-msal-browser-682cd64f-7314-4081-b857-e149fe19e594.json
  change/@azure-msal-common-f943178d-8efb-4e1c-8ef2-0834909c4cd6.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/UsernamePasswordClient.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
Labels: msal-browser, msal-common

#5484 2130019. Fix cache credential look-up.
  change/@azure-msal-common-1c5b94a0-f7bc-4296-98bf-754bce80f004.json
  lib/msal-common/src/cache/entities/CredentialEntity.ts
  lib/msal-common/test/cache/entities/CredentialEntity.spec.ts
Labels: msal-common

#5492 Migrate `msal-browser` VanillaJS tests from `mocha` to `jest`
  samples/msal-browser-samples/VanillaJSTestApp2.0/.babelrc
  samples/msal-browser-samples/VanillaJSTestApp2.0/.mocharc.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/jest.config.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/jest.config.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserAAD.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserB2C.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserMemStorage.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/localStorage.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/jest.config.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/test/multiple_resources.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/jest.config.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/jest.config.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/sample_template/test/template.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/testUtils.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/jest.config.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/package.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/server.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/testRunner.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/tsconfig.json
Labels: samples

#5481 Update Material UI to version 5 in our React samples
  samples/msal-react-samples/gatsby-sample/package.json
  samples/msal-react-samples/gatsby-sample/src/components/ErrorComponent.jsx
  samples/msal-react-samples/gatsby-sample/src/components/Layout.jsx
  samples/msal-react-samples/gatsby-sample/src/components/Loading.jsx
  samples/msal-react-samples/gatsby-sample/src/components/NavBar.jsx
  samples/msal-react-samples/gatsby-sample/src/components/ProfileData.jsx
  samples/msal-react-samples/gatsby-sample/src/components/SignInButton.jsx
  samples/msal-react-samples/gatsby-sample/src/components/SignOutButton.jsx
  samples/msal-react-samples/gatsby-sample/src/components/WelcomeName.jsx
  samples/msal-react-samples/gatsby-sample/src/pages/index.js
  samples/msal-react-samples/gatsby-sample/src/pages/profile.js
  samples/msal-react-samples/gatsby-sample/src/styles/theme.js
  samples/msal-react-samples/gatsby-sample/src/styles/useStyles.js
  samples/msal-react-samples/gatsby-sample/src/wrap-with-provider.js
  samples/msal-react-samples/react-router-sample/package.json
  samples/msal-react-samples/react-router-sample/src/App.js
  samples/msal-react-samples/react-router-sample/src/index.js
  samples/msal-react-samples/react-router-sample/src/pages/Home.jsx
  samples/msal-react-samples/react-router-sample/src/pages/Profile.jsx
  samples/msal-react-samples/react-router-sample/src/pages/ProfileRawContext.jsx
  samples/msal-react-samples/react-router-sample/src/pages/ProfileUseMsalAuthenticationHook.jsx
  samples/msal-react-samples/react-router-sample/src/pages/ProfileWithMsal.jsx
  samples/msal-react-samples/react-router-sample/src/styles/theme.js
  samples/msal-react-samples/react-router-sample/src/styles/useStyles.js
  samples/msal-react-samples/react-router-sample/src/ui-components/AccountPicker.jsx
  samples/msal-react-samples/react-router-sample/src/ui-components/ErrorComponent.jsx
  samples/msal-react-samples/react-router-sample/src/ui-components/Loading.jsx
  samples/msal-react-samples/react-router-sample/src/ui-components/NavBar.jsx
  samples/msal-react-samples/react-router-sample/src/ui-components/PageLayout.jsx
  samples/msal-react-samples/react-router-sample/src/ui-components/ProfileData.jsx
  samples/msal-react-samples/react-router-sample/src/ui-components/SignInButton.jsx
  samples/msal-react-samples/react-router-sample/src/ui-components/SignOutButton.jsx
  samples/msal-react-samples/react-router-sample/src/ui-components/WelcomeName.jsx
  samples/msal-react-samples/typescript-sample/package.json
  samples/msal-react-samples/typescript-sample/src/App.tsx
  samples/msal-react-samples/typescript-sample/src/index.tsx
  samples/msal-react-samples/typescript-sample/src/pages/Home.tsx
  samples/msal-react-samples/typescript-sample/src/pages/Profile.tsx
  samples/msal-react-samples/typescript-sample/src/styles/theme.ts
  samples/msal-react-samples/typescript-sample/src/styles/useStyles.ts
  samples/msal-react-samples/typescript-sample/src/ui-components/ErrorComponent.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/Loading.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/NavBar.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/PageLayout.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/ProfileData.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/SignInButton.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/SignOutButton.tsx
  samples/msal-react-samples/typescript-sample/src/ui-components/WelcomeName.tsx
Labels: samples

#5503 Address dependabot alerts
  change/@azure-msal-angular-c202924e-d410-4130-b448-ae1ee18ebf33.json
  change/@azure-msal-node-9b72cb8f-5f16-4f6d-9b38-f349423d6a79.json
  change/@azure-msal-node-extensions-a0069a08-c2e3-4761-927a-3ffe46bb2460.json
  change/@azure-msal-react-7048453e-3bb2-4148-a922-be0726b3c396.json
  change/msal-c4927bb6-8eba-4f70-807f-362f329f2e3d.json
  extensions/msal-node-extensions/package-lock.json
  lib/msal-angular/package-lock.json
  lib/msal-core/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  lib/msal-react/package-lock.json
  samples/msal-browser-samples/HybridSample/package.json
  samples/msal-browser-samples/MsrCryptoSample/package.json
  samples/msal-core-samples/VanillaJSTestApp/app/adfs/test/browser.spec.ts
  samples/package-lock.json
  samples/package.json
Labels: msal-angular, samples, msal@1.x, msal-node, msal-react, extensions
