Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2022-01, with the labels that each got.

#4333 Add browser e2e test for client capabilities
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/graph.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/ui.js
Labels: samples

#4314 Clear interaction status even if there is no ongoing request
  change/@azure-msal-browser-7b2ab919-959f-40a0-800a-ec18f57a098e.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
Labels: msal-browser

#4363 Move msal-node-extensions CI to Github Actions
  .github/workflows/beachball-check.yml
  .github/workflows/build-test-pr.yml
  azure-pipelines-extensions.yml
  build/npm-build-extensions-steps.yml
  change/@azure-msal-node-extensions-b9d9f079-b1fe-4380-8aad-5a553e84eea9.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/dpapi-addon/Dpapi.ts
  extensions/msal-node-extensions/src/persistence/PersistenceCreator.ts
  extensions/msal-node-extensions/src/utils/Constants.ts
  extensions/msal-node-extensions/src/utils/Environment.ts
  tsconfig.json
Labels: extensions

#4415 Clear hash only if it contains known properties
  change/@azure-msal-browser-d035acdb-e020-47fd-a9a0-9d5553244604.json
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
Labels: msal-browser

#4391 Node testing mock overhaul
  change/@azure-msal-node-95afe8ab-6566-4464-a5dc-a45498275294.json
  lib/msal-node/test/cache/Storage.spec.ts
  lib/msal-node/test/cache/TokenCache.spec.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/client/test-fixtures.ts
  lib/msal-node/test/utils/MockUtils.ts
Labels: msal-node

#4427 Revert "Node testing mock overhaul"
  change/@azure-msal-node-95afe8ab-6566-4464-a5dc-a45498275294.json
  lib/msal-node/test/cache/Storage.spec.ts
  lib/msal-node/test/cache/TokenCache.spec.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/client/test-fixtures.ts
  lib/msal-node/test/utils/MockUtils.ts
Labels: msal-node

#4280 useMsalAuthentication hook acquires a token if user is already signed in
  change/@azure-msal-browser-7e67480d-a1ef-4e56-8661-aea2a7cde116.json
  change/@azure-msal-react-43716cff-ecb6-4cbb-9d56-324390f62add.json
  lib/msal-browser/src/index.ts
  lib/msal-react/docs/getting-started.md
  lib/msal-react/docs/hooks.md
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/src/error/ReactAuthError.ts
  lib/msal-react/src/hooks/useAccount.ts
  lib/msal-react/src/hooks/useIsAuthenticated.ts
  lib/msal-react/src/hooks/useMsalAuthentication.ts
  lib/msal-react/src/utils/utilities.ts
  lib/msal-react/test/components/AuthenticatedTemplate.spec.tsx
  lib/msal-react/test/components/MsalAuthenticationTemplate.spec.tsx
  lib/msal-react/test/components/UnauthenticatedTemplate.spec.tsx
  samples/msal-react-samples/react-router-sample/src/App.js
  samples/msal-react-samples/react-router-sample/src/pages/Home.jsx
  samples/msal-react-samples/react-router-sample/src/pages/ProfileUseMsalAuthenticationHook.jsx
  samples/msal-react-samples/react-router-sample/src/utils/MsGraphApiCall.js
Labels: documentation, samples, msal-browser, msal-react

#4279 [msal-node]: Add support for distributed cache
  change/@azure-msal-angular-d5901b01-3bbf-409a-aee0-4a1a4688c3fb.json
  change/@azure-msal-browser-c3360ab3-8b7b-4741-9f9a-3ff7d35f5121.json
  change/@azure-msal-node-3ffc9df9-7fe8-4d94-80cc-48f011e29c22.json
  change/@azure-msal-node-extensions-11a7f90c-4ff4-429e-bbeb-328094b4882e.json
  change/@azure-msal-react-5a33cd60-4208-4919-8eae-c6a5b28ca77e.json
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  lib/msal-node/src/cache/distributed/DistributedCachePlugin.ts
  lib/msal-node/src/cache/distributed/ICacheClient.ts
  lib/msal-node/src/cache/distributed/IPartitionManager.ts
  lib/msal-node/src/index.ts
  lib/msal-node/test/cache/cacheConstants.ts
  lib/msal-node/test/cache/distributed/DistributedCachePlugin.spec.ts
  samples/msal-node-samples/RedisTestApp/.npmrc
  samples/msal-node-samples/RedisTestApp/README.md
  samples/msal-node-samples/RedisTestApp/TestApp/.npmrc
  samples/msal-node-samples/RedisTestApp/TestApp/App/app.js
  samples/msal-node-samples/RedisTestApp/TestApp/App/controllers/mainController.js
  samples/msal-node-samples/RedisTestApp/TestApp/App/public/404.html
  samples/msal-node-samples/RedisTestApp/TestApp/App/public/style.css
  samples/msal-node-samples/RedisTestApp/TestApp/App/routes/router.js
  samples/msal-node-samples/RedisTestApp/TestApp/App/utils/fetchManager.js
  samples/msal-node-samples/RedisTestApp/TestApp/App/utils/partitionManager.js
  samples/msal-node-samples/RedisTestApp/TestApp/App/utils/redisClientWrapper.js
  samples/msal-node-samples/RedisTestApp/TestApp/App/views/home.ejs
  samples/msal-node-samples/RedisTestApp/TestApp/App/views/id.ejs
  samples/msal-node-samples/RedisTestApp/TestApp/App/views/includes/footer.ejs
  samples/msal-node-samples/RedisTestApp/TestApp/App/views/includes/navbar.ejs
  samples/msal-node-samples/RedisTestApp/TestApp/App/views/profile.ejs
  samples/msal-node-samples/RedisTestApp/TestApp/App/views/tenant.ejs
  samples/msal-node-samples/RedisTestApp/TestApp/README.md
  samples/msal-node-samples/RedisTestApp/TestApp/appSettings.json
  samples/msal-node-samples/RedisTestApp/TestApp/package.json
  samples/msal-node-samples/RedisTestApp/package.json
  samples/msal-node-samples/RedisTestApp/src/AuthProvider.ts
  samples/msal-node-samples/RedisTestApp/src/ConfigurationUtils.ts
  samples/msal-node-samples/RedisTestApp/src/Constants.ts
  samples/msal-node-samples/RedisTestApp/src/TokenValidator.ts
  samples/msal-node-samples/RedisTestApp/src/Types.ts
  samples/msal-node-samples/RedisTestApp/tsconfig.json
  samples/msal-node-samples/RedisTestApp/tslint.json
Labels: documentation, samples, msal-node

#4433 Node testing mock overhaul
  change/@azure-msal-node-03eb944d-e367-43d4-8dc3-931b2e5aaf90.json
  lib/msal-node/test/cache/Storage.spec.ts
  lib/msal-node/test/cache/TokenCache.spec.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/client/test-fixtures.ts
  lib/msal-node/test/utils/MockUtils.ts
Labels: msal-node

#4448 Fix MSAL Angular logger doc example
  lib/msal-angular/docs/v2-docs/logging.md
Labels: documentation, msal-angular

#3487 Bound RT #1 - Generate Session Transport Key
  change/@azure-msal-browser-866a65d5-3485-4066-82bf-ff5d21d1238a.json
  change/@azure-msal-common-157327d2-1cbc-46de-8fc8-0ee05d2b4ff6.json
  change/@azure-msal-node-4c43a4bb-fdda-4770-8636-96722504074a.json
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/crypto/SignedHttpRequest.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/src/utils/CryptoConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/config/Configuration.spec.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/error/BrowserAuthError.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/crypto/ICrypto.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/account/AuthToken.spec.ts
  lib/msal-common/test/account/ClientInfo.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
  lib/msal-common/test/utils/ProtocolUtils.spec.ts
  lib/msal-node/src/crypto/CryptoProvider.ts
  lib/msal-node/test/utils/TestConstants.ts
Labels: msal-node, msal-browser, msal-common, feature-pop

#4450 [msal-browser] Add support for logout_hint
  change/@azure-msal-browser-09d437d1-34ec-4523-a226-c6faa0408b18.json
  change/@azure-msal-common-cb7088fe-a140-4c7c-8bd3-2b47e6e43445.json
  lib/msal-browser/docs/logout.md
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/request/EndSessionPopupRequest.ts
  lib/msal-browser/src/request/EndSessionRequest.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-common/src/account/TokenClaims.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/request/CommonEndSessionRequest.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
Labels: documentation, msal-browser, msal-common
