Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2022-11, with the labels that each got.

#5356 update doc to demonstrate usage of Persistence
  extensions/docs/msal-node-extensions.md
Labels: documentation, extensions

#5374 Post release november 2022 2
  extensions/msal-node-extensions/package-lock.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#5375 Update MSIDLABS B2C authority in E2E tests
  change/@azure-msal-common-24ae5dc6-8dbc-4616-ad73-14c6869154d1.json
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
  samples/msal-angular-v2-samples/angular-b2c-sample-app/src/environments/environment.e2e.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/b2c/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfigs/b2cAuthConfig.json
  samples/msal-core-samples/VanillaJSTestApp/app/b2c/authConfig.js
  samples/msal-core-samples/VanillaJSTestApp/app/b2c/test/browser.spec.ts
  samples/msal-core-samples/VanillaJSTestApp/e2eTests/testRunner.ts
  samples/msal-node-samples/auth-code/config/B2C-AAD.json
  samples/msal-node-samples/auth-code/config/B2C-Local.json
  samples/msal-node-samples/auth-code/config/B2C-MSA.json
  samples/msal-node-samples/b2c-user-flows/config/B2C-Local.json
  samples/msal-node-samples/b2c-user-flows/config/B2C-MSA.json
  samples/msal-node-samples/silent-flow/config/B2C-AAD.json
  samples/msal-node-samples/silent-flow/config/B2C-Local.json
  samples/msal-node-samples/silent-flow/config/B2C-MSA.json
  samples/msal-react-samples/b2c-sample/src/authConfig.js
Labels: samples, msal-common

#5342 Fixed MSAL-Node HttpClient AAD-Server-Error-500 Bug
  change/@azure-msal-node-30bda6e0-6f74-44e0-981f-a7a155ef23ad.json
  lib/msal-node/src/network/HttpClient.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/src/utils/NetworkUtils.ts
  lib/msal-node/test/network/HttpClient.spec.ts
Labels: msal-node

#5364 Export popup attributes
  change/@azure-msal-browser-0d36f50e-7e06-40ee-8f77-60956ce19723.json
  lib/msal-browser/src/index.ts
Labels: msal-browser

#5396 Fix state update on unmounted component
  change/@azure-msal-react-9a364466-3600-4d0a-b623-6977277a96b0.json
  lib/msal-react/src/hooks/useMsalAuthentication.ts
Labels: msal-react

#5386 Added logging to Authority class
  change/@azure-msal-browser-927c443a-ae1c-4393-8209-6cc3dde65e47.json
  change/@azure-msal-common-5ad4c54d-f356-4b57-9b8d-818b1c27cc2a.json
  change/@azure-msal-node-12784f68-dd18-4eb2-bffa-fa410c08f923.json
  change/@azure-node-token-validation-1acb523e-5f72-4c09-a4a5-6f784ae26875.json
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TestStorageManager.ts
  lib/msal-browser/test/config/Configuration.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/authority/AuthorityFactory.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/node-token-validation/src/config/OpenIdConfigProvider.ts
Labels: msal-node, msal-browser, msal-common, node-token-validation

#5307 Bump puppeteer from 18.0.5 to 19.0.0 in /samples (#5304)
  .github/workflows/msal-browser-e2e.yml
  .github/workflows/msal-node-e2e.yml
  .github/workflows/msal-react-e2e.yml
  .gitignore
  samples/.puppeteerrc.cjs
  samples/msal-node-samples/ElectronTestApp/package.json
  samples/package-lock.json
  samples/package.json
Labels: samples

#5402 Fix circular dependency
  change/@azure-msal-node-f69fbcb5-005c-4c7c-9177-806d2990403d.json
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/utils/NetworkUtils.ts
Labels: msal-node

#5399 Fix msal-react SSR hydration errors
  change/@azure-msal-react-53c15c14-42d6-4a84-a024-5a1b7fe271c5.json
  lib/msal-react/src/hooks/useIsAuthenticated.ts
  lib/msal-react/test/components/MsalAuthenticationTemplate.spec.tsx
Labels: msal-react

#5398 msal-node serializes/deserializes userAssertionHash
  change/@azure-msal-node-cd34d22e-7099-4130-a153-514424175d40.json
  lib/msal-node/src/cache/serializer/Deserializer.ts
  lib/msal-node/src/cache/serializer/Serializer.ts
  lib/msal-node/src/cache/serializer/SerializerTypes.ts
  lib/msal-node/test/cache/cacheConstants.ts
  lib/msal-node/test/cache/serializer/cache.json
Labels: msal-node

#5350 Updated electron system browser app to use acquireTokenInteractive API
  samples/msal-node-samples/ElectronSystemBrowserTestApp/.gitignore
  samples/msal-node-samples/ElectronSystemBrowserTestApp/README.md
  samples/msal-node-samples/ElectronSystemBrowserTestApp/data/cacheTemplate.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/package.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/public/errorTemplate.html
  samples/msal-node-samples/ElectronSystemBrowserTestApp/public/successTemplate.html
  samples/msal-node-samples/ElectronSystemBrowserTestApp/redirect/.npmrc
  samples/msal-node-samples/ElectronSystemBrowserTestApp/redirect/index.js
  samples/msal-node-samples/ElectronSystemBrowserTestApp/redirect/package.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/redirect/public/CSS/styles.css
  samples/msal-node-samples/ElectronSystemBrowserTestApp/redirect/public/JS/handleRedirect.js
  samples/msal-node-samples/ElectronSystemBrowserTestApp/redirect/public/config/authConfig.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/redirect/public/index.html
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/AuthProvider.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/CachePlugin.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/Constants.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/FetchManager.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/Main.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/Renderer.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/config/customConfig.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/index.html
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/index.scss
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/preload.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/tsconfig.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/webpack.main.config.js
  samples/msal-node-samples/ElectronSystemBrowserTestApp/webpack.plugins.js
  samples/msal-node-samples/ElectronSystemBrowserTestApp/webpack.renderer.config.js
  samples/msal-node-samples/ElectronSystemBrowserTestApp/webpack.rules.js
Labels: documentation, samples

#5385 Update electron node extensions sample
  extensions/samples/electron-webpack/.beachballrc
  extensions/samples/electron-webpack/.eslintrc
  extensions/samples/electron-webpack/.gitignore
  extensions/samples/electron-webpack/README.md
  extensions/samples/electron-webpack/cache.json
  extensions/samples/electron-webpack/forge.config.ts
  extensions/samples/electron-webpack/index.html
  extensions/samples/electron-webpack/package.json
  extensions/samples/electron-webpack/src/AuthProvider.ts
  extensions/samples/electron-webpack/src/Preload.ts
  extensions/samples/electron-webpack/src/UIManager.ts
  extensions/samples/electron-webpack/src/authConfig.ts
  extensions/samples/electron-webpack/src/index.scss
  extensions/samples/electron-webpack/src/main.ts
  extensions/samples/electron-webpack/src/renderer.ts
  extensions/samples/electron-webpack/tsconfig.json
  extensions/samples/electron-webpack/webpack.config.js
  extensions/samples/electron-webpack/webpack.main.config.ts
  extensions/samples/electron-webpack/webpack.plugins.ts
  extensions/samples/electron-webpack/webpack.renderer.config.ts
  extensions/samples/electron-webpack/webpack.rules.ts
Labels: documentation, extensions
