Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2022-07, with the labels that each got.

#4955 Update vue3 sample dependencies
  samples/msal-browser-samples/vue3-sample-app/package.json
Labels: samples

#4950 Non-fatal native broker errors should clear interaction in progress flag
  change/@azure-msal-browser-41be5575-c576-4d73-817a-0911842684d9.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#4951 Handle account unavailable error status
  change/@azure-msal-browser-d21e1aab-de60-4ceb-897c-fded93de06f2.json
  change/@azure-msal-common-5069a279-63d5-46d3-874e-dcdf656c422f.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/error/NativeAuthError.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/error/NativeAuthError.spec.ts
  lib/msal-common/src/error/InteractionRequiredAuthError.ts
  lib/msal-common/test/error/InteractionRequiredAuthError.spec.ts
Labels: msal-browser, msal-common

#4949 Fix prompt behavior for native requests
  change/@azure-msal-browser-254f5907-5359-4a92-8878-3ae3a838508a.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
Labels: msal-browser

#4957 Mark temporary cache cookies as SameSite lax
  change/@azure-msal-browser-a0c60e1e-0205-4316-b099-d598f43c0317.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
Labels: msal-browser

#4907 fix: spelling in readme
  samples/msal-node-samples/auth-code/readme.md
Labels: documentation, samples

#4952 Clarify user switch error code in WAM docs
  change/@azure-msal-browser-5f160da8-948d-4783-b0e0-c32f1099c5bc.json
  lib/msal-browser/docs/device-bound-tokens.md
Labels: documentation, msal-browser

#4536 [msal-common]: Add metadata resiliency
  .github/workflows/metadata-check.yml
  change/@azure-msal-browser-cebab94e-7800-4f74-ae9b-da3f14d8b0b2.json
  change/@azure-msal-common-f4a491fd-2e55-4feb-b5ce-eb8ed2120ee1.json
  change/@azure-msal-node-c75d4701-e734-4cf0-8cad-7953484e6703.json
  change/@azure-msal-node-extensions-e677e6ff-09b3-40e2-8ded-9d3f8343ac0c.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  lib/msal-common/scripts/metadata.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityMetadata.ts
  lib/msal-common/src/authority/AuthorityOptions.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/tsconfig.json
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: msal-node, msal-browser, msal-common

#4969 Update errors.md
  lib/msal-angular/docs/v2-docs/errors.md
Labels: documentation, msal-angular

#5005 Update package-locks to fix CI issue
  change/@azure-msal-angular-839b467b-88e0-4e2a-b854-92e5e10a32c2.json
  change/@azure-msal-browser-cfad210c-b840-49b6-a2d2-6428de3c3e88.json
  change/@azure-msal-common-94c1933c-6f33-4d5f-bb76-82086779dc42.json
  change/@azure-msal-node-797ec471-a9bd-4dac-96e2-c3c6e4f79855.json
  change/@azure-msal-react-3d298b24-45e0-44c4-bd95-1199ddfc3b2f.json
  change/@azure-node-token-validation-83e076fd-6212-4a4a-bbb6-a6d12ac05272.json
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
  lib/msal-angular/src/msal.broadcast.service.spec.ts
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
  lib/node-token-validation/package-lock.json
  package-lock.json
  samples/msal-node-samples/auth-code/test/auth-code-aad.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-adfs.spec.ts
Labels: msal-angular, samples, msal-node, msal-browser, msal-common, msal-react, node-token-validation

#4844 allow overriding cache behavior in RT flow to support adal-node to msal-node migration
  change/@azure-msal-common-5987ad9b-49a1-4332-bff5-0b5ad7ddab88.json
  change/@azure-msal-node-fe229c97-6d1e-4a63-aba5-3f21a20fdac9.json
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/request/CommonRefreshTokenRequest.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-node/src/request/RefreshTokenRequest.ts
  samples/msal-node-samples/refresh-token/adalApp.js
  samples/msal-node-samples/refresh-token/adalCustomCache.js
  samples/msal-node-samples/refresh-token/config/customConfig.json
  samples/msal-node-samples/refresh-token/data/adal.cacheTemplate.json
  samples/msal-node-samples/refresh-token/data/msal.cacheTemplate.json
  samples/msal-node-samples/refresh-token/index.js
  samples/msal-node-samples/refresh-token/msalApp.js
  samples/msal-node-samples/refresh-token/msalCachePlugin.js
  samples/msal-node-samples/refresh-token/package.json
  samples/msal-node-samples/refresh-token/readme.md
Labels: documentation, samples, msal-node, msal-common

#4936 Add extensiblity point AppTokenCacheProvider
  change/@azure-msal-common-6f43bc2c-e529-4eb1-a3de-d5ec8b9eefc7.json
  change/@azure-msal-node-fa4a6150-4113-4a58-9c33-45682558f359.json
  lib/msal-common/src/client/ClientCredentialClient.ts
  lib/msal-common/src/config/AppTokenProvider.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/index.ts
  lib/msal-common/test/client/ClientCredentialClient.spec.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/IConfidentialClientApplication.ts
  lib/msal-node/src/index.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
Labels: msal-node, msal-common

#4998 Allow replay of past events for msal-angular
  change/@azure-msal-angular-a7f4662d-701e-4ffc-bc3d-63067281ab2c.json
  lib/msal-angular/docs/FAQ.md
  lib/msal-angular/docs/v2-docs/events.md
  lib/msal-angular/src/constants.ts
  lib/msal-angular/src/msal.broadcast.config.ts
  lib/msal-angular/src/msal.broadcast.service.spec.ts
  lib/msal-angular/src/msal.broadcast.service.ts
  lib/msal-angular/src/public-api.ts
Labels: documentation, msal-angular

#4912 Token validation authority update
  change/@azure-node-token-validation-ad78dc21-b134-4198-af80-5c4afed8a14c.json
  lib/node-token-validation/src/api/TokenValidator.ts
  lib/node-token-validation/src/config/Configuration.ts
  lib/node-token-validation/src/config/OpenIdConfigProvider.ts
  lib/node-token-validation/src/response/OpenIdConfigResponse.ts
  lib/node-token-validation/test/config/Configuration.spec.ts
  lib/node-token-validation/test/config/OpenIdConfigProvider.spec.ts
Labels: node-token-validation

#5010 Node-token-validation handle network errors
  change/@azure-node-token-validation-8fa4970e-a979-4212-a0fb-170778202ab0.json
  lib/node-token-validation/src/network/HttpClient.ts
  lib/node-token-validation/src/utils/Constants.ts
  lib/node-token-validation/test/network/HttpClient.spec.ts
Labels: node-token-validation

#4971 Cache tokens in internal memory for native calls
  change/@azure-msal-browser-cdf82ff3-a469-4d82-9aae-2765736a0bf2.json
  change/@azure-msal-common-2414d85b-19f3-4a98-b66d-69a8b01a1fa5.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/error/NativeAuthError.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentAuthCodeClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/utils/CacheTypes.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/MockCache.ts
  lib/msal-common/test/test_kit/StringConstants.ts
Labels: msal-browser, msal-common

#4973 Token sizes in the perf telemetry data
  change/@azure-msal-browser-0daaf89f-81ba-4902-b92d-14bd6eb15b19.json
  change/@azure-msal-common-50b3a71d-2ba8-4276-a7d0-7bbf1c2d408a.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: msal-browser, msal-common

#4688 Node-token-validation documentation
  change/@azure-node-token-validation-8db0035c-0ab4-4476-8182-b52a9009f815.json
  lib/node-token-validation/.eslintrc.json
  lib/node-token-validation/README.md
  lib/node-token-validation/docs/configuration.md
  lib/node-token-validation/docs/initialization.md
  lib/node-token-validation/package-lock.json
  lib/node-token-validation/package.json
  lib/node-token-validation/src/api/TokenValidator.ts
  lib/node-token-validation/src/config/Configuration.ts
  lib/node-token-validation/src/config/OpenIdConfigProvider.ts
  lib/node-token-validation/src/config/TokenValidationParameters.ts
  lib/node-token-validation/src/crypto/CryptoProvider.ts
  lib/node-token-validation/src/error/ValidationConfigurationError.ts
  lib/node-token-validation/src/error/ValidationError.ts
  lib/node-token-validation/src/index.ts
  lib/node-token-validation/src/network/HttpClient.ts
  lib/node-token-validation/src/request/MiddlewareTypes.ts
  lib/node-token-validation/src/response/TokenValidationResponse.ts
  lib/node-token-validation/test/api/TokenValidator.spec.ts
  package-lock.json
  typedoc.json
Labels: documentation, node-token-validation

#5025 Address dependabot alerts
  change/@azure-msal-browser-3895273a-51ec-404d-8674-04b5869237b3.json
  change/@azure-msal-common-caa742a9-6f39-4e83-a0a5-0625abaab925.json
  change/@azure-msal-node-extensions-c6253746-fa95-4a39-82d1-49345de5b43d.json
  extensions/msal-node-extensions/package-lock.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  package-lock.json
  package.json
Labels: msal-browser, msal-common, extensions

#5026 Update Next.js Sample
  samples/msal-react-samples/nextjs-sample/next.config.js
  samples/msal-react-samples/nextjs-sample/package.json
  samples/msal-react-samples/nextjs-sample/src/theme.js
  samples/msal-react-samples/nextjs-sample/src/ui.jsx
Labels: samples

#4972 Electron Sample Using System browser and Custom URL Scheme
  samples/msal-node-samples/ElectronSystemBrowserTestApp/.beachballrc
  samples/msal-node-samples/ElectronSystemBrowserTestApp/.npmrc
  samples/msal-node-samples/ElectronSystemBrowserTestApp/README.md
  samples/msal-node-samples/ElectronSystemBrowserTestApp/ReadmeFiles/Screenshot-Sign-in.png
  samples/msal-node-samples/ElectronSystemBrowserTestApp/ReadmeFiles/Screenshot-browser.png
  samples/msal-node-samples/ElectronSystemBrowserTestApp/ReadmeFiles/Screenshot-profile.png
  samples/msal-node-samples/ElectronSystemBrowserTestApp/data/cacheTemplate.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/index.html
  samples/msal-node-samples/ElectronSystemBrowserTestApp/package.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/redirect/.npmrc
  samples/msal-node-samples/ElectronSystemBrowserTestApp/redirect/index.js
  samples/msal-node-samples/ElectronSystemBrowserTestApp/redirect/package.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/redirect/public/CSS/styles.css
  samples/msal-node-samples/ElectronSystemBrowserTestApp/redirect/public/JS/handleRedirect.js
  samples/msal-node-samples/ElectronSystemBrowserTestApp/redirect/public/config/authConfig.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/redirect/public/index.html
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/App.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/AuthProvider.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/CachePlugin.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/Constants.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/FetchManager.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/GraphReponseTypes.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/Main.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/Renderer.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/UIManager.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/config/customConfig.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/preload.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/tsconfig.json
Labels: documentation, samples

#5032 Update dependencies
  .github/workflows/build-test-pr.yml
  .github/workflows/msal-node-e2e.yml
  build/postinstall.js
  change/@azure-msal-angular-e8fec60b-ae68-40ed-97b6-cdf759a7151c.json
  change/@azure-msal-browser-d471a036-9a0b-4041-aa9d-8c205ab82914.json
  change/@azure-msal-node-extensions-37c8f088-a00b-4802-a03b-d44eadadabcd.json
  change/@azure-msal-react-6dbe97a3-dec5-4dd2-9a1a-e8a630180446.json
  change/msal-8366b1f2-b32b-413c-bd60-d3670609fe64.json
  extensions/msal-node-extensions/package-lock.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-core/package-lock.json
  lib/msal-core/package.json
  lib/msal-core/tsconfig.build.json
  lib/msal-react/package-lock.json
  package-lock.json
  samples/msal-node-samples/b2c-user-flows/package.json
  samples/msal-node-samples/silent-flow/package.json
Labels: msal-angular, samples, msal@1.x, msal-browser, msal-react, extensions

#5043 Rename native request scopes to scope
  change/@azure-msal-browser-0dbbacaa-cadd-49fc-a0ec-b0c23a5380a6.json
  lib/msal-browser/src/broker/nativeBroker/NativeRequest.ts
  lib/msal-browser/src/broker/nativeBroker/NativeResponse.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
Labels: msal-browser

#5048 Use login_hint claim over sid/upn for msal v1
  change/msal-4fb85fde-730d-4c33-b281-b4a2df4ce057.json
  lib/msal-core/src/ServerRequestParameters.ts
  lib/msal-core/test/ServerRequestParameters.spec.ts
Labels: msal@1.x
