Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2022-08, with the labels that each got.

#4990 Send login_hint claim instead of sid if available
  change/@azure-msal-browser-541aaaf2-3b0e-48cb-833e-27ab0f13217c.json
  change/@azure-msal-common-c0ab88d9-dd14-4954-8839-dfa1e9139b59.json
  lib/msal-browser/docs/login-user.md
  lib/msal-browser/src/request/PopupRequest.ts
  lib/msal-browser/src/request/RedirectRequest.ts
  lib/msal-browser/src/request/SsoSilentRequest.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
Labels: documentation, msal-browser, msal-common

#4834 Network performance
  change/@azure-msal-browser-14b0229b-98b8-445e-b79a-e49d634452d1.json
  change/@azure-msal-common-76a4fd19-0905-46ee-b183-fae2ad84478f.json
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
Labels: msal-browser, msal-common

#5034 update 'passport' version
  maintenance/passport-azure-ad/CHANGELOG.md
  maintenance/passport-azure-ad/package.json
Labels: documentation, passport-azure-ad, adal-node

#5073 add authority doc to msal-common
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/docs/initialization.md
  lib/msal-common/docs/authority.md
  lib/msal-node/docs/configuration.md
  lib/msal-node/docs/initialize-confidential-client-application.md
  lib/msal-node/docs/initialize-public-client-application.md
Labels: documentation, msal-node, msal-browser, msal-common

#5092 Include Angular 14 as supported version in README
  lib/msal-angular/README.md
Labels: documentation, msal-angular

#5047 update msal-browser caching doc
  lib/msal-browser/docs/acquire-token.md
  lib/msal-browser/docs/caching.md
  lib/msal-browser/docs/configuration.md
Labels: documentation, msal-browser

#5099 fix: incorrect import path for SSOSilentRequest
  samples/msal-browser-samples/TypescriptTestApp2.0/src/AuthModule.ts
Labels: samples

#5102 Fix broken angular configuration documentation link
  lib/msal-angular/docs/v2-docs/configuration.md
Labels: documentation, msal-angular

#5036 Exposed Raw ID Token on Account Info objects.
  change/@azure-msal-browser-1de1d356-3446-4ed8-bd1d-439763a7abaa.json
  change/@azure-msal-common-2ae9b32a-051c-4b1a-9260-ac1520453520.json
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/account/AccountInfo.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/MockCache.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
Labels: msal-browser, msal-common

#5122 fix: use double ampersand to chain command
  samples/msal-react-samples/nextjs-sample/package.json
Labels: samples

#4989 Update testing doc
  lib/msal-browser/docs/testing.md
Labels: documentation, msal-browser

#5136 fixed files violating max-len lint rule
  change/@azure-msal-node-extensions-2f3c9951-5c33-4e4b-986a-789661c24467.json
  extensions/msal-node-extensions/src/persistence/BasePersistence.ts
  extensions/msal-node-extensions/src/persistence/KeychainPersistence.ts
  extensions/msal-node-extensions/src/persistence/LibSecretPersistence.ts
  extensions/msal-node-extensions/src/persistence/PersistenceCreator.ts
  extensions/msal-node-extensions/src/utils/Environment.ts
Labels: extensions

#5135 Point to the correct esm file in msal-node-extensions package.json
  change/@azure-msal-node-extensions-c89a7421-2340-47e8-93c0-926c0a9e114d.json
  extensions/msal-node-extensions/package.json
Labels: extensions
