Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2022-09, with the labels that each got.

#5156 fix for unit test failing
  change/@azure-msal-node-extensions-7c68c8eb-01db-42d5-8704-59b918859213.json
  extensions/msal-node-extensions/src/persistence/PersistenceCreator.ts
Labels: extensions

#5152 exporting ClientInfo functions for better reusability
  change/@azure-msal-common-53e36e4a-c298-4b42-aada-9dd3ef0c7deb.json
  lib/msal-common/src/account/ClientInfo.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/utils/Constants.ts
Labels: msal-common

#5062 AcquireTokenInteractive API
  change/@azure-msal-common-57134b2c-8549-4c5f-96ba-77dc916c3390.json
  change/@azure-msal-node-57ef1845-2c34-4b65-b9b7-3058a6059439.json
  lib/msal-common/src/index.ts
  lib/msal-common/src/url/UrlString.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/IConfidentialClientApplication.ts
  lib/msal-node/src/client/IPublicClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/error/NodeAuthError.ts
  lib/msal-node/src/index.ts
  lib/msal-node/src/network/LoopbackClient.ts
  lib/msal-node/src/request/InteractiveRequest.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
  samples/msal-node-samples/auth-code-cli-app/.npmrc
  samples/msal-node-samples/auth-code-cli-app/README.md
  samples/msal-node-samples/auth-code-cli-app/package.json
  samples/msal-node-samples/auth-code-cli-app/src/authConfig.js
  samples/msal-node-samples/auth-code-cli-app/src/data/cache.json
  samples/msal-node-samples/auth-code-cli-app/src/graph.js
  samples/msal-node-samples/auth-code-cli-app/src/index.js
  samples/msal-node-samples/cachePlugin.js
Labels: documentation, samples, msal-node, msal-common

#5167 Update initialize-confidential-client-application.md
  lib/msal-node/docs/initialize-confidential-client-application.md
Labels: documentation, msal-node

#5186 Post Release September 2022
  change/@azure-msal-angular-9c97ba30-c957-4d8f-abdb-3a81a109114c.json
  change/@azure-msal-browser-1334c53e-b6d9-4f16-9b1a-5f9b8cf48c62.json
  change/@azure-msal-common-626143f3-12e9-465e-b5d3-0a32eb2e6177.json
  change/@azure-msal-node-55c101f6-3a0f-4fd5-a61d-2c2099688b7d.json
  change/@azure-msal-node-extensions-abd541d0-7b93-4aff-a0f1-e595a4392515.json
  change/@azure-msal-react-d06fd9d8-cbb5-483c-8e88-74714a5c95da.json
  extensions/msal-node-extensions/package-lock.json
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#5189 Exporting Constants
  change/@azure-msal-common-043dd4c0-5104-4c8d-b776-78804da2e5eb.json
  lib/msal-common/src/index.ts
Labels: msal-common

#5112 Fix keystore clearing on Firefox
  change/@azure-msal-browser-c3dc6c9f-61c7-46fe-ac1c-dce9d9c596d8.json
  lib/msal-browser/src/cache/AsyncMemoryStorage.ts
  lib/msal-browser/src/cache/CryptoKeyStore.ts
  lib/msal-browser/src/cache/DatabaseStorage.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/test/cache/AsyncMemoryStorage.spec.ts
Labels: msal-browser

#5193 Update initialization.md
  lib/msal-angular/docs/v2-docs/initialization.md
Labels: documentation, msal-angular

#5190 Restore error codes for acquireTokenSilent telemetry
  change/@azure-msal-browser-ed69ce0f-5af1-43ba-9afc-d615d4a33389.json
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#4723 Msal node with state
  change/@azure-msal-node-892ff60a-4f9d-47e4-8217-04e90f1381e4.json
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/error/NodeAuthError.ts
  lib/msal-node/src/request/AuthorizationCodeRequest.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  package-lock.json
  samples/msal-node-samples/auth-code/index.js
Labels: samples, msal-node

#5204 Upload 2.28.3 to CDN
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
Labels: documentation, msal-browser

#5213 Post Publish package-lock.js updates for September 13, 2021 release
  change/@azure-msal-angular-da7bea99-18f1-42ae-808b-66dac77d94f7.json
  change/@azure-msal-browser-1a4803eb-78f6-4fd1-8e99-8d46e3875598.json
  change/@azure-msal-common-93540b9c-3402-4c61-8c96-f580ffc8ca02.json
  change/@azure-msal-node-1b16f13d-2792-4a20-bdc1-29a58153bfb1.json
  change/@azure-msal-react-82361086-80e7-4e51-b487-6dc66b142fad.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
  release-scripts/package-lock.json
Labels: msal-angular, msal-node, msal-browser, msal-common, msal-react

#3826 Add support for MSR Crypto
  change/@azure-msal-browser-9b95407e-43c0-4e26-8d37-dc175c0a232c.json
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/crypto/ISubtleCrypto.ts
  lib/msal-browser/src/crypto/ModernBrowserCrypto.ts
  lib/msal-browser/src/crypto/MsBrowserCrypto.ts
  lib/msal-browser/src/crypto/MsrBrowserCrypto.ts
  lib/msal-browser/src/error/BrowserConfigurationAuthError.ts
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
  lib/msal-browser/src/utils/BrowserStringUtils.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/crypto/PkceGenerator.spec.ts
  lib/msal-browser/test/crypto/SignedHttpRequest.spec.ts
  lib/msal-browser/test/event/EventHandler.spec.ts
  lib/msal-browser/test/telemetry/BrowserPerformanceClient.spec.ts
  samples/msal-browser-samples/MsrCryptoSample/.gitignore
  samples/msal-browser-samples/MsrCryptoSample/.npmrc
  samples/msal-browser-samples/MsrCryptoSample/app.js
  samples/msal-browser-samples/MsrCryptoSample/bin/www
  samples/msal-browser-samples/MsrCryptoSample/package.json
  samples/msal-browser-samples/MsrCryptoSample/public/javascripts/msrcrypto.js
  samples/msal-browser-samples/MsrCryptoSample/public/javascripts/msrcrypto.min.js
  samples/msal-browser-samples/MsrCryptoSample/public/stylesheets/style.css
  samples/msal-browser-samples/MsrCryptoSample/routes/index.js
  samples/msal-browser-samples/MsrCryptoSample/views/error.hbs
  samples/msal-browser-samples/MsrCryptoSample/views/index.hbs
  samples/msal-browser-samples/MsrCryptoSample/views/layout.hbs
Labels: documentation, samples, msal-browser

#4999 sanitize client credentials request against oidc scopes
  change/@azure-msal-node-14b32279-4a82-42b7-b093-907b4f0ff57c.json
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
Labels: msal-node

#5219 Fixed broken MSAL-Node CI
  change/@azure-msal-node-4e03887c-0f16-4093-9f7d-16dcd91d292e.json
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: msal-node

#5125 Added Support for the OIDC max_age parameter
  change/@azure-msal-common-9546872f-4c43-4825-8cfc-58b83d32a2f1.json
  lib/msal-common/src/account/AuthToken.ts
  lib/msal-common/src/account/TokenClaims.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
Labels: msal-common

#5131 Added "no_session" to prompt enum
  change/@azure-msal-browser-e1f28fc4-e0a8-45ed-aca0-f6e385fe0335.json
  change/@azure-msal-common-30e6e813-fb37-4136-92cf-ca153a8a295d.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/request/PopupRequest.ts
  lib/msal-browser/src/request/RedirectRequest.ts
  lib/msal-browser/src/request/SilentRequest.ts
  lib/msal-browser/src/request/SsoSilentRequest.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/src/request/CommonAuthorizationUrlRequest.ts
  lib/msal-common/src/utils/Constants.ts
Labels: msal-browser, msal-common

#5218 Remove archived sample link
  lib/msal-browser/docs/access-token-proof-of-possession.md
Labels: documentation, msal-browser

#5195 Restore B2C E2E tests for MSA account
  samples/e2eTestUtils/TestUtils.ts
  samples/msal-angular-v2-samples/angular-b2c-sample-app/test/msa-account.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-msa.spec.ts
  samples/msal-node-samples/b2c-user-flows/test/user-flows-msa.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-msa.spec.ts
  samples/msal-react-samples/b2c-sample/src/App.js
  samples/msal-react-samples/b2c-sample/src/pages/Home.jsx
  samples/msal-react-samples/b2c-sample/test/local-account.spec.ts
  samples/msal-react-samples/b2c-sample/test/msa-account.spec.ts
Labels: samples

#5212 Add support for DSTS authorities in MSAL Common
  .beachballrc
  change/@azure-msal-common-e0d9c1d3-1a69-47d4-be6c-b00df0060167.json
  lib/msal-browser/docs/performance.md
  lib/msal-common/docs/authority.md
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/authority/AuthorityType.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/client/ClientCredentialClient.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
Labels: documentation, msal-browser, msal-common

#5014 Implemented Cache Lookup Policy for acquireTokenSilent
  change/@azure-msal-browser-1f9154eb-d996-4121-b009-6776d0dd4260.json
  change/@azure-msal-common-02d5db74-03c8-4e3d-b5e8-1303e0b17361.json
  lib/msal-browser/docs/acquire-token.md
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/request/SilentRequest.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: documentation, msal-browser, msal-common

#5244 Add x-ms-request-id to perf telemetry logging
  change/@azure-msal-browser-a62c8acd-1177-4e1c-8f54-58a5d94140b0.json
  change/@azure-msal-common-08a34c2d-85fa-4abb-8c29-6291df630f13.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/response/AuthenticationResult.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
Labels: msal-browser, msal-common
