Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2022-05, with the labels that each got.

#4719 Ensure interaction status is properly set during logout with onRedirectNavigate
  change/@azure-msal-browser-ed89a011-1fec-478f-8dda-ba6975625f32.json
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
Labels: msal-browser

#4742 Move internals needed for msal-browser-1p to separate export
  change/@azure-msal-browser-6516dc11-cd8d-481e-ad38-d1b32cc9b4e2.json
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/internals.ts
  lib/msal-browser/test/telemetry/BrowserPerformanceClient.spec.ts
Labels: msal-browser

#4755 Fix for WAM window parenting
  change/@azure-msal-browser-501c61f2-e059-40b2-ac34-32d8932edbda.json
  lib/msal-browser/src/broker/nativeBroker/NativeRequest.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
Labels: msal-browser

#4781 Update cache-manager in passport-azure-ad
  maintenance/passport-azure-ad/CHANGELOG.md
  maintenance/passport-azure-ad/lib/bearerstrategy.js
  maintenance/passport-azure-ad/lib/oidcstrategy.js
  maintenance/passport-azure-ad/package.json
Labels: documentation, passport-azure-ad, adal-node

#4783 Fix msal-browser tests
  change/@azure-msal-browser-70e00f9b-11e8-48e3-b9ea-0e336c983756.json
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#4786 Update extensions package-lock to fix audit
  change/@azure-msal-node-extensions-29700ff3-7571-410f-ac8f-0b8051de228d.json
  extensions/msal-node-extensions/package-lock.json
Labels: extensions

#4789 Minor correction to grammar in docs
  change/@azure-msal-browser-b9870e5a-f1a3-48cc-a052-377d58533248.json
  lib/msal-browser/src/request/SsoSilentRequest.ts
Labels: msal-browser

#4800 Fix initialNavigation values for Angular 14 samples
  samples/msal-angular-v2-samples/angular14-rxjs6-sample-app/src/app/app-routing.module.ts
  samples/msal-angular-v2-samples/angular14-rxjs7-sample-app/src/app/app-routing.module.ts
Labels: samples

#4730 Add PoP support for Encrypted Access Tokens
  change/@azure-msal-browser-86f917e6-3d43-4bfc-a8d3-fbdbdf5f5310.json
  change/@azure-msal-common-2c376d9d-df7f-464b-9cf4-1b078579288f.json
  lib/msal-browser/src/broker/nativeBroker/NativeRequest.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
Labels: msal-browser, msal-common

#4805 [passport-azure-ad] - Replace 'request' with native 'https' module
  maintenance/passport-azure-ad/CHANGELOG.md
  maintenance/passport-azure-ad/lib/metadata.js
  maintenance/passport-azure-ad/package.json
  maintenance/passport-azure-ad/test/Chai-passport_test/oidc_dynamic_tenant_test.js
  maintenance/passport-azure-ad/test/End_to_end_test/package.json
Labels: documentation, passport-azure-ad, adal-node

#4806 Add ability to set Client Assertion on a per-request basis
  change/@azure-msal-common-f43c09ab-0291-4feb-a15e-9cb763014329.json
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/ClientCredentialClient.ts
  lib/msal-common/src/client/OnBehalfOfClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/UsernamePasswordClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/ClientCredentialClient.spec.ts
  lib/msal-common/test/client/OnBehalfOfClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/UsernamePasswordClient.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
Labels: msal-common

#4807 Fix password encoding on UsernamePassword flow
  change/@azure-msal-common-00400af1-6f04-4c51-921f-d96e55fa3fe5.json
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/test/client/UsernamePasswordClient.spec.ts
  samples/msal-node-samples/username-password/package.json
Labels: samples, msal-common

#4829 add missing import, expand MsalGuard snippet
  lib/msal-angular/docs/v2-docs/initialization.md
Labels: documentation, msal-angular

#4820 Update logger message for initialize API
  change/@azure-msal-browser-8cf67925-1a11-4b6e-8ffa-110a393103ab.json
  lib/msal-browser/src/app/ClientApplication.ts
Labels: msal-browser

#4793 Fix unexpected empty hash errors in popups
  change/@azure-msal-browser-68f39a4c-233b-471c-bdfa-1e9b1350d56b.json
  lib/msal-browser/docs/errors.md
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/PopupHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/src/internals.ts
  lib/msal-browser/src/request/EndSessionPopupRequest.ts
  lib/msal-browser/src/request/PopupRequest.ts
  lib/msal-browser/src/request/PopupWindowAttributes.ts
  lib/msal-browser/src/utils/PopupUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/utils/PopupUtils.spec.ts
Labels: documentation, msal-browser

#4840 unregister protocol in electron samples if auth code promise does not resolve
  samples/msal-node-samples/ElectronReactTestApp/.gitignore
  samples/msal-node-samples/ElectronReactTestApp/src/CustomProtocolListener.ts
  samples/msal-node-samples/ElectronTestApp/src/CustomProtocolListener.ts
Labels: samples

#4837 Fallback to web flow when native broker throws 'DISABLED' status
  change/@azure-msal-browser-8cb89fc5-2c6f-40fe-96b4-99dfe7fb89aa.json
  lib/msal-browser/src/error/NativeAuthError.ts
  lib/msal-browser/test/error/NativeAuthError.spec.ts
Labels: msal-browser

#4803 [msal-node] export AuthorizationCodePayload type from msal-common
  change/@azure-msal-node-2c44a8b8-4645-4ad0-8963-8ba5b369789a.json
  lib/msal-node/src/index.ts
Labels: Needs: Attention :wave:

#4729 Add support for RDP using TLS with proof-of-possession
  change/@azure-msal-browser-0998dfea-ce52-42a7-9709-9fb13449d326.json
  change/@azure-msal-common-7c4978ac-13e5-4473-9a8c-728ec0bdafd1.json
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-common/src/account/TokenClaims.ts
  lib/msal-common/src/crypto/JoseHeader.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/error/JoseHeaderError.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/crypto/JoseHeader.spec.ts
  lib/msal-common/test/error/JoseHeaderError.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
Labels: msal-browser, msal-common

#4821 Update proof-of-possession sample to aid with debugging
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/graph.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/ui.js
Labels: samples
