Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2022-02, with the labels that each got.

#3505 Bound RT #2 - Request Bound Refresh Token
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-node/src/crypto/CryptoProvider.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/boundRt/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/boundRt/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/boundRt/graph.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/boundRt/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/boundRt/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/boundRt/ui.js
Labels: samples, msal-node, msal-browser, msal-common, feature-pop

#4465 Update useMsal code snippet in hooks doc
  lib/msal-react/docs/hooks.md
Labels: documentation, msal-react

#4483 Update keytar dependency
  change/@azure-msal-node-extensions-56d080c8-02ad-46f0-a77d-04dc681eb68d.json
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
Labels: dependencies, extensions

#4460 Improve interaction_in_progress reliability
  change/@azure-msal-browser-84b5d046-5b4d-4e29-9397-8243e566813f.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/interaction_handler/PopupHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/utils/PopupUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_handler/PopupHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/utils/PopupUtils.spec.ts
Labels: msal-browser

#4459 [msal-browser] Adding exports and other changes for extensibility
  change/@azure-msal-browser-e1d1a8ce-4b88-4e26-9f89-f6a7599b6231.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentAuthCodeClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
Labels: msal-browser

#4491 Update samples to axios@0.25.0
  samples/msal-browser-samples/VanillaJSTestApp2.0/package.json
  samples/msal-core-samples/VanillaJSTestApp/package.json
  samples/msal-node-samples/b2c-auth-code-pkce/package.json
  samples/msal-node-samples/b2c-silent-flow/package.json
  samples/msal-node-samples/silent-flow/package.json
Labels: samples

#4489 Remove packge-lock files from libraries in maintenance
  experimental/msal-react-native-android-poc/.gitignore
  experimental/msal-react-native-android-poc/.npmrc
  experimental/msal-react-native-android-poc/package-lock.json
  maintenance/adal-angular/.gitignore
  maintenance/adal-angular/.npmrc
  maintenance/adal-angular/package-lock.json
  maintenance/adal-node/.gitignore
  maintenance/adal-node/.npmrc
  maintenance/adal-node/package-lock.json
  maintenance/msal-angularjs/.gitignore
  maintenance/msal-angularjs/.npmrc
  maintenance/msal-angularjs/package-lock.json
  maintenance/passport-azure-ad/.gitignore
  maintenance/passport-azure-ad/.npmrc
  maintenance/passport-azure-ad/package-lock.json
Labels: angularjs, passport-azure-ad, adal.js, adal-node

#4466 Msal.js v1 - Improve interaction_in_progress reliability
  change/msal-4ca57fa7-878a-4b67-97f9-1b2462e27b0c.json
  lib/msal-core/src/UserAgentApplication.ts
  lib/msal-core/src/cache/AuthCache.ts
Labels: msal@1.x

#4106 Add AzureCloudInstance to JS libraries
  change/@azure-msal-browser-a7a11b2b-3e4b-4a25-8480-77443ff2d9ea.json
  change/@azure-msal-common-6a04f8da-2ee0-401e-bced-3f276384a03c.json
  change/@azure-msal-node-6bc56920-ff6f-4734-9122-20465077fc6d.json
  lib/msal-browser/FAQ.md
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/config/Configuration.spec.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/StandardInteractionClient.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityOptions.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-node/docs/configuration.md
  lib/msal-node/docs/faq.md
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/index.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/config/ClientConfiguration.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
  tsconfig.json
Labels: documentation, msal-node, msal-browser, msal-common

#4447 Msal Node adds support `proxy`
  change/@azure-msal-common-c6e1491d-69c4-401a-993b-092a2fc5532a.json
  change/@azure-msal-node-7fea4c17-70fb-4abf-8a56-186d5023dce6.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/authority/ImdsOptions.ts
  lib/msal-common/src/authority/RegionDiscovery.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/network/INetworkModule.ts
  lib/msal-common/src/url/UrlString.ts
  lib/msal-node/docs/configuration.md
  lib/msal-node/docs/faq.md
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/network/HttpClient.ts
Labels: documentation, msal-node, msal-common

#4517 Update axios to address follow-redirects alerts
  change/@azure-msal-node-e6d368bc-f820-45bc-b4d1-af4f4494ebd1.json
  lib/msal-node/package-lock.json
  samples/package-lock.json
  samples/package.json
Labels: samples, msal-node

#4477 Msal-React updates state values concurrently
  change/@azure-msal-react-44d47168-f085-45a8-a4e4-0657e9a35398.json
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/test/components/MsalAuthenticationTemplate.spec.tsx
Labels: msal-react

#4504 Added nonce feature to msal node
  change/@azure-msal-node-694500a8-c2bd-4902-a5ed-4d4b206e0c77.json
  lib/msal-node/package-lock.json
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  samples/msal-node-samples/auth-code/index.js
  samples/msal-node-samples/auth-code/package.json
Labels: samples, msal-node

#4540 Add localization tests
  change/@azure-msal-browser-77164596-1b36-4e47-8716-34ebd9257834.json
  change/@azure-msal-node-c78412fb-3af7-464f-8378-3a7c0f673aa2.json
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/interaction_client/StandardInteractionClient.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-node/test/crypto/CryptoProvider.spec.ts
Labels: msal-node, msal-browser
