Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2022-06, with the labels that each got.

#4687 Update FAQ.md
  lib/msal-angular/docs/v2-docs/msal-interceptor.md
  lib/msal-browser/FAQ.md
Labels: documentation, msal-angular, msal-browser

#4858 fix react sample bug when user registration is phonenumber only
  samples/msal-react-samples/react-18-sample/src/ui-components/WelcomeName.jsx
Labels: samples

#4794 Rename SHR Params
  change/@azure-msal-browser-56556afc-6d7b-49b5-b632-b49096c40a23.json
  lib/msal-browser/src/broker/nativeBroker/NativeRequest.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
Labels: msal-browser

#4769 chore: Set permissions for GitHub actions
  .github/workflows/beachball-bump.yml
  .github/workflows/beachball-check.yml
  .github/workflows/build-test-pr.yml
  .github/workflows/build-test-push-to-dev.yml
  .github/workflows/codeql.yml
  .github/workflows/label.yml
  .github/workflows/lock-closed-issues.yml
  .github/workflows/msal-angular-e2e.yml
  .github/workflows/msal-browser-e2e.yml
  .github/workflows/msal-core-e2e.yml
  .github/workflows/msal-node-e2e.yml
  .github/workflows/msal-react-e2e.yml
  .github/workflows/npm-audit.yml
  .github/workflows/publish-packages.yml
  .github/workflows/stale.yml
Labels: Needs: Attention :wave:

#4691 Fix obo cache filters
  change/@azure-msal-browser-1b5c87e6-d99e-462a-9597-e8e9c3ee0185.json
  change/@azure-msal-common-b5c03378-dee7-4019-8e14-5dd3c70e00f0.json
  change/@azure-msal-node-599d9222-9185-4a4e-8122-d735798fcc0e.json
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccessTokenEntity.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/cache/entities/CredentialEntity.ts
  lib/msal-common/src/cache/entities/IdTokenEntity.ts
  lib/msal-common/src/cache/entities/RefreshTokenEntity.ts
  lib/msal-common/src/cache/utils/CacheTypes.ts
  lib/msal-common/src/client/OnBehalfOfClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/MockCache.ts
  lib/msal-common/test/client/OnBehalfOfClient.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  package-lock.json
  package.json
Labels: msal-node, msal-browser, msal-common

#4880 Return correct fromCache value when tokens are acquired from WAM
  change/@azure-msal-browser-d3244b56-d3dc-4d22-a304-474eeae7b105.json
  lib/msal-browser/src/broker/nativeBroker/NativeResponse.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
Labels: msal-browser

#4846 Fix ClientAssertion configuration typing between common and node
  change/@azure-msal-common-36367007-286d-40e0-a10f-4e74dc2d3446.json
  change/@azure-msal-node-614e1963-9c1b-4a82-ac69-77bbae301521.json
  lib/msal-common/package-lock.json
  lib/msal-common/src/account/ClientCredentials.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/OnBehalfOfClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/UsernamePasswordClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/request/CommonClientCredentialRequest.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/UsernamePasswordClient.spec.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/request/ClientCredentialRequest.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
Labels: msal-node, msal-common

#4863 Reliability client telemetry
  change/@azure-msal-browser-157ea07b-c310-4aec-8a13-a6fbbd7565d3.json
  change/@azure-msal-common-3bcc600c-ddf9-44be-aadf-4b3d7c99b87d.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: msal-browser, msal-common

#4893 preflightBrowserEnvironmentCheck should not always set interaction in progress
  change/@azure-msal-browser-aa852ccd-bc15-4985-a4ba-0483b0ebfb1e.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#4886 improve clarity of certificate usage guides
  lib/msal-node/docs/certificate-credentials.md
  lib/msal-node/docs/key-vault-managed-identity.md
  samples/msal-node-samples/auth-code-key-vault/index.js
  samples/msal-node-samples/auth-code-with-certs/certs/example.crt
  samples/msal-node-samples/auth-code-with-certs/certs/example.key
  samples/msal-node-samples/auth-code-with-certs/index.js
Labels: documentation, samples, msal-node

#4905 Add jwks_uri to msal-common
  change/@azure-msal-browser-5d9e1908-df2b-4c16-9dba-ff3438eba980.json
  change/@azure-msal-common-f6c378a8-33f4-4db6-b2e3-19052f795102.json
  change/@azure-msal-node-dc6bf3cb-282c-4317-b1be-ec465494a361.json
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/OpenIdConfigResponse.ts
  lib/msal-common/src/cache/entities/AuthorityMetadataEntity.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/cache/entities/AuthorityMetadataEntity.spec.ts
  lib/msal-node/test/cache/Storage.spec.ts
Labels: msal-node, msal-browser, msal-common

#4911 Fix build:package command for Gatsby sample
  samples/msal-react-samples/gatsby-sample/package.json
Labels: samples

#4906 Add node-token-validation cache manager
  change/@azure-node-token-validation-4d780c45-7f03-49d9-b9d3-bb354b88b4be.json
  lib/node-token-validation/src/api/TokenValidator.ts
  lib/node-token-validation/src/cache/CacheTypes.ts
  lib/node-token-validation/src/cache/NodeCacheManager.ts
  lib/node-token-validation/src/utils/Constants.ts
  lib/node-token-validation/test/cache/NodeCacheManager.spec.ts
  lib/node-token-validation/test/utils/TestConstants.ts
Labels: node-token-validation

#4798 Update roadmap to -terms instead of quarters
  roadmap.md
Labels: documentation
