Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2023-10, with the labels that each got.

#6504 Address missing params in refreshtoken flow
  change/@azure-msal-browser-25ee7cb8-ff63-4068-bec4-b4a62d99e090.json
  change/@azure-msal-common-620cc77b-9338-468a-be71-4abc670a48e1.json
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/request/CommonRefreshTokenRequest.ts
  lib/msal-common/src/request/CommonSilentFlowRequest.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
Labels: msal-browser, msal-common

#6535 Bug fix: id token Base64 decoding
  change/@azure-msal-browser-120fd43b-88e5-4b2e-9e13-bbe310123879.json
  lib/msal-browser/src/encode/Base64Decode.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/error/BrowserAuthErrorCodes.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/encode/Base64Decode.spec.ts
  lib/msal-browser/test/encode/Base64Encode.spec.ts
Labels: msal-browser

#6538 [Msal node] expose the type through msal-node imported from common
  change/@azure-msal-node-2dc90eeb-427f-4832-8b7b-fbd13d7ade87.json
  lib/msal-node/src/index.ts
Labels: msal-node

#6550 Implement preconnect to speed up /token calls, refactor static class methods to exported methods for better minification
  change/@azure-msal-browser-bbb9a122-00a3-40d3-8a8e-43e3c207732e.json
  lib/msal-angular/src/msal.guard.spec.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/utils/BrowserUtils.spec.ts
Labels: msal-angular, msal-browser

#6529 Build account objects from cached ID Token
  change/@azure-msal-browser-213a4bf6-cff8-4dc4-a8f2-90b2bab46242.json
  change/@azure-msal-common-beeb49bf-aa51-4076-806c-d70227b5f480.json
  change/@azure-msal-node-695c255d-9b72-4c81-b93a-886e651da57a.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentCacheClient.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/authority/AuthorityMetadata.ts
  lib/msal-common/src/authority/AuthorityOptions.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/cache/utils/CacheTypes.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/MockCache.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
  lib/msal-node/src/cache/NodeStorage.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/test/cache/TokenCache.spec.ts
  lib/msal-node/test/cache/cache-test-files/cache-unrecognized-entities.json
  lib/msal-node/test/cache/serializer/Serializer.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
Labels: msal-node, msal-browser, msal-common

#6560 Replace custom encoder with TextEncoder in code challenge generator
  change/@azure-msal-browser-73684f84-86fe-48f5-896d-d861bff87147.json
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/utils/BrowserStringUtils.ts
Labels: msal-browser

#6567 addressing rollup issue based when using 2 outputs for one input
  change/@azure-msal-browser-26cf862f-e7fd-48e4-ba9d-80cda5042501.json
  lib/msal-browser/rollup.config.js
Labels: msal-browser

#6562 More ATS instrumentation
  change/@azure-msal-browser-26afcb43-ee1b-4a97-b0c9-4c7d07bf3e70.json
  change/@azure-msal-common-ec36781a-30dc-4437-9f81-ad565fb21475.json
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
Labels: msal-browser, msal-common

#6533 Instrument create and remove hidden iframe & refactor silent handler into exported functions
  change/@azure-msal-browser-0599d2f9-9601-4ff3-aa40-b567528bea47.json
  change/@azure-msal-common-69201409-68b6-4c6d-ae3b-102b2db1a51c.json
  lib/msal-browser/src/interaction_client/SilentAuthCodeClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/test/interaction_client/SilentAuthCodeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: msal-browser, msal-common

#6571 Deleted msal-node's package-lock.json
  lib/msal-node/package-lock.json
Labels: msal-node

#6587 October Release #2
  change/@azure-msal-browser-0599d2f9-9601-4ff3-aa40-b567528bea47.json
  change/@azure-msal-browser-213a4bf6-cff8-4dc4-a8f2-90b2bab46242.json
  change/@azure-msal-browser-26afcb43-ee1b-4a97-b0c9-4c7d07bf3e70.json
  change/@azure-msal-browser-26cf862f-e7fd-48e4-ba9d-80cda5042501.json
  change/@azure-msal-browser-50170fbc-d837-4531-83f6-28b62449a07b.json
  change/@azure-msal-browser-73684f84-86fe-48f5-896d-d861bff87147.json
  change/@azure-msal-browser-bbb9a122-00a3-40d3-8a8e-43e3c207732e.json
  change/@azure-msal-common-497a7ea5-49f3-4b9b-ac83-55d1410db08c.json
  change/@azure-msal-common-69201409-68b6-4c6d-ae3b-102b2db1a51c.json
  change/@azure-msal-common-beeb49bf-aa51-4076-806c-d70227b5f480.json
  change/@azure-msal-common-ec36781a-30dc-4437-9f81-ad565fb21475.json
  change/@azure-msal-node-695c255d-9b72-4c81-b93a-886e651da57a.json
  change/@azure-msal-react-e44ef43a-73f0-4eb4-99e6-8cceeb26058f.json
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/CHANGELOG.md
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/packageMetadata.ts
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
  package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#6586 Don't use temporary cache for silent & popup flows
  change/@azure-msal-browser-7c734503-8069-411f-8bfb-472e0dc65ba2.json
  change/@azure-msal-common-542684b7-2f3a-4793-87ef-e63aa1516284.json
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentAuthCodeClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
Labels: msal-browser, msal-common

#6554 Add express session maxAge
  samples/msal-node-samples/auth-code-distributed-cache/src/app.ts
Labels: samples

#6599 Fix iframe fallback when RT is not found in cache
  change/@azure-msal-browser-6d9ef336-f49e-47ba-9191-05676f55c887.json
  lib/msal-browser/src/controllers/IController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#6580 Refactor token cache entities into types
  change/@azure-msal-browser-f7a90af8-1831-4893-aaff-47bd8fc53621.json
  change/@azure-msal-common-3221a6c8-6fb8-41ed-8eb8-7ee31f61f10d.json
  change/@azure-msal-node-14ef94d7-7234-47c0-9875-b3bb2caf75d7.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TestStorageManager.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentCacheClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentRefreshClient.spec.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccessTokenEntity.ts
  lib/msal-common/src/cache/entities/CredentialEntity.ts
  lib/msal-common/src/cache/entities/IdTokenEntity.ts
  lib/msal-common/src/cache/entities/RefreshTokenEntity.ts
  lib/msal-common/src/cache/utils/CacheHelpers.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/MockCache.ts
  lib/msal-common/test/cache/entities/AccessTokenEntity.spec.ts
  lib/msal-common/test/cache/entities/AppMetadataEntity.spec.ts
  lib/msal-common/test/cache/entities/IdTokenEntity.spec.ts
  lib/msal-common/test/cache/entities/RefreshTokenEntity.spec.ts
  lib/msal-common/test/cache/entities/cacheConstants.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-node/src/cache/NodeStorage.ts
  lib/msal-node/src/cache/serializer/Deserializer.ts
  lib/msal-node/test/cache/Storage.spec.ts
  lib/msal-node/test/cache/cacheConstants.ts
  lib/msal-node/test/client/ClientCredentialClient.spec.ts
  lib/msal-node/test/client/ClientTestUtils.ts
  lib/msal-node/test/client/OnBehalfOfClient.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: msal-node, msal-browser, msal-common

#6590 Backported fix for multiple matching tokens error
  change/@azure-msal-common-a6532552-313d-484f-b0f9-4a399a3ffff0.json
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
Labels: msal-common

#6600 Fix downstream ESM imports, fixes #6573
  change/@azure-msal-node-extensions-25a8325b-07d2-4bf8-91b6-ed1140578fdf.json
  extensions/msal-node-extensions/src/persistence/KeychainPersistence.ts
  extensions/msal-node-extensions/src/persistence/LibSecretPersistence.ts
Labels: extensions

#6568 Update configuration.md
  lib/msal-angular/docs/configuration.md
Labels: documentation, msal-angular

#6612 Update popup & redirect flows to use invokeAsync
  change/@azure-msal-browser-80d74e84-d279-4360-89c4-f52fea3c6a4f.json
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
Labels: msal-browser

#6614 October LTS Release
  change/@azure-msal-common-a6532552-313d-484f-b0f9-4a399a3ffff0.json
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react

#6615 Add "inlineDynamicImports" to rollup config to fix CJS build. Make factory methods basic functions
  change/@azure-msal-browser-be125892-2c84-4c9d-89d8-bb5c7f5490c9.json
  lib/msal-browser/rollup.config.js
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientNext.ts
  lib/msal-browser/src/controllers/ControllerFactory.ts
Labels: msal-browser

#6630 Bump "next" package for nextjs sample
  package-lock.json
  samples/msal-react-samples/nextjs-sample/package.json
Labels: samples

#6622 Fix hardcoded metadata fetching for tenanted authorities
  change/@azure-msal-common-781f4bee-0546-4407-a682-b7b453e07706.json
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityMetadata.ts
  lib/msal-common/src/authority/AuthorityOptions.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/authority/AuthorityMetadata.spec.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfigs/aadTenantedAuthConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserAADTenanted.spec.ts
Labels: samples, msal-browser, msal-common

#6621 Post release lts october 2023
  lib/msal-angular/package-lock.json
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: documentation, msal-angular, samples, msal-node, msal-browser, msal-common, msal-react, extensions

#6634 October 2023 Patch Release
  change/@azure-msal-browser-6d9ef336-f49e-47ba-9191-05676f55c887.json
  change/@azure-msal-browser-7c734503-8069-411f-8bfb-472e0dc65ba2.json
  change/@azure-msal-browser-80d74e84-d279-4360-89c4-f52fea3c6a4f.json
  change/@azure-msal-browser-be125892-2c84-4c9d-89d8-bb5c7f5490c9.json
  change/@azure-msal-browser-f7a90af8-1831-4893-aaff-47bd8fc53621.json
  change/@azure-msal-common-3221a6c8-6fb8-41ed-8eb8-7ee31f61f10d.json
  change/@azure-msal-common-542684b7-2f3a-4793-87ef-e63aa1516284.json
  change/@azure-msal-common-781f4bee-0546-4407-a682-b7b453e07706.json
  change/@azure-msal-node-14ef94d7-7234-47c0-9875-b3bb2caf75d7.json
  change/@azure-msal-node-extensions-25a8325b-07d2-4bf8-91b6-ed1140578fdf.json
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/CHANGELOG.md
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/packageMetadata.ts
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
  package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#6582 Removing allowestsrnonmsi query parameter
  change/@azure-msal-common-70d0aa55-97ea-4486-bcca-a7e3ff2c2bc9.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/authority/Authority.spec.ts
Labels: msal-common
