Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2023-12, with the labels that each got.

#6740 Post-release PR
  .github/workflows/beachball-check.yml
  change/@azure-msal-angular-152553c6-5f87-45e1-bc9b-81845909753e.json
  change/@azure-msal-browser-2c8dca0f-fa93-46bc-a10d-44949d92f839.json
  change/@azure-msal-browser-45977b18-a8cc-4719-9125-5abb433fef8c.json
  change/@azure-msal-browser-79eee614-ede9-45f3-b008-5fa2b8a7ecf3.json
  change/@azure-msal-browser-8cb5d434-71db-4a02-b2cc-dd7713e96e3d.json
  change/@azure-msal-browser-aaaeed43-6bc8-4ae5-a6f9-f491edebd304.json
  change/@azure-msal-browser-db4996d9-6369-4970-9033-6fe72b4e17a1.json
  change/@azure-msal-browser-fc538376-3a85-4f38-97a3-62beb4f8b12e.json
  change/@azure-msal-common-1115da03-5165-4bc2-aad2-aef6dea82100.json
  change/@azure-msal-common-56aaaf1b-8d93-4703-9d51-cab03b646fdf.json
  change/@azure-msal-common-8efe538a-488d-46f1-b1ea-f1bdea1ad4ae.json
  change/@azure-msal-node-7d7ba6ef-1ff9-4d1d-9b53-945fafd5eadd.json
  change/@azure-msal-node-92a2e589-8556-4d4c-8d36-f7375d161618.json
  change/@azure-msal-node-extensions-722e5b45-ed64-4565-b1dc-94c9eb65eed9.json
  change/@azure-msal-node-fd8922d0-15cd-4b36-b209-0810fd9a67d6.json
  change/@azure-msal-react-352fd85e-1cd7-4b70-9f9c-4489d9201826.json
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/CHANGELOG.md
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/packageMetadata.ts
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
  package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#6744 Fix external account loading
  change/@azure-msal-browser-523e4a81-0be7-4b81-853b-ef53334e8748.json
  change/@azure-msal-common-bdd493ce-0c46-4ec5-b2db-9eba6d5b8030.json
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-common/src/response/ResponseHandler.ts
Labels: msal-browser, msal-common

#6681 Implementation of Azure Arc Managed Identity into MSAL-Node's MSI Feature Branch
  lib/msal-common/src/utils/Constants.ts
  lib/msal-node/src/client/ManagedIdentityClient.ts
  lib/msal-node/src/client/ManagedIdentitySources/AzureArc.ts
  lib/msal-node/src/client/ManagedIdentitySources/BaseManagedIdentitySource.ts
  lib/msal-node/src/client/ManagedIdentitySources/Imds.ts
  lib/msal-node/src/error/ManagedIdentityError.ts
  lib/msal-node/src/error/ManagedIdentityErrorCodes.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ManagedIdentityApplication.spec.ts
  lib/msal-node/test/test_kit/AzureArcSecret.key
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
  lib/msal-node/test/test_kit/StringConstants.ts
Labels: msal-node, msal-common

#6749 Node engines minimum
  change/@azure-msal-node-8a44b5a0-50f6-4463-b14a-8af7d8a95837.json
  change/@azure-msal-node-extensions-57f52f6b-268c-4c09-8344-407a6a001ea1.json
  extensions/msal-node-extensions/package.json
  lib/msal-node/package.json
Labels: msal-node, extensions

#6751 Separated Managed Identity Unit Tests into Multiple Files, Depending on the Source Type
  lib/msal-node/test/client/ManagedIdentityApplication.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/AppService.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/AzureArc.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
Labels: msal-node

#6703 Add RT expiration check
  change/@azure-msal-browser-adca2c54-c772-43f1-b087-9b7970e374d7.json
  change/@azure-msal-common-b00942cc-9a02-4d44-8bcd-786de4e2e9cb.json
  lib/msal-browser/docs/token-lifetimes.md
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/cache/entities/RefreshTokenEntity.ts
  lib/msal-common/src/cache/utils/CacheHelpers.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/constants/AADServerParamKeys.ts
  lib/msal-common/src/error/InteractionRequiredAuthError.ts
  lib/msal-common/src/error/InteractionRequiredAuthErrorCodes.ts
  lib/msal-common/src/request/CommonSilentFlowRequest.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/response/ServerAuthorizationTokenResponse.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
Labels: documentation, msal-browser, msal-common

#6762 Update FAQ with note about same domain requirements
  lib/msal-browser/FAQ.md
Labels: documentation, msal-browser

#6704 Allow overriding log level and PII setting with session storage key-values
  change/@azure-msal-browser-4528d6eb-771f-4813-aa74-7303829ecc70.json
  lib/msal-browser/docs/logging.md
  lib/msal-browser/src/operatingcontext/BaseOperatingContext.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: documentation, msal-browser

#6754 Convert ThrottlingEntity into a type
  change/@azure-msal-browser-db45337f-959c-40db-b8a7-6e906fdc913b.json
  change/@azure-msal-common-8a857037-5571-48eb-9211-8efca31765b2.json
  change/@azure-msal-node-5000935d-29a7-4c4c-a80c-602d7f5f9b05.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-common/src/cache/entities/ThrottlingEntity.ts
  lib/msal-common/src/cache/utils/CacheHelpers.ts
  lib/msal-common/test/cache/entities/ThrottlingEntity.spec.ts
  lib/msal-node/src/cache/NodeStorage.ts
Labels: msal-node, msal-browser, msal-common

#6763 Managed Identity Documentation
  lib/msal-node/docs/managed-identity.md
Labels: documentation, msal-node

#6757 Handle bad_token by removing bad refresh token from cache
  .vscode/settings.json
  change/@azure-msal-browser-a4d64499-b9c4-4f59-9817-dabd465a177f.json
  change/@azure-msal-common-6eecae28-3257-440b-84cc-09de6236fd41.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/error/InteractionRequiredAuthError.ts
  lib/msal-common/src/error/InteractionRequiredAuthErrorCodes.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/error/InteractionRequiredAuthError.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
Labels: msal-browser, msal-common

#6761 Fix token refresh with relative redirectUri
  change/@azure-msal-browser-08c573f5-354f-4cc7-829c-aaab16e17860.json
  change/@azure-msal-common-bdfc362d-71b8-4f7a-81f9-e2bff4f9f887.json
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/test/interaction_client/SilentRefreshClient.spec.ts
  lib/msal-common/src/request/CommonSilentFlowRequest.ts
Labels: msal-browser, msal-common

#6767 Managed Identity Azure VM Sample
  lib/msal-node/docs/managed-identity.md
  lib/msal-node/src/index.ts
  package-lock.json
  samples/msal-node-samples/managed-identity/README.md
  samples/msal-node-samples/managed-identity/index.ts
  samples/msal-node-samples/managed-identity/package.json
  samples/msal-node-samples/managed-identity/tsconfig.json
Labels: documentation, samples, msal-node

#6753 Reduce unnecessary cache lookups
  change/@azure-msal-common-5d3e5b0c-ebb6-4c61-b410-108529331ca9.json
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/client/SilentFlowClient.ts
Labels: msal-browser, msal-common

#6748 Dynamically load `BrowserPerformanceMeasurement` to capture browser perf measurements if session storage flag is set
  change/@azure-msal-browser-457916b3-4065-43d0-a2a0-8b13d8092a91.json
  change/@azure-msal-common-31da0137-8d4d-41c8-8ab3-5f7855ab25f3.json
  lib/msal-browser/docs/performance.md
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/broker/NativeMessageHandler.spec.ts
  lib/msal-browser/test/telemetry/BrowserPerformanceClient.spec.ts
  lib/msal-common/src/telemetry/performance/IPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/StubPerformanceClient.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: documentation, msal-browser, msal-common

#6737 Update Nested App Auth internal schema
  change/@azure-msal-browser-31fb6608-be62-4849-b6a7-f7b3f48dad64.json
  lib/msal-browser/src/naa/AccountRequests.ts
  lib/msal-browser/src/naa/AuthResult.ts
  lib/msal-browser/src/naa/BridgeProxy.ts
  lib/msal-browser/src/naa/BridgeRequest.ts
  lib/msal-browser/src/naa/BridgeRequestEnvelope.ts
  lib/msal-browser/src/naa/BridgeResponseEnvelope.ts
  lib/msal-browser/src/naa/BridgeStatusCode.ts
  lib/msal-browser/src/naa/IBridgeProxy.ts
  lib/msal-browser/src/naa/InitContext.ts
  lib/msal-browser/src/naa/TokenRequest.ts
  lib/msal-browser/src/naa/TokenResponse.ts
  lib/msal-browser/src/naa/mapping/NestedAppAuthAdapter.ts
  lib/msal-browser/test/naa/BridgeProxy.spec.ts
  lib/msal-browser/test/naa/BridgeProxyConstants.ts
  lib/msal-browser/test/naa/MockBridge.ts
  lib/msal-browser/test/naa/NestedAppAuthAdapter.spec.ts
Labels: msal-browser

#6782 Implemented CloudShell Managed Identity
  lib/msal-node/src/client/ManagedIdentityClient.ts
  lib/msal-node/src/client/ManagedIdentitySources/AppService.ts
  lib/msal-node/src/client/ManagedIdentitySources/AzureArc.ts
  lib/msal-node/src/client/ManagedIdentitySources/BaseManagedIdentitySource.ts
  lib/msal-node/src/client/ManagedIdentitySources/CloudShell.ts
  lib/msal-node/src/client/ManagedIdentitySources/Imds.ts
  lib/msal-node/src/client/ManagedIdentitySources/ServiceFabric.ts
  lib/msal-node/src/config/ManagedIdentityRequestParameters.ts
  lib/msal-node/src/error/ManagedIdentityError.ts
  lib/msal-node/src/error/ManagedIdentityErrorCodes.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ManagedIdentitySources/AzureArc.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/CloudShell.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
Labels: msal-node
