Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2023-01, with the labels that each got.

#5529 Mitigate `noAccountError` #2098678
  change/@azure-msal-browser-f537622d-9856-4148-b525-46daa087795e.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#5531 Fix typos in telemetry
  change/@azure-msal-browser-8b9a5a83-4741-4713-8aa4-4b4cd1fce136.json
  change/@azure-msal-common-fd3e0f2f-07fa-4c4f-8c07-622199816ab9.json
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
  lib/msal-browser/test/telemetry/BrowserPerformanceClient.spec.ts
  lib/msal-common/src/telemetry/performance/IPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/StubPerformanceClient.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: msal-browser, msal-common

#5482 Exporting CryptoOps and NativeAuthError for internal use
  change/@azure-msal-browser-5c5d279b-7f1e-4108-9f0b-3b4a39a7d243.json
  lib/msal-browser/src/internals.ts
Labels: msal-browser

#5551 Remove `lookBehind` regex as not compatible with Safari browser.
  change/@azure-msal-common-60959380-5a60-45a1-8776-a12418878787.json
  lib/msal-common/src/cache/entities/CredentialEntity.ts
Labels: msal-common

#5470 [staging] chore: bump Playwright to 1.28
  samples/e2eTestUtils/ElectronPlaywrightTestUtils.ts
  samples/msal-node-samples/ElectronTestApp/package.json
  samples/msal-node-samples/ElectronTestApp/test/electron-code-aad.spec.ts
  samples/msal-node-samples/ElectronTestApp/test/electron-code-adfs.spec.ts
  samples/package-lock.json
  samples/package.json
Labels: samples

#5493 Fix enabling CAE in OBO flow in the ConfidentialClientApplication
  change/@azure-msal-common-0ca8815c-4766-49e5-a7ae-8ca348f01e9a.json
  change/@azure-msal-node-dc148e9b-28a5-459f-a4be-c45954ba6f5e.json
  lib/msal-common/src/client/OnBehalfOfClient.ts
  lib/msal-common/test/client/OnBehalfOfClient.spec.ts
  lib/msal-node/test/config/ClientConfiguration.spec.ts
Labels: msal-node, msal-common

#5559 Update msal-node caching doc for distributed cache
  lib/msal-node/docs/caching.md
Labels: documentation, msal-node

#5555 Add visibility change listener for performance telemetry
  change/@azure-msal-browser-ee7c163c-5635-42ca-93e6-ea77a7e1797c.json
  change/@azure-msal-common-24f25ccd-58e5-44f7-a01e-a27ccb39af84.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/telemetry/performance/IPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: msal-browser, msal-common

#5581 Match long domain names.
  change/@azure-msal-common-ecf7932b-b6f5-446f-9203-cb38270c49b0.json
  lib/msal-common/src/cache/entities/CredentialEntity.ts
  lib/msal-common/test/cache/entities/CredentialEntity.spec.ts
Labels: msal-common

#5582 Revert typo changes
  change/@azure-msal-browser-fd6d3e39-3d87-49cc-b293-9e95f569f4c0.json
  change/@azure-msal-common-19394412-d21e-48f4-a531-b0c91d337c9d.json
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
  lib/msal-browser/test/telemetry/BrowserPerformanceClient.spec.ts
  lib/msal-common/src/telemetry/performance/IPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/StubPerformanceClient.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: msal-browser, msal-common

#5583 Add startPerformanceMeasurement to IPerformanceClient
  change/@azure-msal-common-0cd14f7c-26de-40ee-b02a-b146173019ac.json
  lib/msal-common/src/telemetry/performance/IPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/StubPerformanceClient.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: msal-common

#5584 Msal-common post release January 2023
  change/@azure-msal-common-0ca8815c-4766-49e5-a7ae-8ca348f01e9a.json
  change/@azure-msal-common-0cd14f7c-26de-40ee-b02a-b146173019ac.json
  change/@azure-msal-common-19394412-d21e-48f4-a531-b0c91d337c9d.json
  change/@azure-msal-common-24f25ccd-58e5-44f7-a01e-a27ccb39af84.json
  change/@azure-msal-common-60959380-5a60-45a1-8776-a12418878787.json
  change/@azure-msal-common-ecf7932b-b6f5-446f-9203-cb38270c49b0.json
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
Labels: documentation, msal-common

#5580 Add broker timeouts
  change/@azure-msal-common-558c780e-3387-4832-8c07-b5449309b5dc.json
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: msal-common

#5589 Update startMeasurement in PerformanceClient
  change/@azure-msal-common-6fe79aa4-3ad7-485e-ba65-9eff92ab4018.json
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
Labels: msal-common

#5597 Msal-common post release January 2023 patch #2
  lib/msal-common/package-lock.json
Labels: msal-common

#5593 install local build in angular b2c e2e
  samples/msal-angular-v2-samples/angular-b2c-sample-app/angular.json
  samples/msal-angular-v2-samples/angular-b2c-sample-app/package.json
  samples/msal-angular-v2-samples/angular-b2c-sample-app/tsconfig.json
Labels: samples

#5472 Added functionality to MSAL-Node's HttpClient that supports custom http(s) agents
  change/@azure-msal-node-8199266d-e536-4ec5-8e6a-161cb4f53f59.json
  lib/msal-node/docs/configuration.md
  lib/msal-node/docs/faq.md
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/network/HttpClient.ts
Labels: documentation, msal-node

#5566 Added missing fields to InteractionRequiredAuthError
  change/@azure-msal-common-f3d1a9d0-c7d7-46c6-9452-120d89b132cf.json
  lib/msal-common/src/error/InteractionRequiredAuthError.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/response/ServerAuthorizationCodeResponse.ts
  lib/msal-common/src/response/ServerAuthorizationTokenResponse.ts
  lib/msal-common/test/client/ClientCredentialClient.spec.ts
  lib/msal-common/test/error/InteractionRequiredAuthError.spec.ts
Labels: msal-common

#5352 JS queue measurements POC
  change/@azure-msal-browser-00d52115-1a0b-4cf1-9d7b-1ca667159784.json
  change/@azure-msal-common-a98fe2e8-b4ec-4901-bb88-ca32257b0082.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentAuthCodeClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-browser/test/telemetry/BrowserPerformanceClient.spec.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/authority/RegionDiscovery.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/telemetry/performance/IPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/src/telemetry/performance/StubPerformanceClient.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: msal-browser, msal-common

#5607 [staging] Update ProtectedResourceScopes type to allow unprotected resource for…
  change/@azure-msal-angular-23138cda-3399-422a-86fc-b437d64e40d0.json
  lib/msal-angular/src/msal.interceptor.config.ts
Labels: msal-angular

#5614 Track manually completed sub-measurements
  change/@azure-msal-common-039bdada-b563-4341-8dcf-d61e014ec27d.json
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: msal-common

#5621 Optimize credential regular expressions
  change/@azure-msal-common-e3ebfcb3-2148-4553-ae21-31b9f4b734f6.json
  lib/msal-common/src/cache/entities/CredentialEntity.ts
  lib/msal-common/test/cache/entities/CredentialEntity.spec.ts
Labels: msal-common
