Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2023-06, with the labels that each got.

#6068 Switch from enums to object literals to reduce the bundle size
  build/postinstall.js
  change/@azure-msal-node-af72f683-2915-4ec0-9c9f-051a7b934084.json
  change/@azure-msal-node-extensions-947e9597-9fab-4896-9e83-227c0b90a3bf.json
  change/@azure-msal-react-dd7f1003-652b-496f-a216-0d2374c80983.json
  extensions/msal-node-extensions/src/persistence/DataProtectionScope.ts
  extensions/msal-node-extensions/src/utils/Constants.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-react/src/MsalProvider.tsx
Labels: msal-node, msal-react, extensions

#6086 Remove legacy MsCrypto and MsrCrypto polyfill to reduce the bundle size
  change/@azure-msal-browser-c7fcdca6-5b1a-4e25-99d4-319d3f7d1012.json
  lib/msal-browser/docs/v2-migration.md
  lib/msal-browser/jest.config.js
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/crypto/MsBrowserCrypto.ts
  lib/msal-browser/src/crypto/MsrBrowserCrypto.ts
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/crypto/PkceGenerator.spec.ts
  lib/msal-browser/test/setupCrypto.ts
  lib/msal-browser/test/telemetry/BrowserPerformanceClient.spec.ts
  lib/msal-browser/test/utils/TelemetryUtils.ts
Labels: documentation, msal-browser

#6064 Fix the react-router-sample link in class-components.md
  lib/msal-react/docs/class-components.md
Labels: documentation, msal-react

#6054 added new ClientConfigurationError for invalid authority in request - v3
  change/@azure-msal-browser-29886468-4240-4b78-af7b-3780b4fcc764.json
  change/@azure-msal-common-0e8eab18-58d4-40bd-869e-aa2e9705cef2.json
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/test/error/ClientConfigurationError.spec.ts
Labels: msal-browser, msal-common

#6094 Include invalid_method as fatal WAM error
  change/@azure-msal-browser-3ca69ce8-66f7-40dc-b81e-8a7c9742eecf.json
  lib/msal-browser/src/error/NativeAuthError.ts
  lib/msal-browser/test/error/NativeAuthError.spec.ts
Labels: msal-browser

#6111 Msal Angular v3 b2c sample
  .github/workflows/msal-angular-e2e.yml
  lib/msal-angular/README.md
  samples/msal-angular-v2-samples/angular-b2c-sample-app/.browserslistrc
  samples/msal-angular-v3-samples/README.md
  samples/msal-angular-v3-samples/angular-b2c-sample-app/.editorconfig
  samples/msal-angular-v3-samples/angular-b2c-sample-app/.gitignore
  samples/msal-angular-v3-samples/angular-b2c-sample-app/.npmrc
  samples/msal-angular-v3-samples/angular-b2c-sample-app/README.md
  samples/msal-angular-v3-samples/angular-b2c-sample-app/angular.json
  samples/msal-angular-v3-samples/angular-b2c-sample-app/jest.config.js
  samples/msal-angular-v3-samples/angular-b2c-sample-app/karma.conf.js
  samples/msal-angular-v3-samples/angular-b2c-sample-app/package.json
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/app-routing.module.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/app.component.css
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/app.component.html
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/app.component.spec.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/app.component.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/app.module.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/failed/failed.component.css
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/failed/failed.component.html
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/failed/failed.component.spec.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/failed/failed.component.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/home/home.component.css
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/home/home.component.html
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/home/home.component.spec.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/home/home.component.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/profile/profile.component.css
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/profile/profile.component.html
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/profile/profile.component.spec.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/profile/profile.component.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/assets/.gitkeep
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/environments/environment.dev.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/environments/environment.e2e.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/environments/environment.prod.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/environments/environment.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/favicon.ico
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/index.html
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/main.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/polyfills.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/styles.css
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/test.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/test/local-account.spec.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/test/msa-account.spec.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/tsconfig.app.json
  samples/msal-angular-v3-samples/angular-b2c-sample-app/tsconfig.json
  samples/msal-angular-v3-samples/angular-b2c-sample-app/tsconfig.spec.json
Labels: documentation, msal-angular, samples

#6036 Update Msal-Angular eventsToReplay logs
  change/@azure-msal-angular-1bb101cf-46a5-4eb2-9001-02f1592f8ffc.json
  lib/msal-angular/src/msal.broadcast.service.ts
Labels: msal-angular

#6104 ClientCredentialRequest Documentation Update
  change/@azure-msal-node-f9a3368f-1984-4a2c-97cd-85b238e3e141.json
  lib/msal-node/src/request/ClientCredentialRequest.ts
Labels: msal-node

#6123 Post Release PR: msal-lts: June
  change/@azure-msal-browser-29886468-4240-4b78-af7b-3780b4fcc764.json
  change/@azure-msal-browser-5440d5ab-ae17-4b42-b054-7512c6cb9358.json
  change/@azure-msal-browser-f8ddc69f-f2dd-412d-84ec-74ae8fe2c11d.json
  change/@azure-msal-browser-fe9a5361-1c1d-4b36-b631-0aaa1e22e719.json
  change/@azure-msal-common-0e8eab18-58d4-40bd-869e-aa2e9705cef2.json
  change/@azure-msal-common-41766894-2b51-448b-ac3c-ec932bd81924.json
  change/@azure-msal-common-f0736a66-3f12-4680-a218-fe4a3d9b97de.json
  change/@azure-msal-node-d1847685-48e5-4547-9b0b-83c286a6c4b4.json
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/CHANGELOG.md
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/packageMetadata.ts
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package-lock.json
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
  lib/node-token-validation/CHANGELOG.json
  lib/node-token-validation/package.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions, node-token-validation

#6122 Remove unused params in msal-common
  change/@azure-msal-common-88c5a75c-383e-4f9b-946d-7348934522f9.json
  lib/msal-common/src/request/RequestValidator.ts
  lib/msal-common/src/telemetry/performance/StubPerformanceClient.ts
  lib/msal-common/tsconfig.json
Labels: msal-common

#6084 Prebuild extension binaries
  .github/workflows/build-test-pr.yml
  .github/workflows/ci-template.yml
  .pipelines/OneBranch.Release.yml
  .pipelines/custom-templates/publish-template.yml
  change/@azure-msal-node-extensions-35cb0c44-7ec8-4b0a-97c4-eb0eebd2827a.json
  extensions/msal-node-extensions/.browserslistrc
  extensions/msal-node-extensions/binding.gyp
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/scripts/buildBinaries.js
  extensions/msal-node-extensions/scripts/checkBinaries.js
  extensions/msal-node-extensions/src/Dpapi.ts
  extensions/msal-node-extensions/src/persistence/PersistenceCreator.ts
  extensions/msal-node-extensions/test/__mocks__/@azure/msal-node-runtime.js
  extensions/msal-node-extensions/test/broker/NativeBrokerPlugin.spec.ts
  extensions/msal-node-extensions/test/persistence/FilePersistenceWithDataProtection.spec.ts
  extensions/msal-node-extensions/test/persistence/PersistenceCreator.spec.ts
Labels: extensions

#6120 Fix typo
  samples/msal-browser-samples/HybridSample/README.md
Labels: documentation, samples

#6127 Node brokering docs
  extensions/msal-node-extensions/README.md
  lib/msal-node/docs/brokering.md
  lib/msal-node/docs/configuration.md
Labels: documentation, msal-node, extensions

#6129 ignore native broker initialize check if application is not top-frame
  change/@azure-msal-browser-6a9e5599-f43b-40d1-bc6c-511129ad62d6.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/IController.ts
  lib/msal-browser/src/controllers/StandardController.ts
Labels: msal-browser

#6132 June 2023 Beta Pre-release
  .pipelines/custom-templates/publish-template.yml
  change/@azure-msal-angular-1bb101cf-46a5-4eb2-9001-02f1592f8ffc.json
  change/@azure-msal-angular-a3675107-cba6-4d27-8953-d8503c06a105.json
  change/@azure-msal-browser-0869b94e-bc69-484e-96e8-c9dd124dca5b.json
  change/@azure-msal-browser-29886468-4240-4b78-af7b-3780b4fcc764.json
  change/@azure-msal-browser-3ca69ce8-66f7-40dc-b81e-8a7c9742eecf.json
  change/@azure-msal-browser-690513c7-89e8-46ea-8cef-09ae43c399f1.json
  change/@azure-msal-browser-6a9e5599-f43b-40d1-bc6c-511129ad62d6.json
  change/@azure-msal-browser-6b529a81-711d-4923-bb23-fa72214b4d73.json
  change/@azure-msal-browser-c7fcdca6-5b1a-4e25-99d4-319d3f7d1012.json
  change/@azure-msal-common-089b1ea1-cf4f-4f55-b3d6-2877c26e652b.json
  change/@azure-msal-common-0e8eab18-58d4-40bd-869e-aa2e9705cef2.json
  change/@azure-msal-common-88c5a75c-383e-4f9b-946d-7348934522f9.json
  change/@azure-msal-node-af72f683-2915-4ec0-9c9f-051a7b934084.json
  change/@azure-msal-node-extensions-1bd78778-5660-49b0-bb88-62c5839ed327.json
  change/@azure-msal-node-extensions-323c0b24-2e71-431f-9331-0b7b2b684b6c.json
  change/@azure-msal-node-extensions-35c9274f-fd04-4ff0-bf59-1095cc0798ce.json
  change/@azure-msal-node-extensions-35cb0c44-7ec8-4b0a-97c4-eb0eebd2827a.json
  change/@azure-msal-node-extensions-38578a2e-6933-4ad3-bd9d-fc46a8cc76b0.json
  change/@azure-msal-node-extensions-39583c2f-b5ce-47e6-bd13-35e6b463fe78.json
  change/@azure-msal-node-extensions-51d1e8a1-ea5c-4367-a578-f02a9b0b0534.json
  change/@azure-msal-node-extensions-56da75c7-1da6-443f-b3f0-4ed2becda658.json
  change/@azure-msal-node-extensions-8fbfdb4b-83ee-4c5f-a036-594a7aeb4f06.json
  change/@azure-msal-node-extensions-947e9597-9fab-4896-9e83-227c0b90a3bf.json
  change/@azure-msal-node-extensions-ca924dfd-858f-4987-9710-8cb55033be6d.json
  change/@azure-msal-node-extensions-d8977644-b87d-413b-a21e-c562629061f8.json
  change/@azure-msal-node-extensions-da951297-a9ec-4ff4-be0a-4b3b1a7429b9.json
  change/@azure-msal-node-f9a3368f-1984-4a2c-97cd-85b238e3e141.json
  change/@azure-msal-react-dd7f1003-652b-496f-a216-0d2374c80983.json
  change/msal-16acd366-010c-456b-9c8a-1edadeaf2ef7.json
  change/msal-1a69cf50-db5e-4aaf-ab86-32f98e28bec4.json
  change/msal-bb736e20-db84-42fb-90ff-016fb06d4842.json
  change/msal-f2b8c70d-cad6-4ac0-8a24-d31243036bbd.json
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/CHANGELOG.md
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/packageMetadata.ts
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#6139 Fix performance bug with regional authority detection
  change/@azure-msal-common-3cdc9d22-67a6-41c7-8d7c-6b42b43c8106.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/test/authority/Authority.spec.ts
Labels: msal-common

#6152 MSAL v2 - Fix performance bug with regional authority detection
  change/@azure-msal-common-2f7bb010-7d91-416e-bb17-b1716838e580.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/test/authority/Authority.spec.ts
Labels: msal-common

#6162 Update string conversion
  change/@azure-msal-browser-86bd2ee6-1646-4c84-a3ae-0eb31623675e.json
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/utils/BrowserStringUtils.ts
Labels: msal-browser

#6165 Remove sample dependency on msal-common
  change/@azure-msal-browser-1fe30015-5db8-41ae-988f-d27fa55e15e3.json
  change/@azure-msal-node-5b1b3e16-c8e5-47fb-847f-9faada5ce08e.json
  lib/msal-browser/src/index.ts
  lib/msal-node/src/index.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/app.component.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/package.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/CustomLoopbackClient.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/app/components/NavigationBar.tsx
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/app/components/PageLayout.tsx
  samples/msal-node-samples/ExpressTestApp/src/AuthProvider.ts
  samples/msal-node-samples/ExpressTestApp/src/TokenValidator.ts
  samples/msal-node-samples/ExpressTestApp/src/Types.ts
  samples/msal-node-samples/client-credentials-distributed-cache/src/CustomCachePlugin.ts
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/HttpClientAxios.ts
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/HttpClientCurrent.ts
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/app.ts
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/express.ts
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/package.json
  samples/msal-node-samples/on-behalf-of-distributed-cache/src/CustomCachePlugin.ts
  samples/msal-node-samples/on-behalf-of-distributed-cache/src/TokenValidator.ts
Labels: samples, msal-node, msal-browser

#6156 Make account info mandatory for AuthenticationResult and CacheRecord types.
  change/@azure-msal-browser-327c8ac5-8041-4c9b-9b4c-fa7ca85e713f.json
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/ITokenCache.ts
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/cache/entities/CacheRecord.ts
  lib/msal-browser/src/controllers/IController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/event/EventMessage.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentAuthCodeClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/internals.ts
  lib/msal-browser/src/response/AuthenticationResult.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentAuthCodeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
Labels: msal-browser

#6172 Update msal-node samples list
  lib/msal-node/README.md
  samples/msal-node-samples/ExpressTestApp/.npmrc
  samples/msal-node-samples/ExpressTestApp/README.md
  samples/msal-node-samples/ExpressTestApp/TestApp/.npmrc
  samples/msal-node-samples/ExpressTestApp/TestApp/App/app.js
  samples/msal-node-samples/ExpressTestApp/TestApp/App/controllers/mainController.js
  samples/msal-node-samples/ExpressTestApp/TestApp/App/public/404.html
  samples/msal-node-samples/ExpressTestApp/TestApp/App/public/style.css
  samples/msal-node-samples/ExpressTestApp/TestApp/App/routes/router.js
  samples/msal-node-samples/ExpressTestApp/TestApp/App/utils/cachePlugin.js
  samples/msal-node-samples/ExpressTestApp/TestApp/App/utils/fetchManager.js
  samples/msal-node-samples/ExpressTestApp/TestApp/App/utils/persistenceHelper.js
  samples/msal-node-samples/ExpressTestApp/TestApp/App/views/home.ejs
  samples/msal-node-samples/ExpressTestApp/TestApp/App/views/id.ejs
  samples/msal-node-samples/ExpressTestApp/TestApp/App/views/includes/footer.ejs
  samples/msal-node-samples/ExpressTestApp/TestApp/App/views/includes/navbar.ejs
  samples/msal-node-samples/ExpressTestApp/TestApp/App/views/profile.ejs
  samples/msal-node-samples/ExpressTestApp/TestApp/App/views/tenant.ejs
  samples/msal-node-samples/ExpressTestApp/TestApp/README.md
  samples/msal-node-samples/ExpressTestApp/TestApp/appSettings.json
  samples/msal-node-samples/ExpressTestApp/TestApp/package.json
  samples/msal-node-samples/ExpressTestApp/package.json
  samples/msal-node-samples/ExpressTestApp/src/AuthProvider.ts
  samples/msal-node-samples/ExpressTestApp/src/ConfigurationUtils.ts
  samples/msal-node-samples/ExpressTestApp/src/Constants.ts
  samples/msal-node-samples/ExpressTestApp/src/TokenValidator.ts
  samples/msal-node-samples/ExpressTestApp/src/Types.ts
  samples/msal-node-samples/ExpressTestApp/tsconfig.json
  samples/msal-node-samples/ExpressTestApp/tslint.json
  samples/msal-node-samples/README.md
Labels: documentation, samples, msal-node
