Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2023-07, with the labels that each got.

#6190 fix: msal-node now references the right path for module index
  change/@azure-msal-node-91151471-3461-48a0-8707-8f9afdb4381b.json
  lib/msal-node/package.json
Labels: msal-node

#6193 Fix React and Angular exports
  change/@azure-msal-angular-8efd78c1-92ab-4c2a-ac45-0044359e2365.json
  change/@azure-msal-react-52ca3a73-b606-443a-946c-a90644ba34be.json
  lib/msal-angular/package.json
  lib/msal-react/package.json
Labels: msal-angular, msal-react

#6163 Make claims-based caching configurable
  change/@azure-msal-browser-b9572127-f4c0-473a-a120-61bb7d2850c6.json
  change/@azure-msal-common-b6ff22a1-1e2b-4000-ab22-1f1eec784b62.json
  change/@azure-msal-node-44b62ae5-8011-430c-aca4-e7230b9845e9.json
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/docs/v2-migration.md
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/config/Configuration.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/tsconfig.build.tsbuildinfo
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/index.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-node/package.json
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
Labels: documentation, msal-node, msal-browser, msal-common

#6196 July 2023 Release [LTS]
  change/@azure-msal-browser-8cb83615-34d8-486c-b6a6-9178b80d4bab.json
  change/@azure-msal-common-2f7bb010-7d91-416e-bb17-b1716838e580.json
  change/@azure-msal-common-ded9565d-3378-446d-bf01-d9d20399d3f3.json
  change/@azure-msal-node-21c04757-0868-4338-b181-b039b1b73f10.json
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#6199 July 2023 Release [beta.1]
  change/@azure-msal-angular-8efd78c1-92ab-4c2a-ac45-0044359e2365.json
  change/@azure-msal-browser-1fe30015-5db8-41ae-988f-d27fa55e15e3.json
  change/@azure-msal-browser-27a1b48c-e064-44b8-92ab-8a995e90048e.json
  change/@azure-msal-browser-327c8ac5-8041-4c9b-9b4c-fa7ca85e713f.json
  change/@azure-msal-browser-86bd2ee6-1646-4c84-a3ae-0eb31623675e.json
  change/@azure-msal-browser-b9572127-f4c0-473a-a120-61bb7d2850c6.json
  change/@azure-msal-common-3cdc9d22-67a6-41c7-8d7c-6b42b43c8106.json
  change/@azure-msal-common-a23ce5a8-953f-4bbd-8950-76a9c5276a9f.json
  change/@azure-msal-common-b6ff22a1-1e2b-4000-ab22-1f1eec784b62.json
  change/@azure-msal-node-44b62ae5-8011-430c-aca4-e7230b9845e9.json
  change/@azure-msal-node-5b1b3e16-c8e5-47fb-847f-9faada5ce08e.json
  change/@azure-msal-node-91151471-3461-48a0-8707-8f9afdb4381b.json
  change/@azure-msal-node-9e932e64-f4d6-4bcb-9073-c7ad35d97ca5.json
  change/@azure-msal-node-extensions-3c09725e-4448-4a85-99a7-c134763a3547.json
  change/@azure-msal-react-52ca3a73-b606-443a-946c-a90644ba34be.json
  change/@azure-msal-react-e1e4c320-58b4-4318-8348-7893261b7295.json
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/CHANGELOG.md
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/packageMetadata.ts
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#6203 July 2023 Post Release [LTS]
  lib/msal-angular/package-lock.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react

#6211 July 2023 Post Release [beta.1]
  extensions/msal-node-extensions/package-lock.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#5772 web app (auth-code) sample with distributed cache
  samples/msal-node-samples/auth-code-distributed-cache/.beachballrc
  samples/msal-node-samples/auth-code-distributed-cache/.gitignore
  samples/msal-node-samples/auth-code-distributed-cache/.npmrc
  samples/msal-node-samples/auth-code-distributed-cache/README.md
  samples/msal-node-samples/auth-code-distributed-cache/package.json
  samples/msal-node-samples/auth-code-distributed-cache/src/AuthProvider.ts
  samples/msal-node-samples/auth-code-distributed-cache/src/AxiosHelper.ts
  samples/msal-node-samples/auth-code-distributed-cache/src/PartitionManager.ts
  samples/msal-node-samples/auth-code-distributed-cache/src/RedisClientWrapper.ts
  samples/msal-node-samples/auth-code-distributed-cache/src/UrlUtils.ts
  samples/msal-node-samples/auth-code-distributed-cache/src/app.ts
  samples/msal-node-samples/auth-code-distributed-cache/src/middleware.ts
  samples/msal-node-samples/auth-code-distributed-cache/src/public/style.css
  samples/msal-node-samples/auth-code-distributed-cache/src/views/error.hbs
  samples/msal-node-samples/auth-code-distributed-cache/src/views/index.hbs
  samples/msal-node-samples/auth-code-distributed-cache/src/views/layout.hbs
  samples/msal-node-samples/auth-code-distributed-cache/src/views/profile.hbs
  samples/msal-node-samples/auth-code-distributed-cache/tsconfig.json
Labels: documentation, samples

#6222 Address dependency alerts
  package-lock.json
  samples/msal-browser-samples/HybridSample/package.json
  samples/msal-browser-samples/MsrCryptoSample/.gitignore
  samples/msal-browser-samples/MsrCryptoSample/.npmrc
  samples/msal-browser-samples/MsrCryptoSample/app.js
  samples/msal-browser-samples/MsrCryptoSample/bin/www
  samples/msal-browser-samples/MsrCryptoSample/package.json
  samples/msal-browser-samples/MsrCryptoSample/public/javascripts/msrcrypto.js
  samples/msal-browser-samples/MsrCryptoSample/public/javascripts/msrcrypto.min.js
  samples/msal-browser-samples/MsrCryptoSample/public/stylesheets/style.css
  samples/msal-browser-samples/MsrCryptoSample/routes/index.js
  samples/msal-browser-samples/MsrCryptoSample/views/error.hbs
  samples/msal-browser-samples/MsrCryptoSample/views/index.hbs
  samples/msal-browser-samples/MsrCryptoSample/views/layout.hbs
  samples/msal-node-samples/on-behalf-of/package.json
  samples/msal-node-samples/on-behalf-of/web-api/package.json
Labels: samples

#6226 Catch errors thrown by "decodeURIComponent"
  change/@azure-msal-common-334d43a0-8c93-4c68-bb48-1debb1510815.json
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
Labels: msal-common

#6118 Update redirects.md
  lib/msal-angular/docs/redirects.md
Labels: documentation, msal-angular

#6218 ClientCredentials: Fixed bug where user-supplied cache is loaded into memory only after network request
  change/@azure-msal-node-c1a45be3-8104-4384-8fb0-b0c3c22cf892.json
  lib/msal-node/src/client/ClientCredentialClient.ts
  samples/msal-node-samples/client-credentials-distributed-cache/src/AuthProvider.ts
Labels: samples, msal-node

#6231 Prioritize hardcoded metadata over network-sourced metadata
  change/@azure-msal-common-60ff8f68-4608-44c2-a24a-539b17c1dcc9.json
  lib/msal-browser/docs/configuration.md
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-node/docs/configuration.md
Labels: documentation, msal-node, msal-browser, msal-common

#6236 Update @types/node in common for LTS branch
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
Labels: msal-common

#6250 Address policheck failures
  change/@azure-msal-common-dd2743c6-8721-466d-ae67-4cebc1641215.json
  lib/msal-common/docs/authority.md
  lib/msal-common/src/authority/AuthorityOptions.ts
Labels: documentation, msal-common

#6254 Bump puppeteer to fix vm2 cvss
  package-lock.json
  samples/e2eTestUtils/package.json
  samples/msal-angular-v3-samples/angular-b2c-sample-app/package.json
  samples/msal-angular-v3-samples/angular15-sample-app/package.json
  samples/msal-angular-v3-samples/angular16-sample-app/package.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/package.json
  samples/msal-node-samples/auth-code/package.json
  samples/msal-node-samples/b2c-user-flows/package.json
  samples/msal-node-samples/client-credentials/package.json
  samples/msal-node-samples/device-code/package.json
  samples/msal-node-samples/on-behalf-of/package.json
  samples/msal-node-samples/silent-flow/package.json
  samples/msal-react-samples/b2c-sample/package.json
  samples/msal-react-samples/gatsby-sample/package.json
  samples/msal-react-samples/nextjs-sample/package.json
  samples/msal-react-samples/react-router-sample/package.json
  samples/msal-react-samples/typescript-sample/package.json
Labels: samples

#6219 Adding OIDCOptions parameter to config
  change/@azure-msal-browser-877de20c-4abb-4766-ae24-22d05473a13e.json
  change/@azure-msal-common-e61e9657-3466-4df5-9b30-1567b4e436a8.json
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/config/Configuration.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/StandardInteractionClient.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/authority/AuthorityOptions.ts
  lib/msal-common/src/authority/OIDCOptions.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/url/UrlString.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
Labels: msal-browser, msal-common

#6220 Adding Facebook sample app
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/facebook-sample/Readme.md
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/facebook-sample/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/facebook-sample/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/facebook-sample/graph.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/facebook-sample/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/facebook-sample/redirect.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/facebook-sample/ui.js
Labels: documentation, samples

#6259 Address `semver` CVE-2022-25883 and other moderate severity vulnerabilities
  .github/workflows/msal-node-e2e.yml
  change/@azure-msal-angular-e7f4ed65-7fb7-4311-8e1b-9c6a3d8e3994.json
  change/@azure-msal-browser-4d6383f0-97e5-4c0e-8bae-a122367a921d.json
  change/@azure-msal-common-55db98e4-7286-46a5-ad42-db9895f3bf3e.json
  change/@azure-msal-node-4405fcf4-21ec-4ffa-99d6-a100c1f6563a.json
  change/@azure-msal-node-extensions-e5a4eabf-32b7-456b-80e2-cb3720b745e2.json
  change/@azure-msal-react-83dd70ee-5e13-476b-a7a4-1456665409e2.json
  change/@azure-node-token-validation-c57333a9-c79e-4484-b33c-d4ea90b3f2e6.json
  extensions/msal-node-extensions/package-lock.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
  lib/node-token-validation/package-lock.json
  package-lock.json
  release-scripts/package-lock.json
  samples/package-lock.json
Labels: msal-angular, samples, msal-node, msal-browser, msal-common, msal-react, extensions, node-token-validation

#6233 Throw when initialize has not been called
  change/@azure-msal-browser-ab1ea9b9-384d-4109-99f6-e7546d4103ee.json
  change/@azure-msal-react-19531516-0c61-4562-8efe-b90118d50341.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/app/PCANonBrowser.spec.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/tsconfig.build.tsbuildinfo
  lib/msal-react/test/MsalProvider.spec.tsx
  samples/e2eTestUtils/src/TestUtils.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserAAD.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserB2C.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserMemStorage.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/localStorage.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/test/multiple_resources.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/test/browser.spec.ts
  samples/msal-react-samples/b2c-sample/src/index.js
  samples/msal-react-samples/nextjs-sample/next-env.d.ts
  samples/msal-react-samples/nextjs-sample/pages/_app.js
  samples/msal-react-samples/react-router-sample/src/index.js
  samples/msal-react-samples/typescript-sample/src/index.tsx
Labels: samples, msal-browser, msal-react

#6270 Update "PerformanceClient" for better usability/extendibility
  change/@azure-msal-browser-f70d917e-2030-4905-a4bd-2217c249f54c.json
  change/@azure-msal-common-86bf26c1-44bd-4abe-a5ba-3d3b9b98c4fe.json
  change/@azure-msal-node-df3f7be8-bae2-4df4-a99b-2bb011e41371.json
  lib/msal-browser/src/broker/nativeBroker/NativeMessageHandler.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-browser/test/telemetry/BrowserPerformanceClient.spec.ts
  lib/msal-browser/test/utils/TelemetryUtils.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/telemetry/performance/IPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/src/telemetry/performance/StubPerformanceClient.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
  lib/msal-node/src/client/UsernamePasswordClient.ts
Labels: msal-node, msal-browser, msal-common

#6262 Disable telemetry parameters in the token request when using OIDC protocol mode
  change/@azure-msal-common-163904f4-5cb2-4268-996b-50c04b6aad23.json
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
Labels: msal-common

#6248 Add storeInCache request parameter to control which tokens are persisted to the cache
  change/@azure-msal-browser-1e3569d5-aa2c-4084-ada1-91a18950994c.json
  change/@azure-msal-common-5fe8f135-689c-46e5-9922-27a0da506e7a.json
  change/@azure-msal-node-44da9453-f869-4abb-8e69-0781beb4db9c.json
  lib/msal-browser/docs/device-bound-tokens.md
  lib/msal-browser/src/broker/nativeBroker/NativeRequest.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentAuthCodeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentRefreshClient.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/interface/ICacheManager.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/request/StoreInCache.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-node/src/request/AuthorizationCodeRequest.ts
  lib/msal-node/src/request/AuthorizationUrlRequest.ts
  lib/msal-node/src/request/ClientCredentialRequest.ts
  lib/msal-node/src/request/DeviceCodeRequest.ts
  lib/msal-node/src/request/OnBehalfOfRequest.ts
  lib/msal-node/src/request/RefreshTokenRequest.ts
  lib/msal-node/src/request/SilentFlowRequest.ts
  lib/msal-node/src/request/UsernamePasswordRequest.ts
Labels: documentation, msal-node, msal-browser, msal-common
