Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2023-08, with the labels that each got.

#6271 Hydrate cache API
  change/@azure-msal-browser-0551b6cd-c054-4004-98ea-bd68efca467a.json
  change/@azure-msal-common-c51e2b3e-33ca-4612-9b7c-fa3e6d618b15.json
  change/@azure-msal-node-53a2fa24-0994-409b-a25e-d48084a17407.json
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/cache/entities/CacheRecord.ts
  lib/msal-browser/src/controllers/IController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/internals.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/event/EventHandler.spec.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/account/AccountInfo.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-node/test/client/OnBehalfOfClient.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/client/test-fixtures.ts
  lib/msal-node/test/utils/TestConstants.ts
Labels: msal-node, msal-browser, msal-common

#6256 Append v2 to endpoint when using a Microsoft authority under OIDC protocol mode
  change/@azure-msal-common-7e065849-b972-405d-ab85-674138d67aa2.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityMetadata.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/test/authority/Authority.spec.ts
Labels: msal-common

#6280 Revert allowNativeBroker default to false
  change/@azure-msal-browser-63692b22-ae8b-4428-82f5-2a275b6a0b7c.json
  lib/msal-angular/docs/v2-v3-upgrade-guide.md
  lib/msal-browser/docs/errors.md
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/test/config/Configuration.spec.ts
Labels: documentation, msal-angular, msal-browser

#6275 Update certificate-credentials.md
  lib/msal-node/docs/certificate-credentials.md
Labels: documentation, msal-node

#6292 Disable angular v9 e2e test temporarily
  .github/workflows/msal-angular-e2e.yml
Labels: documentation, msal-angular, samples, msal-node, msal-browser, msal-common, msal-react, extensions

#6291 Expose "CacheRecord" as part of internals API
  change/@azure-msal-browser-f1272e21-50e9-46c5-a4a9-87281d50fcb5.json
  lib/msal-browser/src/internals.ts
Labels: msal-browser

#6217 Multiple msal instances support for SSO
  change/@azure-msal-browser-4da3caf5-9d27-405d-9f0c-0dfec8e09bb2.json
  change/@azure-msal-common-2bb3b803-2f00-4ee6-ad5d-7f01c90eb997.json
  lib/msal-browser/FAQ.md
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/package-lock.json
Labels: documentation, msal-browser, msal-common

#6294 August 2023 Pre-release [LTS]
  change/@azure-msal-angular-e7f4ed65-7fb7-4311-8e1b-9c6a3d8e3994.json
  change/@azure-msal-browser-4d6383f0-97e5-4c0e-8bae-a122367a921d.json
  change/@azure-msal-browser-4da3caf5-9d27-405d-9f0c-0dfec8e09bb2.json
  change/@azure-msal-common-2bb3b803-2f00-4ee6-ad5d-7f01c90eb997.json
  change/@azure-msal-common-55db98e4-7286-46a5-ad42-db9895f3bf3e.json
  change/@azure-msal-node-4405fcf4-21ec-4ffa-99d6-a100c1f6563a.json
  change/@azure-msal-react-83dd70ee-5e13-476b-a7a4-1456665409e2.json
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
Labels: documentation, msal-angular, samples, msal-node, msal-browser, msal-common, msal-react, extensions

#6315 Fix error on homepage of Facebook sample app
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/facebook-sample/index.html
Labels: samples

#6316 Fix Angular deploy
  change/@azure-msal-angular-7abc566f-05ea-4338-aa65-11f385b70085.json
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
Labels: msal-angular

#6318 Fix msal-node export file extensions
  change/@azure-msal-node-3f29e05f-adf6-4253-9613-8d992c8b2390.json
  lib/msal-node/package.json
  lib/msal-node/rollup.config.js
  samples/msal-node-samples/ElectronTestApp/tsconfig.json
Labels: samples, msal-node

#6308 Post release august 2023
  .pipelines/custom-templates/publish-template.yml
  .pipelines/post-release.yml
  change/@azure-msal-browser-f1272e21-50e9-46c5-a4a9-87281d50fcb5.json
  lib/msal-browser/CHANGELOG.json
  lib/msal-common/CHANGELOG.json
  lib/msal-node/CHANGELOG.json
Labels: msal-node, msal-browser, msal-common

#6311 Replaces `multiple matched tokens error` with a log message, removing matching tokens from cache
  change/@azure-msal-common-cf7a4773-c584-4d15-a4dd-6ab3bc567fa4.json
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
Labels: msal-common

#6286 Pick up broker extra query params
  change/@azure-msal-browser-718f1e87-756c-454f-9a93-2a1de87c68ed.json
  change/@azure-msal-common-f8fb5a1d-b4f3-40a0-baaa-3456f35f58b7.json
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
Labels: msal-browser, msal-common

#6325 Add `tokenBodyParameters` to silent and interaction request types
  change/@azure-msal-browser-3ff0ac38-d451-4402-be5e-2e964e1fda29.json
  lib/msal-browser/src/request/PopupRequest.ts
  lib/msal-browser/src/request/RedirectRequest.ts
  lib/msal-browser/src/request/SilentRequest.ts
  lib/msal-browser/src/request/SsoSilentRequest.ts
Labels: msal-browser

#6237 Angular standalone sample
  .github/workflows/msal-angular-e2e.yml
  lib/msal-angular/FAQ.md
  lib/msal-angular/README.md
  lib/msal-angular/docs/configuration.md
  lib/msal-angular/docs/redirects.md
  package-lock.json
  samples/msal-angular-v3-samples/README.md
  samples/msal-angular-v3-samples/angular-standalone-sample/.editorconfig
  samples/msal-angular-v3-samples/angular-standalone-sample/.gitignore
  samples/msal-angular-v3-samples/angular-standalone-sample/.vscode/extensions.json
  samples/msal-angular-v3-samples/angular-standalone-sample/.vscode/launch.json
  samples/msal-angular-v3-samples/angular-standalone-sample/.vscode/tasks.json
  samples/msal-angular-v3-samples/angular-standalone-sample/README.md
  samples/msal-angular-v3-samples/angular-standalone-sample/angular.json
  samples/msal-angular-v3-samples/angular-standalone-sample/jest.config.js
  samples/msal-angular-v3-samples/angular-standalone-sample/package.json
  samples/msal-angular-v3-samples/angular-standalone-sample/src/app/app.component.css
  samples/msal-angular-v3-samples/angular-standalone-sample/src/app/app.component.html
  samples/msal-angular-v3-samples/angular-standalone-sample/src/app/app.component.spec.ts
  samples/msal-angular-v3-samples/angular-standalone-sample/src/app/app.component.ts
  samples/msal-angular-v3-samples/angular-standalone-sample/src/app/failed/failed.component.ts
  samples/msal-angular-v3-samples/angular-standalone-sample/src/app/home/home.component.html
  samples/msal-angular-v3-samples/angular-standalone-sample/src/app/home/home.component.ts
  samples/msal-angular-v3-samples/angular-standalone-sample/src/app/profile/profile.component.html
  samples/msal-angular-v3-samples/angular-standalone-sample/src/app/profile/profile.component.ts
  samples/msal-angular-v3-samples/angular-standalone-sample/src/assets/.gitkeep
  samples/msal-angular-v3-samples/angular-standalone-sample/src/environments/environment.dev.ts
  samples/msal-angular-v3-samples/angular-standalone-sample/src/environments/environment.e2e.ts
  samples/msal-angular-v3-samples/angular-standalone-sample/src/environments/environment.prod.ts
  samples/msal-angular-v3-samples/angular-standalone-sample/src/environments/environment.ts
  samples/msal-angular-v3-samples/angular-standalone-sample/src/favicon.ico
  samples/msal-angular-v3-samples/angular-standalone-sample/src/index.html
  samples/msal-angular-v3-samples/angular-standalone-sample/src/main.ts
  samples/msal-angular-v3-samples/angular-standalone-sample/src/styles.css
  samples/msal-angular-v3-samples/angular-standalone-sample/test/home.spec.ts
  samples/msal-angular-v3-samples/angular-standalone-sample/test/profile.spec.ts
  samples/msal-angular-v3-samples/angular-standalone-sample/tsconfig.app.json
  samples/msal-angular-v3-samples/angular-standalone-sample/tsconfig.json
  samples/msal-angular-v3-samples/angular-standalone-sample/tsconfig.spec.json
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/app.module.ts
  samples/msal-angular-v3-samples/angular16-sample-app/src/app/app.module.ts
Labels: documentation, msal-angular, samples

#6322 Update dist settings for packages
  change/@azure-msal-browser-3b5eea60-1038-4a71-9f7d-226bc86404fc.json
  change/@azure-msal-common-1e0491c5-5565-401f-ac59-813ab14b1910.json
  change/@azure-msal-node-3954c509-d32b-4836-9c26-699a68fbb420.json
  change/@azure-msal-node-extensions-b049b8af-aeef-4093-bdb3-95531a516609.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/rollup.config.js
  extensions/msal-node-extensions/test/performance-test/LockAndWriteToStorageScript.js
  lib/msal-browser/package.json
  lib/msal-browser/rollup.config.js
  lib/msal-browser/tsconfig.build.tsbuildinfo
  lib/msal-common/package.json
  lib/msal-common/rollup.config.js
  lib/msal-node/package.json
  lib/msal-node/rollup.config.js
Labels: msal-node, msal-browser, msal-common, extensions

#6326 Update readmes v3
  README.md
  change/@azure-msal-browser-7b7c428a-3b29-4646-ae38-5e76bc48fae5.json
  lib/msal-angular/README.md
  lib/msal-browser/README.md
  lib/msal-browser/cdn-sri.js
  lib/msal-browser/cdn-upload.js
  lib/msal-common/README.md
  lib/msal-node/README.md
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common

#6331 August 2023 Patch Release
  .pipelines/custom-templates/publish-template.yml
  change/@azure-msal-angular-7abc566f-05ea-4338-aa65-11f385b70085.json
  change/@azure-msal-browser-3b5eea60-1038-4a71-9f7d-226bc86404fc.json
  change/@azure-msal-browser-3ff0ac38-d451-4402-be5e-2e964e1fda29.json
  change/@azure-msal-browser-718f1e87-756c-454f-9a93-2a1de87c68ed.json
  change/@azure-msal-browser-7b7c428a-3b29-4646-ae38-5e76bc48fae5.json
  change/@azure-msal-common-1e0491c5-5565-401f-ac59-813ab14b1910.json
  change/@azure-msal-common-cf7a4773-c584-4d15-a4dd-6ab3bc567fa4.json
  change/@azure-msal-common-f8fb5a1d-b4f3-40a0-baaa-3456f35f58b7.json
  change/@azure-msal-node-3954c509-d32b-4836-9c26-699a68fbb420.json
  change/@azure-msal-node-3f29e05f-adf6-4253-9613-8d992c8b2390.json
  change/@azure-msal-node-extensions-b049b8af-aeef-4093-bdb3-95531a516609.json
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/CHANGELOG.md
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/packageMetadata.ts
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
  package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#6329 Extend hydrateCache request type
  change/@azure-msal-browser-15e36dc0-446a-4e4b-bb22-e8209d6b31a4.json
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/IController.ts
  lib/msal-browser/src/controllers/StandardController.ts
Labels: msal-browser

#6342 Fix authority endpoint version for B2C authorities
  change/@azure-msal-common-3abce29b-a58c-4c6c-9755-0fb366da41d2.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/test/authority/Authority.spec.ts
Labels: msal-common

#6338 Delete tsbuildinfo
  lib/msal-browser/tsconfig.build.tsbuildinfo
Labels: msal-browser

#6344 August 2023 LTS Post-Release
  lib/msal-angular/package-lock.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react

#6319 Used enum instead of string for parameter in useMsalAuthentication example
  lib/msal-react/docs/getting-started.md
Labels: documentation, msal-react

#6321 Fix typedoc deployment workflow
  .github/workflows/typedoc.yml
  change/@azure-msal-angular-b69b070a-d2c5-4330-8cf1-9d41ffbc9749.json
  change/@azure-msal-browser-7a080449-1a09-4acf-b993-6370834eaec9.json
  change/@azure-msal-common-88a3f3ff-51dd-4388-bb05-0988f32b4111.json
  change/@azure-msal-node-ad549be5-8392-4a30-bfc9-65b0c6dc9774.json
  change/@azure-msal-node-extensions-0de689eb-5e67-4678-b56d-474a62014a58.json
  change/@azure-msal-react-93fd73f1-607d-4b5b-b9e7-e45c5e504e7c.json
  extensions/msal-node-extensions/typedoc.json
  lib/msal-angular/typedoc.json
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/controllers/IController.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/typedoc.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/cache/entities/AuthorityMetadataEntity.ts
  lib/msal-common/src/cache/entities/CacheRecord.ts
  lib/msal-common/src/cache/utils/CacheTypes.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/crypto/JoseHeader.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/network/NetworkManager.ts
  lib/msal-common/src/network/ThrottlingUtils.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/typedoc.json
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/index.ts
  lib/msal-node/typedoc.json
  lib/msal-react/src/index.ts
  lib/msal-react/src/utils/utilities.ts
  lib/msal-react/typedoc.json
  package-lock.json
  package.json
  typedoc.base.json
  typedoc.json
Labels: msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#6348 Updates to msal-node's custom-INetworkModule-and-network-tracing sample
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/HttpClientAxios.ts
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/package.json
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/tsconfig.json
Labels: samples

#6351 Update Angular v2-v3 upgrade guide
  lib/msal-angular/docs/v2-v3-upgrade-guide.md
Labels: documentation, msal-angular

#6352 Add explanation to docs about default scopes
  lib/msal-browser/docs/resources-and-scopes.md
Labels: documentation, msal-browser

#6353 Fix addEventCallback input parameter type
  change/@azure-msal-browser-4f1d1231-b112-4ea4-8306-c0e8a48f4ef7.json
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/controllers/IController.ts
Labels: msal-browser

#6365 Fix Readme links
  lib/msal-browser/README.md
Labels: documentation, msal-browser

#6102 Extend proactive token refresh to client_credentials
  change/@azure-msal-common-b0f24abd-2c63-4840-990b-29ee443b640a.json
  change/@azure-msal-node-9b01df06-64f9-4f34-8a6b-0bb05ab12f14.json
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/RequestValidator.ts
  lib/msal-common/src/response/AuthenticationResult.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/response/ServerAuthorizationTokenResponse.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-node/src/client/ClientCredentialClient.ts
  lib/msal-node/src/network/HttpClient.ts
  lib/msal-node/src/network/LoopbackClient.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ClientCredentialClient.spec.ts
  lib/msal-node/test/client/ClientTestUtils.ts
Labels: msal-node, msal-common

#6386 Make `eventName` of type string for `BrowserPerformanceClient` and `PerformanceClient`
  change/@azure-msal-browser-f70b2a1b-4926-45f0-a049-ba56721ed32d.json
  change/@azure-msal-common-29f2c77c-1976-48ce-ae52-707516c30302.json
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/IPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
Labels: msal-browser, msal-common

#6356 Clear claims cache for apps that switched their cache preferences [LTS]
  change/@azure-msal-browser-ed90fec9-e683-48e6-96db-249be8f4d921.json
  change/@azure-msal-common-36e9a23e-db9f-459d-86f4-02d265994ee3.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: msal-browser, msal-common

#6395 MSAL JS LTS Release 08/24
  change/@azure-msal-browser-ed90fec9-e683-48e6-96db-249be8f4d921.json
  change/@azure-msal-common-36e9a23e-db9f-459d-86f4-02d265994ee3.json
  change/@azure-msal-node-extensions-e5a4eabf-32b7-456b-80e2-cb3720b745e2.json
  change/@azure-node-token-validation-c57333a9-c79e-4484-b33c-d4ea90b3f2e6.json
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package-lock.json
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react

#6364 Fix typo in login-user.md
  lib/msal-browser/docs/login-user.md
Labels: documentation, msal-browser

#6381 fix: placeholder typo
  lib/msal-common/scripts/metadata.ts
Labels: msal-common

#6174 Remove isEmpty helper function
  change/@azure-msal-browser-92ef9413-83ad-47e0-b288-482620515dd8.json
  change/@azure-msal-common-3a0c94d6-26be-4e2c-80e0-844974ccff3b.json
  change/@azure-msal-node-73fcce3c-bfe0-43c3-bc3e-1ab4295a7200.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/src/utils/BrowserProtocolUtils.ts
  lib/msal-common/src/account/AuthToken.ts
  lib/msal-common/src/account/ClientInfo.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/cache/entities/AccessTokenEntity.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/logger/Logger.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/request/RequestValidator.ts
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/src/url/UrlString.ts
  lib/msal-common/src/utils/ProtocolUtils.ts
  lib/msal-common/src/utils/StringUtils.ts
  lib/msal-common/test/utils/StringUtils.spec.ts
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/cache/serializer/Deserializer.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/DeviceCodeClient.ts
Labels: msal-node, msal-browser, msal-common

#6387 Close loopback server on error
  change/@azure-msal-node-877cc7a7-7e44-47fb-bbf2-a08d7b010cde.json
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: msal-node

#6380 Change relative import to extensioned variations for Node16 and NodeNext type support
  change/@azure-msal-node-fd9abab4-f755-4c59-8e63-744eefaee29b.json
  lib/msal-node/jest.config.cjs
  lib/msal-node/package.json
  lib/msal-node/rollup.config.js
  lib/msal-node/src/cache/NodeStorage.ts
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/cache/distributed/DistributedCachePlugin.ts
  lib/msal-node/src/cache/serializer/Deserializer.ts
  lib/msal-node/src/cache/serializer/Serializer.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ClientAssertion.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/IConfidentialClientApplication.ts
  lib/msal-node/src/client/IPublicClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/crypto/CryptoProvider.ts
  lib/msal-node/src/crypto/HashUtils.ts
  lib/msal-node/src/crypto/PkceGenerator.ts
  lib/msal-node/src/index.ts
  lib/msal-node/src/internals.ts
  lib/msal-node/src/network/HttpClient.ts
  lib/msal-node/src/network/LoopbackClient.ts
  lib/msal-node/src/request/InteractiveRequest.ts
  lib/msal-node/tsconfig.json
Labels: msal-node

#6399 Change relative import to extensioned variations for Node16 and NodeNext
  change/@azure-msal-node-fd9abab4-f755-4c59-8e63-744eefaee29b.json
  lib/msal-node/jest.config.cjs
  lib/msal-node/package.json
  lib/msal-node/rollup.config.js
  lib/msal-node/src/cache/NodeStorage.ts
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/cache/distributed/DistributedCachePlugin.ts
  lib/msal-node/src/cache/serializer/Deserializer.ts
  lib/msal-node/src/cache/serializer/Serializer.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ClientAssertion.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/IConfidentialClientApplication.ts
  lib/msal-node/src/client/IPublicClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/crypto/CryptoProvider.ts
  lib/msal-node/src/crypto/HashUtils.ts
  lib/msal-node/src/crypto/PkceGenerator.ts
  lib/msal-node/src/index.ts
  lib/msal-node/src/internals.ts
  lib/msal-node/src/network/HttpClient.ts
  lib/msal-node/src/network/LoopbackClient.ts
  lib/msal-node/src/request/InteractiveRequest.ts
  lib/msal-node/tsconfig.json
Labels: msal-node

#6374 New API to clear cache
  change/@azure-msal-browser-bd6700d7-ebfe-4b66-9cb3-a6881fc141d9.json
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/controllers/IController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/request/ClearCacheRequest.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/SilentCacheClient.spec.ts
Labels: msal-browser

#6404 Close loopback server on error LTS
  change/@azure-msal-node-0c184c58-8ad4-44a3-88b2-f3ba10bc37fc.json
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: msal-node

#6405 Update imports in docs
  lib/msal-browser/docs/initialization.md
  lib/msal-browser/docs/v2-migration.md
Labels: documentation, msal-browser

#6383 Add wrapper functions for telemetry & logging
  change/@azure-msal-browser-76ce77b2-fcdb-46b6-ae21-e8d0eb0a000a.json
  change/@azure-msal-common-02002395-27e5-4836-aff6-01e8f73c8d55.json
  change/@azure-msal-node-f800d51e-4ec0-4532-9474-556b5fc030cb.json
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/src/telemetry/performance/StubPerformanceClient.ts
  lib/msal-common/src/utils/FunctionWrappers.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
  lib/msal-common/test/utils/FunctionWrappers.spec.ts
  lib/msal-node/src/client/ClientCredentialClient.ts
  lib/msal-node/src/client/DeviceCodeClient.ts
  lib/msal-node/src/client/OnBehalfOfClient.ts
  lib/msal-node/src/client/UsernamePasswordClient.ts
Labels: msal-node, msal-browser, msal-common

#6408 Update MSAL Node and MSAL React Readmes
  lib/msal-node/README.md
  lib/msal-react/README.md
Labels: documentation, msal-node, msal-react

#6413 Remove redundant controller internal methods and classes from internals
  change/@azure-msal-browser-f8106d10-8693-4d88-a4dc-09bf170834b7.json
  lib/msal-browser/src/controllers/IController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/internals.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/SilentRefreshClient.spec.ts
Labels: msal-browser

#6412 Shared jest config
  change/@azure-msal-browser-72052776-aecd-4533-b8ee-9c1ec0d4c127.json
  change/@azure-msal-common-e71947c5-910b-41f2-8c10-e95b69e99430.json
  change/@azure-msal-node-extensions-0c269783-fd03-4a2d-84f5-0d47972f79a8.json
  change/@azure-msal-react-26b9c95a-68e9-494e-8641-ae2b6b7d63fb.json
  extensions/msal-node-extensions/jest.config.cjs
  lib/msal-browser/jest.config.cjs
  lib/msal-common/jest.config.cjs
  lib/msal-react/jest.config.cjs
  lib/msal-react/test/setupCrypto.ts
  package-lock.json
  package.json
  shared-configs/eslint-config-msal/index.js
  shared-configs/eslint-config-msal/package.json
  shared-configs/jest-config/jest.config.cjs
  shared-configs/jest-config/setupCrypto.cjs
Labels: msal-browser, msal-common, msal-react, extensions

#6407 Disallow major change type in React
  change/@azure-msal-react-f556bf7c-11eb-45a6-9bb3-f71471ffb6f3.json
  lib/msal-react/package.json
Labels: msal-react
