Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2023-03, with the labels that each got.

#5588 fix: checking whether interaction is in progress inside interceptor
  change/@azure-msal-angular-174726b6-edb8-44a7-8d26-e83542baf530.json
  lib/msal-angular/src/msal.interceptor.spec.ts
  lib/msal-angular/src/msal.interceptor.ts
Labels: msal-angular

#5723 Adding test to electron system browser sample
  .github/workflows/msal-node-e2e.yml
  samples/e2eTestUtils/ElectronPlaywrightTestUtils.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/package.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/playwright.config.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/AuthProvider.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/Constants.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/Main.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/config/AAD.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/preload.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/tests/electron-code-aad.spec.ts
  samples/msal-node-samples/ElectronTestApp/package.json
  samples/package-lock.json
  samples/package.json
Labels: samples

#5485 Node extensions native broker plugin
  change/@azure-msal-common-f73c245d-88cf-41ae-81e9-517f11627df0.json
  change/@azure-msal-node-extensions-38d509dc-25f2-435b-bd8d-4367bff995f0.json
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/broker/NativeBrokerPlugin.ts
  extensions/msal-node-extensions/src/error/NativeAuthError.ts
  extensions/msal-node-extensions/src/index.ts
  extensions/msal-node-extensions/src/utils/Constants.ts
  lib/msal-common/src/broker/nativeBroker/INativeBrokerPlugin.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/NativeRequest.ts
  lib/msal-common/src/request/NativeSignOutRequest.ts
Labels: msal-common, extensions

#5550 Node broker implementation
  .github/workflows/msal-node-e2e.yml
  change/@azure-msal-node-98f21ee6-ca4c-409f-95b8-13c2264ec3f9.json
  change/@azure-msal-node-extensions-76b86586-72d5-4662-95f0-32d2dace36a0.json
  extensions/msal-node-extensions/package-lock.json
  lib/msal-node/src/client/IPublicClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/request/InteractiveRequest.ts
  lib/msal-node/src/request/SignOutRequest.ts
  samples/msal-node-samples/auth-code-cli-brokered-app/.npmrc
  samples/msal-node-samples/auth-code-cli-brokered-app/README.md
  samples/msal-node-samples/auth-code-cli-brokered-app/package.json
  samples/msal-node-samples/auth-code-cli-brokered-app/src/authConfig.js
  samples/msal-node-samples/auth-code-cli-brokered-app/src/graph.js
  samples/msal-node-samples/auth-code-cli-brokered-app/src/index.js
Labels: documentation, samples, msal-node, extensions

#5722 Fixed bug in msal-node's httpClient
  change/@azure-msal-common-0d8dacd8-a045-4b09-8edd-86afeaa945d3.json
  change/@azure-msal-node-bb4bf07d-017e-4646-b8f7-caf97e35551b.json
  lib/msal-common/src/index.ts
  lib/msal-common/src/network/NetworkManager.ts
  lib/msal-node/src/network/HttpClient.ts
  lib/msal-node/src/utils/NetworkUtils.ts
  lib/msal-node/test/network/HttpClient.spec.ts
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/HttpClientCurrent.ts
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/app.ts
Labels: samples, msal-node, msal-common

#5746 Allow major change types for v3 updates
  .github/workflows/beachball-check.yml
  .gitignore
  change/@azure-msal-angular-b22f1221-0db0-4702-8649-d48cab3146fe.json
  change/@azure-msal-common-6b5a3278-c9dd-41b0-ba53-cceb111ff50a.json
  change/@azure-msal-node-b32fe37e-5d14-4afb-b707-95fcb8c3cba1.json
  change/@azure-msal-react-aeb41d54-85af-4781-9d82-f03be8885e39.json
  lib/msal-angular/package.json
  lib/msal-browser/package.json
  lib/msal-node/package.json
  lib/msal-react/package.json
Labels: msal-angular, msal-node, msal-browser, msal-react

#5759 New sample with Hybrid and Native bridge enabled
  change/@azure-msal-browser-bdc9b5cd-f5f7-4230-85c6-9e295cea85ad.json
  change/@azure-msal-common-17fb8030-4c3b-48a8-8d6a-c15cdcd54923.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/response/ServerAuthorizationTokenResponse.ts
  samples/msal-browser-samples/HybridSample/bin/www
  samples/msal-browser-samples/HybridSample/package.json
  samples/msal-browser-samples/HybridSample/routes/auth.js
  samples/msal-browser-samples/HybridSample/views/client-redirect.hbs
  samples/msal-browser-samples/HybridSample/views/implicit-redirect.hbs
Labels: samples, msal-browser, msal-common

#5757 Refactor `handleNativeResponse` for better code reusability
  change/@azure-msal-browser-9df1850b-ffe9-4027-969f-dad511cc00f6.json
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
Labels: msal-browser

#5557 Refactoring sample
  .github/workflows/msal-browser-e2e.yml
  .github/workflows/msal-core-e2e.yml
  .github/workflows/msal-react-e2e.yml
  lib/msal-browser/package.json
  lib/msal-browser/rollup.config.js
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/controllers/ControllerFactory.ts
  lib/msal-browser/src/controllers/IController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/operatingcontext/BaseOperatingContext.ts
  lib/msal-browser/src/operatingcontext/StandardOperatingContext.ts
  lib/msal-browser/src/operatingcontext/TeamsAppOperatingContext.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentAuthCodeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentCacheClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentRefreshClient.spec.ts
  lib/msal-browser/test/interaction_client/StandardInteractionClient.spec.ts
  lib/msal-browser/tsconfig.build.tsbuildinfo
  lib/msal-browser/tsconfig.json
  lib/msal-react/test/MsalProvider.spec.tsx
  lib/msal-react/test/components/MsalAuthenticationTemplate.spec.tsx
  lib/msal-react/test/components/withMsal.spec.tsx
  samples/e2eTestUtils/LabClient.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/b2c/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/testConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ie11-sample/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/instanceAware/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/navigateToLoginPage/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssh/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilent/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilentNoHint/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/wamBroker/index.html
Labels: samples, msal-browser, msal-react

#5769 Post-relase March 2023 PR
  lib/msal-angular/package-lock.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-common/CHANGELOG.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react

#5778 fix readme filename casing in samples
  samples/msal-node-samples/auth-code/README.md
  samples/msal-node-samples/device-code/README.md
  samples/msal-node-samples/refresh-token/README.md
  samples/msal-node-samples/silent-flow/README.md
Labels: documentation, samples

#5750 Bump typescript to `4.9.5` and build target to `es2020`
  change/@azure-msal-node-extensions-8fbfdb4b-83ee-4c5f-a036-594a7aeb4f06.json
  change/@azure-node-token-validation-536972d8-6d27-4c7a-ab86-1b5d8dd6e66d.json
  change/msal-1a69cf50-db5e-4aaf-ab86-32f98e28bec4.json
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/test/persistence/FilePersistenceWithDataProtection.spec.ts
  extensions/msal-node-extensions/tsconfig.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/src/broker/nativeBroker/NativeMessageHandler.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/crypto/PkceGenerator.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/src/network/FetchClient.ts
  lib/msal-browser/src/utils/BrowserProtocolUtils.ts
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/app/IPublicClientApplication.spec.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/navigation/NavigationClient.spec.ts
  lib/msal-browser/test/network/XhrClient.spec.ts
  lib/msal-browser/test/utils/BrowserUtils.spec.ts
  lib/msal-browser/tsconfig.json
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  lib/msal-common/src/account/AuthToken.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/network/NetworkManager.ts
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/src/url/UrlString.ts
  lib/msal-common/src/utils/ProtocolUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/error/AuthError.spec.ts
  lib/msal-common/test/network/NetworkManager.spec.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
  lib/msal-common/test/utils/StringUtils.spec.ts
  lib/msal-common/tsconfig.json
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/test/cache/TokenCache.spec.ts
  lib/msal-node/test/client/ClientAssertion.spec.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/tsconfig.json
  lib/msal-react/package-lock.json
  lib/msal-react/package.json
  lib/msal-react/test/components/AuthenticatedTemplate.spec.tsx
  lib/msal-react/test/components/UnauthenticatedTemplate.spec.tsx
  lib/msal-react/tsconfig.json
  lib/node-token-validation/package-lock.json
  lib/node-token-validation/package.json
  lib/node-token-validation/tsconfig.json
Labels: msal-node, msal-browser, msal-common, msal-react, extensions, node-token-validation

#5790 Fix v3 beachball commands
  package.json
Labels: documentation, msal-angular, samples, msal-node, msal-browser, msal-common, msal-react, extensions, node-token-validation

#5789 exposing missing token claims parameters
  change/@azure-msal-common-b2950ef2-9358-44e2-97f2-603bdbf45686.json
  lib/msal-common/src/account/TokenClaims.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
Labels: msal-common

#5794 Expose controller artifacts for 1p lib
  change/@azure-msal-browser-eb932933-12ec-4b2c-a269-8052222fbee8.json
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/controllers/IController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/index.ts
Labels: msal-browser

#5795 Metadata resiliency documentation
  lib/msal-browser/docs/configuration.md
  lib/msal-common/docs/authority.md
  lib/msal-node/docs/configuration.md
Labels: documentation, msal-node, msal-browser, msal-common

#5784 Update caching and performance docs
  lib/msal-node/docs/accounts.md
  lib/msal-node/docs/caching.md
  lib/msal-node/docs/configuration.md
  lib/msal-node/docs/faq.md
  lib/msal-node/docs/performance.md
Labels: documentation, msal-node

#5760 multitenant daemon (client credentials) sample with distributed cache
  samples/msal-node-samples/client-credentials-distributed-cache/.beachballrc
  samples/msal-node-samples/client-credentials-distributed-cache/.gitignore
  samples/msal-node-samples/client-credentials-distributed-cache/.npmrc
  samples/msal-node-samples/client-credentials-distributed-cache/README.md
  samples/msal-node-samples/client-credentials-distributed-cache/package.json
  samples/msal-node-samples/client-credentials-distributed-cache/src/AuthProvider.ts
  samples/msal-node-samples/client-credentials-distributed-cache/src/AxiosHelper.ts
  samples/msal-node-samples/client-credentials-distributed-cache/src/CustomCachePlugin.ts
  samples/msal-node-samples/client-credentials-distributed-cache/src/ProvisionHandler.ts
  samples/msal-node-samples/client-credentials-distributed-cache/src/RedisClientWrapper.ts
  samples/msal-node-samples/client-credentials-distributed-cache/src/index.ts
  samples/msal-node-samples/client-credentials-distributed-cache/tsconfig.json
Labels: documentation, samples

#5818 Migrate from tsdx to use rollup and jest directly for msal-node
  .github/workflows/msal-node-e2e.yml
  change/@azure-msal-node-ae33bf55-0764-412b-bb5a-f21c92db0822.json
  lib/msal-node/jest.config.js
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  lib/msal-node/rollup.config.js
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/test/cache/TokenCache.spec.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/utils/MockUtils.ts
  package-lock.json
  package.json
Labels: msal-node

#5753 Upgrade msal-angular to Angular 15
  .github/workflows/msal-angular-e2e.yml
  change/@azure-msal-angular-e09e6988-c496-4754-b0f0-5de31f995a35.json
  lib/msal-angular/.gitignore
  lib/msal-angular/angular.json
  lib/msal-angular/ng-package.json
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
  lib/msal-angular/src/msal.broadcast.service.spec.ts
  lib/msal-angular/src/msal.broadcast.service.ts
  lib/msal-angular/src/msal.guard.spec.ts
  lib/msal-angular/src/msal.guard.ts
  lib/msal-angular/src/msal.interceptor.config.ts
  lib/msal-angular/src/msal.interceptor.spec.ts
  lib/msal-angular/src/msal.interceptor.ts
  lib/msal-angular/src/msal.module.ts
  lib/msal-angular/src/msal.navigation.client.spec.ts
  lib/msal-angular/src/msal.navigation.client.ts
  lib/msal-angular/src/msal.redirect.component.spec.ts
  lib/msal-angular/src/msal.redirect.component.ts
  lib/msal-angular/src/msal.service.ts
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-angular/src/test.ts
  lib/msal-angular/tsconfig.json
  lib/msal-angular/tsconfig.lib.json
  lib/msal-angular/tsconfig.lib.prod.json
  package-lock.json
  package.json
Labels: msal-angular

#5773 Retire RedisTestApp
  change/@azure-msal-node-26e7deca-1253-4ced-b36a-883c69a4c6a6.json
  lib/msal-node/src/cache/distributed/IPartitionManager.ts
  samples/msal-node-samples/RedisTestApp/.npmrc
  samples/msal-node-samples/RedisTestApp/README.md
  samples/msal-node-samples/RedisTestApp/TestApp/.npmrc
  samples/msal-node-samples/RedisTestApp/TestApp/App/app.js
  samples/msal-node-samples/RedisTestApp/TestApp/App/controllers/mainController.js
  samples/msal-node-samples/RedisTestApp/TestApp/App/public/404.html
  samples/msal-node-samples/RedisTestApp/TestApp/App/public/style.css
  samples/msal-node-samples/RedisTestApp/TestApp/App/routes/router.js
  samples/msal-node-samples/RedisTestApp/TestApp/App/utils/fetchManager.js
  samples/msal-node-samples/RedisTestApp/TestApp/App/utils/partitionManager.js
  samples/msal-node-samples/RedisTestApp/TestApp/App/utils/redisClientWrapper.js
  samples/msal-node-samples/RedisTestApp/TestApp/App/views/home.ejs
  samples/msal-node-samples/RedisTestApp/TestApp/App/views/id.ejs
  samples/msal-node-samples/RedisTestApp/TestApp/App/views/includes/footer.ejs
  samples/msal-node-samples/RedisTestApp/TestApp/App/views/includes/navbar.ejs
  samples/msal-node-samples/RedisTestApp/TestApp/App/views/profile.ejs
  samples/msal-node-samples/RedisTestApp/TestApp/App/views/tenant.ejs
  samples/msal-node-samples/RedisTestApp/TestApp/README.md
  samples/msal-node-samples/RedisTestApp/TestApp/appSettings.json
  samples/msal-node-samples/RedisTestApp/TestApp/package.json
  samples/msal-node-samples/RedisTestApp/package.json
  samples/msal-node-samples/RedisTestApp/src/AuthProvider.ts
  samples/msal-node-samples/RedisTestApp/src/ConfigurationUtils.ts
  samples/msal-node-samples/RedisTestApp/src/Constants.ts
  samples/msal-node-samples/RedisTestApp/src/TokenValidator.ts
  samples/msal-node-samples/RedisTestApp/src/Types.ts
  samples/msal-node-samples/RedisTestApp/tsconfig.json
  samples/msal-node-samples/RedisTestApp/tslint.json
Labels: documentation, samples, msal-node
