Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2023-04, with the labels that each got.

#5845 April 2023 Release
  change/@azure-msal-browser-22d5b122-a82f-4b2e-964f-b8e23951d563.json
  change/@azure-msal-browser-4fa10337-db97-404c-ace6-feb624ec3d2d.json
  change/@azure-msal-browser-936e7906-4429-4deb-a6b5-6cee0ee45120.json
  change/@azure-msal-browser-e92e8c2d-852d-4fe4-b044-fca78ef1fe08.json
  change/@azure-msal-common-59bdc96f-0b6a-40d0-886f-090752c2892e.json
  change/@azure-msal-common-770946ba-5e77-40dd-8f44-4f55e0647c73.json
  change/@azure-msal-common-b2950ef2-9358-44e2-97f2-603bdbf45686.json
  change/@azure-msal-node-26e7deca-1253-4ced-b36a-883c69a4c6a6.json
  change/@azure-msal-node-57f8cbce-0c39-41ba-9a17-e643239d7b77.json
  change/@azure-msal-node-7bee8ce3-3fc5-40c6-bd89-1f0fd7701529.json
  change/@azure-node-token-validation-1c7897d4-1694-437a-9d8e-d864b010e1bb.json
  change/@azure-node-token-validation-fc8498d1-0d78-49e4-8aa6-16a547cc759c.json
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/CHANGELOG.md
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/packageMetadata.ts
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
  lib/node-token-validation/CHANGELOG.json
  lib/node-token-validation/package.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions, node-token-validation

#5850 Post-release April 2023
  extensions/msal-node-extensions/package-lock.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#5729 Remove dropped version checks from v3 workflows
  .github/workflows/msal-node-e2e.yml
  change/@azure-msal-browser-cd974be6-34e0-4db8-8f96-199b30d4fe11.json
  lib/msal-browser/package.json
Labels: msal-browser

#5805 Exception is thrown in acquireTokenByClientCredential if tenantId is missing
  change/@azure-msal-common-bb8eaedb-fe33-4c8e-b220-b8c1441950d2.json
  change/@azure-msal-node-8b9bf4a1-ea08-4013-8a4d-a6deb79b04ce.json
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/index.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
Labels: msal-node, msal-common

#5853 v3 migration docs
  lib/msal-browser/FAQ.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/docs/internet-explorer.md
  lib/msal-browser/docs/v2-migration.md
Labels: documentation, msal-browser

#5869 passport-azure-ad update node-jose dependency
  maintenance/passport-azure-ad/package.json
Labels: passport-azure-ad, adal-node

#5864 Update PoliCheck version
  build/CredScanSuppressions.json
  build/sdl-tasks.yml
  change/@azure-msal-common-638712e9-2bbc-44cf-86f1-a50fdc0d6b5d.json
  change/msal-f2b8c70d-cad6-4ac0-8a24-d31243036bbd.json
  lib/msal-common/src/utils/Constants.ts
  lib/msal-core/src/utils/Constants.ts
  lib/msal-core/src/utils/RequestUtils.ts
Labels: msal@1.x, msal-common

#5868 Fix telemetry typos
  change/@azure-msal-browser-1c063571-41c9-4c87-855d-0df46a0f55c1.json
  change/@azure-msal-common-ccdfec39-d7de-4685-bec6-e2853f0fe1a3.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-browser/test/telemetry/BrowserPerformanceClient.spec.ts
  lib/msal-common/src/telemetry/performance/IPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/StubPerformanceClient.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: msal-browser, msal-common

#5680 OBO E2E test
  .github/workflows/msal-node-e2e.yml
  samples/e2eTestUtils/NodeCacheTestUtils.ts
  samples/msal-node-samples/on-behalf-of/.beachballrc
  samples/msal-node-samples/on-behalf-of/.npmrc
  samples/msal-node-samples/on-behalf-of/config/WEB-API.json
  samples/msal-node-samples/on-behalf-of/config/WEB-APP.json
  samples/msal-node-samples/on-behalf-of/jest.config.js
  samples/msal-node-samples/on-behalf-of/package.json
  samples/msal-node-samples/on-behalf-of/test/data/cacheTemplate.json
  samples/msal-node-samples/on-behalf-of/test/data/webApiCache.json
  samples/msal-node-samples/on-behalf-of/test/data/webAppCache.json
  samples/msal-node-samples/on-behalf-of/test/obo-aad.spec.ts
  samples/msal-node-samples/on-behalf-of/web-api/index.js
  samples/msal-node-samples/on-behalf-of/web-app/index.js
Labels: samples

#5871 Fix missing IdToken in response after refresh (msal-browser v3)
  change/@azure-msal-browser-0fa5f65e-2e39-4ecf-b103-fc143fa8be2c.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
Labels: msal-browser

#5874 Angular15 sample rebase
  samples/msal-angular-v3-samples/README.md
  samples/msal-angular-v3-samples/angular15-sample-app/.browserslistrc
  samples/msal-angular-v3-samples/angular15-sample-app/.editorconfig
  samples/msal-angular-v3-samples/angular15-sample-app/.gitignore
  samples/msal-angular-v3-samples/angular15-sample-app/README.md
  samples/msal-angular-v3-samples/angular15-sample-app/angular.json
  samples/msal-angular-v3-samples/angular15-sample-app/package.json
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/app-routing.module.ts
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/app.component.css
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/app.component.html
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/app.component.ts
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/app.module.ts
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/failed/failed.component.css
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/failed/failed.component.html
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/failed/failed.component.ts
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/home/home.component.css
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/home/home.component.html
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/home/home.component.ts
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/profile/profile.component.css
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/profile/profile.component.html
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/profile/profile.component.ts
  samples/msal-angular-v3-samples/angular15-sample-app/src/assets/.gitkeep
  samples/msal-angular-v3-samples/angular15-sample-app/src/environments/environment.prod.ts
  samples/msal-angular-v3-samples/angular15-sample-app/src/environments/environment.ts
  samples/msal-angular-v3-samples/angular15-sample-app/src/favicon.ico
  samples/msal-angular-v3-samples/angular15-sample-app/src/index.html
  samples/msal-angular-v3-samples/angular15-sample-app/src/main.ts
  samples/msal-angular-v3-samples/angular15-sample-app/src/styles.css
  samples/msal-angular-v3-samples/angular15-sample-app/tsconfig.app.json
  samples/msal-angular-v3-samples/angular15-sample-app/tsconfig.json
  samples/msal-angular-v3-samples/angular15-sample-app/tsconfig.spec.json
  samples/msal-angular-v3-samples/jest.config.js
  samples/msal-angular-v3-samples/package.json
Labels: documentation, samples

#5841 Retiring React 18 sample
  samples/msal-react-samples/react-18-sample/.gitignore
  samples/msal-react-samples/react-18-sample/.npmrc
  samples/msal-react-samples/react-18-sample/README.md
  samples/msal-react-samples/react-18-sample/package.json
  samples/msal-react-samples/react-18-sample/public/favicon.ico
  samples/msal-react-samples/react-18-sample/public/index.html
  samples/msal-react-samples/react-18-sample/public/logo192.png
  samples/msal-react-samples/react-18-sample/public/logo512.png
  samples/msal-react-samples/react-18-sample/public/manifest.json
  samples/msal-react-samples/react-18-sample/public/robots.txt
  samples/msal-react-samples/react-18-sample/src/App.js
  samples/msal-react-samples/react-18-sample/src/authConfig.js
  samples/msal-react-samples/react-18-sample/src/index.js
  samples/msal-react-samples/react-18-sample/src/pages/Home.jsx
  samples/msal-react-samples/react-18-sample/src/pages/Logout.jsx
  samples/msal-react-samples/react-18-sample/src/pages/Profile.jsx
  samples/msal-react-samples/react-18-sample/src/pages/ProfileRawContext.jsx
  samples/msal-react-samples/react-18-sample/src/pages/ProfileUseMsalAuthenticationHook.jsx
  samples/msal-react-samples/react-18-sample/src/pages/ProfileWithMsal.jsx
  samples/msal-react-samples/react-18-sample/src/styles/theme.js
  samples/msal-react-samples/react-18-sample/src/ui-components/AccountPicker.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/ErrorComponent.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/Loading.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/NavBar.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/PageLayout.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/ProfileData.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/SignInButton.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/SignInSignOutButton.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/SignOutButton.jsx
  samples/msal-react-samples/react-18-sample/src/ui-components/WelcomeName.jsx
  samples/msal-react-samples/react-18-sample/src/utils/MsGraphApiCall.js
  samples/msal-react-samples/react-18-sample/src/utils/NavigationClient.js
Labels: documentation, samples

#5881 Update roadmap.md
  roadmap.md
Labels: documentation

#5884 MSAL Angular v3 address security vulnerabilities
  change/@azure-msal-angular-ca6d42f4-ff4f-44e2-a3fa-726d0852414e.json
  lib/msal-angular/package-lock.json
Labels: msal-angular

#5840 Add Redirecting to an empty page.
  lib/msal-browser/docs/login-user.md
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/redirect.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/server.js
  samples/msal-react-samples/react-router-sample/.env
  samples/msal-react-samples/react-router-sample/.env.development
  samples/msal-react-samples/react-router-sample/.env.e2e
  samples/msal-react-samples/react-router-sample/README.md
  samples/msal-react-samples/react-router-sample/jest.config.js
  samples/msal-react-samples/react-router-sample/package.json
  samples/msal-react-samples/react-router-sample/public/redirect.html
  samples/msal-react-samples/react-router-sample/src/authConfig.js
  samples/msal-react-samples/react-router-sample/src/pages/ProfileRawContext.jsx
  samples/msal-react-samples/react-router-sample/src/pages/ProfileUseMsalAuthenticationHook.jsx
  samples/msal-react-samples/react-router-sample/src/ui-components/SignInButton.jsx
Labels: documentation, samples, msal-browser

#5893 msal-node-extension drop tsdx
  change/@azure-msal-node-extensions-51d1e8a1-ea5c-4367-a578-f02a9b0b0534.json
  extensions/msal-node-extensions/jest.config.js
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/rollup.config.js
  extensions/msal-node-extensions/src/Dpapi.ts
  extensions/msal-node-extensions/test/dpapi-addon/Dpapi.spec.ts
  extensions/msal-node-extensions/tsconfig.json
Labels: extensions

#5855 Unit tests for NativeBrokerPlugin (msal-node-extensions)
  change/@azure-msal-node-extensions-327efce7-518e-4288-b7eb-89a8c299b670.json
  extensions/msal-node-extensions/jest.config.js
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/broker/NativeBrokerPlugin.ts
  extensions/msal-node-extensions/test/__mocks__/@azure/msal-node-runtime.js
  extensions/msal-node-extensions/test/broker/NativeBrokerPlugin.spec.ts
  extensions/msal-node-extensions/test/lock/CrossPlatformLock.spec.ts
  extensions/msal-node-extensions/test/persistence/FilePersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/FilePersistenceWithDataProtection.spec.ts
  extensions/msal-node-extensions/test/persistence/PersistenceCachePlugin.spec.ts
  extensions/msal-node-extensions/test/persistence/PersistenceCreator.spec.ts
  extensions/msal-node-extensions/test/util/TestConstants.ts
Labels: extensions

#5891 Improve Iframe Errors
  change/@azure-msal-browser-0f6f4a84-3649-4012-b2a7-5dddf8764ea7.json
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/error/BrowserAuthError.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
Labels: msal-browser

#5890 Add temporaryCacheLocation to Cache Options (#5725)
  change/@azure-msal-browser-25232dc8-c6d0-4238-ad59-1c1f3fcd1a7a.json
  lib/msal-browser/docs/caching.md
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
Labels: documentation, msal-browser

#5896 Msal Angular v3 initialization changes and doc updates
  change/@azure-msal-angular-d963d407-5e8f-4fec-9409-72c8584d9812.json
  lib/msal-angular/README.md
  lib/msal-angular/docs/v2-docs/configuration.md
  lib/msal-angular/docs/v2-v3-upgrade-guide.md
  lib/msal-angular/package-lock.json
  lib/msal-angular/src/msal.redirect.component.spec.ts
  lib/msal-angular/src/msal.redirect.component.ts
  lib/msal-angular/src/msal.service.spec.ts
  lib/msal-angular/src/msal.service.ts
Labels: documentation, msal-angular

#5903 Randomize native extension response identifiers to facilitate concurrency
  change/@azure-msal-browser-3eb1c367-abda-4451-b5e0-c6d2f2277136.json
  lib/msal-browser/src/broker/nativeBroker/NativeMessageHandler.ts
  lib/msal-browser/src/broker/nativeBroker/NativeRequest.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/broker/NativeMessageHandler.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
Labels: msal-browser

#5904 Unit tests for NativeBrokerPlugin (msal-node-extensions) v3
  change/@azure-msal-node-extensions-da951297-a9ec-4ff4-be0a-4b3b1a7429b9.json
  extensions/msal-node-extensions/jest.config.js
  extensions/msal-node-extensions/src/broker/NativeBrokerPlugin.ts
  extensions/msal-node-extensions/test/__mocks__/@azure/msal-node-runtime.js
  extensions/msal-node-extensions/test/broker/NativeBrokerPlugin.spec.ts
  extensions/msal-node-extensions/test/lock/CrossPlatformLock.spec.ts
  extensions/msal-node-extensions/test/persistence/FilePersistence.spec.ts
  extensions/msal-node-extensions/test/persistence/FilePersistenceWithDataProtection.spec.ts
  extensions/msal-node-extensions/test/persistence/PersistenceCachePlugin.spec.ts
  extensions/msal-node-extensions/test/persistence/PersistenceCreator.spec.ts
  extensions/msal-node-extensions/test/util/TestConstants.ts
Labels: extensions

#5909 Fix link to sample project
  samples/msal-angular-v3-samples/README.md
Labels: documentation, samples

#5912 Remove null from acquireTokenSilent response type
  change/@azure-msal-node-e3a7afee-3776-4ab2-856c-80f283f134a8.json
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/IPublicClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
Labels: msal-node

#5911 Remove no account error in removeAccount
  change/@azure-msal-common-92b7da9a-b20b-4d76-9b47-96c5160333de.json
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
Labels: msal-common

#5910 msal-node NativeBrokerPlugin tests
  change/@azure-msal-node-a94b317f-be47-480c-ab4b-8f1cbe823fd0.json
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/client/test-fixtures.ts
  lib/msal-node/test/utils/MockNativeBrokerPlugin.ts
  lib/msal-node/test/utils/TestConstants.ts
Labels: msal-node

#5922 Fix: dSTS Token dummy aud claim value for requests with scope input by using v2.0 endpoint
  change/@azure-msal-common-f7548aca-eb73-4890-aed5-6c0b955ff1f1.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/test/authority/Authority.spec.ts
Labels: msal-common

#5923 Bundle local version of `msal-common` into `msal-node-extensions`
  .eslintrc.json
  change/@azure-msal-node-extensions-38578a2e-6933-4ad3-bd9d-fc46a8cc76b0.json
  extensions/msal-node-extensions/jest.config.js
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/rollup.config.js
  extensions/msal-node-extensions/test/performance-test/LockAndWriteToStorageScript.js
  extensions/msal-node-extensions/tsconfig.build.json
  extensions/msal-node-extensions/tsconfig.json
  package-lock.json
  package.json
Labels: extensions

#5931 Fix relative `msal-node` paths for `msal-node-samples`
  .github/workflows/msal-node-e2e.yml
  change/@azure-msal-node-12afd4af-a843-4b83-8da3-09d7f692ce66.json
  lib/msal-node/src/index.ts
  lib/msal-node/src/internals.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/tests/electron-code-aad.spec.ts
  samples/msal-node-samples/NodeCacheTestUtils.ts
  samples/msal-node-samples/auth-code/test/auth-code-aad-agc-confidential.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-aad-agc-public.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-aad.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-adfs.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-aad.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-local.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-msa.spec.ts
  samples/msal-node-samples/b2c-user-flows/test/user-flows-local.spec.ts
  samples/msal-node-samples/b2c-user-flows/test/user-flows-msa.spec.ts
  samples/msal-node-samples/client-credentials/test/client-credentials-aad-agc.spec.ts
  samples/msal-node-samples/client-credentials/test/client-credentials-aad.spec.ts
  samples/msal-node-samples/device-code/test/device-code-aad-agc.spec.ts
  samples/msal-node-samples/device-code/test/device-code-aad.spec.ts
  samples/msal-node-samples/device-code/test/device-code-adfs.spec.ts
  samples/msal-node-samples/on-behalf-of/test/obo-aad.spec.ts
  samples/msal-node-samples/package.json
  samples/msal-node-samples/silent-flow/test/silent-flow-aad-agc-confidential.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-aad-agc-public.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-aad.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-adfs.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-aad.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-local.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-msa.spec.ts
Labels: samples, msal-node

#5936 Remove googleapi fonts from Angular samples
  samples/msal-angular-v2-samples/angular-b2c-sample-app/src/index.html
  samples/msal-angular-v2-samples/angular11-sample-app/src/index.html
  samples/msal-angular-v2-samples/angular12-sample-app/src/index.html
  samples/msal-angular-v2-samples/angular13-rxjs6-sample-app/src/index.html
  samples/msal-angular-v2-samples/angular13-rxjs7-sample-app/src/index.html
  samples/msal-angular-v2-samples/angular14-rxjs6-sample-app/src/index.html
  samples/msal-angular-v2-samples/angular14-rxjs7-sample-app/src/index.html
  samples/msal-angular-v3-samples/angular15-sample-app/src/index.html
Labels: samples

#5933 Angular environment variables for angular15 sample
  samples/msal-angular-v3-samples/angular15-sample-app/angular.json
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/app.module.ts
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/profile/profile.component.ts
  samples/msal-angular-v3-samples/angular15-sample-app/src/environments/environment.dev.ts
  samples/msal-angular-v3-samples/angular15-sample-app/src/environments/environment.e2e.ts
  samples/msal-angular-v3-samples/angular15-sample-app/src/environments/environment.prod.ts
  samples/msal-angular-v3-samples/angular15-sample-app/src/environments/environment.ts
Labels: samples

#5943 Update `msa-common` bundling config for `msal-node-extensions`
  change/@azure-msal-node-extensions-ca924dfd-858f-4987-9710-8cb55033be6d.json
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/rollup.config.js
  extensions/msal-node-extensions/test/performance-test/LockAndWriteToStorageScript.js
  extensions/msal-node-extensions/tsconfig.build.json
  extensions/msal-node-extensions/tsconfig.json
Labels: extensions

#5942 Bundle `msal-common` into `msal-node`
  .github/workflows/msal-node-e2e.yml
  change/@azure-msal-node-a4b7a984-e70f-4541-84cc-982bd29d190a.json
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  lib/msal-node/test/network/HttpClient.spec.ts
Labels: msal-node
