Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2023-05, with the labels that each got.

#5938 [Brokered Auth] Update sample with additional instructions
  samples/msal-node-samples/auth-code-cli-brokered-app/README.md
Labels: documentation, samples

#5953 Bundle local version of msal-common into msal-browser
  change/@azure-msal-browser-c678741a-cf13-4275-9384-aa9cb42ac1cd.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/test/app/IPublicClientApplication.spec.ts
  lib/msal-browser/test/utils/BrowserUtils.spec.ts
Labels: msal-browser

#5934 Update login-user documentation fixing broken URI
  lib/msal-browser/docs/login-user.md
Labels: documentation, msal-browser

#5959 May 2023 LTS Post-Release
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/CHANGELOG.md
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/packageMetadata.ts
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-core/README.md
  lib/msal-core/docs/cdn-usage.md
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package-lock.json
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
Labels: documentation, msal-angular, msal@1.x, msal-node, msal-browser, msal-common, msal-react, extensions

#5905 Update MSAL Node compatible versions to include Node v20 and drop v16
  .github/workflows/build-test-pr.yml
  .github/workflows/msal-node-e2e.yml
  change/@azure-msal-node-f4b2cc9c-7f21-4f26-863e-e896a29906b7.json
  lib/msal-node/README.md
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
Labels: documentation, msal-node

#5967 Fix prepack hook
  change/@azure-msal-browser-fe2d4c6f-b59e-4528-839d-a5dd76a6f8d9.json
  change/@azure-msal-node-45890e91-dc92-4a2f-a01d-23a946e715b3.json
  change/@azure-msal-node-extensions-323c0b24-2e71-431f-9331-0b7b2b684b6c.json
  extensions/msal-node-extensions/package.json
  lib/msal-browser/package.json
  lib/msal-node/package.json
Labels: msal-node, msal-browser, extensions

#5968 Adds the MSAL.js boot flow diagram
  lib/msal-browser/FAQ.md
  lib/msal-browser/docs/images/msaljs-boot-flow.png
  lib/msal-browser/docs/initialization.md
Labels: documentation, internal, msal-browser, browser

#5978 Post-release May 2023
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
  lib/msal-angular/tsconfig.lib.prod.json
  lib/msal-browser/tsconfig.build.tsbuildinfo
  lib/msal-common/package-lock.json
  lib/msal-react/package-lock.json
Labels: msal-angular, msal-browser, msal-common, msal-react

#5973 Add logging to `Authority.getEndpointMetadataFromNetwork()`
  change/@azure-msal-common-cca6bc06-23ce-46fb-ac98-853c9c2a8ae9.json
  lib/msal-common/src/authority/Authority.ts
Labels: msal-common

#5985 Revert to common as a regular dependency
  .github/workflows/msal-node-e2e.yml
  change/@azure-msal-browser-df6d8ea5-8684-44a4-9547-0487de81f182.json
  change/@azure-msal-node-0c2121f3-a61a-42a3-bd5d-7902f0489ede.json
  change/@azure-msal-node-extensions-1bd78778-5660-49b0-bb88-62c5839ed327.json
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
Labels: documentation, msal-node, msal-browser, msal-common, extensions

#5989 May 2023 Alpha 1 Release
  change/@azure-msal-browser-df6d8ea5-8684-44a4-9547-0487de81f182.json
  change/@azure-msal-common-cca6bc06-23ce-46fb-ac98-853c9c2a8ae9.json
  change/@azure-msal-node-0c2121f3-a61a-42a3-bd5d-7902f0489ede.json
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react

#5998 May Alpha 1 Post Release
  lib/msal-angular/package-lock.json
  lib/msal-browser/package-lock.json
  lib/msal-browser/tsconfig.build.tsbuildinfo
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: msal-angular, msal-node, msal-browser, msal-common, msal-react

#5997 Update bundled files to be included in published package
  change/@azure-msal-browser-e1c12368-4b25-41c6-99dc-49c7d037137b.json
  lib/msal-browser/package.json
  lib/msal-browser/rollup.config.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/b2c/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ie11-sample/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/instanceAware/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/navigateToLoginPage/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssh/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilent/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilentNoHint/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/wamBroker/index.html
Labels: samples, msal-browser

#5982 Enable strict type checking in node-extensions
  change/@azure-msal-node-extensions-56da75c7-1da6-443f-b3f0-4ed2becda658.json
  extensions/msal-node-extensions/jest.config.js
  extensions/msal-node-extensions/package-lock.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/rollup.config.js
  extensions/msal-node-extensions/src/Dpapi.ts
  extensions/msal-node-extensions/src/broker/NativeBrokerPlugin.ts
  extensions/msal-node-extensions/src/lock/CrossPlatformLock.ts
  extensions/msal-node-extensions/src/persistence/FilePersistence.ts
  extensions/msal-node-extensions/src/persistence/FilePersistenceWithDataProtection.ts
  extensions/msal-node-extensions/src/persistence/KeychainPersistence.ts
  extensions/msal-node-extensions/src/persistence/LibSecretPersistence.ts
  extensions/msal-node-extensions/src/persistence/PersistenceCachePlugin.ts
  extensions/msal-node-extensions/src/utils/Constants.ts
  extensions/msal-node-extensions/src/utils/Environment.ts
  extensions/msal-node-extensions/src/utils/TypeGuards.ts
  extensions/msal-node-extensions/test/broker/NativeBrokerPlugin.spec.ts
  extensions/msal-node-extensions/test/lock/CrossPlatformLock.spec.ts
  extensions/msal-node-extensions/test/performance-test/CachePerformanceTest.spec.ts
  extensions/msal-node-extensions/test/performance-test/LockAndWriteToStorageScript.js
  extensions/msal-node-extensions/test/persistence/PersistenceCreator.spec.ts
  extensions/msal-node-extensions/test/util/FileSystemUtils.ts
  extensions/msal-node-extensions/tsconfig.build.json
  extensions/msal-node-extensions/tsconfig.json
Labels: extensions

#6004 Update rxjs dev dependency for MSAL Angular
  change/@azure-msal-angular-72218b17-96d2-4879-8584-428157675350.json
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
Labels: msal-angular

#6014 Update maintained node versions to fix tsdx optional chaining
  change/@azure-msal-node-d1847685-48e5-4547-9b0b-83c286a6c4b4.json
  lib/msal-core/CHANGELOG.json
  lib/msal-core/CHANGELOG.md
  lib/msal-node/.browserslistrc
Labels: documentation, msal@1.x

#6011 Support tenant switching for tenant domain names
  change/@azure-msal-common-f0736a66-3f12-4680-a218-fe4a3d9b97de.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/test/authority/Authority.spec.ts
Labels: msal-common

#6022 Support tenant switching for tenant domain names
  change/@azure-msal-common-beaab53b-0285-4c3f-9030-fa5ce0d28c8d.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/test/authority/Authority.spec.ts
Labels: msal-common

#6025 May Alpha 2 Release
  change/@azure-msal-angular-72218b17-96d2-4879-8584-428157675350.json
  change/@azure-msal-browser-e1c12368-4b25-41c6-99dc-49c7d037137b.json
  change/@azure-msal-common-beaab53b-0285-4c3f-9030-fa5ce0d28c8d.json
  change/@azure-node-token-validation-536972d8-6d27-4c7a-ab86-1b5d8dd6e66d.json
  change/@azure-node-token-validation-9879b1da-451a-4e65-b8cf-3e144993858e.json
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react

#6026 Update events.md with correct parameter name
  lib/msal-angular/docs/v2-docs/events.md
Labels: documentation, msal-angular

#6035 May Alpha 2 Post Release
  .pipelines/OneBranch.Release.yml
  .pipelines/custom-templates/post-publish-template.yml
  .pipelines/post-release.yml
  lib/msal-angular/package-lock.json
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: msal-angular, msal-node, msal-browser, msal-common, msal-react

#6020 bfcache bug fix for back button
  change/@azure-msal-browser-fe9a5361-1c1d-4b36-b631-0aaa1e22e719.json
  lib/msal-browser/src/event/EventMessage.ts
  lib/msal-browser/src/event/EventType.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/test/event/EventMessage.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
Labels: msal-browser

#6041 Fix v3 CI failures
  .beachballrc
  extensions/msal-node-extensions/package-lock.json
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser, extensions

#6002 added new ClientConfigurationError for invalid authority in request - v2
  change/@azure-msal-browser-29886468-4240-4b78-af7b-3780b4fcc764.json
  change/@azure-msal-common-0e8eab18-58d4-40bd-869e-aa2e9705cef2.json
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/test/error/ClientConfigurationError.spec.ts
Labels: msal-browser, msal-common

#6056 Switch from enums to object literals to reduce the bundle size
  .eslintrc.json
  change/@azure-msal-browser-0869b94e-bc69-484e-96e8-c9dd124dca5b.json
  change/@azure-msal-common-089b1ea1-cf4f-4f55-b3d6-2877c26e652b.json
  lib/msal-browser/src/cache/CryptoKeyStore.ts
  lib/msal-browser/src/error/NativeAuthError.ts
  lib/msal-browser/src/event/EventType.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-common/src/account/CcsCredential.ts
  lib/msal-common/src/authority/AuthorityOptions.ts
  lib/msal-common/src/authority/AuthorityType.ts
  lib/msal-common/src/authority/ProtocolMode.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/src/utils/Constants.ts
Labels: msal-browser, msal-common

#5980 Update Jest to v29 and Puppeteer to v20
  samples/e2eTestUtils/jest-puppeteer-utils/puppeteer_environment.js
  samples/msal-angular-v3-samples/angular15-sample-app/package.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserAAD.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserB2C.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserMemStorage.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/localStorage.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/test/multiple_resources.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/sample_template/test/template.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/package.json
  samples/msal-node-samples/auth-code/package.json
  samples/msal-node-samples/auth-code/test/auth-code-aad-agc-confidential.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-aad-agc-public.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-aad.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-adfs.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-aad.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-local.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-msa.spec.ts
  samples/msal-node-samples/b2c-user-flows/package.json
  samples/msal-node-samples/b2c-user-flows/test/user-flows-local.spec.ts
  samples/msal-node-samples/b2c-user-flows/test/user-flows-msa.spec.ts
  samples/msal-node-samples/client-credentials/package.json
  samples/msal-node-samples/device-code/package.json
  samples/msal-node-samples/device-code/test/device-code-aad-agc.spec.ts
  samples/msal-node-samples/device-code/test/device-code-aad.spec.ts
  samples/msal-node-samples/device-code/test/device-code-adfs.spec.ts
  samples/msal-node-samples/on-behalf-of/package.json
  samples/msal-node-samples/on-behalf-of/test/obo-aad.spec.ts
  samples/msal-node-samples/package.json
  samples/msal-node-samples/silent-flow/package.json
  samples/msal-node-samples/silent-flow/test/silent-flow-aad-agc-confidential.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-aad-agc-public.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-aad.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-adfs.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-aad.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-local.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-msa.spec.ts
  samples/msal-react-samples/b2c-sample/package.json
  samples/msal-react-samples/b2c-sample/test/local-account.spec.ts
  samples/msal-react-samples/b2c-sample/test/msa-account.spec.ts
  samples/msal-react-samples/gatsby-sample/package.json
  samples/msal-react-samples/gatsby-sample/test/home.spec.ts
  samples/msal-react-samples/gatsby-sample/test/profile.spec.ts
  samples/msal-react-samples/nextjs-sample/package.json
  samples/msal-react-samples/nextjs-sample/test/home.spec.ts
  samples/msal-react-samples/nextjs-sample/test/profile.spec.ts
  samples/msal-react-samples/package.json
  samples/msal-react-samples/react-router-sample/package.json
  samples/msal-react-samples/react-router-sample/test/home.spec.ts
  samples/msal-react-samples/react-router-sample/test/profile.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileRawContext.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileWithMsal.spec.ts
  samples/msal-react-samples/typescript-sample/package.json
  samples/msal-react-samples/typescript-sample/test/home.spec.ts
  samples/msal-react-samples/typescript-sample/test/profile.spec.ts
  samples/package-lock.json
  samples/package.json
Labels: samples
