Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2023-09, with the labels that each got.

#6420 Remove browser internals
  change/@azure-msal-browser-9c938d32-8e2c-438b-a467-8c5054a005f0.json
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/internals.ts
Labels: msal-browser

#6416 Declass encoder/decoder for reduced size
  change/@azure-msal-browser-a12bca4f-39ee-49e6-bd21-5e6af072d408.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/crypto/PkceGenerator.ts
  lib/msal-browser/src/encode/Base64Decode.ts
  lib/msal-browser/src/encode/Base64Encode.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/encode/Base64Decode.spec.ts
  lib/msal-browser/test/encode/Base64Encode.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  shared-configs/jest-config/setupCrypto.cjs
Labels: msal-browser

#6414 Refactor BrowserAuthError for reduced size
  change/@azure-msal-browser-a0f92508-0653-446b-bec8-71a2fc8fa299.json
  lib/msal-browser/src/broker/nativeBroker/NativeMessageHandler.ts
  lib/msal-browser/src/cache/AsyncMemoryStorage.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/DatabaseStorage.ts
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/crypto/PkceGenerator.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/error/BrowserAuthErrorCodes.ts
  lib/msal-browser/src/error/NativeAuthError.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentAuthCodeClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/src/network/FetchClient.ts
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/AsyncMemoryStorage.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/error/BrowserAuthError.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentAuthCodeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentRefreshClient.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
Labels: msal-browser

#6423 Declass AuthToken to reduce size
  change/@azure-msal-browser-34c0438b-f49b-4a5b-9dbb-a8d2f75490c0.json
  change/@azure-msal-common-ba7c3a7c-1efd-4c64-8334-0f3526d9ff75.json
  change/@azure-msal-node-219d5271-2105-4edb-a9f6-3857b4166bd8.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/crypto/SignedHttpRequest.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentCacheClient.spec.ts
  lib/msal-common/src/account/AuthToken.ts
  lib/msal-common/src/account/DecodedAuthToken.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccessTokenEntity.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/utils/StringUtils.ts
  lib/msal-common/test/account/AuthToken.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/utils/StringUtils.spec.ts
  lib/msal-node/src/client/OnBehalfOfClient.ts
  lib/msal-node/test/client/ClientCredentialClient.spec.ts
  lib/msal-node/test/client/DeviceCodeClient.spec.ts
  lib/msal-node/test/client/OnBehalfOfClient.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/client/UsernamePasswordClient.spec.ts
  lib/msal-node/test/config/ClientConfiguration.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
Labels: msal-node, msal-browser, msal-common

#6421 Add linter rule to avoid floating promises
  change/@azure-msal-angular-de843dc6-ff38-46cb-944a-81da50a6bb93.json
  change/@azure-msal-browser-bd7e8e49-e6ff-40e9-8e70-99a5d056e6bd.json
  change/@azure-msal-common-3e6a801a-598c-4784-b650-456c7eb4448e.json
  change/@azure-msal-node-d298521d-438b-423f-a804-72e480fc63b0.json
  change/@azure-msal-react-972f14c3-0299-4dbc-a0ab-7a0d8fe7fc89.json
  lib/msal-angular/src/msal.navigation.client.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ClientCredentialClient.ts
  lib/msal-react/src/MsalProvider.tsx
  shared-configs/eslint-config-msal/index.js
Labels: msal-angular, msal-node, msal-browser, msal-common, msal-react

#6430 Clear claims when config is set to not cache them
  change/@azure-msal-browser-46529c09-2882-4474-b16f-4a2618135b84.json
  change/@azure-msal-common-3ea6df33-837c-413c-81a7-535d1433b43c.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: msal-browser, msal-common

#6429 September 2023 LTS post-release
  change/@azure-msal-node-0c184c58-8ad4-44a3-88b2-f3ba10bc37fc.json
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package-lock.json
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
Labels: documentation, msal-node

#6417 MSAL Node Documentation Update
  lib/msal-node/docs/caching.md
  lib/msal-node/docs/certificate-credentials.md
  lib/msal-node/docs/initialize-confidential-client-application.md
  lib/msal-node/docs/regional-authorities.md
  lib/msal-node/docs/request.md
  lib/msal-node/docs/sni.md
  samples/msal-node-samples/auth-code-with-certs/README.md
  samples/msal-node-samples/auth-code-with-certs/index.js
Labels: documentation, samples, msal-node

#6442 Remove `files` from `package.json` that breaks packaging/deploying
  change/@azure-msal-angular-d4b3f72c-ad95-4ea2-8a4b-647d15e122c2.json
  lib/msal-angular/package.json
Labels: msal-angular

#6444 `msal-angular@3.0.4` patch release
  change/@azure-msal-angular-d4b3f72c-ad95-4ea2-8a4b-647d15e122c2.json
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  package-lock.json
Labels: documentation, msal-angular

#6448 Reconcile react hooks docs
  lib/msal-react/docs/hooks.md
Labels: documentation, msal-react

#6454 Vue3 sample update
  samples/msal-browser-samples/vue3-sample-app/README.md
  samples/msal-browser-samples/vue3-sample-app/package.json
  samples/msal-browser-samples/vue3-sample-app/src/composition-api/useMsal.ts
Labels: documentation, samples

#6450 Typo in JSDoc of deprecated BrowserAuthErrorMessage
  change/@azure-msal-browser-e4c3386d-0fd8-4875-bef9-4c16a6b530b1.json
  lib/msal-browser/src/error/BrowserAuthError.ts
Labels: msal-browser

#6433 Refactor ClientAuthError for reduced size
  change/@azure-msal-browser-c5e0ae79-ede6-4b7d-bbed-ce6d56dd1244.json
  change/@azure-msal-common-f7b47241-6ade-4ca5-9554-66109a37181e.json
  change/@azure-msal-node-63afe666-fcae-412e-9c78-de0f5985a4d4.json
  change/@azure-msal-node-extensions-dec6b17c-b5f8-47e1-a7d1-d5ad7bd6c4cd.json
  extensions/msal-node-extensions/src/broker/NativeBrokerPlugin.ts
  extensions/msal-node-extensions/test/broker/NativeBrokerPlugin.spec.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/utils/BrowserProtocolUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/account/AuthToken.ts
  lib/msal-common/src/account/ClientInfo.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccessTokenEntity.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/cache/entities/CredentialEntity.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/error/ClientAuthErrorCodes.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/network/NetworkManager.ts
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/url/UrlString.ts
  lib/msal-common/src/utils/ProtocolUtils.ts
  lib/msal-common/test/account/ClientInfo.spec.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/authority/AuthorityFactory.spec.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/error/ClientAuthError.spec.ts
  lib/msal-common/test/error/ClientConfigurationError.spec.ts
  lib/msal-common/test/network/NetworkManager.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ClientAssertion.ts
  lib/msal-node/src/client/ClientCredentialClient.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/DeviceCodeClient.ts
  lib/msal-node/src/client/OnBehalfOfClient.ts
  lib/msal-node/test/client/ClientCredentialClient.spec.ts
  lib/msal-node/test/client/ClientTestUtils.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/DeviceCodeClient.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: msal-node, msal-browser, msal-common, extensions

#6467 Fix telemetry event name for monitorIframeForHash
  change/@azure-msal-browser-8a5b0a50-0d30-4bc7-b21a-37b0f7794037.json
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
Labels: msal-browser

#6354 Add DSTS not supported disclaimer
  lib/msal-common/docs/authority.md
Labels: documentation, msal-common

#6468 Created new tuple return type for ClientCredential flow getCachedAuthenticationResult
  lib/msal-node/src/client/ClientCredentialClient.ts
Labels: msal-node

#6465 Created new tuple return type for SilentFlow acquireCachedToken
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
  lib/msal-node/src/client/ClientCredentialClient.ts
Labels: msal-node, msal-browser, msal-common

#6397 Modified refreshOn in MSAL Common Silent Flow to return cached token before refreshing in the background
  change/@azure-msal-browser-f6a54d29-004d-4e99-bac3-fb735458bf71.json
  change/@azure-msal-common-16723fc9-92d5-4e15-bdbf-624eaad74267.json
  change/@azure-msal-node-27a14f08-37a7-4b94-9b31-44d78db5642d.json
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
  lib/msal-node/src/client/ClientCredentialClient.ts
  lib/msal-node/test/client/ClientCredentialClient.spec.ts
Labels: msal-node, msal-browser, msal-common

#6471 Refactor ClientConfigurationError for reduced size
  change/@azure-msal-browser-2371f642-15f7-418b-b0eb-478ebfe797c9.json
  change/@azure-msal-common-2dae59c0-931f-4126-867c-39b49325a100.json
  change/@azure-msal-node-0f410c01-7239-44d3-a661-42aec5a0ce15.json
  change/@azure-msal-node-extensions-40632d59-399b-4cd5-8d35-ff7522754894.json
  extensions/msal-node-extensions/src/broker/NativeBrokerPlugin.ts
  extensions/msal-node-extensions/test/broker/NativeBrokerPlugin.spec.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/test/config/Configuration.spec.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/error/ClientConfigurationError.ts
  lib/msal-common/src/error/ClientConfigurationErrorCodes.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/request/AuthenticationHeaderParser.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/request/RequestValidator.ts
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-common/src/url/UrlString.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/error/ClientConfigurationError.spec.ts
  lib/msal-common/test/request/AuthenticationHeaderParser.spec.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
  lib/msal-common/test/request/RequestValidator.spec.ts
  lib/msal-common/test/url/UrlString.spec.ts
  lib/msal-node/src/index.ts
Labels: msal-node, msal-browser, msal-common, extensions

#6472 Refactor InteractionRequiredAuthError for reduced size
  change/@azure-msal-browser-23d5857f-e4f7-4a39-865c-eeb31a815795.json
  change/@azure-msal-common-7d1608da-6ca8-4253-87e5-8ded3a84b1b2.json
  change/@azure-msal-node-c8582c37-aa2d-48ac-93e9-7685a61fbe61.json
  lib/msal-browser/src/error/NativeAuthError.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/error/InteractionRequiredAuthError.ts
  lib/msal-common/src/error/InteractionRequiredAuthErrorCodes.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/error/InteractionRequiredAuthError.spec.ts
  lib/msal-node/src/index.ts
Labels: msal-node, msal-browser, msal-common

#6473 Refactor BrowserConfigurationAuthError for reduced size
  change/@azure-msal-browser-983aff1b-3c76-4c2f-a960-715c58758e34.json
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/error/BrowserConfigurationAuthError.ts
  lib/msal-browser/src/error/BrowserConfigurationAuthErrorCodes.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/error/BrowserConfigurationAuthError.spec.ts
Labels: msal-browser

#6482 Fix Node PCA tests
  change/@azure-msal-node-599c3080-3d1d-4823-b22d-0957fc717e33.json
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/client/test-fixtures.ts
Labels: msal-node

#6484 Update measurements to use invoke
  change/@azure-msal-browser-4b59ec24-18be-486e-8bb9-33d5262c4a0f.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/SilentAuthCodeClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
Labels: msal-browser

#6474 v3 sample updates
  samples/msal-angular-v3-samples/README.md
  samples/msal-angular-v3-samples/angular-b2c-sample-app/README.md
  samples/msal-browser-samples/HybridSample/README.md
  samples/msal-browser-samples/VanillaJSTestApp2.0/Readme.md
  samples/msal-react-samples/b2c-sample/README.md
Labels: documentation, samples

#6480 Add missing queue measurement instrumentation
  change/@azure-msal-browser-04773aa7-241f-46b8-a0bc-d428c0450fd6.json
  change/@azure-msal-common-127cd9c3-5d9f-486c-baf0-69220ce6f46b.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: msal-browser, msal-common

#6479 Fix dead link in Angular docs
  lib/msal-angular/docs/events.md
Labels: documentation, msal-angular

#6486 Update msal-common functions to use invoke
  change/@azure-msal-browser-75256e46-a751-4dd1-a761-d41762550e3e.json
  change/@azure-msal-common-1fa55f0a-661e-44fd-a36a-049a3646c7cc.json
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/StandardInteractionClient.spec.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/authority/RegionDiscovery.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
Labels: msal-browser, msal-common

#6494 Set TypeScript composite: false
  change/@azure-msal-browser-651ea081-203f-4c34-9d93-450d948d45df.json
  change/@azure-msal-common-af89001e-29b7-4895-ba07-a2d2e38be634.json
  change/@azure-msal-node-9a4635e1-8f4e-49a4-ad0c-790a30783084.json
  change/@azure-msal-node-extensions-bf0066b9-b6ab-4d4e-8554-fb4bd95ebc37.json
  change/@azure-msal-react-1fde2465-8fb0-4475-ace3-9ca1f57f7b6f.json
  extensions/msal-node-extensions/tsconfig.json
  lib/msal-browser/tsconfig.json
  lib/msal-common/tsconfig.json
  lib/msal-node/tsconfig.json
  lib/msal-react/tsconfig.json
Labels: msal-node, msal-browser, msal-common, msal-react, extensions

#6497 Refactor remaining errors for reduced size
  change/@azure-msal-browser-73b47096-e047-42b6-aafa-62092fae41b8.json
  change/@azure-msal-common-f0365a5d-2dab-4a72-9e2f-6f3c4ec128e8.json
  change/@azure-msal-node-75fbe005-c642-481d-aa84-f9a754e8973e.json
  lib/msal-browser/src/broker/nativeBroker/NativeMessageHandler.ts
  lib/msal-browser/src/broker/nativeBroker/NativeStatusCodes.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/error/NativeAuthError.ts
  lib/msal-browser/src/error/NativeAuthErrorCodes.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/error/NativeAuthError.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/crypto/ICrypto.ts
  lib/msal-common/src/crypto/JoseHeader.ts
  lib/msal-common/src/error/AuthError.ts
  lib/msal-common/src/error/AuthErrorCodes.ts
  lib/msal-common/src/error/ClientAuthError.ts
  lib/msal-common/src/error/ClientAuthErrorCodes.ts
  lib/msal-common/src/error/JoseHeaderError.ts
  lib/msal-common/src/error/JoseHeaderErrorCodes.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/network/INetworkModule.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/crypto/JoseHeader.spec.ts
  lib/msal-common/test/error/AuthError.spec.ts
  lib/msal-common/test/error/JoseHeaderError.spec.ts
  lib/msal-node/src/client/DeviceCodeClient.ts
  lib/msal-node/src/index.ts
  lib/msal-node/test/client/DeviceCodeClient.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
Labels: msal-node, msal-browser, msal-common

#6499 Add getAccount and enhance account filtering
  change/@azure-msal-browser-6f2b966a-5834-4a13-ac5f-1fb959f84f21.json
  change/@azure-msal-common-e093d3c1-cd87-4a95-a158-de9361175c5f.json
  lib/msal-browser/docs/accounts.md
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/controllers/IController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/docs/Accounts.md
  lib/msal-common/src/account/AccountInfo.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/utils/CacheTypes.ts
  lib/msal-common/src/index.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/MockCache.ts
Labels: documentation, msal-browser, msal-common

#6512 Instrument Crypto APIs
  change/@azure-msal-browser-a42f4c95-e6b7-42fd-9f86-3e1eb633116c.json
  change/@azure-msal-common-d4f5a186-023f-4206-8f33-b15b00183000.json
  change/@azure-msal-node-9cd7fd0e-9f0d-4019-9263-a2dab97bf42f.json
  lib/msal-browser/src/broker/nativeBroker/NativeMessageHandler.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/crypto/ISubtleCrypto.ts
  lib/msal-browser/src/crypto/ModernBrowserCrypto.ts
  lib/msal-browser/src/crypto/PkceGenerator.ts
  lib/msal-browser/src/event/EventHandler.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/broker/NativeMessageHandler.spec.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/crypto/PkceGenerator.spec.ts
  lib/msal-browser/test/crypto/SignedHttpRequest.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentRefreshClient.spec.ts
  lib/msal-browser/test/interaction_client/StandardInteractionClient.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-common/src/crypto/ICrypto.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/src/utils/FunctionWrappers.ts
  lib/msal-common/test/account/AuthToken.spec.ts
  lib/msal-common/test/account/ClientInfo.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/utils/ProtocolUtils.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
Labels: msal-node, msal-browser, msal-common

#6481 Fix LoopbackClient issues
  change/@azure-msal-node-39e73949-d74f-49f7-a2f2-81bb0894f26e.json
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/network/LoopbackClient.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: msal-node

#6521 Use the proper algo name for `window.crypto.subtle.digest()`
  change/@azure-msal-browser-7b151f4f-a184-408f-8f1a-e5624b802234.json
  lib/msal-browser/src/crypto/BrowserCrypto.ts
Labels: msal-browser

#6517 V3 sample updates
  samples/msal-angular-v3-samples/angular-b2c-sample-app/package.json
  samples/msal-angular-v3-samples/angular-standalone-sample/package.json
  samples/msal-angular-v3-samples/angular15-sample-app/package.json
  samples/msal-angular-v3-samples/angular16-sample-app/package.json
  samples/msal-browser-samples/HybridSample/package.json
  samples/msal-browser-samples/TestingSample/package.json
  samples/msal-browser-samples/TypescriptTestApp2.0/package.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/b2c/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/instanceAware/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/navigateToLoginPage/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/navigateToLoginPage/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssh/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilent/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilentNoHint/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/package.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/package.json
  samples/msal-node-samples/ElectronTestApp/package.json
  samples/msal-node-samples/auth-code-cli-app/package.json
  samples/msal-node-samples/auth-code-cli-brokered-app/package.json
  samples/msal-node-samples/auth-code-pkce/package.json
  samples/msal-node-samples/auth-code/package.json
  samples/msal-node-samples/b2c-user-flows/package.json
  samples/msal-node-samples/device-code/package.json
  samples/msal-node-samples/silent-flow/package.json
  samples/msal-node-samples/username-password-cca/package.json
  samples/msal-node-samples/username-password/package.json
  samples/msal-react-samples/b2c-sample/package.json
  samples/msal-react-samples/gatsby-sample/package.json
  samples/msal-react-samples/nextjs-sample/package.json
  samples/msal-react-samples/react-router-sample/package.json
  samples/msal-react-samples/typescript-sample/package.json
Labels: samples
