Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2023-02, with the labels that each got.

#5599 proxyUrl is now passed to msal-node's httpClient via it's constructor
  change/@azure-msal-browser-bd28f496-a49b-49bf-bdc2-bf3d9da03741.json
  change/@azure-msal-common-9d24bf22-c306-4aea-8275-d1c166464cc8.json
  change/@azure-msal-node-408ac5f1-c288-4331-8370-f4709a3db79d.json
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/authority/ImdsOptions.ts
  lib/msal-common/src/authority/RegionDiscovery.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/network/INetworkModule.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/network/HttpClient.ts
  lib/msal-node/test/network/HttpClient.spec.ts
Labels: msal-node, msal-browser, msal-common

#5627 Truncate integral telemetry fields
  change/@azure-msal-common-f0ffeb92-455e-492c-8572-513a8654cb54.json
  lib/msal-common/src/index.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: msal-common

#5641 Export browser telemetry classes
  change/@azure-msal-browser-155723c9-4cdd-4f92-a281-0f53526409cb.json
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/internals.ts
Labels: msal-browser

#5638 Add extensions to metadata update script
  change/@azure-msal-node-extensions-d8d8732b-4dd9-4779-8dc4-5d0867e51d89.json
  extensions/msal-node-extensions/src/packageMetadata.ts
  extensions/msal-node-extensions/tsconfig.json
  lerna.json
  release-scripts/updateVersion.js
Labels: extensions

#5585 Update React and React-dom in React router sample
  samples/msal-react-samples/react-router-sample/package.json
Labels: samples

#5645 Update discardCache in PerformanceClient
  change/@azure-msal-common-561ebfb3-3186-4a91-933a-64d367f4f94f.json
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
Labels: msal-common

#5573 tokenQueryParameters are now sent to the /token endpoint for all Confidential Client flows
  change/@azure-msal-browser-09b253d8-3271-4ccb-aa4c-834e213cbfe2.json
  change/@azure-msal-common-47c38479-2f76-4779-b095-fd50e112915f.json
  change/@azure-msal-node-a37dcd93-77ce-4c8e-bdfb-6437145819be.json
  lib/msal-browser/src/request/EndSessionPopupRequest.ts
  lib/msal-browser/src/request/EndSessionRequest.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/ClientCredentialClient.ts
  lib/msal-common/src/client/DeviceCodeClient.ts
  lib/msal-common/src/client/OnBehalfOfClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/UsernamePasswordClient.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/request/CommonAuthorizationCodeRequest.ts
  lib/msal-common/src/request/CommonAuthorizationUrlRequest.ts
  lib/msal-common/src/request/CommonClientCredentialRequest.ts
  lib/msal-common/src/request/CommonDeviceCodeRequest.ts
  lib/msal-common/src/request/CommonEndSessionRequest.ts
  lib/msal-common/src/request/CommonOnBehalfOfRequest.ts
  lib/msal-common/src/request/CommonRefreshTokenRequest.ts
  lib/msal-common/src/request/CommonSilentFlowRequest.ts
  lib/msal-common/src/request/CommonUsernamePasswordRequest.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/request/RequestValidator.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/ClientCredentialClient.spec.ts
  lib/msal-common/test/client/DeviceCodeClient.spec.ts
  lib/msal-common/test/client/OnBehalfOfClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/client/UsernamePasswordClient.spec.ts
  lib/msal-node/src/request/AuthorizationCodeRequest.ts
  lib/msal-node/src/request/ClientCredentialRequest.ts
  lib/msal-node/src/request/DeviceCodeRequest.ts
  lib/msal-node/src/request/OnBehalfOfRequest.ts
  lib/msal-node/src/request/SilentFlowRequest.ts
  lib/msal-node/src/request/UsernamePasswordRequest.ts
Labels: msal-node, msal-browser, msal-common

#5626 Add Logging options to IPersistenceConfiguration.
  change/@azure-msal-node-extensions-8668eb8b-ec9f-46cd-a712-5c59e9cf5f5e.json
  extensions/msal-node-extensions/src/persistence/IPersistenceConfiguration.ts
  extensions/msal-node-extensions/src/persistence/PersistenceCreator.ts
Labels: extensions

#5594 Update React Router version from V5 to V6
  lib/msal-react/docs/performance.md
  samples/msal-react-samples/b2c-sample/package.json
  samples/msal-react-samples/b2c-sample/src/App.js
  samples/msal-react-samples/b2c-sample/src/utils/NavigationClient.js
  samples/msal-react-samples/react-router-sample/package.json
  samples/msal-react-samples/react-router-sample/src/App.js
  samples/msal-react-samples/react-router-sample/src/utils/NavigationClient.js
  samples/msal-react-samples/typescript-sample/package.json
  samples/msal-react-samples/typescript-sample/src/App.tsx
  samples/msal-react-samples/typescript-sample/src/utils/NavigationClient.ts
Labels: documentation, samples, msal-react

#5578 Allow adding custom loopback client in acquireTokenInteractive
  change/@azure-msal-node-a8c6ab7d-514e-4bf2-b17a-42bb0cdb5a22.json
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/index.ts
  lib/msal-node/src/network/ILoopbackClient.ts
  lib/msal-node/src/network/LoopbackClient.ts
  lib/msal-node/src/request/InteractiveRequest.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/package.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/AuthProvider.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/CustomLoopbackClient.ts
Labels: samples, msal-node

#5657 Post-release-feb
  extensions/msal-node-extensions/package-lock.json
  lib/msal-angular/package-lock.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/cdn-usage.md
  lib/msal-browser/package-lock.json
  lib/msal-common/package-lock.json
  lib/msal-node/package-lock.json
  lib/msal-react/package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#5663 Add logging instructions in a separate document
  lib/msal-browser/docs/images/BrowserLogEnablement.png
  lib/msal-browser/docs/logging.md
Labels: documentation, msal-browser

#5616 Allow Native Broker by default
  change/@azure-msal-browser-f65d405e-9ee0-464a-92f9-19ce5ecaf595.json
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/test/app/PCANonBrowser.spec.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-react/test/MsalProvider.spec.tsx
  lib/msal-react/test/components/AuthenticatedTemplate.spec.tsx
  lib/msal-react/test/components/MsalAuthenticationTemplate.spec.tsx
  lib/msal-react/test/components/UnauthenticatedTemplate.spec.tsx
  lib/msal-react/test/components/withMsal.spec.tsx
  samples/msal-angular-v2-samples/angular-b2c-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular10-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular12-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular13-rxjs6-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular13-rxjs7-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular14-rxjs6-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular14-rxjs7-sample-app/src/app/app.module.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/src/app/app.component.spec.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/src/app/app.module.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/b2c/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfigs/aadAuthConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfigs/b2cAuthConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfigs/localStorageAuthConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfigs/memStorageAuthConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/testConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ie11-sample/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/instanceAware/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/navigateToLoginPage/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssh/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilent/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilentNoHint/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/wamBroker/authConfig.js
  samples/msal-react-samples/b2c-sample/src/authConfig.js
  samples/msal-react-samples/gatsby-sample/src/authConfig.js
  samples/msal-react-samples/nextjs-sample/src/authConfig.js
  samples/msal-react-samples/react-18-sample/src/authConfig.js
  samples/msal-react-samples/react-router-sample/src/authConfig.js
  samples/msal-react-samples/typescript-sample/src/authConfig.ts
  samples/package-lock.json
Labels: samples, msal-browser, msal-react

#5665 Update rollup and associated plugins to latest versions
  lib/msal-browser/package-lock.json
  lib/msal-browser/package.json
  lib/msal-browser/rollup.config.js
  lib/msal-common/package-lock.json
  lib/msal-common/package.json
  lib/msal-common/rollup.config.js
Labels: msal-browser, msal-common

#5685 Mitigate jsonwebtoken vulnerability in samples
  samples/msal-node-samples/on-behalf-of/web-api/package.json
  samples/package-lock.json
Labels: samples

#5671 Update auth.js
  samples/msal-browser-samples/ChromiumExtensionSample/auth.js
Labels: samples

#5687 Add Lab API param appPlatform to e2eTestUtils
  samples/e2eTestUtils/Constants.ts
  samples/e2eTestUtils/LabApiQueryParams.ts
  samples/e2eTestUtils/LabClient.ts
Labels: samples

#5649 Increase the number of retries for e2e tests
  samples/e2eTestUtils/TestUtils.ts
  samples/msal-angular-v2-samples/angular-b2c-sample-app/test/local-account.spec.ts
  samples/msal-angular-v2-samples/angular-b2c-sample-app/test/msa-account.spec.ts
  samples/msal-angular-v2-samples/angular10-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular10-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/detail.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/lazy.spec.ts
  samples/msal-angular-v2-samples/angular11-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular12-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular12-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular13-rxjs6-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular13-rxjs6-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular13-rxjs7-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular13-rxjs7-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular14-rxjs6-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular14-rxjs6-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular14-rxjs7-sample-app/test/home.spec.ts
  samples/msal-angular-v2-samples/angular14-rxjs7-sample-app/test/profile.spec.ts
  samples/msal-angular-v2-samples/angular9-v2-sample-app/test/home.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-aad-agc-confidential.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-aad-agc-public.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-aad.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-adfs.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-aad.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-local.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-msa.spec.ts
  samples/msal-node-samples/b2c-user-flows/test/user-flows-local.spec.ts
  samples/msal-node-samples/b2c-user-flows/test/user-flows-msa.spec.ts
  samples/msal-node-samples/client-credentials/test/client-credentials-aad-agc.spec.ts
  samples/msal-node-samples/client-credentials/test/client-credentials-aad.spec.ts
  samples/msal-node-samples/device-code/test/device-code-aad-agc.spec.ts
  samples/msal-node-samples/device-code/test/device-code-aad.spec.ts
  samples/msal-node-samples/device-code/test/device-code-adfs.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-aad-agc-confidential.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-aad-agc-public.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-aad.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-adfs.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-aad.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-local.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-msa.spec.ts
  samples/msal-react-samples/b2c-sample/test/local-account.spec.ts
  samples/msal-react-samples/b2c-sample/test/msa-account.spec.ts
  samples/msal-react-samples/gatsby-sample/test/home.spec.ts
  samples/msal-react-samples/gatsby-sample/test/profile.spec.ts
  samples/msal-react-samples/nextjs-sample/test/home.spec.ts
  samples/msal-react-samples/nextjs-sample/test/profile.spec.ts
  samples/msal-react-samples/react-router-sample/test/home.spec.ts
  samples/msal-react-samples/react-router-sample/test/profile.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileRawContext.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileWithMsal.spec.ts
  samples/msal-react-samples/typescript-sample/test/home.spec.ts
  samples/msal-react-samples/typescript-sample/test/profile.spec.ts
Labels: samples

#5686 Mitigate ua-parser-js vulnerability in msal-angular
  change/@azure-msal-angular-f9ab7eec-c875-4706-8067-41fe6d7098db.json
  lib/msal-angular/package-lock.json
Labels: msal-angular

#5684 Update MSAL browser sample to use Playwright
  samples/msal-browser-samples/TestingSample/.babelrc
  samples/msal-browser-samples/TestingSample/Readme.md
  samples/msal-browser-samples/TestingSample/jest-puppeteer.config.js
  samples/msal-browser-samples/TestingSample/jest.config.js
  samples/msal-browser-samples/TestingSample/package.json
  samples/msal-browser-samples/TestingSample/playwright.config.ts
  samples/msal-browser-samples/TestingSample/test/browser-test.spec.ts
  samples/msal-browser-samples/TestingSample/tsconfig.base.json
  samples/msal-browser-samples/TestingSample/tsconfig.json
Labels: documentation, samples

#5695 fixing get account entity from cache using native account id
  change/@azure-msal-common-ac79c211-9b36-4a75-9361-2af37685251f.json
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
Labels: msal-common

#5676 Reduce telemetry RAM footprint and improve usability/readability
  change/@azure-msal-browser-2992e7a0-6d2e-409b-a1c6-ab266bde1b54.json
  change/@azure-msal-common-c77963f6-2670-4773-9fb1-2e9092bfec7f.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
  lib/msal-browser/src/telemetry/BrowserPerformanceMeasurement.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/telemetry/performance/IPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: msal-browser, msal-common

#5681 Reduce `preQueueTimeByCorrelationId` RAM footprint
  change/@azure-msal-browser-0008266c-881d-4acc-84f1-0ce6773593a7.json
  change/@azure-msal-common-03c582a6-40c2-4307-8e8f-652813550479.json
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/telemetry/performance/IPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: msal-browser, msal-common

#5718 Remove deprecated telemetry event `flushMeasurement()` function
  change/@azure-msal-browser-50b46906-3657-41b7-a4de-ea307d9dd5b1.json
  change/@azure-msal-common-a9377ff1-3683-40b4-bd59-78b4d576ea0e.json
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-common/src/telemetry/performance/IPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
Labels: msal-browser, msal-common

#5698 Capture WAM bridge telemetry data points
  change/@azure-msal-browser-f55044ef-6dc4-4b0c-8422-39efb069b33a.json
  change/@azure-msal-common-5c1774a8-030d-4ab4-a67e-bb8ed28e77b2.json
  lib/msal-browser/src/app/ClientApplication.ts
  lib/msal-browser/src/broker/nativeBroker/NativeMessageHandler.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/broker/NativeMessageHandler.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/utils/TelemetryUtils.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: msal-browser, msal-common

#5692 Export internal classes
  change/@azure-msal-browser-1d161695-5cf6-4f1b-83cd-5dfaa0de0457.json
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/internals.ts
Labels: msal-browser
