Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2024-12, with the labels that each got.

#7448 Update sni.md
  lib/msal-node/docs/sni.md
Labels: documentation, msal-node

#7443 Fix missing comma in code sample (token-lifetimes.md msal-browser)
  lib/msal-browser/docs/token-lifetimes.md
Labels: documentation, msal-browser

#7457 Skip hanging tests
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: msal-node

#7449 Prioritize loginHint and session id over active account for authorization request
  change/@azure-msal-browser-4f4e2403-8565-4abf-a0ad-39cb1c4d1bbb.json
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/interaction_client/StandardInteractionClient.spec.ts
Labels: msal-browser

#7446 Refactor storage implementations
  change/@azure-msal-browser-d1b0bab1-3047-4d94-93f7-3ddab7abdb79.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/BrowserStorage.ts
  lib/msal-browser/src/cache/CookieStorage.ts
  lib/msal-browser/src/cache/LocalStorage.ts
  lib/msal-browser/src/cache/SessionStorage.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/CookieStorage.spec.ts
Labels: documentation, msal-browser

#7471 Improved JSDoc in CertificateUtils.ts
  samples/e2eTestUtils/src/CertificateUtils.ts
Labels: samples

#7447 MSAL-Node Samples - console.log + error Improvements
  extensions/samples/msal-node-extensions/index.js
  samples/msal-browser-samples/HybridSample/routes/auth.js
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/AuthProvider.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/CachePlugin.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/Main.ts
  samples/msal-node-samples/ElectronTestApp/src/AuthProvider.ts
  samples/msal-node-samples/ElectronTestApp/src/CachePlugin.ts
  samples/msal-node-samples/auth-code-cli-app/src/graph.js
  samples/msal-node-samples/auth-code-cli-app/src/index.js
  samples/msal-node-samples/auth-code-cli-brokered-app/src/graph.js
  samples/msal-node-samples/auth-code-distributed-cache/src/AuthProvider.ts
  samples/msal-node-samples/auth-code-distributed-cache/src/PartitionManager.ts
  samples/msal-node-samples/auth-code-distributed-cache/src/RedisClientWrapper.ts
  samples/msal-node-samples/auth-code-distributed-cache/src/app.ts
  samples/msal-node-samples/auth-code-key-vault/index.js
  samples/msal-node-samples/auth-code-pkce/src/index.ts
  samples/msal-node-samples/auth-code-with-certs/index.js
  samples/msal-node-samples/auth-code/README.md
  samples/msal-node-samples/auth-code/index.js
  samples/msal-node-samples/cachePlugin.js
  samples/msal-node-samples/client-credentials-distributed-cache/src/AuthProvider.ts
  samples/msal-node-samples/client-credentials-distributed-cache/src/RedisClientWrapper.ts
  samples/msal-node-samples/client-credentials-distributed-cache/src/index.ts
  samples/msal-node-samples/client-credentials-with-cert-from-key-vault/app.ts
  samples/msal-node-samples/client-credentials/index.js
  samples/msal-node-samples/client-credentials/test/client-credentials-aad-agc.spec.ts
  samples/msal-node-samples/client-credentials/test/client-credentials-aad.spec.ts
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/app.ts
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/express.ts
  samples/msal-node-samples/on-behalf-of-distributed-cache/src/AuthProvider.ts
  samples/msal-node-samples/on-behalf-of-distributed-cache/src/RedisClientWrapper.ts
  samples/msal-node-samples/on-behalf-of-distributed-cache/src/TokenValidator.ts
  samples/msal-node-samples/on-behalf-of-distributed-cache/src/app.ts
  samples/msal-node-samples/on-behalf-of/web-api/index.js
  samples/msal-node-samples/on-behalf-of/web-app/index.js
  samples/msal-node-samples/refresh-token/README.md
  samples/msal-node-samples/refresh-token/adalApp.js
  samples/msal-node-samples/refresh-token/adalCustomCache.js
  samples/msal-node-samples/refresh-token/msalApp.js
  samples/msal-node-samples/refresh-token/msalCachePlugin.js
  samples/msal-node-samples/silent-flow/index.js
  samples/msal-node-samples/silent-flow/resourceApi.js
  samples/msal-node-samples/username-password-cca/index.js
  samples/msal-node-samples/username-password/index.js
Labels: documentation, samples, extensions

#7454 MSAL-Node Tests: Fixed file extensions on all imports & added MS license to all files
  change/@azure-msal-node-0b261ae5-3f99-43b5-b087-db1df2648195.json
  lib/msal-node/test/cache/Storage.spec.ts
  lib/msal-node/test/cache/TokenCache.spec.ts
  lib/msal-node/test/cache/cacheConstants.ts
  lib/msal-node/test/cache/distributed/DistributedCachePlugin.spec.ts
  lib/msal-node/test/cache/serializer/Deserializer.spec.ts
  lib/msal-node/test/cache/serializer/Serializer.spec.ts
  lib/msal-node/test/client/ClientAssertion.spec.ts
  lib/msal-node/test/client/ClientCredentialClient.spec.ts
  lib/msal-node/test/client/ClientTestUtils.ts
  lib/msal-node/test/client/DeviceCodeClient.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/AppService.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/AzureArc.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/CloudShell.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/ServiceFabric.spec.ts
  lib/msal-node/test/client/OnBehalfOfClient.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/client/UsernamePasswordClient.spec.ts
  lib/msal-node/test/config/ClientConfiguration.spec.ts
  lib/msal-node/test/crypto/CryptoProvider.spec.ts
  lib/msal-node/test/crypto/GuidGenerator.spec.ts
  lib/msal-node/test/crypto/PkceGenerator.spec.ts
  lib/msal-node/test/network/HttpClient.spec.ts
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
  lib/msal-node/test/test_kit/StringConstants.ts
  lib/msal-node/test/utils/EncodingUtils.spec.ts
  lib/msal-node/test/utils/MockNativeBrokerPlugin.ts
  lib/msal-node/test/utils/MockUtils.ts
Labels: msal-node
