Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2024-05, with the labels that each got.

#7070 Managed Identity: ManagedIdentityTokenResponse's expires_in is now calculated correctly
  change/@azure-msal-node-49d49907-3102-4357-b19e-376b63d7fd97.json
  lib/msal-node/src/client/ManagedIdentitySources/BaseManagedIdentitySource.ts
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
Labels: msal-node

#7069 Do not register duplicate performance callbacks
  change/@azure-msal-common-cabd9dc0-2599-4440-b148-fbf5144aca71.json
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: msal-common

#7073 Fix uncaught exceptions in acquireTokenSilent
  change/@azure-msal-browser-94058809-8f02-4078-bdc6-02ff59c54ae3.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#7085 Migrate to Lab Vault Cert for E2E Tests
  .github/workflows/msal-angular-e2e.yml
  .github/workflows/msal-browser-e2e.yml
  .github/workflows/msal-node-e2e.yml
  .github/workflows/msal-react-e2e.yml
  .pipelines/3p-e2e.yml
  gen_env.ps1
  gen_env.sh
  package-lock.json
  samples/e2eTestUtils/package.json
  samples/e2eTestUtils/src/Constants.ts
  samples/e2eTestUtils/src/LabClient.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/package.json
  samples/msal-node-samples/auth-code/index.js
  samples/msal-node-samples/b2c-user-flows/index.js
Labels: samples

#7088 Fixed bug where dev-provided certificate was not being attached to client assertion
  change/@azure-msal-node-c008b934-0e82-4434-934d-285baed36417.json
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/test/client/ClientTestUtils.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/utils/CryptoKeys.ts
Labels: msal-node

#7092 Fix MSAL Angular samples failure path
  samples/msal-angular-v3-samples/angular-b2c-sample-app/src/app/failed/failed.component.ts
  samples/msal-angular-v3-samples/angular-standalone-sample/src/app/failed/failed.component.ts
  samples/msal-angular-v3-samples/angular15-sample-app/src/app/failed/failed.component.ts
  samples/msal-angular-v3-samples/angular16-sample-app/src/app/failed/failed.component.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/app/failed/failed.component.ts
Labels: samples

#7094 Bumped msal-node version
  change/@azure-msal-node-c008b934-0e82-4434-934d-285baed36417.json
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  package-lock.json
Labels: documentation, msal-node

#7095 Update README file to fix inconsistent variable naming
  lib/msal-node/docs/initialize-confidential-client-application.md
Labels: documentation, msal-node

#7102 `expiresIn` meta data for AT is miscalculated in hydrateCache()
  change/@azure-msal-browser-1d959757-8f76-4f7e-9838-21d5dfa5bd66.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#7063 Angular18 standalone sample app
  package-lock.json
  samples/msal-angular-v3-samples/README.md
  samples/msal-angular-v3-samples/angular18-standalone-sample/.editorconfig
  samples/msal-angular-v3-samples/angular18-standalone-sample/.gitignore
  samples/msal-angular-v3-samples/angular18-standalone-sample/.vscode/extensions.json
  samples/msal-angular-v3-samples/angular18-standalone-sample/.vscode/launch.json
  samples/msal-angular-v3-samples/angular18-standalone-sample/.vscode/tasks.json
  samples/msal-angular-v3-samples/angular18-standalone-sample/README.md
  samples/msal-angular-v3-samples/angular18-standalone-sample/angular.json
  samples/msal-angular-v3-samples/angular18-standalone-sample/jest.config.js
  samples/msal-angular-v3-samples/angular18-standalone-sample/package.json
  samples/msal-angular-v3-samples/angular18-standalone-sample/public/favicon.ico
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/app/app.component.css
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/app/app.component.html
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/app/app.component.spec.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/app/app.component.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/app/app.config.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/app/app.routes.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/app/failed/failed.component.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/app/home/home.component.html
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/app/home/home.component.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/app/profile/profile.component.html
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/app/profile/profile.component.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/environments/environment.dev.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/environments/environment.e2e.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/environments/environment.prod.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/environments/environment.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/index.html
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/main.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/src/styles.css
  samples/msal-angular-v3-samples/angular18-standalone-sample/test/home.spec.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/test/profile.spec.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/tsconfig.app.json
  samples/msal-angular-v3-samples/angular18-standalone-sample/tsconfig.json
  samples/msal-angular-v3-samples/angular18-standalone-sample/tsconfig.spec.json
Labels: documentation, samples

#7108 Update msal-angular v17 README.md
  samples/msal-angular-v3-samples/angular17-standalone-sample/README.md
Labels: documentation, samples

#7109 MSAL Angular samples e2e-test-utils update
  package-lock.json
  samples/msal-angular-v3-samples/angular-b2c-sample-app/package.json
  samples/msal-angular-v3-samples/angular-standalone-sample/package.json
  samples/msal-angular-v3-samples/angular15-sample-app/package.json
  samples/msal-angular-v3-samples/angular16-sample-app/package.json
  samples/msal-angular-v3-samples/angular17-standalone-sample/package.json
  samples/msal-angular-v3-samples/angular18-standalone-sample/README.md
  samples/msal-angular-v3-samples/angular18-standalone-sample/package.json
Labels: documentation, samples

#7093 API for Managed Identity to detect the current environment
  change/@azure-msal-node-57db4095-d80e-49e1-b4ca-835fe9d50cb3.json
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/client/ManagedIdentityApplication.ts
  lib/msal-node/src/client/ManagedIdentityClient.ts
  lib/msal-node/src/client/ManagedIdentitySources/AppService.ts
  lib/msal-node/src/client/ManagedIdentitySources/AzureArc.ts
  lib/msal-node/src/client/ManagedIdentitySources/CloudShell.ts
  lib/msal-node/src/client/ManagedIdentitySources/ServiceFabric.ts
  lib/msal-node/src/index.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ManagedIdentitySources/AppService.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/AzureArc.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/CloudShell.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/ServiceFabric.spec.ts
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
Labels: documentation, msal-node

#7113 Instrument preflight check errors
  change/@azure-msal-browser-06b8a8a2-ab19-4b21-ae81-9b8ebc68afe7.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#7112 Support CreatePCA pattern for NAA apps
  change/@azure-msal-browser-00455612-6510-4e44-9f9d-261720c76b5a.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/docs/initialization.md
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientNext.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/controllers/ControllerFactory.ts
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/operatingcontext/NestedAppOperatingContext.ts
  lib/msal-browser/src/operatingcontext/StandardOperatingContext.ts
  lib/msal-browser/src/operatingcontext/UnknownOperatingContext.ts
  samples/msal-browser-samples/OfficeAddin/src/taskpane/taskpane.js
Labels: documentation, samples, msal-browser

#7072 Supports caching in NAA apps
  change/@azure-msal-browser-557666fc-3079-4825-873f-f2b27715aa76.json
  lib/msal-browser/package.json
  lib/msal-browser/src/cache/AccountManager.ts
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/naa/BridgeAccountContext.ts
  lib/msal-browser/src/naa/BridgeCapabilities.ts
  lib/msal-browser/src/naa/BridgeProxy.ts
  lib/msal-browser/src/naa/BridgeRequestEnvelope.ts
  lib/msal-browser/src/naa/IBridgeProxy.ts
  lib/msal-browser/src/naa/InitContext.ts
  lib/msal-browser/src/naa/mapping/NestedAppAuthAdapter.ts
  lib/msal-browser/src/operatingcontext/NestedAppOperatingContext.ts
  lib/msal-browser/test/controllers/NestedAppAuthController.spec.ts
  lib/msal-browser/test/naa/BridgeProxy.spec.ts
  lib/msal-browser/test/naa/BridgeProxyConstants.ts
  package-lock.json
Labels: msal-browser

#7124 Angular 18 support changes
  lib/msal-angular/FAQ.md
  lib/msal-angular/README.md
  lib/msal-angular/docs/angular-universal.md
  lib/msal-angular/docs/configuration.md
  lib/msal-angular/docs/v2-v3-upgrade-guide.md
  package-lock.json
  samples/msal-angular-v3-samples/angular18-standalone-sample/package.json
Labels: documentation, msal-angular, samples

#7103 Update E2E Test Templates
  .pipelines/1p-e2e.yml
  .pipelines/3p-e2e.yml
  samples/msal-angular-v3-samples/angular-b2c-sample-app/package.json
  samples/msal-angular-v3-samples/angular-standalone-sample/package.json
  samples/msal-angular-v3-samples/angular15-sample-app/package.json
  samples/msal-angular-v3-samples/angular16-sample-app/package.json
  samples/msal-angular-v3-samples/angular17-standalone-sample/package.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/package.json
  samples/msal-node-samples/auth-code-cli-app/package.json
  samples/msal-node-samples/auth-code/package.json
  samples/msal-node-samples/b2c-user-flows/package.json
  samples/msal-node-samples/client-credentials/package.json
  samples/msal-node-samples/device-code/package.json
  samples/msal-node-samples/on-behalf-of/package.json
  samples/msal-node-samples/silent-flow/package.json
  samples/msal-react-samples/b2c-sample/package.json
  samples/msal-react-samples/gatsby-sample/package.json
  samples/msal-react-samples/nextjs-sample/package.json
  samples/msal-react-samples/react-router-sample/package.json
  samples/msal-react-samples/typescript-sample/package.json
Labels: samples

#6973 LTS March Release
  change/@azure-msal-browser-ab795cfe-4e94-4130-b525-1b73fdda6437.json
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package-lock.json
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
Labels: documentation, msal-angular, msal-browser, msal-react

#7129 Update api reports post-release
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-react/apiReview/msal-react.api.md
Labels: documentation, msal-node, msal-browser, msal-react

#7134 Instrument pre-redirect flow
  change/@azure-msal-browser-fb04ad0b-d40c-4ba6-9624-c149992139a0.json
  change/@azure-msal-common-8a8d0399-ce75-4c96-8610-51235fc88f04.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: documentation, msal-browser, msal-common

#7133 Fix LTS E2E tests
  .github/workflows/build-test-merge-group.yml
  .github/workflows/build-test-pr.yml
  .github/workflows/msal-angular-e2e.yml
  .github/workflows/msal-browser-e2e.yml
  .github/workflows/msal-core-e2e.yml
  .github/workflows/msal-node-e2e.yml
  .github/workflows/msal-react-e2e.yml
  .pipelines/1p-build.yml
  .pipelines/3p-e2e.yml
  samples/e2eTestUtils/Constants.ts
  samples/e2eTestUtils/LabClient.ts
  samples/e2eTestUtils/TestUtils.ts
  samples/msal-angular-v2-samples/angular-b2c-sample-app/package.json
  samples/msal-angular-v2-samples/angular10-sample-app/package.json
  samples/msal-angular-v2-samples/angular11-sample-app/package.json
  samples/msal-angular-v2-samples/angular12-sample-app/package.json
  samples/msal-angular-v2-samples/angular13-rxjs6-sample-app/package.json
  samples/msal-angular-v2-samples/angular13-rxjs7-sample-app/package.json
  samples/msal-angular-v2-samples/angular14-rxjs6-sample-app/package.json
  samples/msal-angular-v2-samples/angular14-rxjs7-sample-app/package.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/package.json
  samples/msal-node-samples/auth-code/package.json
  samples/msal-node-samples/b2c-user-flows/package.json
  samples/msal-node-samples/cliArgs.js
  samples/msal-node-samples/client-credentials/package.json
  samples/msal-node-samples/device-code/package.json
  samples/msal-node-samples/silent-flow/package.json
  samples/msal-react-samples/b2c-sample/package.json
  samples/msal-react-samples/gatsby-sample/package.json
  samples/msal-react-samples/nextjs-sample/package.json
  samples/msal-react-samples/react-router-sample/package.json
  samples/msal-react-samples/typescript-sample/package.json
Labels: samples

#7055 Backport hydrateCache() changes to 2.x
  .vscode/settings.json
  change/@azure-msal-browser-95141422-87f1-4a7b-a916-4a5ed71c293e.json
  change/@azure-msal-common-ce2a1472-ef95-489a-86b8-bb51c75621c3.json
  change/@azure-msal-node-487d8490-0c88-4e4b-82a8-bb613aa24786.json
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/event/EventHandler.spec.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/src/account/AccountInfo.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/OnBehalfOfClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-node/test/client/test-fixtures.ts
Labels: msal-node, msal-browser, msal-common
