Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2024-10, with the labels that each got.

#7335 Allow pop params for brokered flows
  change/@azure-msal-node-b12e3eee-b810-4217-8578-e4d655383620.json
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/request/InteractiveRequest.ts
  lib/msal-node/src/request/SilentFlowRequest.ts
Labels: documentation, msal-node

#7358 Replace E2E test MSA account
  samples/msal-angular-v3-samples/angular-b2c-sample-app/test/msa-account.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-msa.spec.ts
  samples/msal-node-samples/b2c-user-flows/test/user-flows-msa.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-msa.spec.ts
  samples/msal-react-samples/b2c-sample/test/msa-account.spec.ts
Labels: samples

#7357 msal-node e2e tests: cert_path -> certificate_path
  gen_env.ps1
  samples/e2eTestUtils/src/Constants.ts
  samples/e2eTestUtils/src/LabClient.ts
Labels: samples

#7355 Fixing window unavailable bugs for PCA and PBA
  change/@azure-msal-browser-1aaf2555-690a-4057-bfad-d93a65f8e0ca.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/test/app/PCANonBrowser.spec.ts
Labels: msal-browser

#7351 Add filters to the event callbacks
  change/@azure-msal-browser-0079bc35-534c-4b09-82c9-237339d3f96b.json
  lib/msal-angular/src/msal.broadcast.service.spec.ts
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientNext.ts
  lib/msal-browser/src/controllers/IController.ts
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/controllers/UnknownOperatingContextController.ts
  lib/msal-browser/src/event/EventHandler.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/event/EventHandler.spec.ts
Labels: documentation, msal-angular, msal-browser

#7360 PoP Support for Node when brokered
  change/@azure-msal-node-extensions-d62fddd6-6196-4003-a391-7c4d7ee1abc5.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/broker/NativeBrokerPlugin.ts
  extensions/msal-node-extensions/test/broker/NativeBrokerPlugin.spec.ts
  lib/msal-node/docs/brokering.md
  package-lock.json
Labels: documentation, msal-node, extensions

#7363 Cache fixes for NAA flow
  change/@azure-msal-browser-037431c8-489b-4264-887d-fa6930b1b941.json
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/test/controllers/NestedAppAuthController.spec.ts
  lib/msal-browser/test/naa/BridgeProxyConstants.ts
  lib/msal-browser/test/naa/MockBridge.ts
  lib/msal-browser/test/naa/NestedAppAuthAdapter.spec.ts
Labels: msal-browser

#7277 Fix typo
  samples/msal-node-samples/client-credentials/index.js
Labels: samples

#7235 Update MSAL.js ADFS documentation to describe requirement for Cross Origin Resource Sharing (CORS) headers
  lib/msal-common/docs/ADFS.md
Labels: documentation, msal-common

#7248 Spelling update in certificate-credentials.md
  lib/msal-node/docs/certificate-credentials.md
Labels: documentation, msal-node

#7333 Add types to logging callback function
  lib/msal-angular/docs/logging.md
Labels: documentation, msal-angular

#7364 Make clear synchronous in msal-node
  change/@azure-msal-common-a3185045-8846-4cd8-b6a2-5249378cee8f.json
  change/@azure-msal-node-15bde5e8-c664-477f-a42c-68429b903dcc.json
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/cache/NodeStorage.ts
  lib/msal-node/src/client/ClientApplication.ts
Labels: documentation, msal-node, msal-common

#7382 Revert "Bump package versions"
  change/@azure-msal-common-a3185045-8846-4cd8-b6a2-5249378cee8f.json
  change/@azure-msal-node-15bde5e8-c664-477f-a42c-68429b903dcc.json
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/CHANGELOG.md
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/packageMetadata.ts
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/apiReview/msal-react.api.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
  package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#7348 Add first order broker parameters
  change/@azure-msal-browser-fd66b3d2-1b28-4da3-8eef-5bdd24ae29f4.json
  change/@azure-msal-common-70b64dad-3795-4d31-8f99-693a330e4d86.json
  change/@azure-msal-node-c5094137-4ebe-49b6-97dc-26857eaec991.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/broker/nativeBroker/NativeRequest.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/naa/mapping/NestedAppAuthAdapter.ts
  lib/msal-browser/test/config/Configuration.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/constants/AADServerParamKeys.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/test/client/ClientTestUtils.ts
  lib/msal-node/test/test_kit/StringConstants.ts
Labels: documentation, msal-node, msal-browser, msal-common

#7376 Removed warnings from msal-node.api.md
  change/@azure-msal-node-4d1288f5-51f1-41c5-90c9-fbbe85ed7454.json
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/cache/NodeStorage.ts
  lib/msal-node/src/cache/distributed/DistributedCachePlugin.ts
  lib/msal-node/src/cache/distributed/ICacheClient.ts
  lib/msal-node/src/cache/distributed/IPartitionManager.ts
  lib/msal-node/src/cache/serializer/Deserializer.ts
  lib/msal-node/src/cache/serializer/Serializer.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ClientCredentialClient.ts
  lib/msal-node/src/client/DeviceCodeClient.ts
  lib/msal-node/src/client/OnBehalfOfClient.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/client/UsernamePasswordClient.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/crypto/CryptoProvider.ts
  lib/msal-node/src/index.ts
  lib/msal-node/src/packageMetadata.ts
  lib/msal-node/src/request/ManagedIdentityRequestParams.ts
  lib/msal-node/src/request/SignOutRequest.ts
Labels: documentation, msal-node

#7383 Fix misspelling
  lib/msal-node/docs/request.md
Labels: documentation, msal-node

#7385 Move correlationId to query string for /token calls
  change/@azure-msal-common-36ee3c61-5054-4e0a-8614-47950e257505.json
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-node/test/config/ClientConfiguration.spec.ts
Labels: documentation, msal-node, msal-common

#7386 Refactor NetworkManager into BaseClient
  change/@azure-msal-browser-5cdfa133-09ad-43b1-98be-3eab7c3c3518.json
  change/@azure-msal-common-2ed83dca-c370-4a86-82d8-6de354e85823.json
  change/@azure-msal-node-56c99a9e-cd9b-47cc-8e20-ce4c726aa816.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentAuthCodeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentRefreshClient.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/authority/RegionDiscovery.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/exports-common.ts
  lib/msal-common/src/network/INetworkModule.ts
  lib/msal-common/src/network/NetworkManager.ts
  lib/msal-common/src/network/NetworkResponse.ts
  lib/msal-common/src/network/ThrottlingUtils.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/BaseClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/network/NetworkManager.spec.ts
  lib/msal-common/test/network/ThrottlingUtils.spec.ts
  lib/msal-node/src/client/DeviceCodeClient.ts
  lib/msal-node/src/utils/NetworkUtils.ts
  lib/msal-node/test/network/HttpClient.spec.ts
Labels: documentation, msal-node, msal-browser, msal-common

#7387 Add additional telemetry for POST request failures
  change/@azure-msal-browser-e9f172e6-4b83-4d1b-ba32-63d3ed65e1d1.json
  change/@azure-msal-common-c85d0ff2-b5d3-42a5-81e4-db5e5046bf2c.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/error/BrowserAuthErrorCodes.ts
  lib/msal-browser/src/network/FetchClient.ts
  lib/msal-browser/test/network/FetchClient.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/error/NetworkError.ts
  lib/msal-common/src/exports-common.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/src/utils/Constants.ts
Labels: documentation, msal-browser, msal-common

#7394 Collect additional telemetry for crypto/runtime errors
  change/@azure-msal-browser-a7e3c096-c445-4017-9b15-e9c0a67e1aa4.json
  change/@azure-msal-common-e50cbab0-daa5-497d-af15-caeed7c34e6c.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: documentation, msal-browser, msal-common

#7397 Replace MSA lab account with hardcoded UPN
  samples/e2eTestUtils/src/Constants.ts
  samples/e2eTestUtils/src/index.ts
  samples/msal-angular-v3-samples/angular-b2c-sample-app/test/msa-account.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-msa.spec.ts
  samples/msal-node-samples/b2c-user-flows/test/user-flows-msa.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-msa.spec.ts
  samples/msal-react-samples/b2c-sample/test/msa-account.spec.ts
Labels: samples

#7354 Region auto enable on env variable
  change/@azure-msal-node-b449273d-2a9c-4b34-a210-42f3b3ac9868.json
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
Labels: msal-node
