Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2024-09, with the labels that each got.

#7290 Post-release Sept 03 2024
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  package-lock.json
Labels: documentation, msal-browser

#7289 Add __initializeNestedAppAuth function for Nested App Auth
  change/@azure-msal-browser-63f3d1ba-774e-4690-8f70-22dd5663ae78.json
  lib/msal-browser/src/operatingcontext/NestedAppOperatingContext.ts
Labels: msal-browser

#7297 Add clientLibrary and clientLibraryVersion parameters to NAA request
  change/@azure-msal-browser-6043369e-7682-4eda-8598-699720d76d6d.json
  lib/msal-browser/src/naa/BridgeProxy.ts
Labels: msal-browser

#7291 Fix type for vue 3 sample
  samples/msal-browser-samples/vue3-sample-app/src/plugins/msalPlugin.ts
Labels: samples

#7259 Add optional "instanceAware" config auth param
  change/@azure-msal-browser-c93b109e-4b32-42b7-af75-c31fd7677abe.json
  change/@azure-msal-common-ef418dcb-eac2-429c-90fd-393ea2fad3fe.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/docs/instance-aware.md
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentAuthCodeClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_client/StandardInteractionClient.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
Labels: documentation, msal-browser, msal-common

#7285 msal-node Device Code flow unit test - replaced sinon with jest
  change/@azure-msal-node-3324d3eb-6303-43a6-a5fe-05f59152c148.json
  lib/msal-node/package.json
  lib/msal-node/test/client/ClientTestUtils.ts
  lib/msal-node/test/client/DeviceCodeClient.spec.ts
  package-lock.json
Labels: msal-node

#7313 Allow passing popup parent for multi-window flows
  change/@azure-msal-browser-53b636b7-4f91-42f7-bd68-0f574a15d20f.json
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/request/EndSessionPopupRequest.ts
  lib/msal-browser/src/request/PopupRequest.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
Labels: msal-browser

#7318 Update API Extractor report (popup-window-parent)
  lib/msal-browser/apiReview/msal-browser.api.md
Labels: documentation, msal-browser

#7319 npm run format:fix (popup-window-parent)
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
Labels: msal-browser

#7317 Allow passing popup parent for multi-window flows (#7313)
  change/@azure-msal-browser-53b636b7-4f91-42f7-bd68-0f574a15d20f.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/request/EndSessionPopupRequest.ts
  lib/msal-browser/src/request/PopupRequest.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
Labels: documentation, msal-browser

#7310 Use windows pools for e2e tests
  .pipelines/1p-e2e.yml
  .pipelines/3p-e2e.yml
  samples/msal-node-samples/auth-code/index.js
  shared-configs/eslint-config-msal/index.js
  shared-configs/eslint-config-msal/package.json
Labels: samples

#7237 Correct cut & paste error in build instruction -- build browser & common
  lib/msal-browser/README.md
Labels: documentation, msal-browser

#7342 Mute no_server_response error when back navigation is detected
  change/@azure-msal-browser-f27b9a8d-ad98-44f7-8af5-f0ece472b848.json
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
Labels: msal-browser

#7341 Hackathon: msal-common - Replaced sinon with jest
  change/@azure-msal-common-065aa9fc-73b4-479a-95e5-e5141a6b78eb.json
  lib/msal-common/package.json
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/BaseClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
  lib/msal-common/test/logger/Logger.spec.ts
  lib/msal-common/test/network/NetworkManager.spec.ts
  lib/msal-common/test/network/ThrottlingUtils.spec.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
  lib/msal-common/test/request/ScopeSet.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
  lib/msal-common/test/url/UrlString.spec.ts
  lib/msal-common/test/utils/ProtocolUtils.spec.ts
  package-lock.json
Labels: msal-common

#7207 Implemented functionality to skip the cache for MI when claims are provided
  change/@azure-msal-node-61f7f536-1cf8-4eef-ac92-89902d8e6963.json
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/client/ManagedIdentityApplication.ts
  lib/msal-node/src/request/ManagedIdentityRequestParams.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
Labels: documentation, msal-node
