Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2024-06, with the labels that each got.

#7078 Update regional-authorities.md
  lib/msal-node/docs/regional-authorities.md
Labels: documentation, msal-node

#7137 Fix MSAL Angular MsalInterceptor bug matching to query string
  change/@azure-msal-angular-f0ec2f9a-33cf-4b4e-ade9-0be40add58ed.json
  lib/msal-angular/src/msal.interceptor.config.ts
  lib/msal-angular/src/msal.interceptor.spec.ts
  lib/msal-angular/src/msal.interceptor.ts
Labels: msal-angular

#7139 LTS Fix hydrateCache typings
  change/@azure-msal-browser-97e32bb8-6d95-4fe3-8c36-b4d6a82e06a0.json
  lib/msal-browser/src/app/IPublicClientApplication.ts
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
Labels: msal-browser

#7149 Remove outdated TS Sample
  samples/msal-browser-samples/TypescriptTestApp2.0/.babelrc
  samples/msal-browser-samples/TypescriptTestApp2.0/.beachballrc
  samples/msal-browser-samples/TypescriptTestApp2.0/.gitignore
  samples/msal-browser-samples/TypescriptTestApp2.0/.npmrc
  samples/msal-browser-samples/TypescriptTestApp2.0/CHANGELOG.json
  samples/msal-browser-samples/TypescriptTestApp2.0/package.json
  samples/msal-browser-samples/TypescriptTestApp2.0/server.js
  samples/msal-browser-samples/TypescriptTestApp2.0/src/AuthModule.ts
  samples/msal-browser-samples/TypescriptTestApp2.0/src/Constants.ts
  samples/msal-browser-samples/TypescriptTestApp2.0/src/FetchManager.ts
  samples/msal-browser-samples/TypescriptTestApp2.0/src/GraphReponseTypes.ts
  samples/msal-browser-samples/TypescriptTestApp2.0/src/UIManager.ts
  samples/msal-browser-samples/TypescriptTestApp2.0/src/index.ts
  samples/msal-browser-samples/TypescriptTestApp2.0/src/views/index.html
  samples/msal-browser-samples/TypescriptTestApp2.0/tsconfig.json
  samples/msal-browser-samples/TypescriptTestApp2.0/utils/copyViews.js
  samples/msal-browser-samples/TypescriptTestApp2.0/webpack.config.js
Labels: samples

#7151 Implementation Based on Feature Request
  change/@azure-msal-node-dbe642e7-1446-4b2d-9173-11242e9f5734.json
  lib/msal-node/src/client/ManagedIdentitySources/AzureArc.ts
  lib/msal-node/src/error/ManagedIdentityError.ts
  lib/msal-node/src/error/ManagedIdentityErrorCodes.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ManagedIdentitySources/AzureArc.spec.ts
  lib/msal-node/test/test_kit/AzureArcSecret.key
Labels: msal-node

#7150 Update gatsby and angular samples
  package-lock.json
  samples/msal-angular-v3-samples/angular-standalone-sample/package.json
  samples/msal-angular-v3-samples/angular15-sample-app/angular.json
  samples/msal-angular-v3-samples/angular15-sample-app/package.json
  samples/msal-angular-v3-samples/angular16-sample-app/package.json
  samples/msal-angular-v3-samples/angular17-standalone-sample/package.json
  samples/msal-react-samples/gatsby-sample/package.json
Labels: samples

#7119 Support pop as optional for full framed apps
  change/@azure-msal-browser-6d89bcc9-48e1-495e-bdd5-2d7fda8e13f8.json
  change/@azure-msal-common-98b3791f-fcf5-4225-a03c-a379d2312455.json
  change/@azure-msal-node-cf83856a-c1aa-4763-8eb2-0b62f5708a27.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/docs/access-token-proof-of-possession.md
  lib/msal-browser/src/broker/nativeBroker/NativeRequest.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/error/BrowserAuthErrorCodes.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/interaction_client/StandardInteractionClient.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/utils/BrowserUtils.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/crypto/ICrypto.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/account/AuthToken.spec.ts
  lib/msal-common/test/account/ClientInfo.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/test_kit/StringConstants.ts
  lib/msal-common/test/utils/ProtocolUtils.spec.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/crypto/CryptoProvider.ts
  lib/msal-node/test/client/ClientTestUtils.ts
  lib/msal-node/test/test_kit/StringConstants.ts
  lib/msal-node/test/utils/TestConstants.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/graph.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/index.html
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/ui.js
Labels: documentation, samples, msal-node, msal-browser, msal-common

#7155 Update lab request scope
  samples/e2eTestUtils/src/Constants.ts
Labels: samples

#7159 Update LTS dependencies
  change/@azure-msal-angular-1a95c0b2-d280-417c-a16d-4e28c64abb8d.json
  change/@azure-node-token-validation-ac68c116-a746-4532-afe7-298e99e2eab2.json
  lib/msal-angular/package-lock.json
  lib/node-token-validation/package-lock.json
  lib/node-token-validation/package.json
  samples/e2eTestUtils/Constants.ts
  samples/e2eTestUtils/LabClient.ts
  samples/package-lock.json
  samples/package.json
Labels: msal-angular, samples, node-token-validation

#7143 Update Angular Samples README.md
  samples/msal-angular-v3-samples/README.md
Labels: documentation, samples

#7154 fix : msal-browser acquireTokenSilentAsync memory leak
  change/@azure-msal-browser-3f818d90-03e6-43c9-b57d-c03d404cc5a7.json
  lib/msal-browser/src/controllers/StandardController.ts
Labels: msal-browser

#7165 Relax loadExternalTokens requirements to allow loading without id_token
  change/@azure-msal-browser-0474c317-1328-4830-96f7-71655d4ba381.json
  change/@azure-msal-common-92206105-8112-4c8a-a5e5-b17c66272340.json
  lib/msal-browser/docs/testing.md
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/cache/entities/CacheRecord.ts
  lib/msal-common/src/response/ExternalTokenResponse.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
Labels: documentation, msal-browser, msal-common

#7166 Fix extraQueryParameters being dropped from request
  change/@azure-msal-common-1e1b6efa-031c-4454-8c25-e62ef4ef523e.json
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/request/RequestValidator.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
Labels: msal-common

#7168 Update typo in NAA unsupported error
  change/@azure-msal-browser-409da83e-2501-4d49-9e69-2abc15566e00.json
  lib/msal-browser/src/error/NestedAppAuthError.ts
Labels: msal-browser

#7174 Added status to ServerError
  lib/msal-common/src/error/ServerError.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/error/ServerError.spec.ts
Labels: msal-common

#7167 Managed Identity - Reformatted ManagedIdentityTokenResponse + adjusted unit tests
  change/@azure-msal-common-3040b4da-993d-4047-91f8-0405382492ce.json
  change/@azure-msal-node-4b35e25c-7acf-468c-8323-9830342ad06c.json
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/error/ServerError.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/test/error/ServerError.spec.ts
  lib/msal-node/src/client/ManagedIdentitySources/BaseManagedIdentitySource.ts
  lib/msal-node/src/response/ManagedIdentityTokenResponse.ts
  lib/msal-node/test/client/ManagedIdentitySources/AppService.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/AzureArc.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/CloudShell.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/ServiceFabric.spec.ts
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
  lib/msal-node/test/test_kit/StringConstants.ts
Labels: documentation, msal-node, msal-common

#7176 Update package-lock
  .pipelines/3p-e2e.yml
  package-lock.json
  samples/msal-react-samples/gatsby-sample/.eslintrc.js
  samples/msal-react-samples/gatsby-sample/.gitignore
  samples/msal-react-samples/gatsby-sample/.npmrc
  samples/msal-react-samples/gatsby-sample/LICENSE
  samples/msal-react-samples/gatsby-sample/README.md
  samples/msal-react-samples/gatsby-sample/gatsby-browser.js
  samples/msal-react-samples/gatsby-sample/gatsby-config.js
  samples/msal-react-samples/gatsby-sample/gatsby-ssr.js
  samples/msal-react-samples/gatsby-sample/jest.config.js
  samples/msal-react-samples/gatsby-sample/package.json
  samples/msal-react-samples/gatsby-sample/src/authConfig.js
  samples/msal-react-samples/gatsby-sample/src/components/ErrorComponent.jsx
  samples/msal-react-samples/gatsby-sample/src/components/Layout.jsx
  samples/msal-react-samples/gatsby-sample/src/components/Loading.jsx
  samples/msal-react-samples/gatsby-sample/src/components/NavBar.jsx
  samples/msal-react-samples/gatsby-sample/src/components/ProfileData.jsx
  samples/msal-react-samples/gatsby-sample/src/components/SignInButton.jsx
  samples/msal-react-samples/gatsby-sample/src/components/SignInSignOutButton.jsx
  samples/msal-react-samples/gatsby-sample/src/components/SignOutButton.jsx
  samples/msal-react-samples/gatsby-sample/src/components/WelcomeName.jsx
  samples/msal-react-samples/gatsby-sample/src/pages/404.js
  samples/msal-react-samples/gatsby-sample/src/pages/index.js
  samples/msal-react-samples/gatsby-sample/src/pages/profile.js
  samples/msal-react-samples/gatsby-sample/src/styles/theme.js
  samples/msal-react-samples/gatsby-sample/src/utils/MsGraphApiCall.js
  samples/msal-react-samples/gatsby-sample/src/utils/NavigationClient.js
  samples/msal-react-samples/gatsby-sample/src/wrap-with-provider.js
  samples/msal-react-samples/gatsby-sample/static/favicon.ico
  samples/msal-react-samples/gatsby-sample/test/home.spec.ts
  samples/msal-react-samples/gatsby-sample/test/profile.spec.ts
  samples/msal-react-samples/gatsby-sample/tsconfig.json
Labels: documentation, samples
