Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2024-01, with the labels that each got.

#6802 AuthorityMetadataEntity refactor into Type
  change/@azure-msal-browser-ec422c16-887b-4752-8ba4-7d499a201fe1.json
  change/@azure-msal-common-9527971d-12e8-459d-95da-4a81ed67eeb9.json
  change/@azure-msal-node-32e7a850-e8e6-46ca-bc70-b99eed7ef131.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/cache/entities/AuthorityMetadataEntity.ts
  lib/msal-common/src/cache/utils/CacheHelpers.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/MockCache.ts
  lib/msal-common/test/cache/entities/AuthorityMetadataEntity.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-node/src/cache/NodeStorage.ts
  lib/msal-node/test/cache/Storage.spec.ts
Labels: msal-node, msal-browser, msal-common

#6807 AppMetadataEntity refactor into Type
  change/@azure-msal-browser-fa8038d4-a37f-4e9a-a15f-fe6053731519.json
  change/@azure-msal-common-9b39e4ed-ed32-460a-8e20-51ec73187981.json
  change/@azure-msal-node-9aaaffcc-24e3-4669-8da8-96b5592eba25.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TestStorageManager.ts
  lib/msal-common/src/cache/entities/AppMetadataEntity.ts
  lib/msal-common/src/cache/utils/CacheHelpers.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/cache/MockCache.ts
  lib/msal-common/test/cache/entities/AppMetadataEntity.spec.ts
  lib/msal-common/test/cache/entities/cacheConstants.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-node/src/cache/NodeStorage.ts
  lib/msal-node/src/cache/serializer/Deserializer.ts
  lib/msal-node/test/cache/cacheConstants.ts
  lib/msal-node/test/client/ClientTestUtils.ts
Labels: msal-node, msal-browser, msal-common

#6786 Fix default sample static file paths
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/authConfig.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/server.js
Labels: samples

#6819 Support state parameter on silent requests
  change/@azure-msal-browser-7d3bb7a6-75d1-4ccb-9260-f874940e1847.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/request/SilentRequest.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#6818 Update ssoSilent docs with troubleshooting information
  lib/msal-browser/FAQ.md
  lib/msal-browser/docs/errors.md
  lib/msal-browser/docs/login-user.md
Labels: documentation, msal-browser

#6814 Fix bug affecting metadata resolution for tenanted authorities
  change/@azure-msal-browser-8017ad17-73f7-4627-b31f-e8bc1f0bd541.json
  change/@azure-msal-common-c8346546-a98e-47fe-83b2-fcb5ceb36845.json
  change/@azure-msal-node-8042a4bb-8629-4d03-9fc0-9ad9f3ffca48.json
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/authority/AuthorityMetadata.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/index.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/authority/AuthorityFactory.spec.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/test/client/ClientTestUtils.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/client/test-fixtures.ts
  lib/msal-node/test/config/ClientConfiguration.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/authConfig.js
Labels: samples, msal-node, msal-browser, msal-common

#6720 Format Errors related documentation
  lib/msal-browser/docs/errors.md
Labels: documentation, msal-browser

#6713 Fix cachePlugin.js not resolving when cache file doesn't exist
  samples/msal-node-samples/cachePlugin.js
Labels: samples

#6834 Read me MSAL Angular: Update github issues link.
  lib/msal-angular/README.md
Labels: documentation, msal-angular

#6849 Fix node-extensions tests
  change/@azure-msal-node-extensions-bde7771e-4368-41e9-88a0-365a9979896b.json
  extensions/msal-node-extensions/jest.config.cjs
  extensions/msal-node-extensions/package.json
  package-lock.json
Labels: extensions

#6838 Reduce calls to resolveEndpointsAsync
  change/@azure-msal-browser-4c8e4b58-0813-4305-b07f-6cd8802c8e46.json
  change/@azure-msal-common-690f75f8-bf40-4dca-9363-0914dfa05c1d.json
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentAuthCodeClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-common/src/utils/FunctionWrappers.ts
Labels: msal-browser, msal-common

#6837 Optimize `TimeUtils` for smaller bundle size
  change/@azure-msal-common-fd5dbd84-d411-4c3f-bbf0-845bc9f74049.json
  lib/msal-common/src/cache/utils/CacheHelpers.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/utils/TimeUtils.ts
  lib/msal-common/test/cache/entities/AuthorityMetadataEntity.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/utils/TimeUtils.spec.ts
  lib/msal-node/test/client/ClientCredentialClient.spec.ts
  lib/msal-node/test/client/OnBehalfOfClient.spec.ts
Labels: msal-node, msal-common

#6841 Make BrowserCrypto generate UUID v7 by default
  change/@azure-msal-browser-5a9fe17b-1ea2-4b3f-be4c-492073c63c04.json
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-browser/test/utils/BrowserCrypto.spec.ts
Labels: msal-browser

#6689 Fix: Cached AccessToken missing realm property in OIDC scenario
  change/@azure-msal-common-317e0ac0-e29c-4cae-a9b5-0996d41cb250.json
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
Labels: msal-common

#6857 Fix failing response handler test because of missing correlation ID
  lib/msal-common/test/response/ResponseHandler.spec.ts
Labels: msal-common

#6855 Update shared config version references to use local files
  change/@azure-msal-angular-b93b146d-f962-4d6c-8bb2-e24f3da44d47.json
  change/@azure-msal-browser-783d821b-e071-4131-8e86-35df7c343b9c.json
  change/@azure-msal-common-41dd94ca-27d9-41c3-baa4-98733be06507.json
  change/@azure-msal-node-8207b747-890e-44e2-a440-ecb610f213ef.json
  change/@azure-msal-node-extensions-78382b28-76b1-4e0a-8eca-60626ba0047e.json
  change/@azure-msal-react-ba4ff79a-8e46-49b9-bb6f-35b2a8af1465.json
  extensions/msal-node-extensions/package.json
  lib/msal-angular/package.json
  lib/msal-browser/package.json
  lib/msal-common/package.json
  lib/msal-node/package.json
  lib/msal-react/package.json
  package-lock.json
Labels: msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#6854 Add active account update event
  change/@azure-msal-browser-b6d57f07-5969-4a2d-9b3e-1ff026507755.json
  lib/msal-browser/docs/events.md
  lib/msal-browser/src/event/EventHandler.ts
  lib/msal-browser/src/event/EventType.ts
  lib/msal-browser/test/event/EventHandler.spec.ts
Labels: documentation, msal-browser

#6861 Instrument handleRedirectPromise()
  change/@azure-msal-browser-0d215e1f-283f-4672-b54b-7013338e420c.json
  change/@azure-msal-common-41802c52-c8f6-4764-a589-d3b85718c39e.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: msal-browser, msal-common
