Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2024-07, with the labels that each got.

#7190 Add correlation id param to initialize and clearTokensAndKeysWithClaims APIs to streamline telemetry data analysis
  change/@azure-msal-browser-eecce831-c1f6-4fe0-a200-8e7708614e02.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/ControllerFactory.ts
  lib/msal-browser/src/controllers/IController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/request/InitializeApplicationRequest.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
Labels: documentation, msal-browser

#7188 Use SNI certs
  dev-scripts/updatePemCert.js
  gen_env.ps1
  package-lock.json
  samples/e2eTestUtils/package.json
  samples/e2eTestUtils/src/LabClient.ts
Labels: samples

#7194 Add missing param to PCA.initialize
  change/@azure-msal-browser-2f922381-a179-4324-ac06-2b22b4c323e7.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/app/IPublicClientApplication.ts
Labels: documentation, msal-browser

#7193 Remove onRedirectNavigate callback function in native ATRedirect calls
  change/@azure-msal-browser-e49fa6cc-c5d6-4872-8524-8259462f8657.json
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
Labels: msal-browser

#7185 Deprecated SHA-1 Thumbprints in Auth Flow with Certificate
  change/@azure-msal-node-b684bbd7-5c63-44e8-902f-876ff9bf2fb7.json
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/client/ClientAssertion.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/error/NodeAuthError.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ClientAssertion.spec.ts
  lib/msal-node/test/client/ClientTestUtils.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
Labels: documentation, msal-node

#7197 Create default tenant profile without idToken
  change/@azure-msal-browser-e9608897-9661-4710-a6de-258b1797f95c.json
  change/@azure-msal-common-b6c12ea5-317c-4f0a-ab8e-ed6d3b659935.json
  lib/msal-browser/src/naa/mapping/NestedAppAuthAdapter.ts
  lib/msal-browser/test/cache/TestStorageManager.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/account/AccountInfo.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/account/AccountInfo.spec.ts
  shared-test-utils/src/CredentialGenerators.ts
Labels: documentation, msal-browser, msal-common

#7200 SHA-256 thumbprints now use PSS padding
  change/@azure-msal-node-b4962068-75d2-482f-8866-07bdd0556859.json
  lib/msal-node/src/client/ClientAssertion.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ClientAssertion.spec.ts
Labels: msal-node

#7182 Track MSAL SKU for broker flows
  change/@azure-msal-browser-61afe86b-a787-4083-96f1-b8c531de0bee.json
  change/@azure-msal-common-9eff86b6-1b02-4445-94e1-56a77a96990d.json
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/cache/entities/ServerTelemetryEntity.ts
  lib/msal-common/src/constants/AADServerParamKeys.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
Labels: documentation, msal-browser, msal-common

#7213 Track MSAL node SKU for broker flows
  change/@azure-msal-browser-60c15904-56e7-4805-bf26-8460c6897182.json
  change/@azure-msal-common-b5fa97f3-1dc4-4676-bfec-0ab93163bd3e.json
  change/@azure-msal-node-1ce00b57-221a-49f7-88eb-9c8b62b01389.json
  change/@azure-msal-node-extensions-305e7120-5371-4eb0-9293-cc5f040391f1.json
  extensions/msal-node-extensions/src/broker/NativeBrokerPlugin.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: documentation, msal-node, msal-browser, msal-common, extensions

#7203 Add debug parameter to E2E test template usages
  .pipelines/1p-e2e.yml
  .pipelines/3p-e2e.yml
  package-lock.json
  samples/msal-angular-v3-samples/angular-b2c-sample-app/tsconfig.json
Labels: samples

#7223 Update roadmap.md
  roadmap.md
Labels: documentation
