Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2024-03, with the labels that each got.

#6929 Export IPerformanceClient & stub
  change/@azure-msal-browser-30e0ab70-d956-4836-bc8d-404b600cd47c.json
  lib/msal-browser/src/index.ts
Labels: msal-browser

#6932 Remove preflightBrowserEnvironmentCheck from Controller
  change/@azure-msal-browser-e1f0a45c-bbe4-44c5-9f03-edfe1fde1c78.json
  lib/msal-browser/src/controllers/IController.ts
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/controllers/UnknownOperatingContextController.ts
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/utils/BrowserUtils.spec.ts
Labels: msal-browser

#6892 Fix compatibility issues with Nested App Auth and msal-react
  change/@azure-msal-browser-dd178f11-067c-4ea4-8f95-b933bca97ed0.json
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/naa/mapping/NestedAppAuthAdapter.ts
Labels: msal-browser

#6923 Validate that claims and client capabilities are correctly merged
  change/@azure-msal-node-772ee52a-055b-458c-85ff-fe1d4d7d360e.json
  lib/msal-node/test/client/ClientCredentialClient.spec.ts
  lib/msal-node/test/client/ClientTestUtils.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/OnBehalfOfClient.spec.ts
  lib/msal-node/test/test_kit/StringConstants.ts
  lib/msal-node/test/utils/MockNetworkClient.ts
Labels: msal-node

#6937 Instrument non-auth error name and stack
  change/@azure-msal-browser-476741b2-6b5f-4d05-8d76-355f02784e68.json
  change/@azure-msal-common-dbb12e75-776c-46b9-a02d-b59c34223c66.json
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/telemetry/performance/IPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: msal-browser, msal-common

#6944 Updated MSI sample to use access token to get a secret from a key vault
  package-lock.json
  samples/msal-node-samples/managed-identity/HttpClient.ts
  samples/msal-node-samples/managed-identity/README.md
  samples/msal-node-samples/managed-identity/index.ts
  samples/msal-node-samples/managed-identity/package.json
Labels: documentation, samples

#6947 Fix AcquireTokenSilentAsync sub-measurement instrumentation
  change/@azure-msal-browser-1ee87769-69c6-42ea-bc8a-70f7f43a86dd.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#6950 Changed the Managed Identity retry policy's number of times to retry from 1 to 3
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
Labels: msal-node

#6948 Capture telemetry event tree
  change/@azure-msal-browser-896eeabf-e697-473d-a649-156d64145fbf.json
  change/@azure-msal-common-c050c859-69b0-4e3d-ba2d-20ac54bc8d62.json
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/src/utils/FunctionWrappers.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
  lib/msal-common/test/utils/FunctionWrappers.spec.ts
Labels: msal-browser, msal-common

#6961 Revert version bump
  change/@azure-msal-browser-1ee87769-69c6-42ea-bc8a-70f7f43a86dd.json
  change/@azure-msal-browser-30e0ab70-d956-4836-bc8d-404b600cd47c.json
  change/@azure-msal-browser-476741b2-6b5f-4d05-8d76-355f02784e68.json
  change/@azure-msal-browser-53df8bcf-ecc8-4643-b8e8-d7c08e37f667.json
  change/@azure-msal-browser-c98cfe47-b6ec-40fd-8586-c4a2fd98b12c.json
  change/@azure-msal-browser-dd178f11-067c-4ea4-8f95-b933bca97ed0.json
  change/@azure-msal-browser-e1f0a45c-bbe4-44c5-9f03-edfe1fde1c78.json
  change/@azure-msal-browser-e81e08ee-7fb7-4ce8-813e-1e6189c7a4ca.json
  change/@azure-msal-common-1e3f0714-92f2-4a0d-95b3-1a9530baf550.json
  change/@azure-msal-common-8f860c9f-2980-4d15-b9d8-a8d815cf775a.json
  change/@azure-msal-common-dbb12e75-776c-46b9-a02d-b59c34223c66.json
  change/@azure-msal-node-772ee52a-055b-458c-85ff-fe1d4d7d360e.json
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/CHANGELOG.md
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/packageMetadata.ts
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/CHANGELOG.md
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/CHANGELOG.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
  package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#6960 Add classname to silent token renewal iframe HTML Element
  change/@azure-msal-browser-ab795cfe-4e94-4130-b525-1b73fdda6437.json
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
Labels: msal-browser

#6965 Managed Identity in MSALJS - Final Improvements
  lib/msal-node/src/client/ManagedIdentityApplication.ts
  lib/msal-node/src/client/ManagedIdentityClient.ts
  lib/msal-node/src/client/ManagedIdentitySources/BaseManagedIdentitySource.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/network/HttpClient.ts
  lib/msal-node/src/network/HttpClientWithRetries.ts
  lib/msal-node/test/client/ManagedIdentitySources/AppService.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/AzureArc.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/CloudShell.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/ServiceFabric.spec.ts
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
Labels: msal-node

#6966 Added Service Fabric Sample
  samples/msal-node-samples/Managed-Identity/Imds/DownstreamApi.ts
  samples/msal-node-samples/Managed-Identity/Imds/README.md
  samples/msal-node-samples/Managed-Identity/Imds/index.ts
  samples/msal-node-samples/Managed-Identity/Imds/package.json
  samples/msal-node-samples/Managed-Identity/Imds/tsconfig.json
  samples/msal-node-samples/Managed-Identity/ServiceFabric/DownstreamApi.ts
  samples/msal-node-samples/Managed-Identity/ServiceFabric/README.md
  samples/msal-node-samples/Managed-Identity/ServiceFabric/index.ts
  samples/msal-node-samples/Managed-Identity/ServiceFabric/package.json
  samples/msal-node-samples/Managed-Identity/ServiceFabric/tsconfig.json
Labels: documentation, samples

#6984 Stringify telemetry context
  change/@azure-msal-common-e35f930c-c990-4df1-bbe9-fc014afae2a3.json
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: msal-common

#6877 Update link in Security docs
  lib/msal-angular/docs/security.md
Labels: documentation, msal-angular
