Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2024-02, with the labels that each got.

#6864 Fix electron webpack samples
  extensions/samples/electron-webpack/package.json
  extensions/samples/electron-webpack/webpack.rules.ts
  package-lock.json
  package.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/webpack.rules.js
Labels: samples, extensions

#6879 Add optional dependencies to react workflow
  .github/workflows/msal-react-e2e.yml
  change/@azure-msal-react-1fd0e43b-1fe4-486c-84fd-de6c61594ad2.json
  lib/msal-react/package.json
  package-lock.json
Labels: msal-react

#6882 Bump browser
  change/@azure-msal-browser-d7f5c16a-135a-4f0a-b09b-ece89250679a.json
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
Labels: msal-browser

#6889 Fix: Authority string tenant parsing throws error in certain OIDC scenario
  change/@azure-msal-common-b4e1c008-e55c-45dd-8e77-8d3eab080be4.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/test/authority/Authority.spec.ts
Labels: msal-common

#6896 Fix MSA e2e tests
  package-lock.json
  samples/e2eTestUtils/src/TestUtils.ts
  samples/msal-react-samples/b2c-sample/test/msa-account.spec.ts
Labels: samples

#6895 Remove invalid prompt for silent request instead of throwing an error
  change/@azure-msal-browser-92a9fdcc-89e6-4dbf-a598-c7ce652171cd.json
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
Labels: msal-browser

#6866 Use UUIDv7 in PerformanceClient
  change/@azure-msal-browser-dc8af87e-3270-401f-ad49-92cfda603c2a.json
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#6868 Export `createGuid` function
  change/@azure-msal-browser-33541e20-0058-450b-91c4-fc3331846357.json
  lib/msal-browser/src/utils/BrowserUtils.ts
Labels: msal-browser

#6903 Add ID Token secret to AccountInfo in all reponses
  change/@azure-msal-browser-af35c487-7a43-42cf-ac76-963628c56965.json
  change/@azure-msal-common-e0a01d96-1412-41e7-b8f8-7743a0cc3936.json
  change/@azure-msal-node-4ec87814-6ab3-433f-a0b5-ca19ce520c81.json
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentCacheClient.spec.ts
  lib/msal-common/src/account/AccountInfo.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
Labels: msal-node, msal-browser, msal-common

#6909 Append default scopes for the cache lookup
  change/@azure-msal-common-8f860c9f-2980-4d15-b9d8-a8d815cf775a.json
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
Labels: msal-common

#6894 Pre-release validation
  .gitignore
  package-lock.json
  package.json
  samples/e2eTestUtils/package.json
  samples/msal-angular-v3-samples/angular-b2c-sample-app/package.json
  samples/msal-angular-v3-samples/angular-standalone-sample/package.json
  samples/msal-angular-v3-samples/angular15-sample-app/package.json
  samples/msal-angular-v3-samples/angular16-sample-app/package.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/jest.config.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/jest.config.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/jest.config.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/jest.config.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/jest.config.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/package.json
  samples/msal-node-samples/auth-code-cli-app/package.json
  samples/msal-node-samples/auth-code/jest.config.js
  samples/msal-node-samples/auth-code/package.json
  samples/msal-node-samples/b2c-user-flows/jest.config.js
  samples/msal-node-samples/b2c-user-flows/package.json
  samples/msal-node-samples/cliArgs.js
  samples/msal-node-samples/client-credentials/jest.config.js
  samples/msal-node-samples/client-credentials/package.json
  samples/msal-node-samples/device-code/jest.config.js
  samples/msal-node-samples/device-code/package.json
  samples/msal-node-samples/on-behalf-of/jest.config.js
  samples/msal-node-samples/silent-flow/jest.config.js
  samples/msal-node-samples/silent-flow/package.json
  samples/msal-react-samples/b2c-sample/jest.config.js
  samples/msal-react-samples/b2c-sample/package.json
  samples/msal-react-samples/gatsby-sample/jest.config.js
  samples/msal-react-samples/gatsby-sample/package.json
  samples/msal-react-samples/nextjs-sample/jest.config.js
  samples/msal-react-samples/nextjs-sample/package.json
  samples/msal-react-samples/react-router-sample/jest.config.js
  samples/msal-react-samples/react-router-sample/package.json
  samples/msal-react-samples/typescript-sample/jest.config.js
  samples/msal-react-samples/typescript-sample/package.json
Labels: samples

#6917 Minor cache cleanup
  change/@azure-msal-browser-e81e08ee-7fb7-4ce8-813e-1e6189c7a4ca.json
  change/@azure-msal-common-1e3f0714-92f2-4a0d-95b3-1a9530baf550.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
Labels: msal-browser, msal-common

#6922 Async cache cleanup
  change/@azure-msal-browser-c98cfe47-b6ec-40fd-8586-c4a2fd98b12c.json
  lib/msal-browser/src/cache/AsyncMemoryStorage.ts
  lib/msal-browser/src/cache/CryptoKeyStore.ts
  lib/msal-browser/src/cache/DatabaseStorage.ts
  lib/msal-browser/src/cache/IAsyncStorage.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/test/cache/AsyncMemoryStorage.spec.ts
Labels: msal-browser

#6920 Added a boolean in msal-node's system options, which disables built-in retry policies
  lib/msal-node/docs/configuration.md
  lib/msal-node/src/client/ManagedIdentitySources/BaseManagedIdentitySource.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
Labels: documentation, msal-node

#6891 Implemented HttpClient-Decorator Retry-Policy in MSAL-Node & Managed Identity
  lib/msal-common/src/utils/Constants.ts
  lib/msal-node/docs/configuration.md
  lib/msal-node/src/client/ManagedIdentityApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/network/HttpClientWithRetries.ts
  lib/msal-node/src/retry/IHttpRetryPolicy.ts
  lib/msal-node/src/retry/LinearRetryPolicy.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ManagedIdentitySources/AzureArc.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
  lib/msal-node/test/test_kit/StringConstants.ts
Labels: msal-node, msal-common

#6926 Update "errors" doc with the retry info
  lib/msal-browser/docs/errors.md
Labels: documentation, msal-browser

#6927 Add 1p and 3p fallback logic to test utils environment variable setup
  samples/e2eTestUtils/src/LabClient.ts
Labels: samples
