Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2024-04, with the labels that each got.

#6992 Migrate ADO Pipelines to OneBranch
  .github/workflows/msal-browser-e2e.yml
  .pipelines/1p-build.yml
  .pipelines/1p-e2e.yml
  .pipelines/sdl.yml
  azure-pipelines.yml
  build/sdl-tasks.yml
  change/@azure-msal-angular-e84975c9-09d5-4368-b455-48fc0a361c7c.json
  change/@azure-msal-browser-c75a3bdb-48be-48d5-832d-cee2428eb22b.json
  change/@azure-msal-common-2b5cb9d9-a8ad-4c4a-a23b-81422fe660fb.json
  change/@azure-msal-node-7d79d459-7f8a-4886-b763-63c3af9dac07.json
  change/@azure-msal-node-extensions-b80ed95c-9b61-4e17-96b6-7307ded3e854.json
  change/@azure-msal-react-598793a0-33fa-4d36-ba59-309b435e57d0.json
  extensions/msal-node-extensions/package.json
  lib/msal-angular/package.json
  lib/msal-browser/package.json
  lib/msal-common/package.json
  lib/msal-node/package.json
  lib/msal-react/package.json
  package-lock.json
Labels: msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#6962 Fix for concurrent iframe calls
  change/@azure-msal-browser-1c51e91a-9f80-485d-a826-aa20c210cc26.json
  change/@azure-msal-common-dbac308f-ff86-497a-b282-8b0e5cbf64ee.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: msal-browser, msal-common

#7009 Correct the tokenRequest code examples
  lib/msal-browser/docs/errors.md
Labels: documentation, msal-browser

#6941 Nested App Auth: allow empty parameters for loginPopup
  change/@azure-msal-browser-0e07359f-e5c7-42a4-a825-4a80c43b7d7d.json
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/naa/BridgeProxy.ts
  lib/msal-browser/test/naa/BridgeProxy.spec.ts
Labels: msal-browser

#6985 Added classname for silent token renewal iframe
  change/@azure-msal-browser-e1682ade-b51d-46db-bd8d-9aaf52b0ba29.json
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
Labels: msal-browser

#6991 Linted all MSAL-Node Docs
  lib/msal-node/docs/brokering.md
  lib/msal-node/docs/caching.md
  lib/msal-node/docs/certificate-credentials.md
  lib/msal-node/docs/faq.md
  lib/msal-node/docs/initialize-confidential-client-application.md
  lib/msal-node/docs/initialize-public-client-application.md
  lib/msal-node/docs/key-vault-managed-identity.md
  lib/msal-node/docs/performance.md
  lib/msal-node/docs/regional-authorities.md
  lib/msal-node/docs/request.md
  lib/msal-node/docs/sni.md
Labels: documentation, msal-node

#6998 Fix handleRedirectPromise Memoization
  change/@azure-msal-browser-b7c89de9-6914-47ba-9e31-0cd60c0fb29f.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#7015 Linted MSAL-Node's API Doc
  lib/msal-node/api/msal-node.api.md
Labels: documentation, msal-node

#7008 Skip "login_hint" opaque claim if domainHint param is set
  change/@azure-msal-common-cf220b04-9008-4c32-a000-78ae1cfa07ef.json
  lib/msal-browser/docs/accounts.md
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
Labels: documentation, msal-browser, msal-common

#6880 Managed Identity in MSALJS
  change/@azure-msal-common-70f32e81-8837-41d6-b652-33ef7f494eba.json
  change/@azure-msal-node-158b3399-c154-4497-b6bf-03e3db70c413.json
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-node/docs/configuration.md
  lib/msal-node/docs/managed-identity.md
  lib/msal-node/src/client/ClientCredentialClient.ts
  lib/msal-node/src/client/ManagedIdentityApplication.ts
  lib/msal-node/src/client/ManagedIdentityClient.ts
  lib/msal-node/src/client/ManagedIdentitySources/AppService.ts
  lib/msal-node/src/client/ManagedIdentitySources/AzureArc.ts
  lib/msal-node/src/client/ManagedIdentitySources/BaseManagedIdentitySource.ts
  lib/msal-node/src/client/ManagedIdentitySources/CloudShell.ts
  lib/msal-node/src/client/ManagedIdentitySources/Imds.ts
  lib/msal-node/src/client/ManagedIdentitySources/ServiceFabric.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/config/ManagedIdentityId.ts
  lib/msal-node/src/config/ManagedIdentityRequestParameters.ts
  lib/msal-node/src/error/ManagedIdentityError.ts
  lib/msal-node/src/error/ManagedIdentityErrorCodes.ts
  lib/msal-node/src/index.ts
  lib/msal-node/src/network/HttpClient.ts
  lib/msal-node/src/network/HttpClientWithRetries.ts
  lib/msal-node/src/request/ManagedIdentityRequest.ts
  lib/msal-node/src/request/ManagedIdentityRequestParams.ts
  lib/msal-node/src/response/ManagedIdentityTokenResponse.ts
  lib/msal-node/src/retry/IHttpRetryPolicy.ts
  lib/msal-node/src/retry/LinearRetryPolicy.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ManagedIdentitySources/AppService.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/AzureArc.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/CloudShell.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/ServiceFabric.spec.ts
  lib/msal-node/test/test_kit/AzureArcSecret.key
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
  lib/msal-node/test/test_kit/StringConstants.ts
  package-lock.json
  samples/e2eTestUtils/package.json
  samples/msal-node-samples/Managed-Identity/Imds/DownstreamApi.ts
  samples/msal-node-samples/Managed-Identity/Imds/README.md
  samples/msal-node-samples/Managed-Identity/Imds/index.ts
  samples/msal-node-samples/Managed-Identity/Imds/package.json
  samples/msal-node-samples/Managed-Identity/Imds/tsconfig.json
  samples/msal-node-samples/Managed-Identity/ServiceFabric/DownstreamApi.ts
  samples/msal-node-samples/Managed-Identity/ServiceFabric/README.md
  samples/msal-node-samples/Managed-Identity/ServiceFabric/index.ts
  samples/msal-node-samples/Managed-Identity/ServiceFabric/package.json
  samples/msal-node-samples/Managed-Identity/ServiceFabric/tsconfig.json
  samples/msal-node-samples/auth-code-key-vault/package.json
Labels: documentation, samples, msal-node, msal-common

#7021 Capture and instrument cache errors
  change/@azure-msal-browser-f1688cf2-852c-4b32-a5b1-8b3a4393ace9.json
  change/@azure-msal-common-704006a4-ebc8-4197-85c9-261e01c15332.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/controllers/UnknownOperatingContextController.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/error/CacheError.ts
  lib/msal-common/src/error/CacheErrorCodes.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
Labels: msal-browser, msal-common

#7022 Node-Extensions workaround npm regression
  change/@azure-msal-node-extensions-0f5d369f-db72-4b7d-b9c2-b2b29ba2fec6.json
  extensions/msal-node-extensions/package.json
Labels: extensions

#7023 Manual browser bump
  change/@azure-msal-browser-aec0b99c-0337-41db-8ffc-9f1d5353f748.json
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  package-lock.json
Labels: msal-browser

#7017 Angular17 standalone sample app
  .github/workflows/msal-angular-e2e.yml
  package-lock.json
  samples/msal-angular-v3-samples/README.md
  samples/msal-angular-v3-samples/angular17-standalone-sample/.editorconfig
  samples/msal-angular-v3-samples/angular17-standalone-sample/.gitignore
  samples/msal-angular-v3-samples/angular17-standalone-sample/.vscode/extensions.json
  samples/msal-angular-v3-samples/angular17-standalone-sample/.vscode/launch.json
  samples/msal-angular-v3-samples/angular17-standalone-sample/.vscode/tasks.json
  samples/msal-angular-v3-samples/angular17-standalone-sample/README.md
  samples/msal-angular-v3-samples/angular17-standalone-sample/angular.json
  samples/msal-angular-v3-samples/angular17-standalone-sample/jest.config.js
  samples/msal-angular-v3-samples/angular17-standalone-sample/package.json
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/app/app.component.css
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/app/app.component.html
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/app/app.component.spec.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/app/app.component.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/app/app.config.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/app/app.routes.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/app/failed/failed.component.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/app/home/home.component.html
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/app/home/home.component.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/app/profile/profile.component.html
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/app/profile/profile.component.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/assets/.gitkeep
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/environments/environment.dev.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/environments/environment.e2e.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/environments/environment.prod.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/environments/environment.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/favicon.ico
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/index.html
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/main.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/src/styles.css
  samples/msal-angular-v3-samples/angular17-standalone-sample/test/home.spec.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/test/profile.spec.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/tsconfig.app.json
  samples/msal-angular-v3-samples/angular17-standalone-sample/tsconfig.json
  samples/msal-angular-v3-samples/angular17-standalone-sample/tsconfig.spec.json
  samples/msal-angular-v3-samples/sample-scripts/useMsalAngularTarball.js
Labels: documentation, samples

#7018 Angular 17 support docs update
  lib/msal-angular/FAQ.md
  lib/msal-angular/README.md
  lib/msal-angular/docs/angular-universal.md
  lib/msal-angular/docs/configuration.md
  lib/msal-angular/docs/redirects.md
  lib/msal-angular/docs/v2-v3-upgrade-guide.md
Labels: documentation, msal-angular

#7043 Instrument scenario id for tracking custom user prompts
  change/@azure-msal-browser-25f36e2f-923d-4228-b378-780627a862f4.json
  change/@azure-msal-common-3f8f5255-eca7-4c41-a592-eea0ad443f4f.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: msal-browser, msal-common

#7035 Managed Identity Documentation Updates
  lib/msal-node/docs/managed-identity.md
  samples/msal-node-samples/Managed-Identity/Imds/README.md
  samples/msal-node-samples/Managed-Identity/Imds/package.json
  samples/msal-node-samples/Managed-Identity/ServiceFabric/README.md
  samples/msal-node-samples/Managed-Identity/ServiceFabric/package.json
Labels: documentation, samples, msal-node

#7054 Remove msal-angular2 references
  lib/msal-angular/docs/configuration.md
  lib/msal-angular/docs/redirects.md
  lib/msal-angular/src/msal.broadcast.service.spec.ts
  lib/msal-angular/src/msal.guard.spec.ts
  lib/msal-angular/src/msal.interceptor.spec.ts
  lib/msal-angular/src/msal.navigation.client.spec.ts
  lib/msal-angular/src/msal.redirect.component.spec.ts
  lib/msal-angular/src/msal.service.spec.ts
Labels: documentation, msal-angular

#7061 Make performanceClient.discardMeasurements() flush aux cache data in addition to measurements
  change/@azure-msal-common-e0ac26de-f149-4faf-adef-154f60c566b8.json
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: msal-common

#7062 Add cache_quota_exceeded error info to errors.md
  lib/msal-browser/docs/errors.md
Labels: documentation, msal-browser

#7019 Add getAccount API to IPublicClientApplication
  change/@azure-msal-browser-7b8679dc-1a5c-44b1-8f0a-bb52821145a9.json
  lib/msal-browser/src/app/IPublicClientApplication.ts
Labels: msal-browser

#7057 Fix `useIsAuthenticated` hook briefly returning false even though the user is authenticated
  change/@azure-msal-react-5355b5e3-0c1c-4e23-ae9d-a6d96ef4285d.json
  lib/msal-react/src/hooks/useIsAuthenticated.ts
  lib/msal-react/test/components/MsalAuthenticationTemplate.spec.tsx
  lib/msal-react/test/hooks/useIsAuthenticated.spec.tsx
Labels: msal-react

#7053 Add the protocolMode property to the configuration.md code example.
  lib/msal-browser/docs/configuration.md
Labels: documentation, msal-browser

#7001 MSAL-Node NetworkModule: Fixed inconsistencies with cancellationToken (timeout)
  change/@azure-msal-common-36d2e3a5-a377-457a-8f44-de8b7cfa68c2.json
  change/@azure-msal-node-09eb19fc-c2da-4430-8f1e-37987728ea16.json
  lib/msal-common/src/network/INetworkModule.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-node/src/network/HttpClient.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/network/HttpClient.spec.ts
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
  lib/msal-node/test/utils/MockNetworkClient.ts
Labels: msal-node, msal-common

#7060 Add node 22 to e2e test matrix
  .github/workflows/msal-node-e2e.yml
  lib/msal-node/README.md
Labels: documentation, msal-node

#7059 Removed Managed Identity Resource URI Validation
  change/@azure-msal-node-4db7cb53-4748-451c-8675-2bb9a4fe0bb1.json
  lib/msal-node/src/client/ManagedIdentityApplication.ts
  lib/msal-node/src/error/ManagedIdentityError.ts
  lib/msal-node/src/error/ManagedIdentityErrorCodes.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
Labels: msal-node

#6999 ClientCredential and OBO acquireToken requests with claims will now skip the cache
  change/@azure-msal-node-2c770c1f-88f0-42d9-b87e-591e60e975b6.json
  lib/msal-node/src/client/ClientCredentialClient.ts
  lib/msal-node/src/client/OnBehalfOfClient.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/test/client/ClientCredentialClient.spec.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/OnBehalfOfClient.spec.ts
Labels: msal-node

#7014 Client Assertion implementation now accepts an async callback as well as a string argument
  change/@azure-msal-common-d9223c68-d959-4da8-8a74-caa4f751c48a.json
  change/@azure-msal-node-93a9e21c-c628-4ae1-ad55-2e1217792f32.json
  lib/msal-common/src/account/ClientCredentials.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/index.ts
  lib/msal-common/src/utils/ClientAssertionUtils.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
  lib/msal-node/docs/initialize-confidential-client-application.md
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ClientCredentialClient.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/OnBehalfOfClient.ts
  lib/msal-node/src/client/UsernamePasswordClient.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/index.ts
  lib/msal-node/src/request/ClientCredentialRequest.ts
  lib/msal-node/test/client/ClientAssertion.spec.ts
  lib/msal-node/test/client/ClientCredentialClient.spec.ts
  lib/msal-node/test/client/ClientTestUtils.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/OnBehalfOfClient.spec.ts
  lib/msal-node/test/client/UsernamePasswordClient.spec.ts
  lib/msal-node/test/test_kit/StringConstants.ts
Labels: documentation, msal-node, msal-common
