Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2024-08, with the labels that each got.

#7210 Created MI FIC Sample
  samples/msal-node-samples/Managed-Identity/FIC/DownstreamApi.ts
  samples/msal-node-samples/Managed-Identity/FIC/README.md
  samples/msal-node-samples/Managed-Identity/FIC/index.ts
  samples/msal-node-samples/Managed-Identity/FIC/package.json
  samples/msal-node-samples/Managed-Identity/FIC/tsconfig.json
Labels: documentation, samples

#7218 Retry for invalid_grant errors - Silent Iframe
  change/@azure-msal-browser-0a4d9ab0-d163-4a04-a309-cdb0ffb0b18b.json
  change/@azure-msal-common-3f0b0ed0-570d-4cf5-9e97-44714464ed6c.json
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: documentation, msal-browser, msal-common

#7204 Remove Managed Identity Service Fabric Sample
  samples/msal-node-samples/Managed-Identity/ServiceFabric/DownstreamApi.ts
  samples/msal-node-samples/Managed-Identity/ServiceFabric/README.md
  samples/msal-node-samples/Managed-Identity/ServiceFabric/index.ts
  samples/msal-node-samples/Managed-Identity/ServiceFabric/package.json
  samples/msal-node-samples/Managed-Identity/ServiceFabric/tsconfig.json
Labels: documentation, samples

#7216 Retry for invalid_grant errors - Popup
  change/@azure-msal-browser-81a959cb-d13f-4308-a85c-6adce8200fe6.json
  change/@azure-msal-common-e948d125-328a-4475-9886-ff490b7985d9.json
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: documentation, msal-browser, msal-common

#7205 Updated Managed Identity IMDS Sample
  samples/msal-node-samples/Managed-Identity/Imds/DownstreamApi.ts
  samples/msal-node-samples/Managed-Identity/Imds/package.json
Labels: samples

#7238 Fix node e2e prompt=consent tests
  samples/e2eTestUtils/src/TestUtils.ts
Labels: samples

#7231 Retry for invalid_grant errors - Redirect
  change/@azure-msal-browser-19a76fe3-e6e0-470e-b076-b131405ffef6.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/error/BrowserAuthErrorCodes.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/request/RedirectRequest.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
Labels: documentation, msal-browser

#7209 clientSecret can now (once again) be provided as undefined
  change/@azure-msal-node-6f0eb47c-4e46-44a6-b012-c766e7392170.json
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
Labels: msal-node

#7225 Managed Identity - Added file-based detection for Azure Arc
  change/@azure-msal-node-5483cdd9-b571-4018-b9fd-cc85a982c443.json
  lib/msal-node/src/client/ManagedIdentitySources/AzureArc.ts
  lib/msal-node/test/client/ManagedIdentitySources/AzureArc.spec.ts
Labels: msal-node

#7247 Send the error template back when there's an error response
  change/@azure-msal-node-1bf044d7-51fc-4da3-81fa-d442c2f6c076.json
  lib/msal-node/src/network/LoopbackClient.ts
Labels: msal-node

#7249 Update retry for invalid_grant errors
  change/@azure-msal-browser-3a4cabb3-b4c2-46c4-a275-e6c3352004fd.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
Labels: msal-browser

#7251 onRedirectNavigate deprecation fix
  change/@azure-msal-browser-92feeccb-6366-4bec-9fdd-4467a5cf21e9.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
Labels: msal-browser

#7253 Post release
  change/@azure-msal-browser-0a4d9ab0-d163-4a04-a309-cdb0ffb0b18b.json
  change/@azure-msal-browser-19a76fe3-e6e0-470e-b076-b131405ffef6.json
  change/@azure-msal-browser-3a4cabb3-b4c2-46c4-a275-e6c3352004fd.json
  change/@azure-msal-browser-81a959cb-d13f-4308-a85c-6adce8200fe6.json
  change/@azure-msal-browser-92feeccb-6366-4bec-9fdd-4467a5cf21e9.json
  change/@azure-msal-browser-bfa268cd-3e3a-441a-a0e7-9d27f1ac6cc8.json
  change/@azure-msal-common-3f0b0ed0-570d-4cf5-9e97-44714464ed6c.json
  change/@azure-msal-common-e948d125-328a-4475-9886-ff490b7985d9.json
  change/@azure-msal-node-1bf044d7-51fc-4da3-81fa-d442c2f6c076.json
  change/@azure-msal-node-5483cdd9-b571-4018-b9fd-cc85a982c443.json
  change/@azure-msal-node-6f0eb47c-4e46-44a6-b012-c766e7392170.json
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/package.json
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/package.json
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/package.json
  package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#7262 Revert 'Use high precision TS for NAA message time (#7243)'
  change/@azure-msal-browser-25572a0b-84d6-4cf8-897b-cb033d46a99c.json
  lib/msal-browser/src/naa/BridgeProxy.ts
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
Labels: msal-browser

#7268 Use 127.0.0.1 when spinning up local loopback server
  change/@azure-msal-node-234bf880-8502-4a8e-8755-b58175525b0c.json
  lib/msal-node/src/network/LoopbackClient.ts
Labels: msal-node

#7270 Remove retries for popup and redirect
  change/@azure-msal-browser-85cc015e-a981-4a3a-931b-39e4ef1c980c.json
  change/@azure-msal-common-dd361954-4720-4d1f-a6a2-4750c47d3673.json
  change/@azure-msal-node-cd98a92a-846b-47bc-894b-873d04f9e2d7.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/error/BrowserAuthErrorCodes.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/network/LoopbackClient.ts
Labels: documentation, msal-node, msal-browser, msal-common

#7281 Post-release August 28 2024
  change/@azure-msal-browser-25572a0b-84d6-4cf8-897b-cb033d46a99c.json
  change/@azure-msal-browser-85cc015e-a981-4a3a-931b-39e4ef1c980c.json
  change/@azure-msal-common-dd361954-4720-4d1f-a6a2-4750c47d3673.json
  change/@azure-msal-node-234bf880-8502-4a8e-8755-b58175525b0c.json
  change/@azure-msal-node-cd98a92a-846b-47bc-894b-873d04f9e2d7.json
  extensions/msal-node-extensions/CHANGELOG.json
  extensions/msal-node-extensions/package.json
  lib/msal-angular/CHANGELOG.json
  lib/msal-angular/package.json
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  lib/msal-react/CHANGELOG.json
  lib/msal-react/package.json
  package-lock.json
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common, msal-react, extensions

#7260 changed UX selectors to id and name for e2e tests
  samples/e2eTestUtils/src/Constants.ts
  samples/e2eTestUtils/src/ElectronPlaywrightTestUtils.ts
  samples/e2eTestUtils/src/TestUtils.ts
Labels: samples
