Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2025-09, with the labels that each got.

#8025 [v5] Upgrade/Rollback E2E Tests
  .pipelines/3p-e2e.yml
  package-lock.json
  samples/e2eTestUtils/src/TestUtils.ts
  samples/msal-browser-samples/ExpressSample/.env.e2e
  samples/msal-browser-samples/ExpressSample/jest.config.cjs
  samples/msal-browser-samples/ExpressSample/package.json
  samples/msal-browser-samples/ExpressSample/public/css/styles.css
  samples/msal-browser-samples/ExpressSample/public/js/app.js
  samples/msal-browser-samples/ExpressSample/public/js/auth.js
  samples/msal-browser-samples/ExpressSample/public/js/graph.js
  samples/msal-browser-samples/ExpressSample/public/js/versionSwitcher.js
  samples/msal-browser-samples/ExpressSample/server.js
  samples/msal-browser-samples/ExpressSample/test/test-helpers.ts
  samples/msal-browser-samples/ExpressSample/test/upgrade-downgrade.spec.ts
  samples/msal-browser-samples/ExpressSample/tsconfig.json
  samples/msal-browser-samples/ExpressSample/views/error.hbs
  samples/msal-browser-samples/ExpressSample/views/layouts/main.hbs
  samples/msal-browser-samples/ExpressSample/views/partials/home-content.hbs
  samples/msal-browser-samples/ExpressSample/views/partials/profile-content.hbs
Labels: samples

#8014 Remove support for old versions of React and Node
  change/@azure-msal-node-7488300d-5258-4de2-81ef-c1682ee7ccda.json
  change/@azure-msal-node-extensions-eac56a55-4344-42a1-8435-6f3828298792.json
  change/@azure-msal-react-b1af7c8a-4f45-4c69-848b-0783f1742b39.json
  extensions/msal-node-extensions/package.json
  lib/msal-node/package.json
  lib/msal-react/docs/migration-guide-v4.md
  lib/msal-react/package.json
Labels: documentation, msal-node, msal-react, extensions

#8033 Export client capabilities helper
  change/@azure-msal-browser-f8f33dfb-8db9-43df-b19f-e94a8b27593e.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/utils/BrowserUtils.ts
Labels: documentation, msal-browser
