Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2025-05, with the labels that each got.

#7724 Detect multiple instances of MSAL in the same frame
  change/@azure-msal-browser-9ff080c9-3acf-482f-8b32-bc7a1c20f7b7.json
  change/@azure-msal-common-220acfcf-3e3d-4339-bee9-e17135051e20.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/controllers/IController.ts
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/utils/MsalFrameStatsUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: documentation, msal-browser, msal-common

#7704 Minor comment updates
  change/@azure-msal-node-22fb809a-f779-4386-9beb-0d5d37e00618.json
  lib/msal-node/src/retry/DefaultManagedIdentityRetryPolicy.ts
  lib/msal-node/test/client/ManagedIdentitySources/DefaultManagedIdentityRetryPolicy.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/test_kit/StringConstants.ts
Labels: msal-node

#7731 Gracefully handle old interaction format
  change/@azure-msal-browser-7cc9574f-3811-4d77-8527-5e3ee61ab52e.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
Labels: msal-browser

#7710 Enable React 19 usage
  change/@azure-msal-react-27880d02-99ec-4627-94d9-05a1d218232c.json
  lib/msal-react/README.md
  lib/msal-react/package.json
  package-lock.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/package.json
  samples/msal-react-samples/b2c-sample/package.json
  samples/msal-react-samples/nextjs-sample/next-env.d.ts
  samples/msal-react-samples/nextjs-sample/package.json
  samples/msal-react-samples/react-router-sample/package.json
  samples/msal-react-samples/typescript-sample/package.json
Labels: documentation, samples, msal-react

#7735 Enable React 19 usage (#7710)
  change/@azure-msal-react-27880d02-99ec-4627-94d9-05a1d218232c.json
  lib/msal-react/README.md
  lib/msal-react/package.json
  package-lock.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/package.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/src/app/components/PageLayout.tsx
  samples/msal-react-samples/b2c-sample/package.json
  samples/msal-react-samples/nextjs-sample/next-env.d.ts
  samples/msal-react-samples/nextjs-sample/package.json
  samples/msal-react-samples/react-router-sample/package.json
  samples/msal-react-samples/typescript-sample/package.json
Labels: documentation, samples, msal-react

#7749 Fix E2E Tests
  samples/e2eTestUtils/src/Constants.ts
  samples/e2eTestUtils/src/ElectronPlaywrightTestUtils.ts
  samples/e2eTestUtils/src/TestUtils.ts
  samples/msal-angular-samples/angular-b2c-sample/tsconfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserAAD.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserAADMultiTenant.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserAADTenanted.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/localStorage.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/tsconfig.json
  samples/msal-node-samples/tsconfig.json
  samples/msal-react-samples/b2c-sample/test/msa-account.spec.ts
  samples/msal-react-samples/tsconfig.json
Labels: samples

#7632 Add support for new platform broker flow via DOM API
  change/@azure-msal-browser-a202c777-7916-40aa-a0fe-81b7a800d1c7.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/broker/nativeBroker/IPlatformAuthHandler.ts
  lib/msal-browser/src/broker/nativeBroker/PlatformAuthDOMHandler.ts
  lib/msal-browser/src/broker/nativeBroker/PlatformAuthExtensionHandler.ts
  lib/msal-browser/src/broker/nativeBroker/PlatformAuthProvider.ts
  lib/msal-browser/src/broker/nativeBroker/PlatformBrokerRequest.ts
  lib/msal-browser/src/broker/nativeBroker/PlatformBrokerResponse.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PlatformAuthInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentAuthCodeClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/protocol/Authorize.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/broker/PlatformAuthDOMHandler.spec.ts
  lib/msal-browser/test/broker/PlatformAuthExtensionHandler.spec.ts
  lib/msal-browser/test/broker/PlatformAuthProvider.spec.ts
  lib/msal-browser/test/interaction_client/PlatformAuthInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/protocol/Authorize.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/wamBroker/authConfig.js
Labels: documentation, samples, msal-browser

#7565 Update README.md
  samples/msal-react-samples/typescript-sample/README.md
Labels: documentation, samples

#7563 Update configuration.md
  lib/msal-angular/docs/configuration.md
Labels: documentation, msal-angular

#7738 Upgrade/Rollback Telemetry
  change/@azure-msal-browser-f198cf62-fc18-4c1b-99d3-2317f048ed7c.json
  change/@azure-msal-common-5480aa2a-a988-4371-a778-2c3c77a7a30a.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/localStorage.spec.ts
Labels: documentation, samples, msal-browser, msal-common

#7769 Fix broken links and typos in error doc
  docs/errors.md
  lib/msal-browser/test/app/IPublicClientApplication.spec.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/broker/PlatformAuthExtensionHandler.spec.ts
  lib/msal-browser/test/error/BrowserAuthError.spec.ts
  lib/msal-browser/test/error/NativeAuthError.spec.ts
  lib/msal-browser/test/interaction_client/PlatformAuthInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-common/test/error/AuthError.spec.ts
  lib/msal-common/test/error/ClientAuthError.spec.ts
  lib/msal-common/test/error/ClientConfigurationError.spec.ts
  lib/msal-common/test/error/JoseHeaderError.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
Labels: documentation, msal-browser, msal-common

#7767 Removed Duplicate HTTP Status enum
  change/@azure-msal-common-6049e057-7d8b-401e-b52f-32564235fed3.json
  lib/msal-common/src/authority/RegionDiscovery.ts
  lib/msal-common/src/utils/Constants.ts
Labels: msal-common

#7697 [v5] Changes to Configuration - CacheOptions (Config #2)
  .github/ISSUE_TEMPLATE/bug_report.yml
  change/@azure-msal-browser-6f00d163-ea6e-4461-8d64-f654afaa2e5c.json
  change/@azure-msal-common-c037e1e0-4f7a-49c5-912a-ce0ea99fcf1e.json
  docs/errors.md
  lib/msal-angular/docs/configuration.md
  lib/msal-angular/docs/events.md
  lib/msal-angular/docs/initialization.md
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/docs/caching.md
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/request/RequestHelpers.ts
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/config/Configuration.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/request/RequestHelpers.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/exports-common.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfigs/aadAuthConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfigs/aadMultiTenantAuthConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfigs/aadTenantedAuthConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfigs/b2cAuthConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfigs/localStorageAuthConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/authConfigs/memStorageAuthConfig.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserMemStorage.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/testConfig.json
  samples/msal-react-samples/react-router-sample/README.md
Labels: documentation, msal-angular, samples, msal-browser, msal-common

#7773 BrokerConnectionEstablished Event
  change/@azure-msal-browser-9abd21db-9805-4114-a50c-7db475f5acbd.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/event/EventMessage.ts
  lib/msal-browser/src/event/EventType.ts
  lib/msal-browser/src/index.ts
Labels: documentation, msal-browser

#7759 Follow up on JS WAM-Edge integration work
  change/@azure-msal-browser-f6b2148c-0385-42b2-bc5d-058c8b3f12ec.json
  lib/msal-browser/src/broker/nativeBroker/IPlatformAuthHandler.ts
  lib/msal-browser/src/broker/nativeBroker/PlatformAuthDOMHandler.ts
  lib/msal-browser/src/broker/nativeBroker/PlatformAuthExtensionHandler.ts
  lib/msal-browser/src/broker/nativeBroker/PlatformAuthProvider.ts
  lib/msal-browser/src/broker/nativeBroker/PlatformAuthRequest.ts
  lib/msal-browser/src/broker/nativeBroker/PlatformAuthResponse.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/PlatformAuthInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/broker/PlatformAuthDOMHandler.spec.ts
  lib/msal-browser/test/broker/PlatformAuthExtensionHandler.spec.ts
  lib/msal-browser/test/broker/PlatformAuthProvider.spec.ts
  lib/msal-browser/test/interaction_client/PlatformAuthInteractionClient.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
Labels: msal-browser

#7679 Added token revocation functionality to Managed Identity's Service Fabric source
  change/@azure-msal-common-1ec481cb-c572-4e49-b1e0-37fb0097e025.json
  change/@azure-msal-node-870e01a0-ed8b-4e52-8367-c05200d113c5.json
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/exports-common.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/client/ManagedIdentityApplication.ts
  lib/msal-node/src/client/ManagedIdentitySources/AppService.ts
  lib/msal-node/src/client/ManagedIdentitySources/AzureArc.ts
  lib/msal-node/src/client/ManagedIdentitySources/BaseManagedIdentitySource.ts
  lib/msal-node/src/client/ManagedIdentitySources/CloudShell.ts
  lib/msal-node/src/client/ManagedIdentitySources/Imds.ts
  lib/msal-node/src/client/ManagedIdentitySources/MachineLearning.ts
  lib/msal-node/src/client/ManagedIdentitySources/ServiceFabric.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/request/ManagedIdentityRequest.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/ServiceFabric.spec.ts
  lib/msal-node/test/test_kit/StringConstants.ts
Labels: documentation, msal-node, msal-common

#7768 Upgrade/Rollback Telemetry v5
  change/@azure-msal-browser-f198cf62-fc18-4c1b-99d3-2317f048ed7c.json
  change/@azure-msal-common-5480aa2a-a988-4371-a778-2c3c77a7a30a.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/localStorage.spec.ts
Labels: documentation, samples, msal-browser, msal-common

#7787 Overhauled the comments in Imds.ts to make the code easier to read
  change/@azure-msal-node-a8845edb-0322-426b-ab9b-101692a58db2.json
  lib/msal-node/src/client/ManagedIdentitySources/Imds.ts
Labels: msal-node

#7789 Added JSDocs in ServiceFabric.ts
  change/@azure-msal-node-cc3beab7-cc9f-4991-b016-5c46edb4fc63.json
  lib/msal-node/src/client/ManagedIdentitySources/Imds.ts
  lib/msal-node/src/client/ManagedIdentitySources/ServiceFabric.ts
Labels: msal-node

#7795 Bump common to 15.7.0
  change/@azure-msal-browser-6565a42f-0150-41fa-b95b-834977b8a5a1.json
  change/@azure-msal-common-1ec481cb-c572-4e49-b1e0-37fb0097e025.json
  change/@azure-msal-common-21ee640d-49c5-43e2-914b-6af65736a42e.json
  change/@azure-msal-common-5480aa2a-a988-4371-a778-2c3c77a7a30a.json
  change/@azure-msal-common-6049e057-7d8b-401e-b52f-32564235fed3.json
  change/@azure-msal-common-d94419f4-a31a-4b99-a40d-f04a808bb1e2.json
  change/@azure-msal-node-5cfcfa9a-e643-49cb-801a-dca4a789aada.json
  change/@azure-msal-node-extensions-42b11f1f-f911-4168-be89-0a5c66ee7a46.json
  extensions/msal-node-extensions/package.json
  lib/msal-browser/package.json
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/package.json
  package-lock.json
Labels: documentation, msal-node, msal-browser, msal-common, extensions

#7792 Improvements to client-credentials-with-cert-from-key-vault sample
  package-lock.json
  samples/msal-node-samples/cliArgs.ts
  samples/msal-node-samples/client-credentials-with-cert-from-key-vault/README.md
  samples/msal-node-samples/client-credentials-with-cert-from-key-vault/app.ts
  samples/msal-node-samples/client-credentials-with-cert-from-key-vault/package.json
Labels: documentation, samples
