Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2025-04, with the labels that each got.

#7657 update cache miss to warning from error
  change/@azure-msal-browser-b8331fbd-7e54-4c81-9dbf-d133b23b93bb.json
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
Labels: msal-browser

#7680 Fix a bug in handleRedirectPromise when invoked after logoutRedirect
  change/@azure-msal-browser-89e5a8e4-9268-4c87-8e68-a8d783abd163.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
Labels: msal-browser

#7682 New resetInProgressEvent method to reset event to None after handleRedirectPromise completes
  change/@azure-msal-angular-ecec97fd-ef4a-434a-acbb-42aae92467b7.json
  lib/msal-angular/karma.conf.js
  lib/msal-angular/src/msal.broadcast.service.spec.ts
  lib/msal-angular/src/msal.broadcast.service.ts
  lib/msal-angular/src/msal.guard.spec.ts
  lib/msal-angular/src/msal.interceptor.spec.ts
  lib/msal-angular/src/msal.navigation.client.spec.ts
  lib/msal-angular/src/msal.redirect.component.spec.ts
  lib/msal-angular/src/msal.service.spec.ts
  lib/msal-angular/src/msal.service.ts
  package-lock.json
Labels: msal-angular

#7683 Fix v5 merge error
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
Labels: msal-browser

#7699 Add config option to not encode extra params
  change/@azure-msal-browser-e8d3cc67-0e49-4dfc-9d6b-fe1e3f0060b6.json
  change/@azure-msal-common-6bcb71b8-7cc2-4044-ad9b-3aa8ac0be8d9.json
  change/@azure-msal-node-ce9f6cb7-c0a0-4379-a8f8-b975b6e9f8b8.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/protocol/Authorize.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/protocol/Authorize.ts
  lib/msal-common/src/utils/UrlUtils.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/protocol/Authorize.ts
  package-lock.json
Labels: documentation, msal-node, msal-browser, msal-common

#7674 Refactor AccountEntity into type
  change/@azure-msal-browser-2f59d691-955b-4fc1-831c-ce6b66d252e7.json
  change/@azure-msal-common-6156e5dc-f57b-4cc1-ad9e-6926623f9f05.json
  change/@azure-msal-node-b5cd5357-40c8-4153-91e4-f8b397798795.json
  change/@azure-msal-react-086e0896-5914-4d05-8053-dbf8bf5386c4.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TestStorageManager.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentCacheClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentRefreshClient.spec.ts
  lib/msal-browser/test/interaction_client/StandardInteractionClient.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/cache/utils/AccountEntityUtils.ts
  lib/msal-common/src/exports-common.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/test/account/AccountInfo.spec.ts
  lib/msal-common/test/cache/AccountEntity.spec.ts
  lib/msal-common/test/cache/AccountEntityUtils.spec.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/entities/cacheConstants.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-node/src/cache/NodeStorage.ts
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/cache/distributed/DistributedCachePlugin.ts
  lib/msal-node/src/cache/serializer/Deserializer.ts
  lib/msal-node/test/cache/Storage.spec.ts
  lib/msal-node/test/cache/cacheConstants.ts
  lib/msal-node/test/client/ClientTestUtils.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/OnBehalfOfClient.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-react/src/hooks/useAccount.ts
  shared-test-utils/src/CredentialGenerators.ts
Labels: documentation, msal-node, msal-browser, msal-common, msal-react

#7695 [v5] Changes to Configuration - BrowserAuthOptions (Config #1)
  change/@azure-msal-browser-47a421a0-b795-4c4d-81b2-3f1ba6db85a9.json
  change/@azure-msal-common-e34a2020-1a97-410d-963b-08e910174a0d.json
  change/@azure-msal-node-485c21d3-c772-49f5-9425-10a96df9e76e.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/docs/initialization.md
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/protocol/Authorize.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/config/Configuration.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_client/StandardInteractionClient.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityOptions.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/docs/configuration.md
  lib/msal-node/docs/initialize-public-client-application.md
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/protocol/Authorize.ts
  lib/msal-node/test/client/ClientTestUtils.ts
Labels: documentation, msal-node, msal-browser, msal-common

#7698 Support web fallback
  lib/msal-custom-auth/src/CustomAuthPublicClientApplication.ts
  lib/msal-custom-auth/src/ICustomAuthPublicClientApplication.ts
  lib/msal-custom-auth/src/core/error/InvalidConfigurationError.ts
  lib/msal-custom-auth/src/core/interaction_client/CustomAuthInteractionClientBase.ts
  lib/msal-custom-auth/src/reset_password/auth_flow/error_type/ResetPasswordError.ts
  lib/msal-custom-auth/src/reset_password/interaction_client/ResetPasswordClient.ts
  lib/msal-custom-auth/src/sign_in/auth_flow/error_type/SignInError.ts
  lib/msal-custom-auth/src/sign_in/interaction_client/SignInClient.ts
  lib/msal-custom-auth/src/sign_up/auth_flow/error_type/SignUpError.ts
  lib/msal-custom-auth/src/sign_up/interaction_client/SignUpClient.ts
  lib/msal-custom-auth/test/CustomAuthPublicClientApplication.spec.ts
  lib/msal-custom-auth/test/controller/CustomAuthStandardController.spec.ts
  lib/msal-custom-auth/test/integration_tests/ResetPassword.spec.ts
  lib/msal-custom-auth/test/integration_tests/SignIn.spec.ts
  lib/msal-custom-auth/test/integration_tests/SignUp.spec.ts
  lib/msal-custom-auth/test/reset_password/auth_flow/error_type/ResetPasswordError.spec.ts
  lib/msal-custom-auth/test/sign_in/auth_flow/error_type/SignInError.spec.ts
  lib/msal-custom-auth/test/sign_up/auth_flow/error_type/SignUpError.spec.ts
  package-lock.json
Labels: msal-custom-auth

#7703 Add e2e test to cover login-logout-login scenario
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserAAD.spec.ts
Labels: samples

#7707 Deprecate cache options
  change/@azure-msal-browser-86f9da8f-a58b-4f89-bc6b-d89c970890af.json
  change/@azure-msal-common-895a7c22-36eb-4f34-9299-55de6ce5e4bc.json
  lib/msal-angular/docs/configuration.md
  lib/msal-angular/docs/initialization.md
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/docs/caching.md
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-common/src/config/ClientConfiguration.ts
Labels: documentation, msal-angular, msal-browser, msal-common

#7714 Fix circular dependency in Angular
  change/@azure-msal-angular-34f593f3-625c-453f-bd2b-4793cf05757f.json
  change/@azure-msal-browser-3ef5a999-873c-4c3c-adac-ece031405cc6.json
  change/@azure-msal-common-589fd386-e7e6-432e-8aee-2bf17430df4c.json
  change/@azure-msal-node-50ccabcc-b72f-496a-bc19-28502ee3dbf3.json
  lib/msal-angular/src/msal.broadcast.service.ts
  lib/msal-browser/src/cache/ITokenCache.ts
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/utils/BrowserUtils.ts
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/crypto/ICrypto.ts
  lib/msal-common/src/logger/Logger.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-node/src/config/ManagedIdentityId.ts
  shared-configs/eslint-config-msal/index.js
Labels: msal-angular, msal-node, msal-browser, msal-common

#7718 Update dependencies
  package-lock.json
  samples/msal-angular-samples/angular-b2c-sample/package.json
  samples/msal-angular-samples/angular-modules-sample/package.json
Labels: samples

#7720 Fix react initialization race
  change/@azure-msal-browser-6911f6de-1b4b-48fc-9ac9-f298b28461bc.json
  change/@azure-msal-react-652ee5f7-5382-4665-b7b0-63e35a83d49c.json
  lib/msal-browser/src/cache/LocalStorage.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/src/hooks/useAccount.ts
  lib/msal-react/src/hooks/useMsalAuthentication.ts
  samples/msal-react-samples/b2c-sample/src/ui-components/WelcomeName.jsx
  samples/msal-react-samples/nextjs-sample/src/ui-components/WelcomeName.jsx
  samples/msal-react-samples/nextjs-sample/test/profile.spec.ts
  samples/msal-react-samples/react-router-sample/src/ui-components/WelcomeName.jsx
  samples/msal-react-samples/react-router-sample/test/profile.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileRawContext.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileWithMsal.spec.ts
  samples/msal-react-samples/typescript-sample/test/profile.spec.ts
Labels: samples, msal-browser, msal-react

#7721 Surface get/post errors
  change/@azure-msal-browser-85e33d4b-7ed2-45b9-9d72-4c20f2b8a437.json
  change/@azure-msal-common-11e9cc69-4ab2-4979-ba45-b63f40e4a81b.json
  lib/msal-browser/src/network/FetchClient.ts
  lib/msal-browser/test/network/FetchClient.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/error/NetworkError.ts
Labels: documentation, msal-browser, msal-common

#7726 [v5] Fix merge error imports
  change/@azure-msal-angular-48b0aa4b-dd5c-4b09-b42b-20659c17396d.json
  change/@azure-msal-browser-280b74a4-e94f-4faf-90cb-a008537d8905.json
  change/@azure-msal-common-3854ea31-8c2c-4c5b-9cc3-da0a8bcb8cb7.json
  lib/msal-angular/package.json
  lib/msal-angular/tsconfig.json
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  package-lock.json
  samples/msal-angular-samples/angular-b2c-sample/angular.json
  samples/msal-angular-samples/angular-b2c-sample/package.json
  samples/msal-angular-samples/angular-b2c-sample/tsconfig.json
  samples/msal-angular-samples/angular-modules-sample/package.json
  samples/msal-angular-samples/angular-modules-sample/tsconfig.json
  samples/msal-angular-samples/angular-standalone-sample/package.json
Labels: msal-angular, samples, msal-browser, msal-common

#7719 Add jest-junit reporter
  change/@azure-msal-browser-5e39ef85-6971-4e70-a1a8-f98c88322cd9.json
  change/@azure-msal-common-b1a745e8-aa27-403c-b7af-05e7fc3a0f6d.json
  change/@azure-msal-node-extensions-897a2df5-f771-4834-82f7-c87bbdaf322e.json
  change/@azure-msal-node-f8dabd55-f77f-44f9-adf1-40b2b6858fa3.json
  change/@azure-msal-react-8d8fd3bc-1ded-4339-a3a6-6f66c43362d9.json
  extensions/msal-node-extensions/package.json
  lib/msal-browser/package.json
  lib/msal-common/package.json
  lib/msal-node/jest.config.cjs
  lib/msal-node/package.json
  lib/msal-react/package.json
  package-lock.json
  shared-configs/jest-config/jest.config.cjs
Labels: msal-node, msal-browser, msal-common, msal-react, extensions
