Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2025-07, with the labels that each got.

#7547 Angular standalone sample updates
  samples/msal-angular-samples/angular-standalone-sample/src/app/app.component.ts
Labels: samples, Needs: Attention :wave:

#7865 [v5] Remove access tokens when quota is reached
  change/@azure-msal-browser-50757db1-6bd3-417d-9110-2924ff7657ce.json
  change/@azure-msal-common-5a7250ca-cf91-45cc-9c08-d6e805930cd7.json
  change/@azure-msal-node-ebb80dd9-5119-4d7a-b35e-7e14ab6c139b.json
  lib/msal-browser/src/cache/AccountManager.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PlatformAuthInteractionClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/interface/ICacheManager.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/error/CacheError.ts
  lib/msal-common/src/error/CacheErrorCodes.ts
  lib/msal-common/src/exports-common.ts
  lib/msal-common/src/network/ThrottlingUtils.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvents.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/BaseClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/network/ThrottlingUtils.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/client/ClientCredentialClient.ts
  lib/msal-node/src/client/OnBehalfOfClient.ts
  lib/msal-node/test/client/ClientCredentialClient.spec.ts
Labels: documentation, msal-node, msal-browser, msal-common

#7869 [v5] Update Angular and Node version support
  .pipelines/3p-e2e.yml
  change/@azure-msal-angular-c98029e5018e6e92dae287c3c1917b3605891532.json
  change/@azure-msal-node-c98029e5018e6e92dae287c3c1917b3605891532.json
  lib/msal-angular/FAQ.md
  lib/msal-angular/README.md
  lib/msal-node/README.md
  package-lock.json
  samples/msal-angular-samples/README.md
  samples/msal-angular-samples/angular-b2c-sample/angular.json
  samples/msal-angular-samples/angular-b2c-sample/karma.conf.js
  samples/msal-angular-samples/angular-b2c-sample/package.json
  samples/msal-angular-samples/angular-b2c-sample/tsconfig.json
  samples/msal-angular-samples/angular-modules-sample/angular.json
  samples/msal-angular-samples/angular-modules-sample/package.json
  samples/msal-angular-samples/angular-modules-sample/tsconfig.json
  samples/msal-angular-samples/angular-standalone-sample/angular.json
  samples/msal-angular-samples/angular-standalone-sample/package.json
  samples/msal-angular-samples/angular-standalone-sample/tsconfig.json
Labels: documentation, msal-angular, samples, msal-node

#7871 Improve the custom auth unit tests
  change/@azure-msal-browser-ba911169-a843-495e-a0ec-be0947de6cac.json
  lib/msal-browser/test/custom_auth/controller/CustomAuthStandardController.spec.ts
  lib/msal-browser/test/custom_auth/core/CustomAuthAuthority.spec.ts
  lib/msal-browser/test/custom_auth/core/network_client/custom_auth_api/CustomAuthApiClient.spec.ts
  lib/msal-browser/test/custom_auth/core/network_client/http_client/FetchClient.spec.ts
  lib/msal-browser/test/custom_auth/get_account/interaction_client/CustomAuthSilentCacheClient.spec.ts
  lib/msal-browser/test/custom_auth/integration_tests/ResetPassword.spec.ts
  lib/msal-browser/test/custom_auth/integration_tests/SignIn.spec.ts
  lib/msal-browser/test/custom_auth/integration_tests/SignUp.spec.ts
  lib/msal-browser/test/custom_auth/reset_password/auth_flow/state/ResetPasswordCodeRequiredState.spec.ts
  lib/msal-browser/test/custom_auth/reset_password/auth_flow/state/ResetPasswordPasswordRequiredState.spec.ts
  lib/msal-browser/test/custom_auth/reset_password/interaction_client/ResetPasswordClient.spec.ts
  lib/msal-browser/test/custom_auth/sign_in/auth_flow/state/SignInCodeRequiredState.spec.ts
  lib/msal-browser/test/custom_auth/sign_in/auth_flow/state/SignInContinuationState.spec.ts
  lib/msal-browser/test/custom_auth/sign_in/auth_flow/state/SignInPasswordRequiredState.spec.ts
  lib/msal-browser/test/custom_auth/sign_in/interation_client/SignInClient.spec.ts
  lib/msal-browser/test/custom_auth/sign_up/auth_flow/state/SignUpAttributesRequiredState.spec.ts
  lib/msal-browser/test/custom_auth/sign_up/auth_flow/state/SignUpCodeRequiredState.spec.ts
  lib/msal-browser/test/custom_auth/sign_up/auth_flow/state/SignUpPasswordRequiredState.spec.ts
  lib/msal-browser/test/custom_auth/sign_up/interaction_client/SignUpClient.spec.ts
  lib/msal-browser/test/custom_auth/test_resources/TestModules.ts
Labels: msal-browser

#7867 [v5] Throw timeout if redirect fails
  change/@azure-msal-browser-95758454-20db-46fa-bff7-0fa737d064dc.json
  docs/errors.md
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/error/BrowserAuthErrorCodes.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/navigation/NavigationClient.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/navigation/NavigationClient.spec.ts
Labels: documentation, msal-browser

#7906 [v5] Remove unused RequestValidator class
  change/@azure-msal-common-76b2aadc-a06c-4ad6-b941-94031039267f.json
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/error/ClientConfigurationErrorCodes.ts
  lib/msal-common/src/request/RequestValidator.ts
  lib/msal-common/test/request/RequestValidator.spec.ts
Labels: documentation, msal-common

#7918 [v5] Add documentation for acquireTokenInteractive in msal-node (#7887)
  lib/msal-node/docs/faq.md
  lib/msal-node/docs/request.md
Labels: documentation, msal-node

#7858 Fixed broken links in READMEs
  lib/msal-node/docs/caching.md
  lib/msal-node/docs/faq.md
  lib/msal-react/docs/class-components.md
  samples/msal-browser-samples/vue3-sample-app/README.md
  samples/msal-node-samples/custom-INetworkModule-and-network-tracing/README.md
Labels: documentation, samples, msal-node, msal-react

#7924 Add support for custom claims and password change required error
  lib/msal-browser/src/custom_auth/CustomAuthActionInputs.ts
  lib/msal-browser/src/custom_auth/controller/CustomAuthStandardController.ts
  lib/msal-browser/src/custom_auth/core/auth_flow/AuthFlowErrorBase.ts
  lib/msal-browser/src/custom_auth/core/network_client/custom_auth_api/SignInApiClient.ts
  lib/msal-browser/src/custom_auth/core/network_client/custom_auth_api/types/ApiRequestTypes.ts
  lib/msal-browser/src/custom_auth/core/utils/ArgumentValidator.ts
  lib/msal-browser/src/custom_auth/get_account/auth_flow/CustomAuthAccountData.ts
  lib/msal-browser/src/custom_auth/sign_in/auth_flow/error_type/SignInError.ts
  lib/msal-browser/src/custom_auth/sign_in/auth_flow/state/SignInCodeRequiredState.ts
  lib/msal-browser/src/custom_auth/sign_in/auth_flow/state/SignInContinuationState.ts
  lib/msal-browser/src/custom_auth/sign_in/auth_flow/state/SignInPasswordRequiredState.ts
  lib/msal-browser/src/custom_auth/sign_in/auth_flow/state/SignInStateParameters.ts
  lib/msal-browser/src/custom_auth/sign_in/interaction_client/SignInClient.ts
  lib/msal-browser/src/custom_auth/sign_in/interaction_client/parameter/SignInParams.ts
  lib/msal-browser/test/custom_auth/core/utils/ArgumentValidator.spec.ts
  lib/msal-browser/test/custom_auth/get_account/auth_flow/CustomAuthAccountData.spec.ts
  lib/msal-browser/test/custom_auth/integration_tests/GetAccount.spec.ts
  lib/msal-browser/test/custom_auth/integration_tests/ResetPassword.spec.ts
  lib/msal-browser/test/custom_auth/integration_tests/SignIn.spec.ts
  lib/msal-browser/test/custom_auth/integration_tests/SignUp.spec.ts
  lib/msal-browser/test/custom_auth/sign_in/auth_flow/error_type/SignInError.spec.ts
  lib/msal-browser/test/custom_auth/sign_in/interation_client/SignInClient.spec.ts
Labels: msal-browser

#7947 Remove preview from readme
  README.md
Labels: documentation

#7943 [v5] Adding removed functions and parameters to MSAL Browser migration guide
  lib/msal-browser/docs/v4-migration.md
Labels: documentation, msal-browser

#7951 Bump MSAL Browser to 4.17.0
  change/@azure-msal-browser-8ea0dcd6-f5bb-4106-b6ce-b7442e8848de.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  package-lock.json
Labels: documentation, msal-browser
