Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2025-01, with the labels that each got.

#7486 Addressed CodeQL Findings
  extensions/samples/msal-node-extensions/index.js
  samples/e2eTestUtils/jest-puppeteer-utils/serverUtils.js
  samples/msal-browser-samples/HybridSample/routes/auth.js
  samples/msal-node-samples/auth-code-distributed-cache/src/middleware.ts
  samples/msal-node-samples/auth-code-key-vault/index.js
  samples/msal-node-samples/auth-code-pkce/src/index.ts
  samples/msal-node-samples/auth-code-with-certs/index.js
  samples/msal-node-samples/auth-code/index.js
  samples/msal-node-samples/on-behalf-of/web-api/index.js
  samples/msal-node-samples/on-behalf-of/web-app/index.js
Labels: samples, extensions

#7499 Add back rejectUnauthorized request option to support self-signed certificates
  samples/e2eTestUtils/jest-puppeteer-utils/serverUtils.js
Labels: samples

#7493 Disable tests using B2C AAD client app registration
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserB2C.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-aad.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-aad.spec.ts
Labels: samples

#7504 Added CodeQL Suppression Comment
  samples/e2eTestUtils/jest-puppeteer-utils/serverUtils.js
Labels: samples

#7475 Fix unhandled exception in NAA JS Runtime scenario
  change/@azure-msal-browser-abd084f2-52c9-4078-b44c-5680a1e2f431.json
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/utils/BrowserUtils.ts
Labels: msal-browser

#7477 Add test for JS Runtime NAA scenario
  change/@azure-msal-browser-993190c0-4218-44e8-bb72-1cca34039657.json
  lib/msal-browser/test/naa/BridgeProxyConstants.ts
  lib/msal-browser/test/naa/JSRuntime.spec.ts
Labels: msal-browser

#7509 Bump react and angular to next major versions
  change/@azure-msal-angular-500863bb-24e7-49b2-8886-1c7d131bc242.json
  change/@azure-msal-angular-ca069174-a543-41eb-81e0-9b557d613d79.json
  change/@azure-msal-react-2056eb77-ca52-434d-957b-2d24a1c5fdb8.json
  change/@azure-msal-react-a1a3a19a-d2d2-473e-96b7-d886f979f177.json
  lib/msal-angular/package.json
  lib/msal-angular/src/packageMetadata.ts
  lib/msal-react/apiReview/msal-react.api.md
  lib/msal-react/package.json
  lib/msal-react/src/packageMetadata.ts
  package-lock.json
  samples/msal-angular-v3-samples/angular-b2c-sample-app/package.json
  samples/msal-angular-v3-samples/angular-standalone-sample/package.json
  samples/msal-angular-v3-samples/angular15-sample-app/package.json
  samples/msal-angular-v3-samples/angular16-sample-app/package.json
  samples/msal-angular-v3-samples/angular17-standalone-sample/package.json
  samples/msal-angular-v3-samples/angular18-standalone-sample/package.json
  samples/msal-react-samples/b2c-sample/package.json
  samples/msal-react-samples/nextjs-sample/package.json
  samples/msal-react-samples/react-router-sample/package.json
  samples/msal-react-samples/typescript-sample/package.json
Labels: documentation, msal-angular, samples, msal-react

#7510 Update changelogs with links to migration guides
  lib/msal-angular/CHANGELOG.md
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/docs/v3-migration.md
  lib/msal-node/CHANGELOG.md
  lib/msal-react/CHANGELOG.md
Labels: documentation, msal-angular, msal-node, msal-browser, msal-react

#7488 Fixed incorrect IMDS resource ID query parameter
  change/@azure-msal-node-643086d5-3524-43f3-adf2-97b752020dda.json
  lib/msal-node/src/client/ManagedIdentitySources/BaseManagedIdentitySource.ts
  lib/msal-node/src/client/ManagedIdentitySources/Imds.ts
  lib/msal-node/test/client/ManagedIdentitySources/AppService.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/ServiceFabric.spec.ts
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
Labels: msal-node

#7521 Create the interfaces for signup in network client
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/CustomAuthApiClient.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/CustomAuthApiResponseHandler.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/ICustomAuthApiClient.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/request/SignInRequest.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/request/SignUpRequest.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/response/ApiResponse.ts
  lib/msal-custom-auth/src/sign_in/interaction_client/SignInClient.ts
  lib/msal-custom-auth/src/sign_up/interaction_client/parameter/SignUpParams.ts
  lib/msal-custom-auth/test/core/network_client/custom_auth_api/CustomAuthApiResponseHandler.spec.ts
Labels: msal-custom-auth

#7513 Fix initialization error due to undefined PerformanceClient
  change/@azure-msal-browser-09285e1c-d0cf-4c1e-91b9-29bffff29219.json
  change/@azure-msal-common-4fe6c2aa-76e9-44fe-a9f7-7e12f23f0a8e.json
  change/@azure-msal-node-8e26501e-3a6e-4867-bbda-21ffce4c83de.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  package-lock.json
  package.json
  shared-configs/eslint-config-msal/index.js
  shared-configs/eslint-config-msal/package.json
  shared-configs/eslint-plugin-custom-msal/index.js
  shared-configs/eslint-plugin-custom-msal/package.json
  shared-configs/eslint-plugin-custom-msal/rules/no-class-methods-in-constructor.js
  shared-configs/eslint-plugin-custom-msal/test/no-class-methods-in-constructor.test.js
Labels: documentation, msal-node, msal-browser, msal-common

#7512 Added Support for Azure Machine Learning in Managed Identity
  change/@azure-msal-node-ca262c56-49c0-4e6c-b402-b296b4a10d52.json
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/docs/managed-identity.md
  lib/msal-node/src/client/ManagedIdentityClient.ts
  lib/msal-node/src/client/ManagedIdentitySources/MachineLearning.ts
  lib/msal-node/src/client/ManagedIdentitySources/ServiceFabric.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ManagedIdentitySources/MachineLearning.spec.ts
  lib/msal-node/test/test_kit/StringConstants.ts
Labels: documentation, msal-node

#7390 Update current account and active account behavior in NAA apps
  change/@azure-msal-browser-50774907-a2a9-4497-871f-174eec7529d5.json
  change/@azure-msal-browser-baf43a42-f2af-4533-a0ad-e293c625d745.json
  lib/msal-browser/docs/accounts.md
  lib/msal-browser/docs/initialization.md
  lib/msal-browser/src/app/PublicClientApplication.ts
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/test/controllers/NestedAppAuthController.spec.ts
  lib/msal-browser/test/naa/BridgeProxyConstants.ts
  samples/msal-browser-samples/OfficeAddin/src/taskpane/taskpane.js
Labels: documentation, samples, msal-browser

#7517 Update text around regional support for CDNs
  lib/msal-browser/docs/cdn-usage.md
Labels: documentation, msal-browser

#7526 Cdn doc update
  lib/msal-browser/docs/cdn-usage.md
Labels: documentation, msal-browser

#7500 Fixing dead-link to FAQ
  README.md
Labels: documentation

#7534 Fix mocks in ManagedIdentitySources tests
  lib/msal-node/test/client/ManagedIdentitySources/AppService.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/AzureArc.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/MachineLearning.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/ServiceFabric.spec.ts
Labels: msal-node

#7538 Revert custom account usage for MSA tests
  samples/e2eTestUtils/src/Constants.ts
  samples/e2eTestUtils/src/index.ts
  samples/msal-angular-samples/angular-b2c-sample/test/msa-account.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-msa.spec.ts
  samples/msal-node-samples/b2c-user-flows/test/user-flows-msa.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-msa.spec.ts
  samples/msal-react-samples/b2c-sample/test/msa-account.spec.ts
Labels: samples

#7469 msal-node bug fix: acquireTokenSilent doesn't look in persistent cache
  change/@azure-msal-common-5d65e4cb-6e6e-4407-86e9-ecf5d85653ca.json
  change/@azure-msal-node-8e48825c-8f75-401e-8d0d-d6734164cc95.json
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/test/cache/TokenCache.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-aad-agc-public.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-aad.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-adfs.spec.ts
Labels: documentation, samples, msal-node, msal-common

#7543 Instrument additional data points
  change/@azure-msal-browser-73ec5ebe-e4ae-4669-ae10-1f218239df94.json
  change/@azure-msal-common-a68a68db-d459-40f8-bdb4-4ea01b1ed588.json
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
Labels: documentation, msal-browser, msal-common

#7545 Fixed some test constants and imports
  change/@azure-msal-common-c9883ffe-11ce-4a10-a7be-eb122938d581.json
  change/@azure-msal-node-ad6aafc8-b9f8-41bc-b79d-a40614eb9016.json
  lib/msal-common/test/test_kit/StringConstants.ts
  lib/msal-node/test/test_kit/StringConstants.ts
Labels: msal-node, msal-common
