Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2025-06, with the labels that each got.

#7801 TypeScript sample compiles again
  package-lock.json
  samples/msal-node-samples/client-credentials-with-cert-from-key-vault/README.md
  samples/msal-node-samples/client-credentials-with-cert-from-key-vault/app.ts
  samples/msal-node-samples/client-credentials-with-cert-from-key-vault/cliArgs.ts
  samples/msal-node-samples/client-credentials-with-cert-from-key-vault/package.json
  samples/msal-node-samples/client-credentials-with-cert-from-key-vault/test/client-credentials-with-cert-from-key-vault-aad.spec.ts
  samples/msal-node-samples/client-credentials-with-cert-from-key-vault/tsconfig.json
Labels: documentation, samples

#7818 Decompose telemetry events
  change/@azure-msal-browser-5a79d42c-8f4e-4452-a817-90ae1ffc0b7a.json
  change/@azure-msal-common-eb977581-d87d-4155-90ff-bc9003e7a933.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/broker/nativeBroker/PlatformAuthExtensionHandler.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/LocalStorage.ts
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/crypto/PkceGenerator.ts
  lib/msal-browser/src/index.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PlatformAuthInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentAuthCodeClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/src/protocol/Authorize.ts
  lib/msal-browser/src/request/RequestHelpers.ts
  lib/msal-browser/src/telemetry/BrowserPerformanceClient.ts
  lib/msal-browser/src/telemetry/BrowserPerformanceEvents.ts
  lib/msal-browser/src/telemetry/BrowserRootPerformanceEvents.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/telemetry/BrowserPerformanceClient.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityFactory.ts
  lib/msal-common/src/authority/RegionDiscovery.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/crypto/PopTokenGenerator.ts
  lib/msal-common/src/exports-browser-only.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvents.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
Labels: documentation, msal-browser, msal-common

#7816 Machine Learning Managed Identity will throw an error if the UAMI id type is not "Client Id".
  lib/msal-node/src/client/ManagedIdentitySources/MachineLearning.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/MachineLearning.spec.ts
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
Labels: msal-node

#7825 Added tests for PlatformDOMRequest ExtraParameters (v5)
  change/@azure-msal-browser-39c2410e-0746-4f81-bc8e-f8d9bbfce4cf.json
  lib/msal-browser/src/broker/nativeBroker/PlatformAuthProvider.ts
  lib/msal-browser/test/broker/PlatformAuthDOMHandler.spec.ts
  lib/msal-browser/test/interaction_client/PlatformAuthInteractionClient.spec.ts
Labels: msal-browser

#7796 [v3] Minor cache changes to support future v4/5 work
  change/@azure-msal-browser-69ccec23-9d96-4e52-9833-6515f48a7c69.json
  change/@azure-msal-common-60537bee-832d-4f63-87c9-17aa80846041.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/account/AccountInfo.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/cache/entities/CredentialEntity.ts
  samples/e2eTestUtils/src/BrowserCacheTestUtils.ts
  samples/msal-angular-v3-samples/angular-standalone-sample/test/home.spec.ts
  samples/msal-angular-v3-samples/angular-standalone-sample/test/profile.spec.ts
  samples/msal-angular-v3-samples/angular15-sample-app/test/home.spec.ts
  samples/msal-angular-v3-samples/angular15-sample-app/test/profile.spec.ts
  samples/msal-angular-v3-samples/angular16-sample-app/test/home.spec.ts
  samples/msal-angular-v3-samples/angular16-sample-app/test/profile.spec.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/test/home.spec.ts
  samples/msal-angular-v3-samples/angular17-standalone-sample/test/profile.spec.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/test/home.spec.ts
  samples/msal-angular-v3-samples/angular18-standalone-sample/test/profile.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/localStorage.spec.ts
  samples/msal-react-samples/react-router-sample/test/home.spec.ts
  samples/msal-react-samples/react-router-sample/test/profile.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileRawContext.spec.ts
  samples/msal-react-samples/react-router-sample/test/profileWithMsal.spec.ts
Labels: documentation, samples, msal-browser, msal-common

#7812 [v5] Renaming `asyncPopups` to `navigatePopups` in Configuration
  change/@azure-msal-browser-d4a55b4b-1dd7-439e-becb-16cbcec443da.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/docs/configuration.md
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/config/Configuration.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
Labels: documentation, msal-browser

#7832 MSAL Browser v5 migration guide
  lib/msal-browser/docs/v4-migration.md
Labels: documentation, msal-browser

#7822 [v4] Remove access tokens synchronously
  change/@azure-msal-browser-f0b6da2e-a220-4654-b1aa-6b4a0f4a921b.json
  change/@azure-msal-common-042c27fe-92dc-4b48-b5e0-3d114168f8d4.json
  change/@azure-msal-node-74ee63c8-51fb-422d-bbac-294ec6e9b0e5.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/crypto/SignedHttpRequest.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PlatformAuthInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TestStorageManager.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/interface/ICacheManager.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/crypto/ICrypto.ts
  lib/msal-common/test/account/AuthToken.spec.ts
  lib/msal-common/test/account/ClientInfo.spec.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/MockCache.ts
  lib/msal-common/test/cache/entities/AccountEntity.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
  lib/msal-common/test/network/ThrottlingUtils.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
  lib/msal-common/test/utils/ProtocolUtils.spec.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/cache/NodeStorage.ts
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/crypto/CryptoProvider.ts
  lib/msal-node/test/client/ClientTestUtils.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
Labels: documentation, msal-node, msal-browser, msal-common

#7836 Add to migration doc: loadExternalTokens and TokenCache
  lib/msal-browser/docs/v4-migration.md
Labels: documentation, msal-browser

#7823 Bumped the dotenv package in all msal-node samples
  package-lock.json
  samples/msal-node-samples/Managed-Identity/FIC/.npmrc
  samples/msal-node-samples/Managed-Identity/FIC/package.json
  samples/msal-node-samples/Managed-Identity/Imds/.npmrc
  samples/msal-node-samples/Managed-Identity/Imds/package.json
  samples/msal-node-samples/auth-code-distributed-cache/package.json
  samples/msal-node-samples/auth-code-key-vault/package.json
  samples/msal-node-samples/auth-code-pkce/package.json
  samples/msal-node-samples/auth-code-with-certs/package.json
  samples/msal-node-samples/auth-code/package.json
  samples/msal-node-samples/b2c-user-flows/package.json
  samples/msal-node-samples/client-credentials-distributed-cache/package.json
  samples/msal-node-samples/on-behalf-of-distributed-cache/package.json
  samples/msal-node-samples/on-behalf-of/package.json
  samples/msal-node-samples/refresh-token/package.json
  samples/msal-node-samples/silent-flow/package.json
  samples/msal-node-samples/username-password-cca/package.json
Labels: samples

#7837 [v5] Remove accessTokens synchronously
  change/@azure-msal-browser-f0b6da2e-a220-4654-b1aa-6b4a0f4a921b.json
  change/@azure-msal-common-042c27fe-92dc-4b48-b5e0-3d114168f8d4.json
  change/@azure-msal-node-74ee63c8-51fb-422d-bbac-294ec6e9b0e5.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/docs/v4-migration.md
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/crypto/SignedHttpRequest.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PlatformAuthInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TestStorageManager.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/crypto/CryptoOps.spec.ts
  lib/msal-browser/test/crypto/SignedHttpRequest.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/interface/ICacheManager.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/config/ClientConfiguration.ts
  lib/msal-common/src/crypto/ICrypto.ts
  lib/msal-common/test/account/AuthToken.spec.ts
  lib/msal-common/test/account/ClientInfo.spec.ts
  lib/msal-common/test/authority/Authority.spec.ts
  lib/msal-common/test/cache/AccountEntityUtils.spec.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/MockCache.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/crypto/PopTokenGenerator.spec.ts
  lib/msal-common/test/network/ThrottlingUtils.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/telemetry/ServerTelemetryManager.spec.ts
  lib/msal-common/test/utils/ProtocolUtils.spec.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/cache/NodeStorage.ts
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/crypto/CryptoProvider.ts
  lib/msal-node/test/client/ClientTestUtils.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
  lib/msal-node/test/utils/TestConstants.ts
Labels: documentation, msal-node, msal-browser, msal-common

#7820 Client Credential Sample: Moved client secret from code to .env file
  package-lock.json
  samples/msal-node-samples/client-credentials/README.md
  samples/msal-node-samples/client-credentials/index.js
  samples/msal-node-samples/client-credentials/package.json
Labels: documentation, samples

#7616 Added support for DEFAULT_IDENTITY_CLIENT_ID environment variable in Machine Learning Managed Identity
  change/@azure-msal-node-8d574304-a0bd-4fc1-988d-d574e0883fa3.json
  lib/msal-node/src/client/ManagedIdentitySources/MachineLearning.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/MachineLearning.spec.ts
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
Labels: msal-node

#7834 Adding new UX_NOT_ALLOWED suberror under InteractionRequired error type
  change/@azure-msal-browser-e0f47ef0-42cd-4dcc-b793-c6277389a1c2.json
  change/@azure-msal-common-bcac2331-9139-41d4-8695-c1e99e1ed05e.json
  lib/msal-browser/src/broker/nativeBroker/NativeStatusCodes.ts
  lib/msal-browser/src/broker/nativeBroker/PlatformAuthProvider.ts
  lib/msal-browser/src/error/NativeAuthError.ts
  lib/msal-browser/test/broker/PlatformAuthDOMHandler.spec.ts
  lib/msal-browser/test/error/NativeAuthError.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/error/InteractionRequiredAuthError.ts
  lib/msal-common/src/error/InteractionRequiredAuthErrorCodes.ts
Labels: documentation, msal-browser, msal-common

#7845 Update from dev 06 17
  .pipelines/1p-build.yml
  change/@azure-msal-browser-4d5348fb-b654-4ec4-a41f-84bb470af5c4.json
  change/@azure-msal-node-8d574304-a0bd-4fc1-988d-d574e0883fa3.json
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/package.json
  lib/msal-browser/src/navigation/NavigationClient.ts
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-node/src/client/ManagedIdentitySources/MachineLearning.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/MachineLearning.spec.ts
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
  package-lock.json
  samples/e2eTestUtils/package.json
  samples/msal-node-samples/ElectronSystemBrowserTestApp/package.json
  samples/msal-node-samples/ElectronTestApp/package.json
  samples/msal-node-samples/Managed-Identity/FIC/.npmrc
  samples/msal-node-samples/Managed-Identity/FIC/package.json
  samples/msal-node-samples/Managed-Identity/Imds/.npmrc
  samples/msal-node-samples/Managed-Identity/Imds/package.json
  samples/msal-node-samples/auth-code-cli-app/package.json
  samples/msal-node-samples/auth-code-distributed-cache/package.json
  samples/msal-node-samples/auth-code-key-vault/package.json
  samples/msal-node-samples/auth-code-pkce/package.json
  samples/msal-node-samples/auth-code-with-certs/package.json
  samples/msal-node-samples/auth-code/package.json
  samples/msal-node-samples/b2c-user-flows/package.json
  samples/msal-node-samples/client-credentials-distributed-cache/package.json
  samples/msal-node-samples/client-credentials/README.md
  samples/msal-node-samples/client-credentials/index.js
  samples/msal-node-samples/client-credentials/package.json
  samples/msal-node-samples/on-behalf-of-distributed-cache/package.json
  samples/msal-node-samples/on-behalf-of/package.json
  samples/msal-node-samples/refresh-token/package.json
  samples/msal-node-samples/silent-flow/package.json
  samples/msal-node-samples/username-password-cca/package.json
Labels: documentation, samples, msal-node, msal-browser

#7852 Change Angular build:all script
  change/@azure-msal-angular-1424939a-f410-4eaf-b293-c874faf0adff.json
  lib/msal-angular/package.json
Labels: msal-angular

#7853 Change Angular build:all script
  change/@azure-msal-angular-070608dc-42b2-4b44-910a-ef7ba5b08756.json
  lib/msal-angular/package.json
Labels: msal-angular

#7819 Remove access tokens when cache quota is reached
  change/@azure-msal-browser-e389fda2-b00a-4f14-870d-a27bb6a2d40f.json
  change/@azure-msal-common-4656185d-bf30-499d-bb01-eba901324b76.json
  change/@azure-msal-node-d9d1e972-9c00-4674-baa6-edf70ce604e2.json
  lib/msal-browser/src/cache/AccountManager.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/custom_auth/get_account/interaction_client/CustomAuthSilentCacheClient.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PlatformAuthInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentCacheClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/custom_auth/get_account/interaction_client/CustomAuthSilentCacheClient.spec.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/StandardInteractionClient.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/interface/ICacheManager.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/error/CacheError.ts
  lib/msal-common/src/error/CacheErrorCodes.ts
  lib/msal-common/src/exports-common.ts
  lib/msal-common/src/network/ThrottlingUtils.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/BaseClient.spec.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/network/ThrottlingUtils.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/client/ClientCredentialClient.ts
  lib/msal-node/src/client/OnBehalfOfClient.ts
  lib/msal-node/test/client/ClientCredentialClient.spec.ts
  package-lock.json
Labels: documentation, msal-node, msal-browser, msal-common

#7860 Create eslint rule to check all error codes are documented
  change/@azure-msal-common-c18f7d66-fcd0-4ae3-8ed8-8487cb812b6f.json
  change/@azure-msal-node-9d6f488b-7cf9-4e40-90ac-6c8ece53cfc8.json
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/error/ClientAuthErrorCodes.ts
  lib/msal-node/src/client/ClientAssertion.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/DeviceCodeClient.ts
  lib/msal-node/src/error/ClientAuthErrorCodes.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/DeviceCodeClient.spec.ts
  shared-configs/eslint-config-msal/index.js
  shared-configs/eslint-plugin-custom-msal/index.js
  shared-configs/eslint-plugin-custom-msal/package.json
  shared-configs/eslint-plugin-custom-msal/rules/error-description-is-defined.js
  shared-configs/eslint-plugin-custom-msal/test/error-description-is-defined.test.js
  shared-configs/eslint-plugin-custom-msal/test/errors.md
Labels: documentation, msal-node, msal-common

#7857 Angular 20 and Node 24 Tests/Docs Updates
  .pipelines/3p-e2e.yml
  lib/msal-angular/FAQ.md
  lib/msal-angular/README.md
  lib/msal-node/README.md
  package-lock.json
  samples/msal-angular-samples/angular-standalone-sample/angular.json
  samples/msal-angular-samples/angular-standalone-sample/package.json
  samples/msal-angular-samples/angular-standalone-sample/tsconfig.json
Labels: documentation, msal-angular, samples, msal-node

#7859 Throw timeout error in acquireTokenRedirect if redirect doesn't happen
  change/@azure-msal-browser-95758454-20db-46fa-bff7-0fa737d064dc.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/error/BrowserAuthErrorCodes.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/navigation/NavigationClient.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/navigation/NavigationClient.spec.ts
Labels: documentation, msal-browser

#7850 [v3] Remove access tokens when cache quota is reached
  change/@azure-msal-browser-f07e6542-0164-42fd-974a-06b1552906d7.json
  change/@azure-msal-common-e3ce1aac-a03d-4744-ac14-096c506cd50a.json
  change/@azure-msal-node-10935219-39c9-4ac0-8426-638e7ff9be19.json
  lib/msal-browser/src/cache/AccountManager.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/TestStorageManager.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/cache/interface/ICacheManager.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/error/CacheError.ts
  lib/msal-common/src/error/CacheErrorCodes.ts
  lib/msal-common/src/exports-common.ts
  lib/msal-common/src/network/ThrottlingUtils.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/telemetry/server/ServerTelemetryManager.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
  lib/msal-common/test/cache/MockCache.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/BaseClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/client/RefreshTokenClient.spec.ts
  lib/msal-common/test/client/SilentFlowClient.spec.ts
  lib/msal-common/test/config/ClientConfiguration.spec.ts
  lib/msal-common/test/network/ThrottlingUtils.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/cache/NodeStorage.ts
  lib/msal-node/src/cache/TokenCache.ts
  lib/msal-node/src/client/ClientCredentialClient.ts
  lib/msal-node/src/client/OnBehalfOfClient.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/test/client/ClientCredentialClient.spec.ts
  lib/msal-node/test/client/ClientTestUtils.ts
  package.json
Labels: documentation, msal-node, msal-browser, msal-common
