Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2025-08, with the labels that each got.

#7964 Temporarily disable ADFS tests
  samples/msal-node-samples/auth-code/test/auth-code-adfs.spec.ts
  samples/msal-node-samples/device-code/test/device-code-adfs.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-adfs.spec.ts
Labels: samples

#7965 [v5] Temporarily disable ADFS E2E tests
  samples/msal-node-samples/auth-code/test/auth-code-adfs.spec.ts
  samples/msal-node-samples/device-code/test/device-code-adfs.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-adfs.spec.ts
Labels: samples

#7967 [v3] Temporarily skip ADFS tests
  samples/msal-node-samples/auth-code/test/auth-code-adfs.spec.ts
  samples/msal-node-samples/device-code/test/device-code-adfs.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-adfs.spec.ts
Labels: samples

#7971 V3 Post release
  change/@azure-msal-browser-69ccec23-9d96-4e52-9833-6515f48a7c69.json
  change/@azure-msal-browser-f07e6542-0164-42fd-974a-06b1552906d7.json
  change/@azure-msal-common-0b56b599-cb01-47c5-a97a-c965071025fd.json
  change/@azure-msal-common-60537bee-832d-4f63-87c9-17aa80846041.json
  change/@azure-msal-common-e3ce1aac-a03d-4744-ac14-096c506cd50a.json
  change/@azure-msal-node-10935219-39c9-4ac0-8426-638e7ff9be19.json
  extensions/msal-node-extensions/package.json
  lib/msal-browser/CHANGELOG.json
  lib/msal-browser/CHANGELOG.md
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  lib/msal-common/CHANGELOG.json
  lib/msal-common/CHANGELOG.md
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/package.json
  lib/msal-common/src/packageMetadata.ts
  lib/msal-node/CHANGELOG.json
  lib/msal-node/CHANGELOG.md
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/package.json
  lib/msal-node/src/packageMetadata.ts
  package-lock.json
Labels: documentation, msal-node, msal-browser, msal-common, extensions

#7960 getNativeAccountId bug fix
  change/@azure-msal-browser-b8d566b8-bee9-4237-a2e0-86f3b11e13e4.json
  change/@azure-msal-common-a9dfc8f7-dfef-4621-8046-0117aa2f53d8.json
  lib/msal-browser/src/cache/AccountManager.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/test/cache/CacheManager.spec.ts
Labels: documentation, msal-browser, msal-common

#7961 Surface Errors from MsalRuntime with Interaction Required
  change/@azure-msal-node-extensions-9b2b5205-8f2c-49f3-bf7e-b00665abef87.json
  extensions/msal-node-extensions/src/broker/NativeBrokerPlugin.ts
  extensions/msal-node-extensions/test/broker/NativeBrokerPlugin.spec.ts
Labels: extensions

#7977 [v5] Version switch sample
  package-lock.json
  samples/msal-browser-samples/ExpressSample/.env
  samples/msal-browser-samples/ExpressSample/.gitignore
  samples/msal-browser-samples/ExpressSample/README.md
  samples/msal-browser-samples/ExpressSample/package.json
  samples/msal-browser-samples/ExpressSample/public/css/styles.css
  samples/msal-browser-samples/ExpressSample/public/js/account.js
  samples/msal-browser-samples/ExpressSample/public/js/app.js
  samples/msal-browser-samples/ExpressSample/public/js/auth.js
  samples/msal-browser-samples/ExpressSample/public/js/authConfig.js
  samples/msal-browser-samples/ExpressSample/public/js/graph.js
  samples/msal-browser-samples/ExpressSample/public/js/navigation.js
  samples/msal-browser-samples/ExpressSample/public/js/ui.js
  samples/msal-browser-samples/ExpressSample/public/js/utils.js
  samples/msal-browser-samples/ExpressSample/public/js/versionSwitcher.js
  samples/msal-browser-samples/ExpressSample/server.js
  samples/msal-browser-samples/ExpressSample/views/404.hbs
  samples/msal-browser-samples/ExpressSample/views/error.hbs
  samples/msal-browser-samples/ExpressSample/views/home.hbs
  samples/msal-browser-samples/ExpressSample/views/layouts/main.hbs
  samples/msal-browser-samples/ExpressSample/views/logout.hbs
  samples/msal-browser-samples/ExpressSample/views/partials/home-content.hbs
  samples/msal-browser-samples/ExpressSample/views/partials/profile-content.hbs
  samples/msal-browser-samples/ExpressSample/views/profile.hbs
Labels: documentation, samples

#7976 Create BROKERED_REQUEST_SUCCESS event type
  change/@azure-msal-browser-64088af0-b2a1-4c91-a800-e88f831e2540.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/event/EventType.ts
Labels: documentation, msal-browser

#7979 update msal-node-runtime version
  change/@azure-msal-node-extensions-9ca3981d-f124-46a7-802a-10be0f64a7e7.json
  extensions/msal-node-extensions/package.json
  package-lock.json
Labels: extensions

#7989 Instrument timed out and cancelled redirects
  change/@azure-msal-browser-b154fb66-b5b9-45de-ac7e-9425a8ea389c.json
  change/@azure-msal-common-3b862126-d7a7-4829-b6fd-5711a5c2a8b3.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: documentation, msal-browser, msal-common

#7992 Address standalone function refactoring feedback
  change/@azure-msal-browser-00a54610-4db9-44e2-8b4d-dd4ca116e8b5.json
  lib/msal-browser/src/interaction_client/BaseInteractionClient.ts
  lib/msal-browser/src/interaction_client/PlatformAuthInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/SilentRefreshClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/interaction_client/BaseInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/StandardInteractionClient.spec.ts
Labels: msal-browser

#7998 Fix E2E Tests
  samples/e2eTestUtils/src/TestUtils.ts
Labels: samples

#8001 Port recent v4 changes to v5
  CODEOWNERS
  change/@azure-msal-browser-521ed11e-3749-4232-b690-43fbd0c99ed6.json
  change/@azure-msal-common-4d63cc3c-64b6-4116-bd14-1fd83f61ccf8.json
  change/@azure-msal-common-6d6025c3-3105-431a-9d18-01b2174504f9.json
  lib/msal-browser/README.md
  lib/msal-browser/docs/initialization.md
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/request/ScopeSet.ts
  lib/msal-common/src/utils/UrlUtils.ts
  lib/msal-common/test/request/ScopeSet.spec.ts
  lib/msal-common/test/utils/UrlUtils.spec.ts
  samples/e2eTestUtils/src/TestUtils.ts
Labels: documentation, samples, msal-browser, msal-common

#7999 Format logging strings for future minification
  change/@azure-msal-browser-7460dbe1-26fa-4278-934a-0f6f80022a1b.json
  change/@azure-msal-common-06f8818a-3d44-4ef5-9300-0872714e09c0.json
  change/@azure-msal-react-2663521d-da16-4d6a-a7b7-90ed718994e1.json
  lib/msal-browser/src/broker/nativeBroker/PlatformAuthDOMHandler.ts
  lib/msal-browser/src/broker/nativeBroker/PlatformAuthExtensionHandler.ts
  lib/msal-browser/src/broker/nativeBroker/PlatformAuthProvider.ts
  lib/msal-browser/src/cache/AccountManager.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/LocalStorage.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/crypto/CryptoOps.ts
  lib/msal-browser/src/custom_auth/controller/CustomAuthStandardController.ts
  lib/msal-browser/src/custom_auth/core/network_client/http_client/FetchHttpClient.ts
  lib/msal-browser/src/custom_auth/get_account/auth_flow/CustomAuthAccountData.ts
  lib/msal-browser/src/custom_auth/reset_password/auth_flow/state/ResetPasswordCodeRequiredState.ts
  lib/msal-browser/src/custom_auth/reset_password/auth_flow/state/ResetPasswordPasswordRequiredState.ts
  lib/msal-browser/src/custom_auth/reset_password/interaction_client/ResetPasswordClient.ts
  lib/msal-browser/src/custom_auth/sign_in/auth_flow/state/SignInCodeRequiredState.ts
  lib/msal-browser/src/custom_auth/sign_in/auth_flow/state/SignInContinuationState.ts
  lib/msal-browser/src/custom_auth/sign_in/auth_flow/state/SignInPasswordRequiredState.ts
  lib/msal-browser/src/custom_auth/sign_up/auth_flow/state/SignUpAttributesRequiredState.ts
  lib/msal-browser/src/custom_auth/sign_up/auth_flow/state/SignUpCodeRequiredState.ts
  lib/msal-browser/src/custom_auth/sign_up/auth_flow/state/SignUpPasswordRequiredState.ts
  lib/msal-browser/src/custom_auth/sign_up/interaction_client/SignUpClient.ts
  lib/msal-browser/src/event/EventHandler.ts
  lib/msal-browser/src/interaction_client/PlatformAuthInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/operatingcontext/NestedAppOperatingContext.ts
  lib/msal-browser/src/request/RequestHelpers.ts
  lib/msal-browser/src/response/ResponseHandler.ts
  lib/msal-browser/test/custom_auth/get_account/auth_flow/CustomAuthAccountData.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/AuthorityMetadata.ts
  lib/msal-common/src/cache/CacheManager.ts
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/BaseClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/client/SilentFlowClient.ts
  lib/msal-common/src/telemetry/performance/PerformanceClient.ts
  lib/msal-common/src/utils/FunctionWrappers.ts
  lib/msal-react/src/MsalProvider.tsx
  lib/msal-react/src/hooks/useMsalAuthentication.ts
  shared-configs/eslint-config-msal/index.js
  shared-configs/eslint-plugin-custom-msal/index.js
  shared-configs/eslint-plugin-custom-msal/rules/no-string-concatenation-in-logging.js
  shared-configs/eslint-plugin-custom-msal/rules/quote-logging-variables.js
  shared-configs/eslint-plugin-custom-msal/test/no-string-concatenation-in-logging.test.js
  shared-configs/eslint-plugin-custom-msal/test/quote-logging-variables.test.js
Labels: documentation, msal-browser, msal-common, msal-react

#7962 Add backward compatibility support
  change/@azure-msal-browser-3682a32a-64a8-4932-85e9-7fb173829fb9.json
  lib/msal-browser/src/custom_auth/configuration/CustomAuthConfiguration.ts
  lib/msal-browser/src/custom_auth/controller/CustomAuthStandardController.ts
  lib/msal-browser/src/custom_auth/core/auth_flow/AuthFlowErrorBase.ts
  lib/msal-browser/src/custom_auth/core/error/CustomAuthApiError.ts
  lib/msal-browser/src/custom_auth/core/network_client/custom_auth_api/BaseApiClient.ts
  lib/msal-browser/src/custom_auth/core/network_client/custom_auth_api/CustomAuthApiClient.ts
  lib/msal-browser/src/custom_auth/core/network_client/custom_auth_api/ResetPasswordApiClient.ts
  lib/msal-browser/src/custom_auth/core/network_client/custom_auth_api/SignInApiClient.ts
  lib/msal-browser/src/custom_auth/core/network_client/custom_auth_api/SignupApiClient.ts
  lib/msal-browser/src/custom_auth/reset_password/auth_flow/error_type/ResetPasswordError.ts
  lib/msal-browser/src/custom_auth/sign_in/auth_flow/error_type/SignInError.ts
  lib/msal-browser/src/custom_auth/sign_up/auth_flow/error_type/SignUpError.ts
  lib/msal-browser/test/custom_auth/CustomAuthPublicClientApplication.spec.ts
  lib/msal-browser/test/custom_auth/core/error/CustomAuthApiError.spec.ts
  lib/msal-browser/test/custom_auth/core/interaction_client/CustomAuthInteractionClientBase.spec.ts
  lib/msal-browser/test/custom_auth/core/network_client/custom_auth_api/CustomAuthApiClient.spec.ts
Labels: msal-browser

#8005 Enable passing of redirect uri for Nativebroker
  change/@azure-msal-node-118ac835-7803-4e30-81cd-91c4afe6bf9d.json
  change/@azure-msal-node-extensions-bce3798f-5840-4955-a647-70f9009359fc.json
  extensions/msal-node-extensions/src/broker/NativeBrokerPlugin.ts
  extensions/msal-node-extensions/src/error/NativeAuthError.ts
  extensions/msal-node-extensions/src/index.ts
  extensions/msal-node-extensions/src/utils/StringUtils.ts
  extensions/msal-node-extensions/test/broker/NativeBrokerPlugin.spec.ts
  extensions/msal-node-extensions/test/utils/StringUtils.test.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/error/NodeAuthError.ts
  lib/msal-node/src/request/InteractiveRequest.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: documentation, msal-node, extensions

#7974 Add extraQueryParams for api calls
  change/@azure-msal-browser-e3d4b10b-bba6-47de-9ff2-7ee4039bb97e.json
  lib/msal-browser/src/custom_auth/configuration/CustomAuthConfiguration.ts
  lib/msal-browser/src/custom_auth/controller/CustomAuthStandardController.ts
  lib/msal-browser/src/custom_auth/core/interaction_client/CustomAuthInteractionClientBase.ts
  lib/msal-browser/src/custom_auth/core/network_client/custom_auth_api/BaseApiClient.ts
  lib/msal-browser/src/custom_auth/core/network_client/custom_auth_api/CustomAuthApiClient.ts
  lib/msal-browser/src/custom_auth/core/network_client/custom_auth_api/ResetPasswordApiClient.ts
  lib/msal-browser/src/custom_auth/core/network_client/custom_auth_api/SignInApiClient.ts
  lib/msal-browser/src/custom_auth/core/network_client/custom_auth_api/SignupApiClient.ts
  lib/msal-browser/src/custom_auth/core/utils/UrlUtils.ts
  lib/msal-browser/test/custom_auth/core/network_client/custom_auth_api/CustomAuthApiClient.spec.ts
  lib/msal-browser/test/custom_auth/core/utils/UrlUtils.spec.ts
Labels: msal-browser

#8017 Upgrade/Rollback E2E Tests
  .pipelines/3p-e2e.yml
  package-lock.json
  samples/e2eTestUtils/src/TestUtils.ts
  samples/msal-browser-samples/ExpressSample/.env.e2e
  samples/msal-browser-samples/ExpressSample/jest.config.cjs
  samples/msal-browser-samples/ExpressSample/package.json
  samples/msal-browser-samples/ExpressSample/public/css/styles.css
  samples/msal-browser-samples/ExpressSample/public/js/app.js
  samples/msal-browser-samples/ExpressSample/public/js/auth.js
  samples/msal-browser-samples/ExpressSample/public/js/graph.js
  samples/msal-browser-samples/ExpressSample/public/js/versionSwitcher.js
  samples/msal-browser-samples/ExpressSample/server.js
  samples/msal-browser-samples/ExpressSample/test/test-helpers.ts
  samples/msal-browser-samples/ExpressSample/test/upgrade-downgrade.spec.ts
  samples/msal-browser-samples/ExpressSample/tsconfig.json
  samples/msal-browser-samples/ExpressSample/views/error.hbs
  samples/msal-browser-samples/ExpressSample/views/layouts/main.hbs
  samples/msal-browser-samples/ExpressSample/views/partials/home-content.hbs
  samples/msal-browser-samples/ExpressSample/views/partials/profile-content.hbs
Labels: samples
