Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2025-02, with the labels that each got.

#7549 localStorage encryption cookie set SameSite=None
  change/@azure-msal-browser-1dde9e39-4138-48c1-b13d-55e395dd1c11.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/cache/CookieStorage.ts
  lib/msal-browser/src/cache/LocalStorage.ts
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/test/cache/CookieStorage.spec.ts
  samples/e2eTestUtils/src/BrowserCacheTestUtils.ts
Labels: documentation, samples, msal-browser

#7550 Notify other open tabs of updates to localStorage
  change/@azure-msal-browser-8d616d70-17b9-4549-a720-855a2874c1da.json
  change/@azure-msal-common-c1d96db0-db2f-4c63-918b-2da95279ee16.json
  change/@azure-msal-react-8bd2bccb-bb87-467a-b245-0a494f47a6f3.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/package.json
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/LocalStorage.ts
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/controllers/UnknownOperatingContextController.ts
  lib/msal-browser/src/event/EventHandler.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/cache/LocalStorage.spec.ts
  lib/msal-browser/test/cache/TokenCache.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-react/package.json
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/auth.js
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/localStorage.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/ui.js
  shared-configs/jest-config/jest.config.cjs
  shared-configs/jest-config/setupGlobals.cjs
Labels: documentation, samples, msal-browser, msal-common, msal-react

#7544 ManagedIdentityTokenResponse's expires_in can now be accepted in ISO 8601 date format
  change/@azure-msal-node-acc592b5-e625-4c66-b90d-a05f69971c9a.json
  lib/msal-node/src/client/ManagedIdentitySources/BaseManagedIdentitySource.ts
  lib/msal-node/src/utils/TimeUtils.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/test_kit/ManagedIdentityTestUtils.ts
Labels: msal-node

#7559 Rethrow MSAL AuthErrors in NAA flow
  change/@azure-msal-browser-778148ae-3ca5-4743-9e15-088de442467a.json
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/test/controllers/NestedAppAuthController.spec.ts
Labels: msal-browser

#7557 Native AcquireTokenRedirect Unit Test
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
Labels: msal-browser

#7553 Add Api Clients for all endpoints
  lib/msal-custom-auth/.editorconfig
  lib/msal-custom-auth/package.json
  lib/msal-custom-auth/samples/signin/index.html
  lib/msal-custom-auth/src/controller/CustomAuthStandardController.ts
  lib/msal-custom-auth/src/core/auth_flow/AuthFlowErrorBase.ts
  lib/msal-custom-auth/src/core/error/CustomAuthApiError.ts
  lib/msal-custom-auth/src/core/network_client/BaseApiClient.ts
  lib/msal-custom-auth/src/core/network_client/ResetPasswordApiClient.ts
  lib/msal-custom-auth/src/core/network_client/SignupApiClient.ts
  lib/msal-custom-auth/src/core/network_client/SingInApiClient.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/CustomAuthApiClient.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/CustomAuthApiEndpoint.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/CustomAuthApiResponseHandler.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/ICustomAuthApiClient.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/request/CustomAuthApiRequestBase.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/request/SignInRequest.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/request/SignUpRequest.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/response/ApiErrorResponse.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/response/ApiResponse.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/response/CustomAuthApiResponseBase.ts
  lib/msal-custom-auth/src/core/network_client/http_client/FetchClient.ts
  lib/msal-custom-auth/src/core/network_client/http_client/FetchHttpClient.ts
  lib/msal-custom-auth/src/core/network_client/http_client/HttpMessage.ts
  lib/msal-custom-auth/src/core/network_client/http_client/IHttpClient.ts
  lib/msal-custom-auth/src/core/network_client/types/ApiErrorResponseTypes.ts
  lib/msal-custom-auth/src/core/network_client/types/BaseApiTypes.ts
  lib/msal-custom-auth/src/core/network_client/types/ResetPasswordApiTypes.ts
  lib/msal-custom-auth/src/core/network_client/types/SignInApiTypes.ts
  lib/msal-custom-auth/src/core/network_client/types/SignUpApiTypes.ts
  lib/msal-custom-auth/src/core/network_client/types/UserAttributes.ts
  lib/msal-custom-auth/src/sign_in/auth_flow/error_type/SignInError.ts
  lib/msal-custom-auth/src/sign_in/interaction_client/SignInClient.ts
  lib/msal-custom-auth/src/sign_in/interaction_client/result/SignInActionResult.ts
  lib/msal-custom-auth/src/sign_up/auth_flow/state/SignUpAttributesRequired.ts
  lib/msal-custom-auth/src/sign_up/auth_flow/state_handler/SignUpAttributesRequiredStateHandler.ts
  lib/msal-custom-auth/src/sign_up/interaction_client/SignUpClient.ts
  lib/msal-custom-auth/src/sign_up/interaction_client/result/SignUpActionResult.ts
  lib/msal-custom-auth/test/controller/CustomAuthStandardController.spec.ts
  lib/msal-custom-auth/test/core/network_client/custom_auth_api/CustomAuthApiClient.spec.ts
  lib/msal-custom-auth/test/core/network_client/custom_auth_api/CustomAuthApiResponseHandler.spec.ts
  lib/msal-custom-auth/test/core/network_client/http_client/FetchHttpClient.spec.ts
  lib/msal-custom-auth/test/integration_tests/SignIn.spec.ts
  lib/msal-custom-auth/test/network_client/custom_auth_api/CustomAuthApiClient.test.ts
  lib/msal-custom-auth/test/network_client/http_client/FetchClient.spec.ts
  lib/msal-custom-auth/test/sign_in/auth_flow/state_handler/SignInCodeRequiredStateHandler.spec.ts
  lib/msal-custom-auth/test/sign_in/interation_client/SignInClient.spec.ts
  lib/msal-custom-auth/test/sign_up/auth_flow/error_type/SignUpError.spec.ts
  lib/msal-custom-auth/test/sign_up/auth_flow/state_handler/SignUpAttributesRequiredStateHandler.spec.ts
  lib/msal-custom-auth/test/sign_up/auth_flow/state_handler/SignUpCodeRequiredStateHandler.spec.ts
  lib/msal-custom-auth/test/sign_up/auth_flow/state_handler/SignUpPasswordRequiredStateHandler.spec.ts
  lib/msal-custom-auth/test/sign_up/interaction_client/SignUpClient.spec.ts
Labels: msal-custom-auth

#7567 Deprecate ROPC flow
  change/@azure-msal-node-d1bc56b0-ba38-4178-b55d-d21fbde81475.json
  lib/msal-node/README.md
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/IConfidentialClientApplication.ts
  lib/msal-node/src/client/IPublicClientApplication.ts
  lib/msal-node/src/client/UsernamePasswordClient.ts
Labels: documentation, msal-node

#7568 Pre-generate PKCE for async popup flow to fix blocked async popups in Safari
  change/@azure-msal-browser-50d3e4ba-a1c9-4041-8f3a-318d6f2e2b46.json
  change/@azure-msal-common-70c51855-1760-40a7-9610-66d325597aac.json
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
Labels: documentation, msal-browser, msal-common

#7571 Upload screenshots on E2E test failure
  .pipelines/1p-e2e.yml
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/client-capabilities/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserAAD.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserAADMultiTenant.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserAADTenanted.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserB2C.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/browserMemStorage.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/customizable-e2e-test/test/localStorage.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/multipleResources/test/multiple_resources.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/test/browser.spec.ts
  samples/msal-browser-samples/VanillaJSTestApp2.0/app/pop/test/browser.spec.ts
  samples/msal-node-samples/ElectronSystemBrowserTestApp/tests/electron-code-aad.spec.ts
  samples/msal-node-samples/auth-code-cli-app/test/auth-code-cli.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-aad-agc-confidential.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-aad-agc-public.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-aad.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-adfs.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-aad.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-local.spec.ts
  samples/msal-node-samples/auth-code/test/auth-code-b2c-msa.spec.ts
  samples/msal-node-samples/b2c-user-flows/test/user-flows-local.spec.ts
  samples/msal-node-samples/b2c-user-flows/test/user-flows-msa.spec.ts
  samples/msal-node-samples/device-code/test/device-code-aad-agc.spec.ts
  samples/msal-node-samples/device-code/test/device-code-aad.spec.ts
  samples/msal-node-samples/device-code/test/device-code-adfs.spec.ts
  samples/msal-node-samples/on-behalf-of/test/obo-aad.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-aad-agc-confidential.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-aad-agc-public.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-aad.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-adfs.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-aad.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-local.spec.ts
  samples/msal-node-samples/silent-flow/test/silent-flow-b2c-msa.spec.ts
Labels: samples

#7595 Support get access token and token renewal
  lib/msal-custom-auth/src/core/CustomAuthAuthority.ts
  lib/msal-custom-auth/src/core/error/GetAccessTokenError.ts
  lib/msal-custom-auth/src/get_account/auth_flow/CustomAuthAccountData.ts
  lib/msal-custom-auth/src/get_account/auth_flow/error_type/GetAccountError.ts
  lib/msal-custom-auth/src/get_account/auth_flow/result/GetAccessTokenResult.ts
  lib/msal-custom-auth/src/get_account/interaction_client/CustomAuthSilentCacheClient.ts
  lib/msal-custom-auth/test/core/CustomAuthAuthority.spec.ts
  lib/msal-custom-auth/test/get_account/auth_flow/CustomAuthAccountData.spec.ts
  lib/msal-custom-auth/test/get_account/interaction_client/CustomAuthSilentCacheClient.spec.ts
  lib/msal-custom-auth/test/get_account/interaction_client/CustomAuthTokenClient.spec.ts
  lib/msal-custom-auth/test/reset_password/interaction_client/ResetPasswordClient.spec.ts
  lib/msal-custom-auth/test/sign_in/interation_client/SignInClient.spec.ts
  lib/msal-custom-auth/test/sign_up/interaction_client/SignUpClient.spec.ts
  lib/msal-custom-auth/test/test_resources/TestConstants.ts
Labels: msal-custom-auth
