Repository AzureAD/microsoft-authentication-library-for-js, pull requests merged in 2025-03, with the labels that each got.

#7605 Fix the errors introduced by msal-browser breaking changes
  .pipelines/1p-build.yml
  CODEOWNERS
  change/@azure-msal-browser-5e100c60-4081-4664-b80f-d28d96f9cbf2.json
  change/@azure-msal-common-f21cadcd-9ac6-4294-9ab8-0d86f1268d95.json
  change/@azure-msal-custom-auth-a82894e4-34b1-44b4-834e-ae323fad1923.json
  lib/msal-browser/src/index.ts
  lib/msal-custom-auth/package.json
  lib/msal-custom-auth/src/CustomAuthActionInputs.ts
  lib/msal-custom-auth/src/controller/CustomAuthStandardController.ts
  lib/msal-custom-auth/src/core/CustomAuthAuthority.ts
  lib/msal-custom-auth/src/core/error/GetAccessTokenError.ts
  lib/msal-custom-auth/src/get_account/auth_flow/CustomAuthAccountData.ts
  lib/msal-custom-auth/src/get_account/auth_flow/error_type/GetAccountError.ts
  lib/msal-custom-auth/src/get_account/interaction_client/CustomAuthSilentCacheClient.ts
  lib/msal-custom-auth/test/CustomAuthPublicClientApplication.spec.ts
  lib/msal-custom-auth/test/core/CustomAuthAuthority.spec.ts
  lib/msal-custom-auth/test/get_account/auth_flow/CustomAuthAccountData.spec.ts
  lib/msal-custom-auth/test/get_account/interaction_client/CustomAuthSilentCacheClient.spec.ts
  lib/msal-custom-auth/test/integration_tests/GetAccount.spec.ts
  package-lock.json
Labels: msal-browser, msal-custom-auth

#7608 Update Error handling and log pii info
  lib/msal-custom-auth/src/CustomAuthConstants.ts
  lib/msal-custom-auth/src/controller/CustomAuthStandardController.ts
  lib/msal-custom-auth/src/core/auth_flow/AuthFlowResultBase.ts
  lib/msal-custom-auth/src/core/auth_flow/AuthFlowStateHandlerBase.ts
  lib/msal-custom-auth/src/core/error/MsalCustomAuthError.ts
  lib/msal-custom-auth/src/core/interaction_client/CustomAuthInteractionClientBase.ts
  lib/msal-custom-auth/src/core/network_client/http_client/FetchHttpClient.ts
  lib/msal-custom-auth/src/get_account/auth_flow/CustomAuthAccountData.ts
  lib/msal-custom-auth/src/reset_password/auth_flow/state_handler/ResetPasswordCodeRequiredStateHandler.ts
  lib/msal-custom-auth/src/reset_password/auth_flow/state_handler/ResetPasswordPasswordRequiredStateHandler.ts
  lib/msal-custom-auth/src/reset_password/interaction_client/ResetPasswordClient.ts
  lib/msal-custom-auth/src/sign_in/auth_flow/state_handler/SignInCodeRequiredStateHandler.ts
  lib/msal-custom-auth/src/sign_in/auth_flow/state_handler/SignInContinuationStateHandler.ts
  lib/msal-custom-auth/src/sign_in/auth_flow/state_handler/SignInPasswordRequiredStateHandler.ts
  lib/msal-custom-auth/src/sign_in/interaction_client/SignInClient.ts
  lib/msal-custom-auth/src/sign_up/auth_flow/state_handler/SignUpAttributesRequiredStateHandler.ts
  lib/msal-custom-auth/src/sign_up/auth_flow/state_handler/SignUpCodeRequiredStateHandler.ts
  lib/msal-custom-auth/src/sign_up/auth_flow/state_handler/SignUpPasswordRequiredStateHandler.ts
  lib/msal-custom-auth/src/sign_up/interaction_client/SignUpClient.ts
  lib/msal-custom-auth/test/core/network_client/custom_auth_api/CustomAuthApiClient.spec.ts
  lib/msal-custom-auth/test/core/network_client/http_client/FetchClient.spec.ts
  lib/msal-custom-auth/test/get_account/auth_flow/CustomAuthAccountData.spec.ts
  lib/msal-custom-auth/test/reset_password/auth_flow/state_handler/ResetPasswordCodeRequiredStateHandler.spec.ts
  lib/msal-custom-auth/test/reset_password/auth_flow/state_handler/ResetPasswordPasswordRequiredStateHandler.spec.ts
  lib/msal-custom-auth/test/reset_password/interaction_client/ResetPasswordClient.spec.ts
  lib/msal-custom-auth/test/sign_in/auth_flow/state_handler/SignInCodeRequiredStateHandler.spec.ts
  lib/msal-custom-auth/test/sign_in/auth_flow/state_handler/SignInContinuationStateHandler.spec.ts
  lib/msal-custom-auth/test/sign_in/auth_flow/state_handler/SignInPasswordRequiredStateHandler.spec.ts
  lib/msal-custom-auth/test/sign_in/interation_client/SignInClient.spec.ts
  lib/msal-custom-auth/test/sign_up/auth_flow/state_handler/SignUpAttributesRequiredStateHandler.spec.ts
  lib/msal-custom-auth/test/sign_up/auth_flow/state_handler/SignUpCodeRequiredStateHandler.spec.ts
  lib/msal-custom-auth/test/sign_up/auth_flow/state_handler/SignUpPasswordRequiredStateHandler.spec.ts
  lib/msal-custom-auth/test/sign_up/interaction_client/SignUpClient.spec.ts
Labels: msal-custom-auth

#7602 fix: NativeBrokerPlugin expiresOn
  change/@azure-msal-node-extensions-05a73fe6-ee02-49d4-bf72-3d35e63b877b.json
  extensions/msal-node-extensions/src/broker/NativeBrokerPlugin.ts
  extensions/msal-node-extensions/test/broker/NativeBrokerPlugin.spec.ts
Labels: extensions

#7607 Some improvements
  .pipelines/1p-build.yml
  .pipelines/3p-e2e.yml
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-custom-auth/src/CustomAuthActionInputs.ts
  lib/msal-custom-auth/src/CustomAuthPublicClientApplication.ts
  lib/msal-custom-auth/src/controller/CustomAuthStandardController.ts
  lib/msal-custom-auth/src/core/error/MsalCustomAuthError.ts
  lib/msal-custom-auth/src/core/interaction_client/CustomAuthInteractionClientBase.ts
  lib/msal-custom-auth/src/core/utils/StringUtils.ts
  lib/msal-custom-auth/src/get_account/auth_flow/CustomAuthAccountData.ts
  lib/msal-custom-auth/src/get_account/interaction_client/CustomAuthSilentCacheClient.ts
  lib/msal-custom-auth/src/sign_in/auth_flow/state_handler/SignInContinuationStateHandler.ts
  lib/msal-custom-auth/test/controller/CustomAuthStandardController.spec.ts
  lib/msal-custom-auth/test/core/utils/StringUtils.spec.ts
  lib/msal-custom-auth/test/get_account/auth_flow/CustomAuthAccountData.spec.ts
  lib/msal-custom-auth/test/integration_tests/GetAccount.spec.ts
  lib/msal-custom-auth/test/sign_in/auth_flow/state_handler/SignInContinuationStateHandler.spec.ts
  lib/msal-custom-auth/test/test_resources/CustomAuthConfig.ts
Labels: documentation, msal-browser, msal-custom-auth

#7583 [CustomAuth] Create React JS Sample skeleton
  .pipelines/3p-e2e.yml
  samples/msal-custom-auth-samples/react-sample-nextjs/.gitignore
  samples/msal-custom-auth-samples/react-sample-nextjs/.yarnrc
  samples/msal-custom-auth-samples/react-sample-nextjs/README.md
  samples/msal-custom-auth-samples/react-sample-nextjs/eslint.config.mjs
  samples/msal-custom-auth-samples/react-sample-nextjs/next.config.ts
  samples/msal-custom-auth-samples/react-sample-nextjs/package.json
  samples/msal-custom-auth-samples/react-sample-nextjs/src/app/favicon.ico
  samples/msal-custom-auth-samples/react-sample-nextjs/src/app/globals.css
  samples/msal-custom-auth-samples/react-sample-nextjs/src/app/layout.tsx
  samples/msal-custom-auth-samples/react-sample-nextjs/src/app/page.tsx
  samples/msal-custom-auth-samples/react-sample-nextjs/src/app/reset-password/page.tsx
  samples/msal-custom-auth-samples/react-sample-nextjs/src/app/sign-in/page.tsx
  samples/msal-custom-auth-samples/react-sample-nextjs/src/app/sign-up/page.tsx
  samples/msal-custom-auth-samples/react-sample-nextjs/src/components/Navbar.module.css
  samples/msal-custom-auth-samples/react-sample-nextjs/src/components/Navbar.tsx
  samples/msal-custom-auth-samples/react-sample-nextjs/test/sample.spect.ts
  samples/msal-custom-auth-samples/react-sample-nextjs/tsconfig.json
  samples/msal-custom-auth-samples/sample-sample/.beachballrc
  samples/msal-custom-auth-samples/sample-sample/.npmrc
  samples/msal-custom-auth-samples/sample-sample/index.js
  samples/msal-custom-auth-samples/sample-sample/jest.config.js
  samples/msal-custom-auth-samples/sample-sample/package.json
  samples/msal-custom-auth-samples/sample-sample/test/sample.spec.js
  samples/msal-custom-auth-samples/sample-sample/test/sample.spec.js.map
  samples/msal-custom-auth-samples/sample-sample/test/sample.spec.ts
  samples/msal-custom-auth-samples/tsconfig.json
  yarn.lock
Labels: documentation, samples

#7612 Fix ATS request deduplication for pairwise broker requests
  change/@azure-msal-browser-ff22c8e9-d56a-4cee-a010-bc0e2d00ce5a.json
  change/@azure-msal-common-46041a7e-4da2-4a81-93d9-1b2be924772e.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/request/PopupRequest.ts
  lib/msal-browser/src/request/RedirectRequest.ts
  lib/msal-browser/src/request/SilentRequest.ts
  lib/msal-browser/src/request/SsoSilentRequest.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/client/RefreshTokenClient.ts
  lib/msal-common/src/exports-common.ts
  lib/msal-common/src/network/RequestThumbprint.ts
  lib/msal-common/src/network/ThrottlingUtils.ts
  lib/msal-common/src/request/BaseAuthRequest.ts
  lib/msal-common/src/request/CommonAuthorizationCodeRequest.ts
  lib/msal-common/src/request/CommonDeviceCodeRequest.ts
  lib/msal-common/src/request/CommonRefreshTokenRequest.ts
  lib/msal-common/src/request/CommonSilentFlowRequest.ts
Labels: documentation, msal-browser, msal-common

#7603 Reworked Managed Identity Retry Policy to be per-request
  change/@azure-msal-node-4a430a9c-a11a-4acd-bb18-f8eaa2dcdba6.json
  lib/msal-node/src/client/ManagedIdentityApplication.ts
  lib/msal-node/src/client/ManagedIdentityClient.ts
  lib/msal-node/src/client/ManagedIdentitySources/AppService.ts
  lib/msal-node/src/client/ManagedIdentitySources/AzureArc.ts
  lib/msal-node/src/client/ManagedIdentitySources/BaseManagedIdentitySource.ts
  lib/msal-node/src/client/ManagedIdentitySources/CloudShell.ts
  lib/msal-node/src/client/ManagedIdentitySources/Imds.ts
  lib/msal-node/src/client/ManagedIdentitySources/MachineLearning.ts
  lib/msal-node/src/client/ManagedIdentitySources/ServiceFabric.ts
  lib/msal-node/src/config/Configuration.ts
  lib/msal-node/src/config/ManagedIdentityRequestParameters.ts
  lib/msal-node/src/utils/Constants.ts
Labels: msal-node

#7569 Fix exception when BroadcastChannel is not available in JS Runtime
  change/@azure-msal-browser-18368ebe-3a6e-4580-b297-f0b3708fb0de.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/event/EventHandler.ts
  lib/msal-browser/test/naa/JSRuntime.spec.ts
Labels: documentation, msal-browser

#7613 Add TimeUtils to handle seconds and Date conversion
  change/@azure-msal-browser-ee92d495-534d-418d-93e1-c4c7fcb5d4e9.json
  change/@azure-msal-common-9dfe7f13-7967-4d39-b146-5f324c4b0dba.json
  change/@azure-msal-node-extensions-eef81e65-27a9-4dd8-93a1-96f1c4cd815a.json
  change/@azure-msal-react-e7c3d456-0e09-4729-a5e5-4f513f693604.json
  extensions/msal-node-extensions/package.json
  extensions/msal-node-extensions/src/broker/NativeBrokerPlugin.ts
  extensions/msal-node-extensions/test/broker/NativeBrokerPlugin.spec.ts
  extensions/msal-node-extensions/test/util/TestConstants.ts
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/cache/TokenCache.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/naa/mapping/NestedAppAuthAdapter.ts
  lib/msal-browser/test/app/PCANonBrowser.spec.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/controllers/NestedAppAuthController.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentAuthCodeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentCacheClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentRefreshClient.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/utils/TimeUtils.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/utils/TimeUtils.spec.ts
  lib/msal-react/package.json
  lib/msal-react/test/TestConstants.ts
  package-lock.json
  shared-test-utils/src/TestTimeUtils.ts
  shared-test-utils/src/index.ts
Labels: documentation, msal-browser, msal-common, msal-react, extensions

#7628 Bump msal-browser to 4.6.0
  change/@azure-msal-browser-1c0959e3-365a-4397-886c-8dcfbdc1b3fe.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/package.json
  lib/msal-browser/src/packageMetadata.ts
  package-lock.json
Labels: documentation, msal-browser

#7625 Angular Sample skeleton
  samples/msal-custom-auth-samples/angular-sample/.editorconfig
  samples/msal-custom-auth-samples/angular-sample/.gitignore
  samples/msal-custom-auth-samples/angular-sample/.npmrc
  samples/msal-custom-auth-samples/angular-sample/.vscode/extensions.json
  samples/msal-custom-auth-samples/angular-sample/.vscode/launch.json
  samples/msal-custom-auth-samples/angular-sample/.vscode/tasks.json
  samples/msal-custom-auth-samples/angular-sample/README.md
  samples/msal-custom-auth-samples/angular-sample/angular.json
  samples/msal-custom-auth-samples/angular-sample/package.json
  samples/msal-custom-auth-samples/angular-sample/public/favicon.ico
  samples/msal-custom-auth-samples/angular-sample/src/app/app.component.html
  samples/msal-custom-auth-samples/angular-sample/src/app/app.component.scss
  samples/msal-custom-auth-samples/angular-sample/src/app/app.component.spec.ts
  samples/msal-custom-auth-samples/angular-sample/src/app/app.component.ts
  samples/msal-custom-auth-samples/angular-sample/src/app/app.config.ts
  samples/msal-custom-auth-samples/angular-sample/src/app/app.routes.ts
  samples/msal-custom-auth-samples/angular-sample/src/index.html
  samples/msal-custom-auth-samples/angular-sample/src/main.ts
  samples/msal-custom-auth-samples/angular-sample/src/styles.scss
  samples/msal-custom-auth-samples/angular-sample/tsconfig.app.json
  samples/msal-custom-auth-samples/angular-sample/tsconfig.json
  samples/msal-custom-auth-samples/angular-sample/tsconfig.spec.json
Labels: documentation, samples, msal-browser

#7634 Add doc for all public components and update index.ts
  lib/msal-custom-auth/src/CustomAuthPublicClientApplication.ts
  lib/msal-custom-auth/src/ICustomAuthPublicClientApplication.ts
  lib/msal-custom-auth/src/core/auth_flow/AuthFlowStateHandlerFactory.ts
  lib/msal-custom-auth/src/get_account/auth_flow/CustomAuthAccountData.ts
  lib/msal-custom-auth/src/index.ts
  lib/msal-custom-auth/src/reset_password/auth_flow/error_type/ResetPasswordError.ts
  lib/msal-custom-auth/src/reset_password/auth_flow/state_handler/ResetPasswordCodeRequiredStateHandler.ts
  lib/msal-custom-auth/src/reset_password/auth_flow/state_handler/ResetPasswordPasswordRequiredStateHandler.ts
  lib/msal-custom-auth/src/reset_password/interaction_client/ResetPasswordClient.ts
  lib/msal-custom-auth/src/sign_in/auth_flow/error_type/SignInError.ts
  lib/msal-custom-auth/src/sign_in/auth_flow/state_handler/SignInCodeRequiredStateHandler.ts
  lib/msal-custom-auth/src/sign_in/auth_flow/state_handler/SignInContinuationStateHandler.ts
  lib/msal-custom-auth/src/sign_in/auth_flow/state_handler/SignInPasswordRequiredStateHandler.ts
  lib/msal-custom-auth/src/sign_up/auth_flow/error_type/SignUpError.ts
  lib/msal-custom-auth/src/sign_up/auth_flow/state_handler/SignUpAttributesRequiredStateHandler.ts
  lib/msal-custom-auth/src/sign_up/auth_flow/state_handler/SignUpCodeRequiredStateHandler.ts
  lib/msal-custom-auth/src/sign_up/auth_flow/state_handler/SignUpPasswordRequiredStateHandler.ts
Labels: msal-custom-auth

#7619 Fix the some unit tests which caused the open handles issue
  .pipelines/3p-e2e.yml
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-custom-auth/samples/signin/index.html
  lib/msal-custom-auth/src/index.ts
  lib/msal-custom-auth/test/CustomAuthPublicClientApplication.spec.ts
  lib/msal-custom-auth/test/controller/CustomAuthStandardController.spec.ts
  lib/msal-custom-auth/test/integration_tests/GetAccount.spec.ts
  lib/msal-custom-auth/test/integration_tests/ResetPassword.spec.ts
  lib/msal-custom-auth/test/integration_tests/SignIn.spec.ts
  lib/msal-custom-auth/test/integration_tests/SignUp.spec.ts
  package-lock.json
  samples/msal-custom-auth-samples/sample-sample/.beachballrc
  samples/msal-custom-auth-samples/sample-sample/.gitignore
  samples/msal-custom-auth-samples/sample-sample/.npmrc
  samples/msal-custom-auth-samples/sample-sample/index.js
  samples/msal-custom-auth-samples/sample-sample/jest.config.js
  samples/msal-custom-auth-samples/sample-sample/package.json
  samples/msal-custom-auth-samples/sample-sample/test/sample.spec.js
  samples/msal-custom-auth-samples/sample-sample/test/sample.spec.js.map
  samples/msal-custom-auth-samples/sample-sample/test/sample.spec.ts
  samples/msal-custom-auth-samples/sample-sample/tsconfig.json
  yarn.lock
Labels: documentation, samples, msal-browser, msal-custom-auth

#7639 [Fix] Fix development on local and remove not needed checks, improved…
  lib/msal-custom-auth/package.json
  lib/msal-custom-auth/src/CustomAuthPublicClientApplication.ts
  lib/msal-custom-auth/src/core/network_client/custom_auth_api/BaseApiClient.ts
  lib/msal-custom-auth/src/core/network_client/http_client/FetchHttpClient.ts
  lib/msal-custom-auth/src/core/network_client/http_client/IHttpClient.ts
  lib/msal-custom-auth/test/CustomAuthPublicClientApplication.spec.ts
  lib/msal-custom-auth/test/core/network_client/http_client/FetchClient.spec.ts
Labels: msal-custom-auth

#7623 Split up /authorize request generation (EAR Pre-Req #2)
  change/@azure-msal-browser-81b8d13b-0d90-4a64-bf38-09f56a789bd2.json
  change/@azure-msal-common-05af4dd2-f51f-46cd-a212-5e0e5b64288b.json
  change/@azure-msal-node-c5c3efce-d2b0-47b3-ac24-867539845fb6.json
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/protocol/Authorize.ts
  lib/msal-browser/src/response/ResponseHandler.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentAuthCodeClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/interaction_client/StandardInteractionClient.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/client/AuthorizationCodeClient.ts
  lib/msal-common/src/exports-common.ts
  lib/msal-common/src/protocol/Authorize.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/response/AuthorizeResponse.ts
  lib/msal-common/src/response/ResponseHandler.ts
  lib/msal-common/src/response/ServerAuthorizationCodeResponse.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/src/utils/UrlUtils.ts
  lib/msal-common/test/client/AuthorizationCodeClient.spec.ts
  lib/msal-common/test/client/ClientTestUtils.ts
  lib/msal-common/test/protocol/Authorize.spec.ts
  lib/msal-common/test/response/ResponseHandler.spec.ts
  lib/msal-common/test/telemetry/PerformanceClient.spec.ts
  lib/msal-node/apiReview/msal-node.api.md
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/ConfidentialClientApplication.ts
  lib/msal-node/src/client/PublicClientApplication.ts
  lib/msal-node/src/index.ts
  lib/msal-node/src/network/ILoopbackClient.ts
  lib/msal-node/src/network/LoopbackClient.ts
  lib/msal-node/src/protocol/Authorize.ts
  lib/msal-node/test/client/ConfidentialClientApplication.spec.ts
  lib/msal-node/test/client/PublicClientApplication.spec.ts
Labels: documentation, msal-node, msal-browser, msal-common

#7598 Upgrade remaining samples to Angular 19
  package-lock.json
  samples/e2eTestUtils/package.json
  samples/msal-angular-samples/README.md
  samples/msal-angular-samples/angular-b2c-sample/angular.json
  samples/msal-angular-samples/angular-b2c-sample/package.json
  samples/msal-angular-samples/angular-b2c-sample/src/app/app.component.ts
  samples/msal-angular-samples/angular-b2c-sample/src/app/app.module.ts
  samples/msal-angular-samples/angular-b2c-sample/src/app/failed/failed.component.ts
  samples/msal-angular-samples/angular-b2c-sample/src/app/home/home.component.ts
  samples/msal-angular-samples/angular-b2c-sample/src/app/profile/profile.component.ts
  samples/msal-angular-samples/angular-b2c-sample/tsconfig.json
  samples/msal-angular-samples/angular-modules-sample/README.md
  samples/msal-angular-samples/angular-modules-sample/angular.json
  samples/msal-angular-samples/angular-modules-sample/package.json
  samples/msal-angular-samples/angular-modules-sample/src/app/app.component.ts
  samples/msal-angular-samples/angular-modules-sample/src/app/app.module.ts
  samples/msal-angular-samples/angular-modules-sample/src/app/failed/failed.component.ts
  samples/msal-angular-samples/angular-modules-sample/src/app/home/home.component.ts
  samples/msal-angular-samples/angular-modules-sample/src/app/profile/profile.component.ts
  samples/msal-angular-samples/angular-modules-sample/src/styles.css
  samples/msal-angular-samples/angular-modules-sample/tsconfig.json
Labels: documentation, samples

#7647 Updates to beachball and change types for msal-v5
  .beachballrc
  .github/workflows/beachball-bump.yml
  .github/workflows/beachball-check.yml
  change/@azure-msal-angular-a07ba1ae-db65-4e84-8460-6c98c66c64b9.json
  change/@azure-msal-browser-73987da3-98b5-47d9-b22e-9de7e2b11b2b.json
  change/@azure-msal-common-56d5d66d-90dc-4b35-bad3-fe0d837611f1.json
  change/@azure-msal-node-d75fe444-929b-40f9-a64d-0fd83cc72d33.json
  change/@azure-msal-react-02fc1c0d-b15d-414d-88a7-a2e6e04b84a6.json
  lib/msal-angular/package.json
  lib/msal-browser/package.json
  lib/msal-common/package.json
  lib/msal-node/package.json
  lib/msal-react/package.json
  package.json
Labels: msal-angular, msal-node, msal-browser, msal-common, msal-react

#7646 Platform Auth issues
  change/@azure-msal-browser-35e00def-ebba-4cd3-b2f8-3b05c57b2f58.json
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
Labels: msal-browser

#7638 Upgrade msal-angular to Angular 19
  change/@azure-msal-angular-9d421a1f-970c-405f-9e00-ca998efabbad.json
  lib/msal-angular/package.json
  lib/msal-angular/src/msal.guard.spec.ts
  lib/msal-angular/src/msal.interceptor.spec.ts
  lib/msal-angular/src/msal.redirect.component.ts
  lib/msal-angular/src/test.ts
  lib/msal-angular/tsconfig.json
  package-lock.json
  package.json
Labels: msal-angular

#7641 MSAL-Node Docs: Updated references to deprecated thumbprint
  lib/msal-node/docs/certificate-credentials.md
  lib/msal-node/docs/initialize-confidential-client-application.md
  lib/msal-node/docs/sni.md
Labels: documentation, msal-node

#7658 Remove deprecated functions in MSAL Angular
  change/@azure-msal-angular-35bd9ab8-a838-4a1d-b209-23121483cd59.json
  lib/msal-angular/src/msal.guard.spec.ts
  lib/msal-angular/src/msal.guard.ts
  lib/msal-angular/src/msal.interceptor.spec.ts
Labels: msal-angular

#7659 Update msal-node-runtime dependency
  change/@azure-msal-node-extensions-76f051bb-c59d-424b-bd1d-487572a88231.json
  extensions/msal-node-extensions/package.json
  package-lock.json
Labels: extensions

#7633 EAR Protocol Request
  change/@azure-msal-angular-8bdfd93f-3e29-4ca7-8a95-968015aff030.json
  change/@azure-msal-browser-7f45ea83-42e4-4832-872c-65dc1b099a93.json
  change/@azure-msal-common-9093e390-0b5c-4197-a5bc-a500a03b057d.json
  change/@azure-msal-node-fcbc3253-ce84-4b70-aa62-decb6d051638.json
  lib/msal-angular/src/IMsalService.ts
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/config/Configuration.ts
  lib/msal-browser/src/controllers/NestedAppAuthController.ts
  lib/msal-browser/src/controllers/UnknownOperatingContextController.ts
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/error/BrowserAuthErrorCodes.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentAuthCodeClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/interaction_client/StandardInteractionClient.ts
  lib/msal-browser/src/interaction_handler/InteractionHandler.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/interaction_handler/SilentHandler.ts
  lib/msal-browser/src/protocol/Authorize.ts
  lib/msal-browser/src/request/AuthorizationUrlRequest.ts
  lib/msal-browser/src/request/PopupRequest.ts
  lib/msal-browser/src/request/RedirectRequest.ts
  lib/msal-browser/src/request/SsoSilentRequest.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  lib/msal-browser/test/interaction_handler/SilentHandler.spec.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/authority/Authority.ts
  lib/msal-common/src/authority/ProtocolMode.ts
  lib/msal-common/src/cache/entities/AccountEntity.ts
  lib/msal-common/src/constants/AADServerParamKeys.ts
  lib/msal-common/src/exports-common.ts
  lib/msal-common/src/request/CommonAuthorizationUrlRequest.ts
  lib/msal-common/src/request/RequestParameterBuilder.ts
  lib/msal-common/src/response/AuthorizeResponse.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/src/utils/Constants.ts
  lib/msal-common/src/utils/UrlUtils.ts
  lib/msal-common/test/protocol/Authorize.spec.ts
  lib/msal-common/test/request/RequestParameterBuilder.spec.ts
  lib/msal-node/src/client/ClientApplication.ts
  lib/msal-node/src/client/UsernamePasswordClient.ts
  lib/msal-node/src/protocol/Authorize.ts
  lib/msal-node/test/client/ClientTestUtils.ts
Labels: documentation, msal-angular, msal-node, msal-browser, msal-common

#7648 Redirect flow temporary cache refactor
  change/@azure-msal-browser-d62ca24a-e1d5-47ef-b18c-b9012d6b90ff.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/cache/BrowserCacheManager.ts
  lib/msal-browser/src/controllers/StandardController.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/error/BrowserAuthErrorCodes.ts
  lib/msal-browser/src/interaction_client/NativeInteractionClient.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_handler/RedirectHandler.ts
  lib/msal-browser/src/utils/BrowserConstants.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/cache/BrowserCacheManager.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_handler/InteractionHandler.spec.ts
  lib/msal-browser/test/interaction_handler/RedirectHandler.spec.ts
  package-lock.json
Labels: documentation, msal-browser

#7656 EAR protocol response handling
  change/@azure-msal-browser-089af563-acd6-4dc8-94f9-006b2ae237a6.json
  change/@azure-msal-common-6643b5ab-2508-4bf8-b495-dea9648e0c03.json
  change/@azure-msal-node-415cc606-dd38-4077-ae89-34f12c5e6127.json
  lib/msal-browser/apiReview/msal-browser.api.md
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-browser/src/error/BrowserAuthError.ts
  lib/msal-browser/src/error/BrowserAuthErrorCodes.ts
  lib/msal-browser/src/interaction_client/PopupClient.ts
  lib/msal-browser/src/interaction_client/RedirectClient.ts
  lib/msal-browser/src/interaction_client/SilentIframeClient.ts
  lib/msal-browser/src/protocol/Authorize.ts
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/protocol/Authorize.ts
  lib/msal-common/src/telemetry/performance/PerformanceEvent.ts
  lib/msal-common/test/protocol/Authorize.spec.ts
  lib/msal-node/src/protocol/Authorize.ts
Labels: documentation, msal-node, msal-browser, msal-common

#7664 Remove EAR override
  change/@azure-msal-browser-9d91d98c-6f07-4b77-82de-04f44892ba16.json
  lib/msal-browser/src/config/Configuration.ts
Labels: msal-browser

#7614 Implemented a Retry Policy for the IMDS Managed Identity Source
  change/@azure-msal-common-a198dabd-e74d-48c4-90fe-b9c1e4c81e93.json
  change/@azure-msal-node-9aa1a5a1-daa9-4887-890e-6b873f5e0b8f.json
  lib/msal-common/apiReview/msal-common.api.md
  lib/msal-common/src/utils/Constants.ts
  lib/msal-node/src/client/ManagedIdentitySources/BaseManagedIdentitySource.ts
  lib/msal-node/src/client/ManagedIdentitySources/Imds.ts
  lib/msal-node/src/config/ManagedIdentityRequestParameters.ts
  lib/msal-node/src/network/HttpClientWithRetries.ts
  lib/msal-node/src/retry/DefaultManagedIdentityRetryPolicy.ts
  lib/msal-node/src/retry/ExponentialRetryStrategy.ts
  lib/msal-node/src/retry/IHttpRetryPolicy.ts
  lib/msal-node/src/retry/ImdsRetryPolicy.ts
  lib/msal-node/src/retry/LinearRetryPolicy.ts
  lib/msal-node/src/retry/LinearRetryStrategy.ts
  lib/msal-node/src/utils/Constants.ts
  lib/msal-node/test/client/ManagedIdentitySources/DefaultManagedIdentityRetryPolicy.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/test_kit/StringConstants.ts
Labels: documentation, msal-node, msal-common

#7668 Deprecate logout() in Angular
  change/@azure-msal-angular-4fa3b34e-2f11-4135-9ee1-cf4b7c6cfb63.json
  lib/msal-angular/src/IMsalService.ts
  lib/msal-angular/src/msal.service.ts
Labels: msal-angular

#7670 EAR Flow Tests
  change/@azure-msal-browser-8facee7b-c316-482c-8c39-8638baa2bbd0.json
  lib/msal-browser/src/crypto/BrowserCrypto.ts
  lib/msal-browser/test/app/PublicClientApplication.spec.ts
  lib/msal-browser/test/broker/NativeMessageHandler.spec.ts
  lib/msal-browser/test/crypto/BrowserCrypto.spec.ts
  lib/msal-browser/test/interaction_client/NativeInteractionClient.spec.ts
  lib/msal-browser/test/interaction_client/PopupClient.spec.ts
  lib/msal-browser/test/interaction_client/RedirectClient.spec.ts
  lib/msal-browser/test/interaction_client/SilentIframeClient.spec.ts
  lib/msal-browser/test/protocol/Authorize.spec.ts
  lib/msal-browser/test/utils/StringConstants.ts
  shared-configs/jest-config/setupGlobals.cjs
Labels: msal-browser

#7631 Machine Learning Managed Identity now correctly uses MSI's 2017 API instead of the 2019 API
  change/@azure-msal-node-5da4bb96-46cf-43ee-bf4e-e2e181744c66.json
  lib/msal-node/src/client/ManagedIdentitySources/BaseManagedIdentitySource.ts
  lib/msal-node/src/client/ManagedIdentitySources/MachineLearning.ts
  lib/msal-node/test/client/ManagedIdentitySources/AppService.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/Imds.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/MachineLearning.spec.ts
  lib/msal-node/test/client/ManagedIdentitySources/ServiceFabric.spec.ts
  package-lock.json
Labels: msal-node
